---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="Solving Equations">
    <h1>Regular Equations</h1>
    <p>
        Say you have an equation like 
        \(3x = 9\)
        <br>
        To solve this, you would divide both sides by 3 to get \(x = 3\).
    </p>

    <h2>Example 1</h2>
    <p>
        {"\\(\\displaystyle \\frac{x + 2}{5} = 2\\)"}
        <br>
        \(x+2 = 10\)
        <br>
        \(x = 8\)
    </p>

    <h2>Example 2</h2>
    <p>
        {"\\(\\displaystyle \\frac{3x - 6}{3} = 2\\)"}
        <br>
        \(3x-6=6\)
        <br>
        \(3x = 12\)
        <br>
        \(x = 4\)
    </p>
</Layout>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>