---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="Solving Equations">
    <h1>Regular Equations</h1>
    <p>
        Say you have an equation like <i>3x = 9</i>
        To solve this, you would divide both sides by 3 to get x = 3
    
    </p>
</Layout>