---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="Expanding Brackets">
    <BackButton />
    <h1>Expanding Brackets</h1>
    <h2>Single brackets</h2>
    Say you have something like
    \(x(4x + 8)\)
    to expand the bracket you would first multiply the x by the 4x to get \(4x^2\)
    and then multiply the x by the 8 to get \(8x\)

    <h3> Example 1 </h3>
    \(4x(18x^2 + 2x + 3)\)
    <br>
    \((4x \times 18x^2) + (4x \times 2x) + (4x \times 3)\)
    <br>
    \(72x^3 + 8x^2 + 12x\)
    <br>
    <i>No more examples</i>

    <h2>Double Brackets</h2>
    To expand something like 
    \((x+2)(x+3)\),
    you would multiply every element in the first bracket by every element in the second bracket.

    e.g
    <br>
    \(x \times x = x^2 \)
    <br>
    \(x \times 3 = 3x \)
    <br>
    \(2 \times x = 2x \)
    <br>
    \(2 \times 3 = 6 \)
    <br>
    So the unsimplified version would be
    \(x^2 + 3x + 2x + 6 \)
    which when simplified would be
    \(x^2 + 5x + 6 \)

</Layout>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>