---
import Layout from '../../layouts/Layout.astro';
const workspacePath = "src/pages/gcse/index.astro";
---

<Layout title="GCSE" path={workspacePath}>
    <h1>GCSE</h1>
    <p>Choose your fighter!:</p>
    <a href="/gcse/aqa/">AQA</a><br>
    <a href="/gcse/ocr/">OCR</a>
</Layout>