---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';

const workspacePath = "src/pages/a-level/ocr/cs/1/1.astro";
---

<Layout title="CS 1.1 The characteristics of contemporary processors, input, output and storage devices" path={workspacePath}>
    <h1>CS 1.1 The characteristics of contemporary processors, input, output and storage devices</h1>
    <h2>1.1.1 Structure and function of the processor</h2>
    <p>
        A CPU is made up of a number of different components:
        <ul>
            <li>The Arithmetic and Logic Unit (ALU)</li>
            <li>The Control Unit</li>
            <li>Registers: (Program Counter (PC), Accumulator (ACC), Memory Address Register (MAR), Memory Data Register (MDR), Current Instruction Register (CIR))</li>
        </ul>
    </p>
    <Table>
        <thead>
            <tr>
                <th>Component</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>ALU</td>
                <td>Performs arithmetic and logic operations, like adding numbers or boolean logic. Made up of several smaller components.</td>
            </tr>
            <tr>
                <td>Control Unit</td>
                <td>Where the instructions are decoded, and controls the data within the CPU and how it moves around.</td>
            </tr>
            <tr>
                <td>INCOMPLETE I JUST GOT TIRED LOL</td>
            </tr>
        </thead>
    </Table>
</Layout>
    