---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout
    title="Physics 8.1 Solar system; stability of orbital motions; satellites"
>
    <h1>8.1 - Solar system; stability of orbital motions; satellites</h1>
    <h2>8.1.1 Our solar system</h2>
    <p>
        - Our solar system consists of the sun, planets, dwarf planets and
        moons.<br />
        - The planets orbit the sun, and moons orbit planets.<br />
    </p>

    <h2>8.1.2 The life cycle of a star</h2>
    <p>
        - Stars will begin their life as a cloud of gas and dust (nebula) <br />
        - As gravity pulls the cloud closer together, the pressure increases and
        will eventually form a protostar - Protostars are the precursors to stars
        <br /><br />
        - When the matter continues to collide with itself, the temperature increase
        until nuclear fusion begins <br />
        - At this point, the star is referred to as a main sequence star <br />
        - During nuclear fusion, hydrogen nuclei fuse to form helium <br />
        - The gravity from the star pulling inwards is balanced by the radiation
        pressure from fusion pushing outwards, maintaining the star's size and keeping
        it stable and hot <br />
        <br />

        <b
            ><i
                >After this point, the life cycle of the star will depend on its
                size
            </i></b
        >
        <br />
        <h3>Stars that are similar in size to our sun</h3>
        - After the star has run out of hydrogen, the exterior layers of the star
        will expand and form a red colour<br />
        - Nuclear fusion will continue and form lighter metals like lithium by fusing
        helium nuclei <br />
        - The star will also cool slightly <br />
        <br />

        - As the star runs out of helium, it will collapse due to gravity
        overpowering the now non-existent fusion reactions in its core <br />
        - This is known as a white dwarf, due to the colour produced from the increased
        temperature during the collapse of the star <br />
        - After the white dwarf has fully cooled, it will become a black dwarf, signalling
        the end of the life of the stars <br /><br />

        <h3>Stars that are greater in size than our star</h3>
        - After the star has run out of hydrogen, the star will expand more and form
        a red supergiant <br />
        - Red supergiants are significantly bigger, brighter, and hotter due to the
        greater pressure in the core <br />
        - The outer layers of the RSG are cooler, due to the greater distance from
        the core <br />
        - The star will continue to fuse heavier elements in its core, up to iron
        <br />
        - After the star has run out of fuel, it will collapse inwards due to gravity
        overpowering the outwards force from fusion <br />
        <br />
        - The collapse will cause a supernova, of forming a white dwarf due to the
        immense heat produced and high pressure. <br />
        - The supernova will expel the outer layers of the star into space, forming
        a nebula <br />
        - The supernova will also create heavy elements, beyond iron <br />
        <br />
        - The core of the star will collapse into either a neutron star or a black
        hole <br />
        - Neutron stars are incredibly dense, with diameters of around 20-40km <br
        />
        - Black holes will form for the most massive stars instead of neutron stars.
        <br />
    </p>

    <h2>8.1.3 Orbital motion, natural and artificial satellites</h2>
    <p>
        - Artificial satellites are man-made objects that orbit planets, such as
        the ISS <br />
        - Natural satellites also orbit planets, such as the moon.<br />
        <br />
        - Orbitting objects are held in orbit due to gravity. <br />
        - The orbit radius of an object is determined by the speed <br />
        - An orbitting object's speed will slowly decrease over time <br />
        - Objects in orbit will have a constantly changing velocity, but relatively
        static speed. <br />
        - This is due to velocity being a vector <br />
        <img
            class="centreimage"
            src="/images/ph/orbit-velocity.png"
            alt="Instantaneous velocity in orbit"
        />
        <sub
            >from <a
                href="https://images.prismic.io/sketchplanations/e63f5aac-f397-42a5-843a-83e0e19d7bc7_SP+831+-+Orbit.png?auto=compress,format&w=1200"
                >sketchplanations</a
            ></sub
        ><br />
        - For an object to stay in orbit, it must maintain a stable speed that is
        not too fast or slow (see above)
        <!-- why the fuck couldnt i find a normal licensed image -->
    </p>
</Layout>
