---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="Physics 8.2 Red Shift">
    <h1>8.2 - Red Shift</h1>
    <p>
        - Red shift is a phenomenon where light from distant galaxies appears to
        be more red the further away it is from us<br />
        - This is because the wavelength of light increases as the object moves away
        from us <br />
        <br />
        Redshift can be used as proof of the universe's expansion. This is
        because as the universe expands, everything inside of it will also move
        away from each other. The further an object is away from us, the faster
        it will move away from us, and the greater the red shift.
    </p>
    <h2>Red shift diagram:</h2>
    <img
        class="centreimage"
        src="/images/ph/redshift.gif"
        alt="Red shift and Blue shift (not necessary at gcse)"
    />
    <sub
        >from <a href="https://commons.wikimedia.org/w/index.php?curid=4106794"
            >wikimedia commons</a
        ></sub
    ><br />
</Layout>
