---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="10.1 Using the Earth's resources and obtaining potable water">
    <h1>10.1 Using the Earth's resources and obtaining potable water</h1>
    <h2>10.1.1 Using the Earth's resources and sustainable development</h2>
    <p>
        - Humans can use the Earth's resources to provide warmthm, shelter, food and transport.<br>
        - These natural resources are supplemented by agriculture to provide food, timber, clothing, and fuels.<br>
        - Finite resources are resources where there is only a limited supply. Finite resources from the Earth, oceans, 
        and atmosphere, are processed to provide energy and materials.<br>
        - Finite resources include fossil fuels (oil, coal, and natural gas) and metal ores.<br>
        - Renewable resources are resources that can be replaced at the same rate as, or faster than, they are used.<br>
        - Examples of renewable resources include timber (if managed correctly), water, and wind energy.<br>
        - Sustainable resource management is using resources while leaving enough for future generations to meet their needs.<br>
        - Carbon-neutral resources come from plants. The carbon dioxide absorbed by the plants as they grow is equal to the carbon dioxide released when they are burned.<br>
    </p>
</Layout>