---
import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="10.3 Using materials">
    <h1>10.3 Using materials</h1>
    <h2>10.3.1 Corrosion and its prevention</h2>
    <br>
    <h2>10.3.2 Alloys as useful materials</h2>
    <br>
    <h2>10.3.3 Ceramics, polymers and composites</h2>
</Layout>