---
import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="10.4 The Haber process and the use of NPK fertilisers">
    <h1>10.4 The Haber process and the use of NPK fertilisers</h1>
    <h2>10.4.1 The Haber process</h2>
    <br>
    <h2>10.4.2 Production and uses of NPK fertilisers</h2>
</Layout>