---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="GCSE AQA Bio 3.1 - Communicable disases">
    <h1>3.1 Communicable Diseases</h1>
    <h2>3.1.1 Communicable (Infectious) Diseases</h2>
    <p>
        Keywords: <b>Communicable Disease, Health, Pathogen</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=QYWNXp36O48">GCSE Biology Revision "Communicable and Non-Communicable Diseases"</a>
    </p>
    <p>
        <b>Health: </b> Not just an absence of disease, but a state 
        of physical and mental wellbeing.<br>
        <b>Communicable Disease:</b> A disease that can be transmitted, caused by
        pathogens.<br>
        <b>Pathogen:</b> A disease-causing microorganism. Either directly damages 
        your cells (like viruses) or via toxins (like bacteria).<br>
    </p>
    <p>
        There are four types of pathogens:
        <ul>
            <li>Bacteria: e.g. UTI/STIs (humans)</li>
            <li>Viruses: HIV (humans); tobacco mosaic virus (plants)</li>
            <li>Fungal Spores: Ringworm (humans); potato blight (plants)</li>
            <li>Protists: Malaria (humans)</li>
        </ul><br>
        Viruses and fungi cause the majority of communicable diseases in plants.<br>
        Bacteria and viruses cause the mahority of communicable diseases in humans.
    </p>
    <h3>Viruses</h3>
    <p>
        - Viruses inject their DNA into the nucleus into a cell and hijack it to 
        produce copies of itself. It eventually bursts open, spreading the viruses 
        everywhere, making you feel ill.<br>
        - They are very small (much smaller than a cell) so it makes infection easier.<br>
        - Viruses <i>aren't actually alive</i>, as they cannot reproduce on their 
        own and need a host. Therefore you cannot kill a virus, only destroy it.
    </p>
    <h3>Bacteria</h3>
    <p>
        - Bacteria are living organisms. They are cells themselves, and they reproduce 
        via binary fission (a type of cell division). They are small, but not 
        as small as viruses.<br>
        - Antibiotics kill bacteria, and they can get their own viruses.<br>
        - Not all cause bad diseases, plenty of bacteria are beneficial to you 
        (e.g. some aid in digestion).
    </p>
    <h3>Bacteria vs Viruses</h3>
    <p>
        When bacteria and viruses are in the body, they reproduce rapidly. 
        Bacteria produce poisons called toxins. These toxins damage body cells 
        and result in negative symptoms.<br>
        In comparison, viruses invade the cells of the body. They live 
        and reproduce inside the cells. These cells will burst, releasing 
        copies of the virus to invade other body cells.<br>
        Symptoms include rashes, high temperature and headache: a 
        response of the body.
    </p>
    <h3>Protists</h3>
    <p>
        - Protists are a living type of microorganism that are reliant on a host 
        (they are parasites).
    </p>
    <h3>Modes of transmission</h3>
    <Table>
        <tr>
            <th>Mode of Transmission</th>
            <th>Pathogens Involved</th>
            <th>How is the Pathogen Transferred from Human to Human?</th>
            <th>How is the Pathogen Transferred from Plant to Plant?</th>
        </tr>
        <tr>
            <td>Air/Droplet Infection</td>
            <td>Bacteria, Virus, Fungal Spores</td>
            <td>Droplet infection (e.g., sneezing, coughing) or inhalation of airbone pathogens</td>
            <td>Airborne spores or particles</td>
        </tr>
        <tr>
            <td>Direct Contact</td>
            <td>All Pathogens</td>
            <td>Touching infected individuals or surfaces</td>
            <td>Physical contact, pruning tools, or human handling</td>
        </tr>
        <tr>
            <td>Indirect Contact</td>
            <td>All Pathogens</td>
            <td>Through contaminated objects or vectors (e.g., mosquitoes)</td>
            <td>Via contaminated tools, insects, or windborne particles</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>All Pathogens</td>
            <td>Drinking or bathing in contaminated water</td>
            <td>Contaminated water sources, splash dispersal</td>
        </tr>
    </Table>
    <br>
    <h2>3.1.2, 3.1.3, 3.1.4, and 3.1.5 Types of Diseases</h2>
    <p>
        Keywords: <b>Viruses, Bacteria, Fungi, Protists</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=wUm71FPuVCQ">GCSE Biology Revision "Pathogens"</a> (i think)
    </p>
    <h3>The 4 Types of Pathogens</h3>
    <p>
        - <b>Bacteria:</b> Single celled prokaryotic organisms. Some produce
        toxins and cause disease.<br>
        - <b>Viruses:</b> Microscopic infectious agents that contain 
        genetic material and a protein coat.<br>
        - <b>Fungi:</b> A group fo spore-producing organisms including
        moulds, yeast, mushrooms and toadstools.<br>
        - <b>Protists:</b> Eukaryotic organisms. Single-celled or multicellular.
        Can live in water, damp environments, or as parasites.
    </p>
    <h3>Viral Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Measles</td>
                <td>Fever and a red skin rash</td>
                <td>Inhalation of droplets from sneezes and coughs</td>
                <td>Most young children are vaccinated against measles</td>
                <td>None</td>
            </tr>
            <tr>
                <td>HIV (and AIDS)</td>
                <td>Initally a flu-like illness. Late stage (AIDS) is when the 
                    body's immune system become so badly damaged it cannot deal with 
                    other infections or cancers</td>
                <td>Sexual contact or exchange of bodily fluids (e.g. blood when needles 
                    are shared)</td>
                <td>Cleaning needles, condoms, and testing</td>
                <td>Antiretroviral drugs</td>
            </tr>
            <tr>
                <td>Influenza (flu)</td>
                <td>Fever, cough, sore throat, body aches, fatigue, runny/stuffy nose</td>
                <td>Airborne droplets, contact with contaminated surfaces</td>
                <td>Vaccination, hand washing, covering coughs and sneezes</td>
                <td>Antiviral drugs, rest</td>
            </tr>
            <tr>
                <td>Tobacco Mosaic Virus (TMV) [Plants]</td>
                <td>A distinctive mosaic pattern of discolouration on the leaves
                    which affects the growth of the plant due to the lack of 
                    photosynthesis.</td>
                <td>Plants in direct contact with an infected plant</td>
                <td>Good field hygiene</td>
                <td>None</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Bacterial Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salmonella</td>
                <td>Fever, abdominal cramps, vomiting and diarrhoea</td>
                <td>Bacteria ingested in food</td>
                <td>Vaccination (poultry are vaccinated against Salmonella 
                    in the UK), and proper hygiene to avoid contamination.</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Gonorrohoea</td>
                <td>A thick yellow or green discharge from the vagina or penis 
                    and pain when urinating.</td>
                <td>Unprotected sexual intercourse</td>
                <td>The use of a barrier method (e.g. condom)</td>
                <td>Antibiotics (but some strains are resistant)</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Fungal Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rose Black Spot</td>
                <td>Purple or black spots on leaves which often turn 
                    yellow and drop early. Affects growth.</td>
                <td>Water or wind in the environment</td>
                <td>Treatment to other plants</td>
                <td>Fungicides and/or removing and destroying the affected leaves</td>
            </tr>
            <tr>
                <td>Athlete's Foot</td>
                <td>Itchy, scaly, red rash between toes, cracked or peeling skin, 
                    stinging or burning sensation</td>
                <td>Contact with contaminated surfaces</td>
                <td>Keep feet clean and dry, wear breathable shoes</td>
                <td>Antifungal creams, powders, or sprays</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Protist Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Malaria</td>
                <td>Fever, can be fatal</td>
                <td>Carried on female mosquitoes</td>
                <td>Vaccination, stop mosquitoes breeding, 
                    mosquito nets.</td>
                <td>None</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Preventing Infection</h2>
    <sub>(no idea what spec point this is bruh)</sub><br>
    <p>
        Hygiene methods:
        <ul>
            <li><b>Frequent</b> hand washing</li>
            <li><b>Frequent</b> use of disinfectants</li>
            <li>Separating raw and cooked meat</li>
            <li>Coughing/sneezing into your elbow or wearing a mask (then washing hands)</li>
            <li>Maintaining hygenic equipment (agricultural or food preparation)</li>
        </ul>
    </p>
    <h3>Ignaz Semmelweis</h3>
    <p>
        - Ignaz Semmelweis (born 1818) was a Hungarian physician.<br>
        - Semmelweis was the first person to realise that handwashing was a good idea.<br>
        - He noticed that women giving birth to babies were at a high risk of catching diseases, 
        and this was because doctors were performing autopsies and then immediately rushing across 
        the hospital to deliver babies.<br>
        - His ideas were not originally accepted due to the fact that doctors were appalled by 
        the idea that they were the cause of infection and didn't want to change practices.<br>
        - At the time, doctors still believed that bad smells were the cause of infection.<br>
        - He eventually had a breakdown after being told many many times he was insane, and was
         put in a mental asylum until he eventually died at the age of 47.
    </p>
    <h3>Additional Prevention Methods</h3>
    <ul>
        <li><b>Isolation:</b> Isolating infected patients (not just staying away).</li>
        <li><b>Vectors:</b> Mosquitoes carry disease - measures are taken to kill these.</li>
        <li><b>Vaccination:</b> Successful in protecting a large number of people against 
        a specific type of virus BEFORE infection.</li>
    </ul>
    <br>
    <h2>3.1.6 Human Defence Systems</h2>
    <p>
        Keywords: <b>Non-specific defences, phagocytosis, antibodies, antitoxins</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=5X9MklLVhlw">GCSE Biology Revision "Non-specific Defence Systems"</a>,
        <a href="https://www.youtube.com/watch?v=HSrrPdJDqxM">GCSE Biology Revision "The Immune System"</a>
    </p>
    <h3>Non-specific Defence Systems</h3>
    <p>
        - The non-specfic defence systems of the human body are:
        <ul>
            <li>The skin</li>
            <li>The nose</li>
            <li>The trachea and bronchi</li>
            <li>The stomach</li>
            <li>(and a few other bits)</li>
        </ul>
        - They use these methods:
        <ul>
            <li>Hair and mucus trap pathogens</li>
            <li>Goblet cells produce mucus which line the trachea and bronchi</li>
            <li>Acid in stomach kills pathogens</li>
            <li>Cilia in the trachea wafts mucus to be spat out or swallowed</li>
            <li>Skin prevents pathogens from entering; its dead outer layer is a barrier</li>
            <li>Antibacterial enzymes in tears, saliva, and snot kill bacteria</li>
            <li>Sebaceous glands produce acid</li>
            <li>Natural flora in gut outcompetes pathogenic bacteria</li>
            <li>Ears produce earwax</li>
            <li>Your bladder produces urine</li>
        </ul>
    </p>
    <br>
    <h3>The Immune System</h3>
    <p>
        - If a pathogen gets past the non-specific defence systems, it can infect the body.<br>
        - The immune system is a complex network of cells and molecules that protect the body from infection.<br>
        - It is made up of:
        <ul>
            <li>Antitoxins</li>
            <li>Antibodies</li>
            <li>Phagocytosis</li>
        </ul>
    </p>
    <h4>Phagocytes</h4>
    <p>
        - Phagocytosis is the process of engulfing and destroying pathogens.<br>
        - A phagocyte is a type of white blood cell.<br>
        - This process can be non-specific or helped by antibodies which cause 
        agglutination (clumping) of pathogens.<br>
        - The phagocyte surrounds the pathogen and releases enzymes to destroy it.
    </p>
    <h4>Lymphocytes</h4>
    <p>
        - Lymphocytes are another type of white blood cells.<br>
        - They produce antibodies and antitoxins.<br>
        - Antibodies are Y-shaped proteins, they are complementary in shape to the 
        spike proteins (antigens) of the pathogen, which attatch to them and either:<br>
        <ul>
            <li>Damage or destroy the pathogen, or</li>
            <li>Clump them together so that they are easily ingested by phagocytes</li>
        </ul>
        - It can take a few days for the antibodies to be produced, but once they are,
        they are very effective.<br>
        - Memory cells are lymphocytes that produce the specific antibodies
        needed to fight a particular pathogen. They can produce many many antibodies
        for that one specific type, granting you immunity to that pathogen as you can then
        produce antibodies much more quickly.<br><br>
        - Some pathogens, primarily bacteria, produce toxins. These toxins damage
        the body cells and result in negative symptoms.<br>
        - Lymphocytes can produce antibodies to fight these toxins, and these are called antitoxins.
    </p>
    <br>
    <h2>3.1.7 Vaccination</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=uPeZBhJYlnU">GCSE Biology Revision "Vaccination"</a>
    </p>
    <p>
        From the spec:<br>
        - Vaccination involves introducing small quantities of dead or inactive
        forms of a pathogen into the body to stimulate the white blood cells
        to produce antibodies. If the same pathogen re-enters the body the
        white blood cells respond quickly to produce the correct antibodies,
        preventing infection.
    </p>
    <p>
        - If a vaccinated individual is infected with the pathogen, they 
        can destroy it before they become infectious. This reduces the chance of 
        spreading said pathogen.<br>
        - This means that once a large part of the population is vaccinated, "herd
        immunity" comes into effect, where because so many people are vaccinated even 
        those that aren't are still protected.<br>
        - It is important for the vaccine to still be given out afterwards as if vaccinations 
        stop diseases are spread again as herd immunity does not work nearly as well (it 
        only takes one case to start it all up again).<br>
        - This happened with the MMR vaccine for measles. Measles was completely eradicated from 
        the UK, so some parents stopped vaccinating their kids thinking they were completely 
        safe and it wasn't worth side effects and the disease came back.
    </p>
    <h3>How vaccines were discovered</h3>
    <p>
        - Edward Jenner studied milkmaids and found that while they were very likely 
        to get cowpox, they at much less risk of smallpox.<br>
        - He theorised that cowpox was similar (but much less deadly) than smallpox, 
        and we know now that this was because of similar antigens.<br>
        - He tested this by paying someone to test this on their child (James Phipps), 
        and gave him cowpox.<br>
        - After he recovered from cowpox, he tried to give him smallpox but he was 
        fine.<br>
        - Jenner was able to show that the cowpox antigens were similar to the smallpox
        antigens, and made the first vaccine.
    </p>
    <h3>How vaccines work</h3>
    <p>
        <ol>
            <li>
                Smal amounts of dead or inactive forms of a disease are injected into 
                your body.
            </li>
            <li>
                The immune system recognises the foregin microorganisms by their antigens. 
                Lymphocytes produce complementary antibodies to bind to and kill the 
                microorganisms.
            </li>
            <li>
                Some antibodies make the microorganisms clump together and a phagocyte 
                digests the clump.
            </li>
            <li>
                Some of the antibodies are stored as memory cells.
            </li>
            <li>
                If there is a second infection of the same pathoogen, the immune system 
                kills all the microorganisms before it can make you ill/cause symptoms.
            </li>
        </ol>
    </p>
    <h2>3.1.8 Antibiotics and Painkillers</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=uQt5bRIkD4g">GCSE Biology Revision "Antibiotics"</a>
    </p>
    <h3>Antibiotics</h3>
    <p>
        - Antibiotics are drugs that are used to kill bacteria.<br>
        - Different antibiotics kill different types of bacteria.<br>
        - Antibiotics do not kill viruses, protozoa, or fungi.<br>
        - It is very difficult to develop drugs that destroy just viruses without 
        killing the body's cells.<br>
        - The use of antibiotics has greatly reduced deaths from
        infectious bacterial diseases. However, the emergence of
        strains resistant to antibiotics is of great concern.<br>
        - Penicillin - breaks down cell walls, Erythromycin - stops protein synthesis, 
        Ciprofloxacin - stops DNA replication.
    </p>
    <h4>Penicillin</h4>
    <p>
        - Penicillin was discovered by Alexander Fleming in 1928.<br>
        - He left a petri dish out on the side and noticed a fungus was killing 
        the bacteria.<br>
        - This fungus produced a substance that could kill the bacteria - Penicillin.<br>
    </p>
    <h4>Antibiotic Resistance</h4>
    <p>
        - The use of antibiotics has increased greatly since they were introduced in the 1930s 
        and have saved millions of lives.<br>
        - However, antibiotics have been overused and antibiotic resistance has developed 
        in many bacterial strains.<br>
        - Bacteria have random mutations like all organisms that can make them resistant, and
        bacteria that are resistant to antibiotics are more likely to survive and reproduce.<br>
        - A strain of Staphylococcus aureus has developed resistance to methicillin.<br>
        - This is known as methicillin-resistant Staphylococcus aureus (MRSA).<br>
        - MRSA multiplies in the gut, where the rest of the bacteria is killed off with 
        antibiotics and MRSA can multiply.<br>
        - During an outbreak of MRSA in a hospital, people would not be allowed in because it would spread.<br>
        - It gets in through cuts in the skin.<br>
        - People can get reinfections of MRSA.
    </p>
    <h3>Painkillers</h3>
    <p>
        - Relieves pain and soothes the symptoms.<br>
        - Does not target the microbe.<br>
        - Either blocks the nerve impulses from the source of pain or blocks the 
        nerve impulses travelling to the perceiving pain.
    </p>
    <br>
    <h2>3.1.9 Discovery and Development of Drugs</h2>
    <sup>My teacher at the start of this lesson: "today we're doing drugs!"</sup>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=0iSuyY3a9L0">GCSE Biology Revision "Testing Medicines"</a>
    </p>
    <p>
        - Drugs are extracted from plants or microorganisms, but some are also now synthesised.
    </p>
    <Table>
        <tbody>
            <tr>
                <td>Daffodil</td>
                <td>Alzheimer's Disease</td>
            </tr>
            <tr>
                <td>Fever tree</td>
                <td>Malaria</td>
            </tr>
            <tr>
                <td>Opium poppy</td>
                <td>Morphine</td>
            </tr>
            <tr>
                <td>Foxglove</td>
                <td>Treats heart disease</td>
            </tr>
            <tr>
                <td>Rubber tree</td>
                <td>Latex</td>
            </tr>
            <tr>
                <td>Willow</td>
                <td>Aspirin</td>
            </tr>
            <tr>
                <td>Pencillium mould</td>
                <td>Bacterial infections</td>
            </tr>
        </tbody>
    </Table>
    <p>
        - This is one of the reasons it is important to maintain biodiversity as 
        some organisms have noy yet been discovered that may have chemicals that 
        can be used in medicines.
    </p>
    <h3>A good drug/medicine</h3>
    <p>
        - <b>Efficacy:</b> Must prevent/cure disease (does the job it is designed to do).<br>
        - <b>Safety/Toxicity:</b> Should not have too many negative side effects.<br>
        - <b>Dosage:</b> Dose that is effective in treating a disease.<br>
        - <b>Stablility:</b> Must be able to be stored andn under reasonable conditions.<br>
        - <b>Successfully taken into and removed from the body:</b> Must reach its target and be cleared 
        from the body.<br>
    </p>
    <h3>The three stages of drug development</h3>
    <p>
        - Preclinical Testing: Computer simulations and testing on cells in a lab. Efficacy and 
        safety are tested.<br>
        - Whole organism testing: The drug is tested on animals. Efficacy, safety and dosage are 
        tested.<br>
        - Clinical trials: The drug is tested on humans in a double-blind study.<br>
        Half are given the drug and half are given 
        a placebo (or existing drug), and not even the doctor knows which is which.<br>
        Once the drug is found to be safe then the lowest effective dose is tested at this stage.
    </p>
</Layout>