---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="GCSE AQA Bio 3.1 - Communicable disases">
    <h1>3.1 Communicable Diseases</h1>
    <h2>3.1.1 Communicable (Infectious) Diseases</h2>
    <p>
        Keywords: <b>Communicable Disease, Health, Pathogen</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=QYWNXp36O48">GCSE Biology Revision "Communicable and Non-Communicable Diseases"</a>
    </p>
    <p>
        <b>Health: </b> Not just an absence of disease, but a state 
        of physical and mental wellbeing.<br>
        <b>Communicable Disease:</b> A disease that can be transmitted, caused by
        pathogens.<br>
        <b>Pathogen:</b> A disease-causing microorganism. Either directly damages 
        your cells (like viruses) or via toxins (like bacteria).<br>
    </p>
    <p>
        There are four types of pathogens:
        <ul>
            <li>Bacteria: e.g. UTI/STIs (humans)</li>
            <li>Viruses: HIV (humans); tobacco mosaic virus (plants)</li>
            <li>Fungal Spores: Ringworm (humans); potato blight (plants)</li>
            <li>Protists: Malaria (humans)</li>
        </ul><br>
        Viruses and fungi cause the majority of communicable diseases in plants.<br>
        Bacteria and viruses cause the mahority of communicable diseases in humans.
    </p>
    <h3>Viruses</h3>
    <p>
        - Viruses inject their DNA into the nucleus into a cell and hijack it to 
        produce copies of itself. It eventually bursts open, spreading the viruses 
        everywhere, making you feel ill.<br>
        - They are very small (much smaller than a cell) so it makes infection easier.<br>
        - Viruses <i>aren't actually alive</i>, as they cannot reproduce on their 
        own and need a host. Therefore you cannot kill a virus, only destroy it.
    </p>
    <h3>Bacteria</h3>
    <p>
        - Bacteria are living organisms. They are cells themselves, and they reproduce 
        via binary fission (a type of cell division). They are small, but not 
        as small as viruses.<br>
        - Antibiotics kill bacteria, and they can get their own viruses.<br>
        - Not all cause bad diseases, plenty of bacteria are beneficial to you 
        (e.g. some aid in digestion).
    </p>
    <h3>Bacteria vs Viruses</h3>
    <p>
        When bacteria and viruses are in the body, they reproduce rapidly. 
        Bacteria produce poisons called toxins. These toxins damage body cells 
        and result in negative symptoms.<br>
        In comparison, viruses invade the cells of the body. They live 
        and reproduce inside the cells. These cells will burst, releasing 
        copies of the virus to invade other body cells.<br>
        Symptoms include rashes, high temperature and headache: a 
        response of the body.
    </p>
    <h3>Protists</h3>
    <p>
        - Protists are a living type of microorganism that are reliant on a host 
        (they are parasites).
    </p>
    <h3>Modes of transmission</h3>
    <Table>
        <tr>
            <th>Mode of Transmission</th>
            <th>Pathogens Involved</th>
            <th>How is the Pathogen Transferred from Human to Human?</th>
            <th>How is the Pathogen Transferred from Plant to Plant?</th>
        </tr>
        <tr>
            <td>Air/Droplet Infection</td>
            <td>Bacteria, Virus, Fungal Spores</td>
            <td>Droplet infection (e.g., sneezing, coughing) or inhalation of airbone pathogens</td>
            <td>Airborne spores or particles</td>
        </tr>
        <tr>
            <td>Direct Contact</td>
            <td>All Pathogens</td>
            <td>Touching infected individuals or surfaces</td>
            <td>Physical contact, pruning tools, or human handling</td>
        </tr>
        <tr>
            <td>Indirect Contact</td>
            <td>All Pathogens</td>
            <td>Through contaminated objects or vectors (e.g., mosquitoes)</td>
            <td>Via contaminated tools, insects, or windborne particles</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>All Pathogens</td>
            <td>Drinking or bathing in contaminated water</td>
            <td>Contaminated water sources, splash dispersal</td>
        </tr>
    </Table>
    <br>
    <h2>3.1.2, 3.1.3, 3.1.4, and 3.1.5 Types of Diseases</h2>
    <p>
        Keywords: <b>Viruses, Bacteria, Fungi, Protists</b>
    </p>
    <h3>The 4 Types of Pathogens</h3>
    <p>
        - <b>Bacteria:</b> Single celled prokaryotic organisms. Some produce
        toxins and cause disease.<br>
        - <b>Viruses:</b> Microscopic infectious agents that contain 
        genetic material and a protein coat.<br>
        - <b>Fungi:</b> A group fo spore-producing organisms including
        moulds, yeast, mushrooms and toadstools.<br>
        - <b>Protists:</b> Eukaryotic organisms. Single-celled or multicellular.
        Can live in water, damp environments, or as parasites.
    </p>
    <h3>Viral Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Measles</td>
                <td>Fever and a red skin rash</td>
                <td>Inhalation of droplets from sneezes and coughs</td>
                <td>Most young children are vaccinated against measles</td>
                <td>None</td>
            </tr>
            <tr>
                <td>HIV (and AIDS)</td>
                <td>Initally a flu-like illness. Late stage (AIDS) is when the 
                    body's immune system become so badly damaged it cannot deal with 
                    other infections or cancers</td>
                <td>Sexual contact or exchange of bodily fluids (e.g. blood when needles 
                    are shared)</td>
                <td>Cleaning needles, condoms, and testing</td>
                <td>Antiretroviral drugs</td>
            </tr>
            <tr>
                <td>Influenza (cold)</td>
                <td>Fever, cough, sore throat, body aches, fatigue, runny/stuffy nose</td>
                <td>Airborne droplets, contact with contaminated surfaces</td>
                <td>Vaccination, hand washing, covering coughs and sneezes</td>
                <td>Antiviral drugs, rest</td>
            </tr>
            <tr>
                <td>Tobacco Mosaic Virus (TMV) [Plants]</td>
                <td>A distinctive mosaic pattern of discolouration on the leaves
                    which affects the growth of the plant due to the lack of 
                    photosynthesis.</td>
                <td>Plants in direct contact with an infected plant</td>
                <td>Good field hygiene</td>
                <td>None</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Bacterial Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salmonella</td>
                <td>Fever, abdominal cramps, vomiting and diarrhoea</td>
                <td>Bacteria ingested in food</td>
                <td>Vaccination (poultry are vaccinated against Salmonella 
                    in the UK), and proper hygiene to avoid contamination.</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Gonorrohoea</td>
                <td>Unprotected sexual intercourse</td>
                <td>A thick yellow or green discharge from the vagina or penis 
                    and pain when urinating.</td>
                <td>The use of a barrier method (e.g. condom)</td>
                <td>Antibiotics (but some strains are resistant)</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Fungal Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rose Black Spot</td>
                <td>Purple or black spots on leaves which often turn 
                    yellow and drop early. Affects growth.</td>
                <td>Water or wind in the environment</td>
                <td>Treatment to other plants</td>
                <td>Fungicides and/or removing and destroying the affected leaves</td>
            </tr>
            <tr>
                <td>Athlete's Foot</td>
                <td>Itchy, scaly, red rash between toes, cracked or peeling skin, 
                    stinging or burning sensation</td>
                <td>Contact with contaminated surfaces</td>
                <td>Keep feet clean and dry, wear breathable shoes</td>
                <td>Antifungal creams, powders, or sprays</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Protist Diseases</h3>
    <Table>
        <thead>
            <tr>
                <th>Disease</th>
                <th>Symptoms</th>
                <th>Mode of Transmission</th>
                <th>Prevention</th>
                <th>Treatment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Malaria</td>
                <td>Fever, can be fatal</td>
                <td>Carried on mosquitoes</td>
                <td>Vaccination, stop mosquitoes breeding, 
                    mosquito nets.</td>
                <td>None</td>
            </tr>
        </tbody>
    </Table>
</Layout>