---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="Bio 3.2 Monoclonal antibodies">
    <h1>3.2 Monoclonal antibodies</h1>
    <h2>3.2.1 Producing Monoclonal antibodies</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=cGNvdB3qNw4">GCSE Biology Revision "Monoclonal antibodies"</a>
    </p>
    <p>
        - Antigens trigger an immune response in the body (found on cells/pathogens).<br>
        - The antibody is made by a white blood cells, made by lymphocytes.
    </p>
    <p>
        - <b>Monoclonal antibodies are proteins that are produced to target a specific cell
            or chemical in the body.</b><br>
        - They are made by identical immune cells, 
        these identical immune cells are clones of the parent cell.<br>
        - Monoclonal antibodies are produced from a single clone of cells. The
        antibodies are specific to one binding site on one protein antigen and so
        are able to target a specific chemical or specific cells in the body.<br>
        How they are made:<br>
        <ol>
            <li>A mouse is vaccinated to start the formation of antibodies.</li>
            <li>Lymphocytes are extracted from the spleen.</li>
            <li>The lymphocytes are fused with a particular kind
                of tumour cell (myeloma) to make a cell called a hybridoma cell.</li>
            <li>The hybridoma cell can both divide and make the antibody.</li>
            <li>Single hybridoma cells are cloned in the laboratory to produce many identical cells 
                that all produce the same antibody.</li>
            <li>A large amount of the antibody can be collected and purified.</li>
        </ol>
    </p>
    <br>
    <h2>3.2.2 Uses of monoclonal antibodies</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Bgde7orTxD8">GCSE Biology Revision "Uses of monoclonal antibodies"</a>
    </p>
    <p>
        - Monoclonal antibodies are made to detect a particular antigen or chemical.<br>
        - For example:
        <ul>
            <li>Detecting pregnancy (identifying the hormone hCG).</li>
            <li>Drug testing in sport (cocaine, anabolic steroids).</li>
            <li>Cancer treatment (only binding and attacking cancer cells, not healthy ones).</li>
            <li>In laboratories to measure the levels of hormones and other chemicals in blood, 
                or to detect pathogen.</li>
            <li>In research to locate or identify specific molecules in a cell or tissue
                by binding to them with a fluorescent dye.</li>
            <li>To treat some diseases: for cancer the monoclonal antibody can be
                bound to a radioactive substance, a toxic drug or a chemical which
                stops cells growing and dividing. It delivers the substance to the
                cancer cells without harming other cells in the body.</li>
            <li>Covid tests! (not actually in the spec but gives you an idea)</li>
        </ul>
    </p>
</Layout>