---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="Bio 3.3 Plant disease">
    <h1>3.3 Plant disease</h1>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=02Mx7s8gIig">GCSE Biology Revision "Infectious Diseases in plants"</a>
        and <a href="https://www.youtube.com/watch?v=VHnS8HUtu44">GCSE Biology Revision "Plant diseases 2"</a>
    </p>
    <h2>3.3.1 Detection and identification of plant diseases</h2>
    <p>
        - Plants can be infected with bacterial and viral pathogens, just like humans 
        (for examples see <a href="../1/">3.1</a>)<br>
        - Plants can also be infected with insects, for example aphids.
        <ul>
            <li>They are small insects that feed on sap and breed quickly</li>
            <li>The stylet (long sharp moutpiece) pierces the phloem</li>
            <li>This deprives plants of sugars needed for respiration</li>
            <li>This can weakend the sap and cause dwarf version of plants and stunt growth</li>
            <li>This can act as vectors for diseases as aphids can carry plant diseases</li>
            <li>Pesticides and releasing natural predators (such as ladybirds) can be used to control aphids</li>
        </ul>
        - Another example of an insect is a nematode worm:
        <ul>
            <li>They live in the soil and feed on plant roots</li>
            <li>This means that less water and mineral ions are taken in by the plant (due to less roots)</li>
            <li>This also reduces the growth of the plant</li>
        </ul>
    </p>
    <h3>Non-communicable diseases in plants</h3>
    <p>
        - These are most commonly found in plants that don't recieve enough mineral ions.<br>
        - If plants are deficient in a mineral fertiliser can be added to the soil to address this.<br>
        <Table>
            <thead>
                <tr>
                    <th>Mineral</th>
                    <th>Mineral use</th>
                    <th>Symptoms caused by deficiency</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nitrate</td>
                    <td>Contain nitrogen to construct amino acids, used for growth</td>
                    <td>Stunted growth and pale greening (or yellowing) of leaves</td>
                </tr>
                <tr>
                    <td>Magnesium</td>
                    <td>Used for synthesis of chlorophyll</td>
                    <td>Yellowing of leaves, known as chlorosis and stunted growth due to less glucose</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <h3>Detecting plant diseases</h3>
    <p>
        <i>taken directly from spec</i><br>
        Plant diseases can be detected by:
        <ul>
            <li>Stunted growth</li>
            <li>Spots on leaves</li>
            <li>Areas of decay (rot)</li>
            <li>Growths</li>
            <li>Malformed stems or leaves</li>
            <li>Discolouration</li>
            <li>The presence of pests</li>
        </ul>
        Identification can be made by:
        <ul>
            <li>Reference to a gardening manual or website</li>
            <li>Taking infected plants to a laboratory to identify the pathogen</li>
            <li>Using testing kits that contain monoclonal antibodies</li>
        </ul>
    </p>
    <h2>3.3.2 Plant Defences</h2>
    <p>
        - Plants have evolved a number of defences against pests and diseases.<br>
        - These can be divided into physical, chemical and mechanical defences.<br>
    </p>
    <h3>Physical defences</h3>
    <p>
        - Physical defences prevent microbial pathognes entering undamaged plants, 
        for example the cellulose cell wall, the tough waxy cuticle, and bark (layers of dead cells).
    </p>
    <h3>Mechanical defences</h3>
    <p>
        - Often to deter grazing animals like herbivores. Thorns and hairs deter animals, 
        leaves which droop or curl when touched stop them being eaten, and mimicry tricks animals.
    </p>
    <h3>Chemical defences</h3>
    <p>
        - Many plants taste unpleasant for herbivores, which cause death to pathogens/insects 
        (e.g. caffeine, nicotine, and cocaine (poisons), and antibacterial chemicals).
    </p>
</Layout>