---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="AQA">
    <h1>AQA</h1>
    <p>Choose your weapon!:</p>
    <a href="bio/">Biology</a><br>
    <a href="ch/">Chemistry</a><br>
    <a href="ph/">Physics</a><br>
    <a href="eng/">English (just quotes and analysis)</a>
</Layout>

<!-- is this even accessible? -->