---
import Layout from "../../../../../layouts/Layout.astro";
---
<Layout title="GCSE AQA Biology 2.1 and 2.2">
    <h1>2.1 Principles of Organisation</h1>
    <p>
        <sup>(taken straight from spec)</sup><br>
        - Cells are the basic building blocks of all living organisms.<br>
        - A tissue is a group of cells with a similar structure and function.<br>
        - Organs are aggregations of tissues performing specific functions.<br>
        - Organs are organised into organ systems, which work together to form organisms.<br>
        {"- Cell < Tissue < Organ < Organ System < Organism"}<br>
        - (that is literally it for an entire topic wth)
    </p>
    <br>
    <h1>2.2 Animal tissues, organs and organ systems</h1>
    <h2>2.2.1 The Human Digestive System</h2>
    <p>
        Keywords: <b>Digestion, mouth, oesophagus, stomach, 
            small intestine, large intestine, liver, pancreas, gallbladder, rectum, anus, 
        alimentany canal</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=4ui4oSHHnzA">GCSE Biology Revision 
            &quot;The Human Digestive System&quot;</a>
    </p>
    <p>
        - The digestive system is an example of an organ system in which 
        the organs work together to digest food and absorb its nutrients.<br>
        - The digestive system consists of the mouth, oesophagus, stomach, 
        small intestine, large intestine, liver, pancreas, gallbladder, rectum and anus.<br>
        - Digestion is defined as the process in which large, insoluble molecules 
        are broken down into smaller, soluble molecules to be absorbed into the 
        bloodstream and delivered to cells for use by the body.<br>
        - The resulting small souble molecules are used to provide cells 
        with energy (in the case of glucose), and build and repair cells (in 
        the case of amino acids).<br>
        - Bacteria form an important role in digestion, as they live in the 
        large intestine and help break down food we can't digest, supply essential
        nutrients, synthesise vitamin K, and provide competition with harmful 
        bacteria.<br>
    </p>
    <p>
        <b>Alimentany Canal: </b> The alimentary canal is a passageway 
        that connects the mouth to the anus. Digestion occurs in this 
        passageway. Lots of digestive organs are located here.<br>
        <b>Mouth: </b> The mouth is the opening through which food is 
        chewed. It is surrounded by the teeth, which are used to 
        grind and tear food.<br>
        <b>Oesophagus: </b> The oesophagus is a muscular tube that 
        connects the mouth to the stomach. The walls expand and 
        contract to push food though, allowing you to even swallow 
        upside down (don't try that, you might choke, but you <i>can</i>).<br>
        <b>Stomach: </b> Where food is mechanically churned to aid in digestion. 
        Enzymes (protease) are released to chemically digest proteins. 
        Hydrochloric acid is used to kill bacteria in food and provide the correct
        pH for enzymes to work, however thisi means your stomach must be lined 
        to stop you literally digesting yourself from the inside (fun!).<br>
        <b>Small Intestine: </b> Where small digested molecules are absorbed 
        into the blood. The first section of it is called the duodenum (
        where enzymes finish digestion), and the second section is called the 
        ilenum (where the absoption of nutrients takes place). The ilenum 
        is long and lined with villi which increase the surface area for nutrients 
        to be absorbed into the bloodstream.<br>
        <b>Large Intestine: </b> Where water is absorbed in the colon and faeces is 
        produced.<br>
        <b>Rectum: </b> The rectum is where faeces is stored until it is expelled 
        from the body.<br>
        <b>Anus: </b> (Y'know)<br>
        <b>Liver: </b> The liver is a large organ that is responsible for producing 
        bile to emulsify (break down) fats. Amino acids left over from digestion 
        make urea here.<br>
        <b>Pancreas: </b> The pancreas produces all three types of enzymes that 
        break down proteins. It secrets ennzymes in an alkaline fluid into 
        the duodenum. It also produces insulin which is used to regulate 
        blood sugar levels.<br>
        <b>Gallbladder: </b> The gallbladder is a small organ that stores bile.
    </p>
</Layout>