---
import Layout from "../../../../../layouts/Layout.astro";
---
<Layout title="GCSE AQA Biology 2.1 and 2.2">
    <h1>GCSE AQA Biology 2.1 and 2.2 - Animal tissues, organs, organ systems, and principles of organisation</h1>
    <h2>2.1 Principles of Organisation</h2>
    <p>
        <sup>(taken straight from spec)</sup><br>
        - Cells are the basic building blocks of all living organisms.<br>
        - A tissue is a group of cells with a similar structure and function.<br>
        - Organs are aggregations of tissues performing specific functions.<br>
        - Organs are organised into organ systems, which work together to form organisms.<br>
        {"- Cell < Tissue < Organ < Organ System < Organism"}<br>
        - (that is literally it for an entire topic wth)
    </p>
</Layout>