---
import Layout from "../../../../../layouts/Layout.astro";
---
<Layout title="GCSE AQA Biology 2.1 and 2.2">
    <h1>2.1 Principles of Organisation</h1>
    <p>
        <sup>(taken straight from spec)</sup><br>
        - Cells are the basic building blocks of all living organisms.<br>
        - A tissue is a group of cells with a similar structure and function.<br>
        - Organs are aggregations of tissues performing specific functions.<br>
        - Organs are organised into organ systems, which work together to form organisms.<br>
        {"- Cell < Tissue < Organ < Organ System < Organism"}<br>
        - (that is literally it for an entire topic wth)
    </p>
    <br>
    <h1>2.2 Animal tissues, organs and organ systems</h1>
    <h2>2.2.1 The Human Digestive System</h2>
    <p><sub>this topic is massive so it's also a few more h2s</sub></p>
    <p>
        Keywords: <b>Digestion, mouth, oesophagus, stomach, 
            small intestine, large intestine, liver, pancreas, gallbladder, rectum, anus, 
        alimentany canal</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=4ui4oSHHnzA">GCSE Biology Revision 
            &quot;The Human Digestive System&quot;</a>
    </p>
    <p>
        - The digestive system is an example of an organ system in which 
        the organs work together to digest food and absorb its nutrients.<br>
        - The digestive system consists of the mouth, oesophagus, stomach, 
        small intestine, large intestine, liver, pancreas, gallbladder, rectum and anus.<br>
        - Digestion is defined as the process in which large, insoluble molecules 
        are broken down into smaller, soluble molecules to be absorbed into the 
        bloodstream and delivered to cells for use by the body.<br>
        - The resulting small souble molecules are used to provide cells 
        with energy (in the case of glucose), and build and repair cells (in 
        the case of amino acids).<br>
        - Bacteria form an important role in digestion, as they live in the 
        large intestine and help break down food we can't digest, supply essential
        nutrients, synthesise vitamin K, and provide competition with harmful 
        bacteria.<br>
    </p>
    <p>
        <b>Alimentany Canal: </b> The alimentary canal is a passageway 
        that connects the mouth to the anus. Digestion occurs in this 
        passageway. Lots of digestive organs are located here.<br>
        <b>Mouth: </b> The mouth is the opening through which food is 
        chewed. It is surrounded by the teeth, which are used to 
        grind and tear food.<br>
        <b>Oesophagus: </b> The oesophagus is a muscular tube that 
        connects the mouth to the stomach. The walls expand and 
        contract to push food though, allowing you to even swallow 
        upside down (don't try that, you might choke, but you <i>can</i>).<br>
        <b>Stomach: </b> Where food is mechanically churned to aid in digestion. 
        Enzymes (protease) are released to chemically digest proteins. 
        Hydrochloric acid is used to kill bacteria in food and provide the correct
        pH for enzymes to work, however thisi means your stomach must be lined 
        to stop you literally digesting yourself from the inside (fun!).<br>
        <b>Small Intestine: </b> Where small digested molecules are absorbed 
        into the blood. The first section of it is called the duodenum (
        where enzymes finish digestion), and the second section is called the 
        ilenum (where the absoption of nutrients takes place). The ilenum 
        is long and lined with villi which increase the surface area for nutrients 
        to be absorbed into the bloodstream.<br>
        <b>Large Intestine: </b> Where water is absorbed in the colon and faeces is 
        produced.<br>
        <b>Rectum: </b> The rectum is where faeces is stored until it is expelled 
        from the body.<br>
        <b>Anus: </b> (Y'know)<br>
        <b>Liver: </b> The liver is a large organ that is responsible for producing 
        bile to emulsify (break down) fats. Amino acids left over from digestion 
        make urea here.<br>
        <b>Pancreas: </b> The pancreas produces all three types of enzymes that 
        break down proteins. It secrets ennzymes in an alkaline fluid into 
        the duodenum. It also produces insulin which is used to regulate 
        blood sugar levels.<br>
        <b>Gallbladder: </b> The gallbladder is a small organ that stores bile.
    </p>
    <br>
    <h2>Catalysts & Enzymes</h2>
    <p>
        Keywords: <b>Active Site, Complementary, Catalyst, Metabolism</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=VLK2wANjQm0">GCSE Biology Revision "Digestive Enzymes"</a>
    </p>
    <p>
        Enzymes are <b>biological catalysts</b> (speed up chemical reactions).<br>
        Large protein molecules made up of long amino acid chains are folded to produce an 
        <b>active site</b> with a unique shape.<br>
        Some enzymes break up molecules into smaller ones, while others join smaller 
        molecules (<b>bind</b>) together.<br>
        <b>Substrates</b> (the specific molecules that enzymes act upon to break down food)
        temporarily bind to the active site, and the enzyme 
        catalyses the chemical reaction, which leads to a formation of product(s).<br>
        Enzymes remain unchanged by the end of the reaction, and work very fast (100s or 1000s 
        of substrates per second).
    </p>
    <img class="centreimage" src="/images/bio/enzymes.jpg" alt="enzymes + substrate diagram">
    <sub><a href="http://classofjeong.wikispaces.com/5.+Enzymes">source</a>, image not modified</sub><br>
    <p>This is called the lock and key theory. The enzyme is the lock, 
        and the enzymes that fit is are keys. </p>
    <p>
        Enzymes will only react with a <b>specific substrate</b>. The substrate fits into 
        the active site because it is <b>complementary</b> in shape.
    </p>
    <h3>Model Answer</h3>
    <p>
        For the enzymes to work the molecules must collide with the active site 
        of the enzyme. But if the temperature is too low the enzymes don't have 
        enough kinetic energy to produce a reaction, or work very slowly.<br>
        As the temperature increases, the collision are more frequent and the 
        reactions happen quicker. But if the temperature is too high, the chains 
        of amino acids unravel and the substrate no longer fits the active site. This is known 
        as denaturation.
    </p>
    <h3>Metabolism</h3>
    <p>
        Metabolism is <b>the sum of all the reactions in a cell or in the body</b>.<br>
        Different enzymes catalyyse different metabolic reactions. Hundreds of reactions 
        are happening simulatenously (each controlled by a different enzyme). This allows 
        reactions to occur without one reaction intefering with another.
    </p>
    <h3>Enzyme Uses</h3>
    <p>
        <ol>
            <li>
                Building large molecules from smaller ones.<br>
                {"Glucose -> Starch, Fatty Acids -> Lipids, etc."}
            </li>
            <li>
                Changing one molecule into another.<br>
                {"Simple Sugars, Glucose -> Fructose "}
            </li>
            <li>
                Breaking down large molecules into smaller ones.<br>
                E.g. Digestion.
            </li>
        </ol>
    </p>
    <h3>Rate of Reaction</h3>
    <p>
        In Biology, most reactions are catalysed by an enzyme. You can calculate 
        the average rate of a reaction by using:<br>
        rate of reaction = amount of product formed / time OR amount of reactant used 
        / time<br>
        <img class="centreimagebutdontstretch" src="/images/bio/enzyme_graph.jpg" alt="enzyme total product/time graph">
        <sub><a href="http://chemicalreactionsdarrel.wikispaces.com/Rate+of+Reactions+-+Temperature">source</a>, unmodified</sub><br>
        You can calculate the rate of reaction at 
        each section of the graph by calculating the gradient.
    </p>
    <br>
    <h2>Factors Affecting Enzyme Action</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Rfvh4LIsEEM">GCSE Biology Revision "The Effect of Temperature and pH on Enzymes"</a>
    </p>
    <h3>Temperature</h3>
    <p>
        - Enzymes work fastest at their optimum temperature, which is around 
        36-40°C in humans.<br>
        - Heating to higher temperatures than the optimum starts to break the bonds 
        that hold the enzyme together. The enzyme will start to distort and lose its shape, 
        which reduces how effective substrate binding is.<br>
        - If the temperature is too high, the enzyme will denature. Substrated can not longer 
        fit into the enzyme, as the shape of the active site is no longer correct.<br>
        - Increasing the temperature from 0-30°C will increase the enzyme's activity. 
        Molecules with more energy increases the number of collisions with substrate molecules, 
        meaning a faster reaction rate.<br>
        - Lower temperatures do not denature enzymes, but they will not be as effective.
    </p>
    <img class="centreimage" src="/images/bio/enzymes_graph.png" alt="enzyme temp graph">
    <sub><a href="https://en.wikipedia.org/wiki/Chemical_specificity">source</a>, image modified to add white bg</sub><br>
    <h3>pH</h3>
    <p>
        - The optimum pH for most enzymes is 7, but in more acidic conditions it can be lower
        (like 2 pH in the stomach) and higher in more alkaline conditions (like 8 to 9 in the duodenum).<br>
        - If the pH is too high or low, the bonds that hold the amino acid chains together (which 
        make up the protein) will be destroyed, and denaturation can occur.
    </p>
    <img class="centreimage" src="/images/bio/enzyme_ph.gif" alt="enzyme pH graph">
    <sub><a href="https://en.wikibooks.org/wiki/A-level_Biology/Biology_Foundation/enzymes">source</a>, not modified</sub>
</Layout>