---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
const workspacePath = "src/pages/gcse/aqa/bio/2/2.astro";
---

<Layout title="Bio 2.2 Animal tissues, organs and organ systems" path={workspacePath}>
    <h1>2.2 Animal tissues, organs and organ systems</h1>
    <h2>2.2.1 The Human Digestive System</h2>
    <p><sub>this topic is massive so it's also a few more h2s</sub></p>
    <p>
        Keywords: <b>Digestion, mouth, oesophagus, stomach, 
            small intestine, large intestine, liver, pancreas, gallbladder, rectum, anus, 
        alimentany canal</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=4ui4oSHHnzA">GCSE Biology Revision 
            &quot;The Human Digestive System&quot;</a>
    </p>
    <p>
        - The digestive system is an example of an organ system in which 
        the organs work together to digest food and absorb its nutrients.<br>
        - The digestive system consists of the mouth, oesophagus, stomach, 
        small intestine, large intestine, liver, pancreas, gallbladder, rectum and anus.<br>
        - Digestion is defined as the process in which large, insoluble molecules 
        are broken down into smaller, soluble molecules to be absorbed into the 
        bloodstream and delivered to cells for use by the body.<br>
        - The resulting small souble molecules are used to provide cells 
        with energy (in the case of glucose), and build and repair cells (in 
        the case of amino acids).<br>
        - Bacteria form an important role in digestion, as they live in the 
        large intestine and help break down food we can't digest, supply essential
        nutrients, synthesise vitamin K, and provide competition with harmful 
        bacteria.<br>
    </p>
    <p>
        <b>Alimentany Canal: </b> The alimentary canal is a passageway 
        that connects the mouth to the anus. Digestion occurs in this 
        passageway. Lots of digestive organs are located here.<br>
        <b>Mouth: </b> The mouth is the opening through which food is 
        chewed. It is surrounded by the teeth, which are used to 
        grind and tear food.<br>
        <b>Oesophagus: </b> The oesophagus is a muscular tube that 
        connects the mouth to the stomach. The walls expand and 
        contract to push food though, allowing you to even swallow 
        upside down (don't try that, you might choke, but you <i>can</i>).<br>
        <b>Stomach: </b> Where food is mechanically churned to aid in digestion. 
        Enzymes (protease) are released to chemically digest proteins. 
        Hydrochloric acid is used to kill bacteria in food and provide the correct
        pH for enzymes to work, however this means your stomach must be lined 
        to stop you literally digesting yourself from the inside (fun!).<br>
        <b>Small Intestine: </b> Where small digested molecules are absorbed 
        into the blood. The first section of it is called the duodenum (
        where enzymes finish digestion), and the second section is called the 
        ilenum (where the absoption of nutrients takes place). The ilenum 
        is long and lined with villi which increase the surface area for nutrients 
        to be absorbed into the bloodstream.<br>
        <b>Large Intestine: </b> Where water is absorbed in the colon and faeces is 
        produced.<br>
        <b>Rectum: </b> The rectum is where faeces is stored until it is expelled 
        from the body.<br>
        <b>Anus: </b> (Y'know)<br>
        <b>Liver: </b> The liver is a large organ that is responsible for producing 
        bile to emulsify (break down) fats. Amino acids left over from digestion 
        make urea here.<br>
        <b>Pancreas: </b> The pancreas produces all three types of enzymes that 
        break down proteins. It secrets ennzymes in an alkaline fluid into 
        the duodenum. It also produces insulin which is used to regulate 
        blood sugar levels.<br>
        <b>Gallbladder: </b> The gallbladder is a small organ that stores bile.
    </p>
    <br>
    <h2>Catalysts & Enzymes</h2>
    <p>
        Keywords: <b>Active Site, Complementary, Catalyst, Metabolism</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=VLK2wANjQm0">GCSE Biology Revision "Digestive Enzymes"</a>
    </p>
    <p>
        Enzymes are <b>biological catalysts</b> (speed up chemical reactions).<br>
        Large protein molecules made up of long amino acid chains are folded to produce an 
        <b>active site</b> with a unique shape.<br>
        Some enzymes break up molecules into smaller ones, while others join smaller 
        molecules (<b>bind</b>) together.<br>
        <b>Substrates</b> (the specific molecules that enzymes act upon to break down food)
        temporarily bind to the active site, and the enzyme 
        catalyses the chemical reaction, which leads to a formation of product(s).<br>
        Enzymes remain unchanged by the end of the reaction, and work very fast (100s or 1000s 
        of substrates per second).
    </p>
    <img class="centreimage" src="/images/bio/enzymes.jpg" alt="enzymes + substrate diagram">
    <sub><a href="http://classofjeong.wikispaces.com/5.+Enzymes">source</a>, image not modified</sub><br>
    <p>This is called the lock and key theory. The enzyme is the lock, 
        and the enzymes that fit is are keys. </p>
    <p>
        Enzymes will only react with a <b>specific substrate</b>. The substrate fits into 
        the active site because it is <b>complementary</b> in shape.
    </p>
    <h3>Model Answer</h3>
    <p>
        For the enzymes to work the molecules must collide with the active site 
        of the enzyme. But if the temperature is too low the enzymes don't have 
        enough kinetic energy to produce a reaction, or work very slowly.<br>
        As the temperature increases, the collision are more frequent and the 
        reactions happen quicker. But if the temperature is too high, the chains 
        of amino acids unravel and the substrate no longer fits the active site. This is known 
        as denaturation.
    </p>
    <h3>Metabolism</h3>
    <p>
        Metabolism is <b>the sum of all the reactions in a cell or in the body</b>.<br>
        Different enzymes catalyyse different metabolic reactions. Hundreds of reactions 
        are happening simulatenously (each controlled by a different enzyme). This allows 
        reactions to occur without one reaction intefering with another.
    </p>
    <h3>Enzyme Uses</h3>
    <p>
        <ol>
            <li>
                Building large molecules from smaller ones.<br>
                {"Glucose -> Starch, Fatty Acids -> Lipids, etc."}
            </li>
            <li>
                Changing one molecule into another.<br>
                {"Simple Sugars, Glucose -> Fructose "}
            </li>
            <li>
                Breaking down large molecules into smaller ones.<br>
                E.g. Digestion.
            </li>
        </ol>
    </p>
    <h3>Rate of Reaction</h3>
    <p>
        In Biology, most reactions are catalysed by an enzyme. You can calculate 
        the average rate of a reaction by using:<br>
        rate of reaction = amount of product formed / time OR amount of reactant used 
        / time<br>
        <img class="centreimagebutdontstretch" src="/images/bio/enzyme_graph.jpg" alt="enzyme total product/time graph">
        <sub><a href="http://chemicalreactionsdarrel.wikispaces.com/Rate+of+Reactions+-+Temperature">source</a> [dead link, <a href="https://web.archive.org/web/20161114021508/http://chemicalreactionsdarrel.wikispaces.com/Rate+of+Reactions+-+Temperature">archived</a>], unmodified</sub><br>
        You can calculate the rate of reaction at 
        each section of the graph by calculating the gradient.
    </p>
    <br>
    <h2>Factors Affecting Enzyme Action</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Rfvh4LIsEEM">GCSE Biology Revision "The Effect of Temperature and pH on Enzymes"</a>
    </p>
    <h3>Temperature</h3>
    <p>
        - Enzymes work fastest at their optimum temperature, which is around 
        36-40°C in humans.<br>
        - Heating to higher temperatures than the optimum starts to break the bonds 
        that hold the enzyme together. The enzyme will start to distort and lose its shape, 
        which reduces how effective substrate binding is.<br>
        - If the temperature is too high, the enzyme will denature. Substrated can not longer 
        fit into the enzyme, as the shape of the active site is no longer correct.<br>
        - Increasing the temperature from 0-30°C will increase the enzyme's activity. 
        Molecules with more energy increases the number of collisions with substrate molecules, 
        meaning a faster reaction rate.<br>
        - Lower temperatures do not denature enzymes, but they will not be as effective.
    </p>
    <img class="centreimage" src="/images/bio/enzymes_graph.png" alt="enzyme temp graph">
    <sub><a href="https://en.wikipedia.org/wiki/Chemical_specificity">source</a>, image modified to add white bg</sub><br>
    <h3>pH</h3>
    <p>
        - The optimum pH for most enzymes is 7, but in more acidic conditions it can be lower
        (like 2 pH in the stomach) and higher in more alkaline conditions (like 8 to 9 in the duodenum and mouth).<br>
        - If the pH is too high or low, the bonds that hold the amino acid chains together (which 
        make up the protein) will be destroyed, and denaturation can occur.
    </p>
    <img class="centreimage" src="/images/bio/enzyme_ph.gif" alt="enzyme pH graph">
    <sub><a href="https://en.wikibooks.org/wiki/A-level_Biology/Biology_Foundation/enzymes">source</a>, not modified</sub>
    <br>
    <h2>Types of Enzymes</h2>
    <p>
        Keywords: <b>Carbohydrases, Proteases, Lipases, Bile</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=VLK2wANjQm0">Digestive Enzymes</a>
    </p>
    <h3>Carbohydrases</h3>
    <p>
        - Carbohydrases are enzymes that break down carbohydrates into simple sugars.<br>
        - Amylase is an example of a carbohydrase, which breaks down startch into maltose. 
        Maltose is then broken down into glucose by maltase.<br>
        - Amylase is made in the pancreas, small intestine, and salivary glands.
    </p>
    <h3>Proteases</h3>
    <p>
        - Proteases are enzymes that break down proteins into amino acids in the stomach 
        and small intestine.<br>
        - Proteases are made in the stomach (pepsin), small intestine, and pancreas.
    </p>
    <h3>Lipases</h3>
    <p>
        - Lipases are enzymes that break down fats into fatty acids and glycerol.<br>
        - Lipases are made in the pancreas, and secreted into the duodenum.
    </p>
    <h3>Bile</h3>
    <p>
        - Bile is made in the liver and then stored in the gallbladder.<br>
        - Bile is important as it is alkaline and neutralises hydrochloric acid from 
        the stomach. The enzymes in the small intestine have a higher optimum pH than 
        the enzymes in the stomach, so bile is needed.<br>
        - Bile also breaks down large drops of fat into smaller drops of fat, which allows 
        lipase to work more effectively.
    </p>
    <h3>Products of Digestion</h3>
    <p>
        - The products of digestion are used to build new tissues and organs.<br>
        - Some glucose produed is used for respiration.<br>
        - The products of lipids are also used for new cell membranes and hormones.
    </p>
    <br>
    <h2>Food Tests Required Practical</h2>
    <p>
        - To use qualatitive (presence showing) reagents to test for a range of carbohydrates, lipids 
        and proteins.
    </p>
    <Table>
        <thead>
            <tr>
                <td></td>
                <td>Sugar</td>
                <td>Starch</td>
                <td>Proteins</td>
                <td>Lipids (fats)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Method</td>
                <td>
                    1. Place in test tube<br>
                    2. Hot water bath<br>
                    3. Add Benedict's reagent
                </td>
                <td>
                    1. Place in spotting tile.<br>
                    2. Add iodine solution.
                </td>
                <td>
                    1. Place in spotting tile.<br>
                    2. Add biuret solution: equal amounts of copper sulphate 
                    and sodium hydroxide.
                </td>
                <td>
                    1. Place in test tube.<br>
                    2. Add ethanol and swirl.<br>
                    3. Add cold water to the top.<br>
                    4. Observe the emulsion on the top.
                </td>
            </tr>
            <tr>
                <td>Milk</td>
                <td>Moderate Sugar (Orange)</td>
                <td>Negative (Orange)</td>
                <td>Positive (Light Purple)</td>
                <td>Positive (Cloudy)</td>
            </tr>
            <tr>
                <td>Apple Juice</td>
                <td>Moderate Sugar</td>
                <td>Negative</td>
                <td>Negative (No colour change)</td>
                <td>Negative (Colourless)</td>
            </tr>
            <tr>
                <td>Oil</td>
                <td>No Sugar (Blue)</td>
                <td>Negative</td>
                <td>Negative</td>
                <td>Positive</td>
            </tr>
            <tr>
                <td>Biscuit</td>
                <td>High Sugar (Brick Red)</td>
                <td>Positive (Blue-Black)</td>
                <td>Negative</td>
                <td>Positive</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Enzymes Required Practical</h2>
    <p>
        To investigatee the effect of pH on the rate of reaction of amylase (an enzyme 
        that digests starch)
    </p>
    <h3>Method</h3>
    <p><b>this bit is basically just a copy of the SME page's method, i can't explain it 
        any better than they did</b></p>
    <p>
        - Place drops of iodine solution on a tile.<br>
        - Use the syringle to place 2cm<sup>3</sup> of amylase into the test tube.<br>
        - Add 1cm<sup>3</sup> of pH buffer solution to the test tube.<br>
        - Use another test tube to add 2cm<sup>3</sup> of starch solution to the amylase 
        and buffer solution, and start a stopwatch while mixing with a pipette.<br>
        - After 10 seconds, use a pipette to place a single drop of the mixture on the first 
        drop of iodine (which <i>should</i> turn blue-black but this experiment is finnicky af).<br>
        - Wait another 10 seconds and then place another drop of the mixture on the second drop of iodine, 
        repeating until the iodine solution remains orange-brown after the drop.<br>
        - Repeat the experiment at different pH values (the less time the iodine solution takes 
        to remain orange-brown, the quicker the starch has been 'digested').
    </p>
    <Table>
        <thead>
            <tr>
                <td>pH</td>
                <td>Time taken for the disappearance of starch</td>
                <td>Rate of reaction (1/t * 1000)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6.0</td>
                <td>130</td>
                <td>7.69</td>
            </tr>
            <tr>
                <td>6.5</td>
                <td>70</td>
                <td>14.3</td>
            </tr>
            <tr>
                <td>7.0</td>
                <td>65</td>
                <td>15.4</td>
            </tr>
            <tr>
                <td>7.5</td>
                <td>140</td>
                <td>7.14</td>
            </tr>
            <tr>
                <td>8.0</td>
                <td>300</td>
                <td>3.33</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Making Digestion Efficient</h2>
    <p>
        - The stomach protects itself with a thick layer of mucus, which 
        forms a barrier between the stomach lining and enzymes. The stomach 
        produces around 3 litres of of hydrochloric acid per day.
    </p>
    <h3>Protease and pH</h3>
    <p>
        - Protease is produced in the stomach and pancreas. A version of 
        protease called 'pepsin' is produced in the stomach and works best in 
        an acidic environment.<br>
        - A version of protease called 'typsin' is produced in the pancreas and 
        works best in an alkaline environment.
    </p>
    <br>
    <h2>2.2.2 (Part 1) Blood Vessels</h2>
    <p>
        Keywords: <b>Arteries, Veins, Capillaries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=Wx-MrhlOFMk">GCSE Biology Revision "Arteries, Veins and Capillaries"</a>
    </p>
    <p>
        <b>Arteries:</b> Transport blood away from the heart to the rest of the body.
        Usually at high pressure.<br>
        <b>Veins:</b> Transport blood from the rest of the body back to the heart.
        They have valves to prevent blood from flowing the wrong way. Usually at
        low pressure.<br>
        <b>Capillaries:</b> The smallest blood vessels, they are responsible for
        the exchange of oxygen and nutrients between the blood and tissues. They
        are a single layer of endothelial cells, which minimise the diffusion distance
        for oxygen and carbon dioxide. They also have pores that allow blood plasma
        to leak out and form tissue fluid. They link artieries to veins.
    </p>
    <h3>Structure of Blood Vessels</h3>
    <p>
        - The walls of each type of blood vessel relate to the function of the
        vessel.<br>
        - Blood flows through the lumen of a blood vessel; the artieries have thicker
        walls and have a smaller lumen, the veins have thinner walls and a larger
        lumen.<br>
        - The walls of the vessels are made of collagen, smooth muscle, and elastic
        fibres. The fibres allow expansion and recoil which allows the vessels to
        push blood along, which (in artieries) maintains a high blood pressure.
    </p>
    <Table>
        <thead>
            <th>
                <td>Arteries</td>
                <td>Veins</td>
                <td>Capillaries</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Function</td>
                <td>Carry oxygenated blood away from the heart</td>
                <td>Carry deoxygenated blood back to the heart</td>
                <td>Exchange oxygen and nutrients</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>High</td>
                <td>Low</td>
                <td>Lowest</td>
            </tr>
            <tr>
                <td>Lumen Diameter</td>
                <td>Small</td>
                <td>Large</td>
                <td>One Cell Wide</td>
            </tr>
            <tr>
                <td>Wall Thickness</td>
                <td>Thick</td>
                <td>Thin</td>
                <td>Thinnest</td>
            </tr>
            <tr>
                <td>Muscle & Elastic Fibres</td>
                <td>A Lot</td>
                <td>Less</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Valves</td>
                <td>Not Present</td>
                <td>Present</td>
                <td>Not Present</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Double Circulatory System</h3>
    <p>
        - The double circulatory system is a type of blood circulation system in
        which blood passes through the heart twice during each complete circuit
        around the body.<br>
        - This system is essential for efficiently transporting oxygen and nutrients
        to cells and removing waste products.<br>
        - It works in two stages:
        <ul>
            <li>
                Pulmonary Circulation: Deoxygenated blood is pumped from the
                right side of the heart to the lungs. In the lungs, the blood
                releases carbon dioxide and picks up oxygen. The oxygenated
                blood then returns to the left side of the heart.
            </li>
            <li>
                Systemic Circulation: The left side of the heart pumps the
                oxygenated blood to the rest of the body. As the blood travels
                through the body, it delivers oxygen and nutrients to tissues
                and collects carbon dioxide and other waste products. The
                deoxygenated blood returns to the right side of the heart,
                completing the circuit.
            </li>
        </ul>
        - It is required because the body needs to maintain a constant supply of
        oxygen and nutrients; without it our blood would become too acidic.
    </p>
    <br>
    <h2>2.2.3 Blood</h2>
    <p>
        Keywords: <b>Red Blood Cells, White Blood Cells, Platelets, Plasma</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=nc_kbfjhiUo">GCSE Biology Revision "Blood"</a>
    </p>
    <h3>Red Blood Cells</h3>
    <p>
        The most common type of blood cell, they are responsible for carrying
        oxygen from the lungs to the rest of the body, and for transporting
        carbon dioxide. They contain haemoglobin, which binds to oxygen and
        carbon dioxide. They have no nucleus (to hold more oxygen), and they are
        a biconcave shape for a larger surface area so gas diffusion is quicker
        and easier. They are flexible and so can squeeze through capillaries
        more easily. As they cannot undergo mitosis (no nucleus), they are made
        in the bone marrow from adult stem cells.
    </p>
    <h3>White Blood Cells</h3>
    <p>
        They are made in lymph glands and bone marrow. They have a nucleus, and
        they fight infection and disease. They can have three different roles: <br>
        <ol>
            <li>Engulf and digest microorganisms (phagocytosis)</li>
            <li>Produce antibodies (recognition)</li>
            <li>Produce antitoxins (neutralisation)</li>
        </ol>
    </p>
    <h3>Platelets</h3>
    <p>
        These are fragments of cells made from the cytoplasm of large cells.
        They have no nucleus, and float around in the blood. They recognise
        damaged blood vessels and bind together to form clots to prevent too
        much bleeding (via enzyme reactions). They form clotting at the site of
        a wound forming a scab.
    </p>
    <h3>Plasma</h3>
    <p>
        A pale, yellow liquid made up of mainly water. It is a transport medium
        for a wide range of materials including glucose, antibodies, hormones,
        carbon dioxide, urea and blood cells. It also distributes heat around
        the body.
    </p>
    <br>
    <h2>2.2.2 (Part 2) The Heart</h2>
    <p>
        Keywords: <b>Aorta, valves, pulmonary artery, pulmonary vein, right atrium, left
            atrium, right ventricle, left ventricle, coronary arteries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=bpYaKM2hVFY">GCSE Biology Revision "The Structure of the Heart"</a>
    </p>
    <p>
        <ol>
            <li>
                Deoxygenated blood enters the right atrium through the vena
                cava.
            </li>
            <li>
                The right atrium contracts and forces the blood into the right
                ventricle.
            </li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The right ventricle contracts and forces the blood out of the
                heart through the pulmonary artery to the lungs.
            </li>
            <li>
                Oxygenated blood returns to the heart in the pulmonary vein and
                enters the left atrium.
            </li>
            <li>It contracts and forces the blood into the left ventricle.</li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The left ventricle contracts and forces the oxygenated blood out
                of the heart through the aorta, to the body.
            </li>
        </ol>
    </p>
    <img class="centreimage" src="/images/bio/heart_diagram.jpg" alt="The Heart Diagram">
    <sub><a href="https://en.wikibooks.org/wiki/GCSE_Science/The_Heart">Source</a>, under CC-BY-SA 3.0, added white background</sub>
    <p>
        - The left side is thicker than the right side because it has to push
        blood around the entire body rather than just to the lungs and back.<br>
        - The sound of your heart is made by the veins closing.<br>
        - Cardiac tissues makes up most of the heart.<br>
        - This can result in symptoms such as shortness of breath, diziness, 
        rapid heart rate, and cheat pain. This can eventually lead to heart failure.<br>
        - Faulty heart valves can be replaced with a biological valve from a human 
        donor or ones made with tissue from a pig or cow, or mechanical valve made from 
        strong, durable materials.<br>
        - This operation is usually successful. Mechanical valves last longer but can 
        cause blodo clots, but biological valves are more likely to wear out.
    </p>
    <br>
    <h3>Heart Valves</h3>
    <p>
        - Heart valves withstand a lot of pressure.<br>
        - Over time they can leak or become stiff and not open fully.<br>
        - This makes the heart less efficent.
    </p>
    <h2>2.2.4 Coronary Heart Disease</h2>
    <p>
        Keywords: <b>Coronary Arteries, Plaque, Stents, Bypass Surgery, Statins</b>
    </p>
    <p>
        - Coronary artieries: Bring oxygen to heart muscles for aerobic
        respiration to release energy, allowing the heart to contract.<br>
        - Plaque can build up on coronary artieries, causing blockage. This can cause
        pain, or coronary heart failure (a heart attack).<br>
        - From the spec:
        <blockquote>
            In coronary heart disease layers of fatty material build up inside
            the coronary arteries, narrowing them. This reduces the flow of
            blood through the coronary arteries, resulting in a lack of oxygen
            for the heart muscle. Stents are used to keep the coronary arteries
            open. Statins are widely used to reduce blood cholesterol levels
            which slows down the rate of fatty material deposit. In some people
            heart valves may become faulty, preventing the valve from opening
            fully, or the heart valve might develop a leak.<br> 
            Faulty heart valves
            can be replaced using biological or mechanical valves. In the case
            of heart failure a donor heart, or heart and lungs can be
            transplanted. Artificial hearts are occasionally used to keep
            patients alive whilst waiting for a heart transplant, or to allow
            the heart to rest as an aid to recovery.
        </blockquote>
    </p>
    <br>
    <h3>Stents</h3>
    <p>
        In the case of a stent being used:<br>
        <ul>
            <li>Metal mesh holds artery open.</li>
            <li>Deflated balloon placed under local anaesthetic.</li>
            <li>Balloon is inflated which causes the stent to unfold and open up the artery.</li>
        </ul>
        - Stents may only be used for a minor/early blockage.<br>
        - They increase blood flow in a coronary artery, there is no 
        need for general anaesthetic, short recovery time, and it's relatively cheap, 
        but it can't open very large blockages.<br>
    </p>
    <br>
    <h3>Bypass Surgery</h3>
    <p>
        - Used when blockages are too severe to use a stent.<br>
        - Narrowed artieries can be replaced (bypassed) with parts of a vein 
        (comes from other parts of the body).<br>
        - They are effective in severe blockages.<br>
        - Requires general anaesthetic, and the operation can be risky.
    </p>
    <br>
    <h3>Statins</h3>
    <p>
        - Medication given to patients with high cholesterol levels at risk 
        of coronary heart disease or after stent/bypass surgery.<br>
        - Reduces the amount of cholesterol in the blood, slowing down the 
        rate of fatty material deposition.
    </p>
    <br>
    <h2>Pacemakers and Artificial Hearts</h2>
    <p>
        Keywords: <b>Pacemakers, Artificial Hearts, Heart Transplants</b>
    </p>
    <h3>The Heart's Natural Pacemaker</h3>
    <p>
        - The natural pacemaker in the heart keeps you heart rate at roughly 
        70 beats per minute, but this can of course go up or down depending
        on a multitude of factors.<br>
        - It is located in the right atrium and is connected to the septum.<br>
        - Small electronic shocks are sent around the heart which causes it to beat.
    </p>
    <h3>Artificial Pacemakers</h3>
    <p>
        - Sometimes the natural pacemaker in the heart can become faulty. This 
        can result in a too slow heart rate, which means there is not enough 
        oxygen and/or glucose for respiration; or a too fast heart rate, which
        can cause damage to blood vessels and tissues.<br>
        - An artificial pacemaker can be used to correct this. 
        They are small electronic device attaches to the heart.
        Wires send small electronic signals to the heart
        which allows it to contract.<br>
        - The device is implanted just under the collarbone, and 
        leads are connected to the heart through a vein.<br>
        - Some send impulses all the time, while others only send impulses when needed.<br>
        - Pacemakers need to be kept away from strong magnetic fields which can interfere 
        with them.
    </p>
    <h3>Heart Transplants</h3>
    <p>
        - Sometimes a heart may fail completely and only two options are available:
        a donor heart or an artificial heart.<br>
        - Donor hearts are taken from people who have recently died (you are automatically 
        an organ donor when you turn 18, although you can opt out).<br>
        - Donor hearts are preferable but waiting lists are very long and the tissues must 
        match to reduce the chance of rejection.<br>
        - Artificial hearts are cheaper and quicker to get, but they can't be used 
        for a long time. They are also not as effective as a donor heart.<br>
        - They are used to keep patients alive while waiting for a heart transplant, 
        or to allow the heart to rest during recovery.
    </p>
    <h4>Advantages and Disadvantages of Artificial Hearts</h4>
    <Table>
        <thead>
            <th>Advantages</th>
            <th>Disadvantages</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Can be used to keep patients alive whilst waiting for a heart transplant.</li>
                        <li>Can be used to allow the heart to rest during recovery.</li>
                        <li>Cheaper and easier to get.</li>
                        <li>A donor is not needed.</li>
                        <li>A tissue match is not required.</li>
                        <li>The use of immunosuppressant drugs which would usually be used during heart transplants are not needed.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Can't be used for a long time.</li>
                        <li>Less effective than a donor heart.</li>
                        <li>Must be powered through a battery.</li>
                        <li>Device has a limited lifespan and itself may have to be repaired.</li>
                        <li>They are very expensive to support and keep running.</li>
                        <li>Can cause discomfort due to needing a controller and battery.</li>
                        <li>Anticoagulants are needed to prevent blood clots.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Breathing and Gas Exchange</h2>
    <p>
        Keywords: Trachea, Alveoli, Bronchus, Bronchioles, Intercostal muscles, Ribs, Bronchus, Lung, Diaphragm<br>
        FSL: <a href="https://www.youtube.com/watch?v=aPUPfzsqDgs">GCSE Biology Revision "Gas Exchange in the Lungs"</a>
    </p>
    <img class="centreimage" src="/images/bio/lungs.jpg" alt="Lung Diagram">
    <sub><a href="http://pgsgcsepe.wikispaces.com/The+demands+of+performance">Source</a> (dead link but i still have to cite it, 
    yes i hate that its comic sans, no i wont fix it)</sub><br><br>
    <Table>
        <tbody>
            <tr>
                <td>Trachea</td>
                <td>The tube that carries air from the lungs to your mouth. Also called the windpipe.</td>
            </tr>
            <tr>
                <td>Intercostal muscles</td>
                <td>Muscles between the ribs which control movement (the ones that cause 
                    inhalation and exhalation).</td>
            </tr>
            <tr>
                <td>Ribs</td>
                <td>The bones that support and protect the lungs. Moves up and out then 
                    down and in when breathing.</td>
            </tr>
            <tr>
                <td>Diaphragm</td>
                <td>Sheet of connective tissue and muscle at the bottom of the thorax. Changes 
                    the thorax's volume to aid in inhalation and exhalation.</td>
                </td>
            </tr>
            <tr>
                <td>Bronchus</td>
                <td>Long tubes that come off the trachea (one for each lung). Carry air 
                    to the lungs.</td>
                </td>
            </tr>
            <tr>
                <td>Bronchioles</td>
                <td>Smaller tubes off the Bronchi that carry air to the alveoli.</td>
            </tr>
            <tr>
                <td>Alveoli</td>
                <td>Tiny moist air sacs with very thin (one cell thick for a short diffusion distance)
                    walls where gas exchange occurs. There are lots of them to optimise surface area
                    for gas exchange. They also require a good blood supply (for a steep concentration gradient).</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <p>
        Breathing in:
        <ol>
            <li>Diaphragm contracts (flattens).</li>
            <li>Simultaneously, the intercostal muscles contract (pulls ribs 
                up and out).</li>
            <li>Volume of thorax increases.</li>
            <li>Pressure decreases (to lower than the air outside).</li>
            <li>Air is forced into the lungs.</li>
        </ol>
        Breathing out:
        <ol>
            <li>Diaphragm relaxes (dome shape).</li>
            <li>Simultaneously, intercostal muscles relax (pulls ribs down and in).</li>
            <li>Volume of thorax decreases.</li>
            <li>Pressure increases (to higher than the air outside).</li>
            <li>Air is forced out of the lungs.</li>
        </ol>
    </p>
    <h3>Emphysema</h3>
    <p>
        - Emphysema is a condition where alveoli rupture and get holes in them.<br>
        - It shows itself through shortness of breath, coughing, chest tightness,
        alveoli rupture, reduced surface area for gas exchange, and it leads to larger holes.
    </p>
    <br>
    <h2>Health issues, smoking and alcohol</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=H6DrSG_KQjo">GCSE Biology Revision "Lifestyle and Disease"</a>
    </p>
    <p>
        <b>Non-communicable disease: </b>A non infectious disease that affects people depending on genetics 
        and lifestyle factors (environment).<br>
        <b>Risk factor: </b> Increases your likelihood of developing a disease or injury (E.g. Smoking, poor diet).
        It is NOT always a cause.<br>
        <b>Causal mechanism: </b> When the risk factor DOES have a direct effect, proved through research.
    </p>
    <h3>Global Impact</h3>
    Non-communicable diseases affect more people than communicable diseases
    <ul>
        <li>Financial costs: Individuals cannot work.</li>
        <li>Local community impact: Supporting ill people through taxes or care of affected families.</li>
        <li>Physical ill health can also lead to mental illnesses.</li>
        <li>Expense of treating people and in the loss of money earned through workers impacts
            global economy.</li>
    </ul>
    <h3>Smoking</h3>
    <p>
        Health impacts:
        <ul>
            <li>Damage to organs such as liver and lungs</li>
            <li>Increased risk of cancers and lung disease</li>
            <li>Diabetes</li>
            <li>Respiratory issues</li>
            <li>Tooth decay</li>
        </ul>
        How to prevent it:
        <ul>
            <li>Don't start smoking (duh)</li>
            <li>Start a scheme and look into methods of how to stop or reduce smoking habits</li>
        </ul>
    </p>
    <h3>Alcohol</h3>
    <p>
        Health impacts:
        <ul>
            <li>Damage to your liver</li>
            <li>Weaker immune system</li>
            <li>High blood pressure</li>
            <li>Weight gain</li>
            <li>Increased risk of certain cancers</li>
            <li>Pancreatitis</li>
        </ul>
        How to prevent it:
        <ul>
            <li>Only drink it in small amounts and not often</li>
            <li>Don't drink alcohol</li>
        </ul>
    </p>
    <h3>Lack of exercise</h3>
    <p>
        Health impacts:
        <ul>
            <li>Weaker immune system</li>
            <li>Coronary heart disease</li>
            <li>Build up of fat in the body</li>
            <li>Weight gain</li>
        </ul>
        How to prevent it:
        <ul>
            <li>Exercise more, incorporate it into you weekly/daily routines</li>
        </ul>
    </p>
    <Table>
        <thead>
          <tr>
            <th>Risk Factor</th>
            <th>Effect on Health</th>
            <th>How to Lower the Risk</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Poor Diet</td>
            <td>
              Obesity<br>
              Malnutrition<br>
              Diseases such as diabetes<br>
              Deficiencies
            </td>
            <td>Have a well-balanced diet</td>
          </tr>
          <tr>
            <td>Smoking</td>
            <td>
              Increased risk of cancers, heart disease<br>
              Damage to organs
            </td>
            <td>
              Use a scheme to quit<br>
              Don't start
            </td>
          </tr>
          <tr>
            <td>Alcohol Consumption</td>
            <td>
              Weight gain<br>
              Less restful sleep<br>
              Damages liver and digestive system<br>
              Increased risk of cancers
            </td>
            <td>Cut down amount</td>
          </tr>
          <tr>
            <td>Lack of Exercise</td>
            <td>
              Loss of muscle<br>
              Fatty deposits around heart<br>
              Increased risk of heart disease
            </td>
            <td>Increase weekly exercise</td>
          </tr>
          <tr>
            <td>Unsafe Sex</td>
            <td>Increased risk of STDs</td>
            <td>Use suitable contraception</td>
          </tr>
        </tbody>
    </Table>
    <br>
    <h2>Data and Analysis of Lifestyle Factors</h2>
    <p>
        <b>Epidemiology: </b>The study and analysis of the patterns, causes, and effects 
        of health and disease conditions in defined populations.<br>
    </p>
    <p>
        To obtain a representative sample:
        <ul>
            <li>the study must be wide, and cover all groups in the population being studied.</li>
            <li>the study must be random within these groups.</li>
            <li>sex, age, lifestyle (job, amount of exercise), underlying health conditions.</li>
        </ul>
    </p>
    <br>
    <h2>Smoking & Alcohol on Pregnancy</h2>
    <p>
        - Pregnancy lasts 40 weeks (9 months).<br>
        - In the first 20 weeks most differentiation occurs, and 
        after 6 weeks the placenta and umbilical cord form.<br>
        - The blood of the mother and child do not mix. Instead, they 
        run parallel to each other (for diffusion).<br>
        - Oxygen and glucose will diffuse from mother to child.<br>
        - Waste products such as urea and carbon dioxide filter back to the mother to be removed. 
    </p>
    <h3>Drinking whilst pregnant</h3>
    <p>
        - There is never a safe time to drink alcohol whilst pregnant.<br>
        - Alcohol can cause miscarriages, premature births, damage to organs, 
        affect brain development, fetal alcohol syndrome (which results in facial deformities,
        problems with teeth, jaw and hearing, heart/liver problems, 
        and severe learning disabilities).<br>
        - If someone finds out that they are pregnant after drinking alcohol,
        they should stop drinking and get tested.
    </p>
    <h3>Smoking whilst pregnant</h3>
    <p>
        - One of the chemicals inside cigarette smoke is carbon monoxide (CO).<br>
        - CO is a poisonous gas, as it can bind to haemoglobin instead of oxygen, 
        reducing the amount oxygen that can reach cells of the body.<br>
        - Less oxygen is carried in mothers blood, so less oxygen will diffuse through
        the placenta, so the baby will aerobically respire less and less energy will 
        be released for growth.
    </p>
    <br>
    <h2>Effects of ionising radiation</h2>
    <p>
        - Ionising radiation is a form of electromagnetic waves.<br>
        - It is produced by the nuclear reactions of radioactive materials.<br>
        - Ionising radiation can be harmful to living organisms.<br>
        - <b>It causes damage to chromosomes, causing DNA to mutate, and is therefore 
        a carcinogen (cancer-causing).</b><br>
        - In high doses, it comes from: 
        <ul>
            <li>the sun - ultraviolet rays</li>
            <li>X-rays (doctors / dentists)</li>
            <li>radioactive material in the air, soil or water</li>
            <li>accidents in nuclear power plants or explosions from nuclear weapons</li>
        </ul>
        - You are always recieving a (small) dose of ionising radiation from your environment. 
        This is called the background radiation.
    </p>
    <br>
    <h2>2.2.7 Cancer</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=BLITE8uA4Tw">GCSE Biology Revision "Cancer"</a>
    </p>
    <p>
        - Cancer is the result of changes in cells that lead to uncontrolled growth and division.<br>
        - It is caused by a mutation in a gene, or a combination of genes, during mitosis.<br>
        - When mitosis is not regulated correctly, the cell divides uncontrollably, causing a tumour.<br>
        - Not all tumours are cancerous. <b>Benign</b> tumours are growths of abnormal cells 
        which are contained in one area, usually within a membrane. They do not invade other parts of
        the body, and are often simply removed.<br>
        - <b>Malignant</b> tumour cells are cancers. They invade neighbouring tissues and spread to 
        different parts of the body in the blood where they form secondary tumours.<br>
        - They are likely to disrupt the organ that they are in, and can spread to other organs, 
        causing many more problems.<br>
        - Malignant tumours spread through two main methods:
        <ul>
            <li>Metastasis - Cells break off from original tumour, travel through blood & grow 
            somewhere else. (Secondary growth)</li>
            <li>Angiogenesis - Development of new blood vessels</li>
        </ul>
        - This is what makes cancer so dangerous.
    </p>
    <h3>Lifestyle risk factors that cause cancer</h3>
    <p>
        <Table>
            <thead>
                <tr>
                    <th>Risk Factor</th>
                    <th>Where it causes cancer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Poor Diet (high in fat and sugar)</td>
                    <td>Liver, bowel, and kidneys</td>
                </tr>
                <tr>
                    <td>Smoking</td>
                    <td>Lungs, mouth, throat, and stomach</td>
                </tr>
                <tr>
                    <td>Alcohol</td>
                    <td>Liver, stomach, and brain</td>
                </tr>
                <tr>
                    <td>UV radiation</td>
                    <td>Skin</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <h3>Genetic risk factors that cause cancer</h3>
    <p>
        - There are also genetic risk factors that cause cancer.<br>
        - Faulty mismatch repair (MMR) genes are more likely to develop cancers of the bowel 
        and reproductive systems. MMR genes are responsible for proofing DNA and 
        making sure it is correct.<br>
        - Faulty BRCA genes are more likely to develop breast and ovarian cancer than 
        people with functioning BRCA genes. They produce proteins responsible for 
        repairing DNA damage, and so if they mutate it can cause cancer.
    </p>
    <h3>Treating Cancer</h3>
    <p>
        The primary methods for treating cancer are:
        <ul>
            <li><b>Surgery</b> - Removing the tumour from the body 
                (if it has not spread; is usually only possible if the cancer is caught early).</li>
            <li><b>Radiotherapy</b> - Using radiation to kill cancer cells. Cancer cells are 
            targeted with radiation which prevents mitosis, but can also damage healthy cells
            (although this is getting better).</li>
            <li><b>Chemotherapy</b> - Using drugs to kill cancer cells. The drugs either make 
            the cells self-destruct, or just stop them dividing. There are many different 
            types of chemotherapy. Lots of them also damage healthy cells that are rapidly 
            dividing however new drugs are being developed to target cancer cells specifically.</li>
        </ul>
    </p>
</Layout>