---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="GCSE AQA Biology 2.2 (Part 2)">
    <h1>2.2 Animal tissues, organs and organ systems</h1>
    <h2>2.2.2 (Part 1) Blood Vessels</h2>
    <p>
        Keywords: <b>Arteries, Veins, Capillaries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=Wx-MrhlOFMk">GCSE Biology Revision "Arteries, Veins and Capillaries"</a>
    </p>
    <p>
        <b>Arteries:</b> Transport blood away from the heart to the rest of the body.
        Usually at high pressure.<br>
        <b>Veins:</b> Transport blood from the rest of the body back to the heart.
        They have valves to prevent blood from flowing the wrong way. Usually at
        low pressure.<br>
        <b>Capillaries:</b> The smallest blood vessels, they are responsible for
        the exchange of oxygen and nutrients between the blood and tissues. They
        are a single layer of endothelial cells, which minimise the diffusion distance
        for oxygen and carbon dioxide. They also have pores that allow blood plasma
        to leak out and form tissue fluid. They link artieries to veins.
    </p>
    <h3>Structure of Blood Vessels</h3>
    <p>
        - The walls of each type of blood vessel relate to the function of the
        vessel.<br>
        - Blood flows through the lumen of a blood vessel; the artieries have thicker
        walls and have a smaller lumen, the veins have thinner walls and a larger
        lumen.<br>
        - The walls of the vessels are made of collagen, smooth muscle, and elastic
        fibres. The fibres allow expansion and recoil which allows the vessels to
        push blood along, which (in artieries) maintains a high blood pressure.
    </p>
    <Table>
        <thead>
            <th>
                <td>Arteries</td>
                <td>Veins</td>
                <td>Capillaries</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Function</td>
                <td>Carry oxygenated blood away from the heart</td>
                <td>Carry deoxygenated blood back to the heart</td>
                <td>Exchange oxygen and nutrients</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>High</td>
                <td>Low</td>
                <td>Lowest</td>
            </tr>
            <tr>
                <td>Lumen Diameter</td>
                <td>Small</td>
                <td>Large</td>
                <td>One Cell Wide</td>
            </tr>
            <tr>
                <td>Wall Thickness</td>
                <td>Thick</td>
                <td>Thin</td>
                <td>Thinnest</td>
            </tr>
            <tr>
                <td>Muscle & Elastic Fibres</td>
                <td>A Lot</td>
                <td>Less</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Valves</td>
                <td>Not Present</td>
                <td>Present</td>
                <td>Not Present</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Double Circulatory System</h3>
    <p>
        - The double circulatory system is a type of blood circulation system in
        which blood passes through the heart twice during each complete circuit
        around the body.<br>
        - This system is essential for efficiently transporting oxygen and nutrients
        to cells and removing waste products.<br>
        - It works in two stages:
        <ul>
            <li>
                Pulmonary Circulation: Deoxygenated blood is pumped from the
                right side of the heart to the lungs. In the lungs, the blood
                releases carbon dioxide and picks up oxygen. The oxygenated
                blood then returns to the left side of the heart.
            </li>
            <li>
                Systemic Circulation: The left side of the heart pumps the
                oxygenated blood to the rest of the body. As the blood travels
                through the body, it delivers oxygen and nutrients to tissues
                and collects carbon dioxide and other waste products. The
                deoxygenated blood returns to the right side of the heart,
                completing the circuit.
            </li>
        </ul>
        - It is required because the body needs to maintain a constant supply of
        oxygen and nutrients; without it our blood would become too acidic.
    </p>
    <br>
    <h2>2.2.3 Blood</h2>
    <p>
        Keywords: <b>Red Blood Cells, White Blood Cells, Platelets, Plasma</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=nc_kbfjhiUo">GCSE Biology Revision "Blood"</a>
    </p>
    <h3>Red Blood Cells</h3>
    <p>
        The most common type of blood cell, they are responsible for carrying
        oxygen from the lungs to the rest of the body, and for transporting
        carbon dioxide. They contain haemoglobin, which binds to oxygen and
        carbon dioxide. They have no nucleus (to hold more oxygen), and they are
        a biconcave shape for a larger surface area so gas diffusion is quicker
        and easier. They are flexible and so can squeeze through capillaries
        more easily. As they cannot undergo mitosis (no nucleus), they are made
        in the bone marrow from adult stem cells.
    </p>
    <h3>White Blood Cells</h3>
    <p>
        They are made in lymph glands and bone marrow. They have a nucleus, and
        they fight infection and disease. They can have three different roles: <br>
        <ol>
            <li>Engulf and digest microorganisms (phagocytosis)</li>
            <li>Produce antibodies (recognition)</li>
            <li>Produce antitoxins (neutralisation)</li>
        </ol>
    </p>
    <h3>Platelets</h3>
    <p>
        These are fragments of cells made from the cytoplasm of large cells.
        They have no nucleus, and float around in the blood. They recognise
        damaged blood vessels and bind together to form clots to prevent too
        much bleeding (via enzyme reactions). They form clotting at the site of
        a wound forming a scab.
    </p>
    <h3>Plasma</h3>
    <p>
        A pale, yellow liquid made up of mainly water. It is a transport medium
        for a wide range of materials including glucose, antibodies, hormones,
        carbon dioxide, urea and blood cells. It also distributes heat around
        the body.
    </p>
    <br>
    <h2>2.2.2 (Part 2) The Heart</h2>
    <p>
        Keywords: <b>Aorta, valves, pulmonary artery, pulmonary vein, right atrium, left
            atrium, right ventricle, left ventricle, coronary arteries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=bpYaKM2hVFY">GCSE Biology Revision "The Structure of the Heart"</a>
    </p>
    <p>
        <ol>
            <li>
                Deoxygenated blood enters the right atrium through the vena
                cava.
            </li>
            <li>
                The right atrium contracts and forces the blood into the right
                ventricle.
            </li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The right ventricle contracts and forces the blood out of the
                heart through the pulmonary artery to the lungs.
            </li>
            <li>
                Oxygenated blood returns to the heart in the pulmonary vein and
                enters the left atrium.
            </li>
            <li>It contracts and forces the blood into the left ventricle.</li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The left ventricle contracts and forces the oxygenated blood out
                of the heart through the aorta, to the body.
            </li>
        </ol>
    </p>
    <img class="centreimage" src="/images/bio/heart_diagram.jpg" alt="The Heart Diagram">
    <sub><a href="https://en.wikibooks.org/wiki/GCSE_Science/The_Heart">Source</a>, under CC-BY-SA 3.0, added white background</sub>
    <p>
        - The left side is thicker than the right side because it has to push
        blood around the entire body rather than just to the lungs and back.<br>
        - The sound of your heart is made by the veins closing.<br>
        - Cardiac tissues makes up most of the heart.<br>
        - This can result in symptoms such as shortness of breath, diziness, 
        rapid heart rate, and cheat pain. This can eventually lead to heart failure.<br>
        - Faulty heart valves can be replaced with a biological valve from a human 
        donor or ones made with tissue from a pig or cow, or mechanical valve made from 
        strong, durable materials.<br>
        - This operation is usually successful. Mechanical valves last longer but can 
        cause blodo clots, but biological valves are more likely to wear out.
    </p>
    <br>
    <h3>Heart Valves</h3>
    <p>
        - Heart valves withstand a lot of pressure.<br>
        - Over time they can leak or become stiff and not open fully.<br>
        - This makes the heart less efficent.
    </p>
    <h2>2.2.4 Coronary Heart Disease</h2>
    <p>
        Keywords: <b>Coronary Arteries, Plaque, Stents, Bypass Surgery, Statins</b>
    </p>
    <p>
        - Coronary artieries: Bring oxygen to heart muscles for aerobic
        respiration to release energy, allowing the heart to contract.<br>
        - Plaque can build up on coronary artieries, causing blockage. This can cause
        pain, or coronary heart failure (a heart attack).<br>
        - From the spec:
        <blockquote>
            In coronary heart disease layers of fatty material build up inside
            the coronary arteries, narrowing them. This reduces the flow of
            blood through the coronary arteries, resulting in a lack of oxygen
            for the heart muscle. Stents are used to keep the coronary arteries
            open. Statins are widely used to reduce blood cholesterol levels
            which slows down the rate of fatty material deposit. In some people
            heart valves may become faulty, preventing the valve from opening
            fully, or the heart valve might develop a leak.<br> 
            Faulty heart valves
            can be replaced using biological or mechanical valves. In the case
            of heart failure a donor heart, or heart and lungs can be
            transplanted. Artificial hearts are occasionally used to keep
            patients alive whilst waiting for a heart transplant, or to allow
            the heart to rest as an aid to recovery.
        </blockquote>
    </p>
    <br>
    <h3>Stents</h3>
    <p>
        In the case of a stent being used:<br>
        <ul>
            <li>Metal mesh holds artery open.</li>
            <li>Deflated balloon placed under local anaesthetic.</li>
            <li>Balloon is inflated which causes the stent to unfold and open up the artery.</li>
        </ul>
        - Stents may only be used for a minor/early blockage.<br>
        - They increase blood flow in a coronary artery, there is no 
        need for general anaesthetic, short recovery time, and it's relatively cheap, 
        but it can't open very large blockages.<br>
    </p>
    <br>
    <h3>Bypass Surgery</h3>
    <p>
        - Used when blockages are too severe to use a stent.<br>
        - Narrowed artieries can be replaced (bypassed) with parts of a vein 
        (comes from other parts of the body).<br>
        - They are effective in severe blockages.<br>
        - Requires general anaesthetic, and the operation can be risky.
    </p>
    <br>
    <h3>Statins</h3>
    <p>
        - Medication given to patients with high cholesterol levels at risk 
        of coronary heart disease or after stent/bypass surgery.<br>
        - Reduces the amount of cholesterol in the blood, slowing down the 
        rate of fatty material deposition.
    </p>
</Layout>
