---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="GCSE AQA Biology 2.2 (Part 2)">
    <h1>2.2 Animal tissues, organs and organ systems</h1>
    <h2>2.2.2 (Part 1) Blood Vessels</h2>
    <p>
        Keywords: <b>Arteries, Veins, Capillaries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=Wx-MrhlOFMk">GCSE Biology Revision "Arteries, Veins and Capillaries"</a>
    </p>
    <p>
        <b>Arteries:</b> Transport blood away from the heart to the rest of the body.
        Usually at high pressure.<br>
        <b>Veins:</b> Transport blood from the rest of the body back to the heart.
        They have valves to prevent blood from flowing the wrong way. Usually at
        low pressure.<br>
        <b>Capillaries:</b> The smallest blood vessels, they are responsible for
        the exchange of oxygen and nutrients between the blood and tissues. They
        are a single layer of endothelial cells, which minimise the diffusion distance
        for oxygen and carbon dioxide. They also have pores that allow blood plasma
        to leak out and form tissue fluid. They link artieries to veins.
    </p>
    <h3>Structure of Blood Vessels</h3>
    <p>
        - The walls of each type of blood vessel relate to the function of the
        vessel.<br>
        - Blood flows through the lumen of a blood vessel; the artieries have thicker
        walls and have a smaller lumen, the veins have thinner walls and a larger
        lumen.<br>
        - The walls of the vessels are made of collagen, smooth muscle, and elastic
        fibres. The fibres allow expansion and recoil which allows the vessels to
        push blood along, which (in artieries) maintains a high blood pressure.
    </p>
    <Table>
        <thead>
            <th>
                <td>Arteries</td>
                <td>Veins</td>
                <td>Capillaries</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Function</td>
                <td>Carry oxygenated blood away from the heart</td>
                <td>Carry deoxygenated blood back to the heart</td>
                <td>Exchange oxygen and nutrients</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>High</td>
                <td>Low</td>
                <td>Lowest</td>
            </tr>
            <tr>
                <td>Lumen Diameter</td>
                <td>Small</td>
                <td>Large</td>
                <td>One Cell Wide</td>
            </tr>
            <tr>
                <td>Wall Thickness</td>
                <td>Thick</td>
                <td>Thin</td>
                <td>Thinnest</td>
            </tr>
            <tr>
                <td>Muscle & Elastic Fibres</td>
                <td>A Lot</td>
                <td>Less</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Valves</td>
                <td>Not Present</td>
                <td>Present</td>
                <td>Not Present</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Double Circulatory System</h3>
    <p>
        - The double circulatory system is a type of blood circulation system in
        which blood passes through the heart twice during each complete circuit
        around the body.<br>
        - This system is essential for efficiently transporting oxygen and nutrients
        to cells and removing waste products.<br>
        - It works in two stages:
        <ul>
            <li>
                Pulmonary Circulation: Deoxygenated blood is pumped from the
                right side of the heart to the lungs. In the lungs, the blood
                releases carbon dioxide and picks up oxygen. The oxygenated
                blood then returns to the left side of the heart.
            </li>
            <li>
                Systemic Circulation: The left side of the heart pumps the
                oxygenated blood to the rest of the body. As the blood travels
                through the body, it delivers oxygen and nutrients to tissues
                and collects carbon dioxide and other waste products. The
                deoxygenated blood returns to the right side of the heart,
                completing the circuit.
            </li>
        </ul>
        - It is required because the body needs to maintain a constant supply of
        oxygen and nutrients; without it our blood would become too acidic.
    </p>
    <br>
    <h2>2.2.3 Blood</h2>
    <p>
        Keywords: <b>Red Blood Cells, White Blood Cells, Platelets, Plasma</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=nc_kbfjhiUo">GCSE Biology Revision "Blood"</a>
    </p>
    <h3>Red Blood Cells</h3>
    <p>
        The most common type of blood cell, they are responsible for carrying
        oxygen from the lungs to the rest of the body, and for transporting
        carbon dioxide. They contain haemoglobin, which binds to oxygen and
        carbon dioxide. They have no nucleus (to hold more oxygen), and they are
        a biconcave shape for a larger surface area so gas diffusion is quicker
        and easier. They are flexible and so can squeeze through capillaries
        more easily. As they cannot undergo mitosis (no nucleus), they are made
        in the bone marrow from adult stem cells.
    </p>
    <h3>White Blood Cells</h3>
    <p>
        They are made in lymph glands and bone marrow. They have a nucleus, and
        they fight infection and disease. They can have three different roles: <br>
        <ol>
            <li>Engulf and digest microorganisms (phagocytosis)</li>
            <li>Produce antibodies (recognition)</li>
            <li>Produce antitoxins (neutralisation)</li>
        </ol>
    </p>
    <h3>Platelets</h3>
    <p>
        These are fragments of cells made from the cytoplasm of large cells.
        They have no nucleus, and float around in the blood. They recognise
        damaged blood vessels and bind together to form clots to prevent too
        much bleeding (via enzyme reactions). They form clotting at the site of
        a wound forming a scab.
    </p>
    <h3>Plasma</h3>
    <p>
        A pale, yellow liquid made up of mainly water. It is a transport medium
        for a wide range of materials including glucose, antibodies, hormones,
        carbon dioxide, urea and blood cells. It also distributes heat around
        the body.
    </p>
    <br>
    <h2>2.2.2 (Part 2) The Heart</h2>
    <p>
        Keywords: <b>Aorta, valves, pulmonary artery, pulmonary vein, right atrium, left
            atrium, right ventricle, left ventricle, coronary arteries</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=bpYaKM2hVFY">GCSE Biology Revision "The Structure of the Heart"</a>
    </p>
    <p>
        <ol>
            <li>
                Deoxygenated blood enters the right atrium through the vena
                cava.
            </li>
            <li>
                The right atrium contracts and forces the blood into the right
                ventricle.
            </li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The right ventricle contracts and forces the blood out of the
                heart through the pulmonary artery to the lungs.
            </li>
            <li>
                Oxygenated blood returns to the heart in the pulmonary vein and
                enters the left atrium.
            </li>
            <li>It contracts and forces the blood into the left ventricle.</li>
            <li>Valves close and stop the blood flowing backwards.</li>
            <li>
                The left ventricle contracts and forces the oxygenated blood out
                of the heart through the aorta, to the body.
            </li>
        </ol>
    </p>
    <img class="centreimage" src="/images/bio/heart_diagram.jpg" alt="The Heart Diagram">
    <sub><a href="https://en.wikibooks.org/wiki/GCSE_Science/The_Heart">Source</a>, under CC-BY-SA 3.0, added white background</sub>
    <p>
        - The left side is thicker than the right side because it has to push
        blood around the entire body rather than just to the lungs and back.<br>
        - The sound of your heart is made by the veins closing.<br>
        - Cardiac tissues makes up most of the heart.<br>
        - This can result in symptoms such as shortness of breath, diziness, 
        rapid heart rate, and cheat pain. This can eventually lead to heart failure.<br>
        - Faulty heart valves can be replaced with a biological valve from a human 
        donor or ones made with tissue from a pig or cow, or mechanical valve made from 
        strong, durable materials.<br>
        - This operation is usually successful. Mechanical valves last longer but can 
        cause blodo clots, but biological valves are more likely to wear out.
    </p>
    <br>
    <h3>Heart Valves</h3>
    <p>
        - Heart valves withstand a lot of pressure.<br>
        - Over time they can leak or become stiff and not open fully.<br>
        - This makes the heart less efficent.
    </p>
    <h2>2.2.4 Coronary Heart Disease</h2>
    <p>
        Keywords: <b>Coronary Arteries, Plaque, Stents, Bypass Surgery, Statins</b>
    </p>
    <p>
        - Coronary artieries: Bring oxygen to heart muscles for aerobic
        respiration to release energy, allowing the heart to contract.<br>
        - Plaque can build up on coronary artieries, causing blockage. This can cause
        pain, or coronary heart failure (a heart attack).<br>
        - From the spec:
        <blockquote>
            In coronary heart disease layers of fatty material build up inside
            the coronary arteries, narrowing them. This reduces the flow of
            blood through the coronary arteries, resulting in a lack of oxygen
            for the heart muscle. Stents are used to keep the coronary arteries
            open. Statins are widely used to reduce blood cholesterol levels
            which slows down the rate of fatty material deposit. In some people
            heart valves may become faulty, preventing the valve from opening
            fully, or the heart valve might develop a leak.<br> 
            Faulty heart valves
            can be replaced using biological or mechanical valves. In the case
            of heart failure a donor heart, or heart and lungs can be
            transplanted. Artificial hearts are occasionally used to keep
            patients alive whilst waiting for a heart transplant, or to allow
            the heart to rest as an aid to recovery.
        </blockquote>
    </p>
    <br>
    <h3>Stents</h3>
    <p>
        In the case of a stent being used:<br>
        <ul>
            <li>Metal mesh holds artery open.</li>
            <li>Deflated balloon placed under local anaesthetic.</li>
            <li>Balloon is inflated which causes the stent to unfold and open up the artery.</li>
        </ul>
        - Stents may only be used for a minor/early blockage.<br>
        - They increase blood flow in a coronary artery, there is no 
        need for general anaesthetic, short recovery time, and it's relatively cheap, 
        but it can't open very large blockages.<br>
    </p>
    <br>
    <h3>Bypass Surgery</h3>
    <p>
        - Used when blockages are too severe to use a stent.<br>
        - Narrowed artieries can be replaced (bypassed) with parts of a vein 
        (comes from other parts of the body).<br>
        - They are effective in severe blockages.<br>
        - Requires general anaesthetic, and the operation can be risky.
    </p>
    <br>
    <h3>Statins</h3>
    <p>
        - Medication given to patients with high cholesterol levels at risk 
        of coronary heart disease or after stent/bypass surgery.<br>
        - Reduces the amount of cholesterol in the blood, slowing down the 
        rate of fatty material deposition.
    </p>
    <br>
    <h2>Pacemakers and Artificial Hearts</h2>
    <p>
        Keywords: <b>Pacemakers, Artificial Hearts, Heart Transplants</b>
    </p>
    <h3>The Heart's Natural Pacemaker</h3>
    <p>
        - The natural pacemaker in the heart keeps you heart rate at roughly 
        70 beats per minute, but this can of course go up or down depending
        on a multitude of factors.<br>
        - It is located in the right atrium and is connected to the septum.<br>
        - Small electronic shocks are sent around the heart which causes it to beat.
    </p>
    <h3>Artificial Pacemakers</h3>
    <p>
        - Sometimes the natural pacemaker in the heart can become faulty. This 
        can result in a too slow heart rate, which means there is not enough 
        oxygen and/or glucose for respiration; or a too fast heart rate, which
        can cause damage to blood vessels and tissues.<br>
        - An artificial pacemaker can be used to correct this. 
        They are small electronic device attaches to the heart.
        Wires send small electronic signals to the heart
        which allows it to contract.<br>
        - The device is implanted just under the collarbone, and 
        leads are connected to the heart through a vein.<br>
        - Some send impulses all the time, while others only send impulses when needed.<br>
        - Pacemakers need to be kept away from strong magnetic fields which can interfere 
        with them.
    </p>
    <h3>Heart Transplants</h3>
    <p>
        - Sometimes a heart may fail completely and only two options are available:
        a donor heart or an artificial heart.<br>
        - Donor hearts are taken from people who have recently died (you are automatically 
        an organ donor when you turn 18, although you can opt out).<br>
        - Donor hearts are preferable but waiting lists are very long and the tissues must 
        match to reduce the chance of rejection.<br>
        - Artificial hearts are cheaper and quicker to get, but they can't be used 
        for a long time. They are also not as effective as a donor heart.<br>
        - They are used to keep patients alive while waiting for a heart transplant, 
        or to allow the heart to rest during recovery.
    </p>
    <h4>Advantages and Disadvantages of Artificial Hearts</h4>
    <Table>
        <thead>
            <th>Advantages</th>
            <th>Disadvantages</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Can be used to keep patients alive whilst waiting for a heart transplant.</li>
                        <li>Can be used to allow the heart to rest during recovery.</li>
                        <li>Cheaper and easier to get.</li>
                        <li>A donor is not needed.</li>
                        <li>A tissue match is not required.</li>
                        <li>The use of immunosuppressant drugs which would usually be used during heart transplants are not needed.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Can't be used for a long time.</li>
                        <li>Less effective than a donor heart.</li>
                        <li>Must be powered through a battery.</li>
                        <li>Device has a limited lifespan and itself may have to be repaired.</li>
                        <li>They are very expensive to support and keep running.</li>
                        <li>Can cause discomfort due to needing a controller and battery.</li>
                        <li>Anticoagulants are needed to prevent blood clots.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Breathing and Gas Exchange</h2>
    <p>
        Keywords: Trachea, Alveoli, Bronchus, Bronchioles, Intercostal muscles, Ribs, Bronchus, Lung, Diaphragm<br>
        FSL: <a href="https://www.youtube.com/watch?v=aPUPfzsqDgs">GCSE Biology Revision "Gas Exchange in the Lungs"</a>
    </p>
    <img class="centreimage" src="/images/bio/lungs.jpg" alt="Lung Diagram">
    <sub><a href="http://pgsgcsepe.wikispaces.com/The+demands+of+performance">Source</a> (dead link but i still have to cite it, 
    yes i hate that its comic sans, no i wont fix it)</sub><br><br>
    <Table>
        <tbody>
            <tr>
                <td>Trachea</td>
                <td>The tube that carries air from the lungs to your mouth. Also called the windpipe.</td>
            </tr>
            <tr>
                <td>Intercostal muscles</td>
                <td>Muscles between the ribs which control movement (the ones that cause 
                    inhalation and exhalation).</td>
            </tr>
            <tr>
                <td>Ribs</td>
                <td>The bones that support and protect the lungs. Moves up and out then 
                    down and in when breathing.</td>
            </tr>
            <tr>
                <td>Diaphragm</td>
                <td>Sheet of connective tissue and muscle at the bottom of the thorax. Changes 
                    the thorax's volume to aid in inhalation and exhalation.</td>
                </td>
            </tr>
            <tr>
                <td>Bronchus</td>
                <td>Long tubes that come off the trachea (one for each lung). Carry air 
                    to the lungs.</td>
                </td>
            </tr>
            <tr>
                <td>Bronchioles</td>
                <td>Smaller tubes off the Bronchi that carry air to the alveoli.</td>
            </tr>
            <tr>
                <td>Alveoli</td>
                <td>Tiny moist air sacs with very thin (one cell thick for a short diffusion distance)
                    walls where gas exchange occurs. There are lots of them to optimise surface area
                    for gas exchange. They also require a good blood supply (for a steep concentration gradient).</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <p>
        Breathing in:
        <ol>
            <li>Diaphragm contracts (flattens).</li>
            <li>Simultaneously, the intercostal muscles contract (pulls ribs 
                up and out).</li>
            <li>Volume of thorax increases.</li>
            <li>Pressure decreases (to lower than the air outside).</li>
            <li>Air is forced into the lungs.</li>
        </ol>
        Breathing out:
        <ol>
            <li>Diaphragm relaxes (dome shape).</li>
            <li>Simultaneously, intercostal muscles relax (pulls ribs down and in).</li>
            <li>Volume of thorax decreases.</li>
            <li>Pressure increases (to higher than the air outside).</li>
            <li>Air is forced out of the lungs.</li>
        </ol>
    </p>
    <h3>Emphysema</h3>
    <p>
        - Emphysema is a condition where alveoli rupture and get holes in them.<br>
        - It shows itself through shortness of breath, coughing, chest tightness,
        alveoli rupture, reduced surface area for gas exchange, and it leads to larger holes.
    </p>
</Layout>