---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="GCSE AQA Biology 2.3 (Plants tissues, organs and systems)">
    <h1>2.3 Plants, tissues, organs and systems</h1>
    <h2>2.3.1 Plant tissues</h2>
    <p>
        Keywords: <b>Choloroplasts, spongy mesophyll, lower epidermis, cuticle,
        upper epidermis, guard cells, xylem, palisade layer, stomata, pholem</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=2BR1zdMBhY4">GCSE Biology Revision "Plant Tissues"</a>
    </p>
    <p>
        - A leaf is an example of an organ. This is how it is comprised:
        <img class="centreimage" src="/images/bio/leaf_structure.jpg" alt="Leaf Structure">
        <sub><a href="https://en.wikipedia.org/wiki/File:Leaf_Structure.svg">Source</a>, under CC-BY-SA 3.0, added white background</sub>
    </p>
    <Table>
        <tr>
            <td>Choloroplasts</td>
            <td>Contains chlorophyll, which is used to make glucose from 
                carbon dioxide and water using sunlight.</td>
        </tr>
        <tr>
            <td>Spongy mesophyll</td>
            <td>Contains air spaces that increase the surface area for gas exchange.</td>
        </tr>
        <tr>
            <td>Lower epidermis</td>
            <td>Contains guard cells and stomata.</td>
        </tr>
        <tr>
            <td>Cuticle</td>
            <td>Waxy layer on top of the leaf, prevents water from evaporating.</td>
        </tr>
        <tr>
            <td>Upper epidermis</td>
            <td>Thin and transparent layer that allows light to enter the palisade layer underneath; 
                produces the waxy cuticle.</td>
        </tr>
        <tr>
            <td>Guard cells</td>
            <td>Absorbs and loses water to open the stomata during the 
                day and close it during the night to reduce water loss.</td>
        </tr>
        <tr>
            <td>Xylem</td>
            <td>Transports water into the leaf from the roots for mesophyll 
                cells to use in photosynthesis and transpiration in stomata.</td>
        </tr>
        <tr>
            <td>Palisade layer</td>
            <td>Column shaped cells close together that contain chloroplasts to absorb 
                more light and maximise photosynthesis.</td>
        </tr>
        <tr>
            <td>Stomata</td>
            <td>Where gas exchange and evaporation of water takes place. Found in 
                higher concentrations on the underside of the leaf.</td>
        </tr>
        <tr>
            <td>Pholem</td>
            <td>Transports sucrose and amino acids from the leaf to other plants of the plant.</td>
        </tr>
    </Table>
</Layout>