---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="GCSE AQA Biology 2.3 (Plants tissues, organs and systems)">
    <h1>2.3 Plants, tissues, organs and systems</h1>
    <h2>2.3.1 Plant tissues</h2>
    <p>
        Keywords: <b>Choloroplasts, spongy mesophyll, lower epidermis, cuticle,
        upper epidermis, guard cells, xylem, palisade layer, stomata, pholem</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=2BR1zdMBhY4">GCSE Biology Revision "Plant Tissues"</a>
    </p>
    <p>
        - A leaf is an example of an organ. This is how it is comprised:
        <img class="centreimage" src="/images/bio/leaf_structure.jpg" alt="Leaf Structure">
        <sub><a href="https://en.wikipedia.org/wiki/File:Leaf_Structure.svg">Source</a>, under CC-BY-SA 3.0, added white background</sub>
    </p>
    <Table>
        <tr>
            <td>Choloroplasts</td>
            <td>Contains chlorophyll, which is used to make glucose from 
                carbon dioxide and water using sunlight.</td>
        </tr>
        <tr>
            <td>Spongy mesophyll</td>
            <td>Contains air spaces that increase the surface area for gas exchange.</td>
        </tr>
        <tr>
            <td>Lower epidermis</td>
            <td>Contains guard cells and stomata.</td>
        </tr>
        <tr>
            <td>Cuticle</td>
            <td>Waxy layer on top of the leaf, prevents water from evaporating.</td>
        </tr>
        <tr>
            <td>Upper epidermis</td>
            <td>Thin and transparent layer that allows light to enter the palisade layer underneath; 
                produces the waxy cuticle.</td>
        </tr>
        <tr>
            <td>Guard cells</td>
            <td>Absorbs and loses water to open the stomata during the 
                day and close it during the night to reduce water loss.</td>
        </tr>
        <tr>
            <td>Xylem</td>
            <td>Transports water into the leaf from the roots for mesophyll 
                cells to use in photosynthesis and transpiration in stomata.</td>
        </tr>
        <tr>
            <td>Palisade layer</td>
            <td>Column shaped cells close together that contain chloroplasts to absorb 
                more light and maximise photosynthesis.</td>
        </tr>
        <tr>
            <td>Stomata</td>
            <td>Where gas exchange and evaporation of water takes place. Found in 
                higher concentrations on the underside of the leaf.</td>
        </tr>
        <tr>
            <td>Phloem</td>
            <td>Transports sucrose and amino acids from the leaf to other plants of the plant.</td>
        </tr>
    </Table>
    <br>
    <h2>Transport Systems in Plants</h2>
    <p>
        Keywords: <b>Phloem, Xylem</b>
    </p>
    <p>
        - Plants require mineral ions and water from the soil.<br>
        - Water enters root hair cells using osmosis.<br>
        - Mineral ions enter root hair cells using active transport.<br>
        - Mineral ions dissolve in water which moves through the xylem vessel.<br>
        - Products of photosynthesis are glucose and oxygen.<br>
        - These products are used for aerobic respiration.<br>
        - Products of photosynthesis (collectively cell sap) reach all 
        parts of the plant via the phloem vessel.
    </p>
    <h4>Structure of Xylem and Phloem</h4>
    <img class="centreimage" src="/images/bio/xylem_and_phloem_structure.jpg" alt="Structure of Xylem and Phloem">
    <br>
    <Table>
        <thead>
            <tr>
                <th>Xylem</th>
                <th>Phloem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Transports water and mineral ions</td>
                <td>Transports glucose only</td>
            </tr>
            <tr>
                <td>Transpiration stream</td>
                <td>Translocation</td>
            </tr>
            <tr>
                <td>Dead cells - no cell content</td>
                <td>Alive cells</td>
            </tr>
            <tr>
                <td>No cytoplasm</td>
                <td>Thin layer of cytoplasm</td>
            </tr>
            <tr>
                <td>Lignin in cell walls give strength (makes it waterproof)</td>
                <td>No lignin</td>
            </tr>
            <tr>
                <td>No end walls</td>
                <td>Sieve plates with pores instead of end walls</td>
            </tr>
            <tr>
                <td>Movement is upwards only (from roots to leaves)</td>
                <td>Movement is in all directions</td>
            </tr>
        </tbody>
    </Table>
    <sub><a href="https://courses.lumenlearning.com/ivytech-bio1-1/chapter/photosynthates/">Source</a>, unmodified</sub>
    <p>
        - Xylem and ploem tissues form vascular bundles. These are in: 
        <ul>
            <li>Root: Vascular bundles in the centre of the root. This 
                resists forces that could pull the plant ot of the ground.</li>
            <li>Stem: Vasular bundles near the edge of the stem. Phloem is on the 
                outside and xylem on the inside. Resists bending caused by the wind.</li>
        </ul>
    </p>
    <h4>Stem Vascular Bundle</h4>
    <img class="centreimage" src="/images/bio/stem_bundle.jpeg" alt="Stem vascular bundle">
    <sub><a href="https://courses.lumenlearning.com/boundless-biology/chapter/stems/">Source</a>, unmodified</sub>
    <h4>Root Vascular Bundle</h4>
    <img class="centreimage" src="/images/bio/root_bundle.jpg" alt="Root vascular bundle">
    <sub><a href="https://courses.lumenlearning.com/boundless-biology/chapter/root/">Source</a>, unmodified</sub>
    <br>
    <h2>Transpiration</h2>
    <p>
        Keywords: <b>Transpiration, Transpiration Stream, Evaporation, Xylem, Osmosis, Root Hair Cell</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=9yTDokLRZs0">GCSE Biology Revision "Transpiration"</a>
    </p>
    <p>
        <b>Transpiration:</b>  The process by which water is lost 
        from the plant as water vapour at the surfaces of the 
        mesophyll cells is lost. This is followed by diffusion of water 
        vapour via the stomata.<br>
        <b>Transpiration Stream:</b> The transpiration stream is when 
        water is drawn up through the xylem from the roots via osmosis 
        and is then transported to the leaves, causing transpiration.
    </p>
    <h3>Transpiration as a process</h3>
    <ul>
        <li>The guard cells open the stomata to let in carbon dioxide.</li>
        <li>Air around the plant <i>usually</i> contains less water than the 
        cells of the plant, so water evaporates. This means that when it is 
        really humid, transpiration is greatly reduced.</li>
        <li>Water evaporates from the leaf underside causing more water to 
            be pulled up through the xylem to the leaves.</li>
        <li>No energy is required.</li>
    </ul>
    <h3>How guard cells open the stomata</h3>
    <p>
        When opening:
        <ul>
            <li>Water moves into guard cells by osmosis.</li>
            <li>Guard cells to plump and turgid.</li>
            <li>Stomata open.</li>
        </ul>
        When closing:
        <ul>
            <li>Water moves out of guard cells by osmosis.</li>
            <li>Guard cells to flat and flaccid.</li>
            <li>Stomata close.</li>
        </ul>
    </p>
    <h3>Measuring water loss: Potometer</h3>
    <p>
        - A potometer measures the uptake of water in different conditions.<br>
        - A bubble moves along a tube depending on how much water the plant has 
        taken up (the plant gets its water from the tube).
    </p>
    <h3>Controlling water loss</h3>
    <p>
        <b>Waxy Cuticle:</b> Prevents uncontrolled water loss.<br>
        <b>Stomata on Underside of Leaf:</b> Not in direct sunloght to 
        minimise evaporation.<br>
        <b>When a plant loses more water than the roots can replace: </b>
        <ul>
            <li>Plant will wilt.</li>
            <li>Vacuole shrinks.</li>
            <li>Cells become floppy causing plant to collapse.</li>
        </ul>
        <sub>(plasmolysis)</sub>
    </p>
    <h3>Factors that effect transpiration</h3>
    <p>
        <b>Temperature:</b> Higher temperatures cause transpiration to be 
        increased as the air can hold more water and there is more energy 
        for water molecules to evaporate.<br>
        <b>Humidity:</b> Higher humidity causes transpiration to be 
        reduced as the air already has more water and so diffusion is slower.<br>
        <b>Light Intensity:</b> Higher light intensity causes transpiration 
        to be increased as more stomata are open (for more photosynthesis).<br>
        <b>Wind:</b> If it is more windy, transpiration is increased by maintaining 
        a steep concentration gradient.
    </p>
</Layout>