---
import Layout from '../../../../../layouts/Layout.astro';
const workspacePath = "src/pages/gcse/aqa/ch/9/1.astro";
---

<Layout title="9.1 The composition and evolution of the Earth's atmosphere" path={workspacePath}>
    <h1>9.1 The composition and evolution of the Earth's atmosphere</h1>
    <h2>9.1.1 The proportions of different gases in the atmosphere</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        - For 200 million years, the proportions of different gases in the atmosphere have been much 
        the same as they are today:
        <ul>
            <li>about four-fifths (approximately 80%) nitrogen (actually 78.08%).</li>
            <li>about one-fifth (approximately 20%) oxygen (actually 20.95%).</li>
            <li>small proportions of various other gases, including argon (0.93%) carbon
            dioxide (0.04%), water vapour (1% at sea level) and noble gases.</li>
        </ul>
    </p>
    <br>
    <h2>9.1.2 The Earth's early atmosphere</h2>
    <p>
        - The earth was formed about 4.6 billion years ago and its early atmosphere was probably
        formed about 4.0 billion years ago.<br>
        - Theories about what was in the Earth's early atmosphere and how it was formed have changed
        and developed over time as new evidence has become available.<br>
        - Evidence for theh early atmosphere is limited because of the long time scales involved and the fact
        that rocks from billions of years ago are scarce.<br>
        - There are a number of different theories as to how the atmosphere evolved.
    </p>
    <br>
    <h3>Volcanoes</h3>
    <p>
        - The earliest atmosphere was probably formed by gases being released from volcanoes.<br>
        - At the start of this period the Earth’s atmosphere may have been like the atmospheres of Mars and
        Venus today, made up mainly of carbon dioxide with virtually no oxygen and small amounts of other 
        gases such as methane and ammonia.<br>
        - The volcanoes would have also released water vapour which condensed to form the oceans as the Earth cooled 
        <sub>(from <a href="https://www.youtube.com/watch?v=xuCn8ux2gbs">history of the entire world i guess</a>: "severe flooding 
        alert, the entire world is now an ocean")</sub>.<br>
        - Volcanoes would also have released nitrogen which gradually built up in the atmosphere over time.<br>
        - NH<sub>2</sub> is inert due to the strong triple bond between the nitrogen atoms, so it would have remained in the atmosphere rather 
        than reacting with things on the surface (like oxygen did).<br>
        - When the oceans formed, carbon dioxide dissolved in the water and carbonates were precipitated producing 
        sediments, reducing the amount of carbon dioxide in the atmosphere.
    </p>
    <br>
    <h2>9.1.3 How oxygen increased</h2>
    <p>
        - Algae and plants produced the oxygen that is now in the atmosphere by photosynthesis, <s>which can be 
        represented by the equation</s> <sub><b>shush aqa ive seen this so many times before</b></sub><br>
        - Algae first produced oxygen about 2.7 billion years ago.<br>
        - Over the next billion years plants evolved and the amount of oxygen in the atmosphere gradually increased to
        the point where animals could evolve.<br>
        - Many of the earliest living organisms were anaerobic (did not use oxygen for respiration) because there was 
        little or no oxygen in the atmosphere.<br>
        - Plenty of these die if exposed to too much oxygen, so either died out or survived in places such as rotting tissue.<br>
        - Oxygen would have reacted with methane and ammonia reducing their levels:<br>
        <code>CH<sub>4</sub> + 2O<sub>2</sub> &rarr; CO<sub>2</sub> + 2H<sub>2</sub>O</code><br>
        <code>4NH<sub>3</sub> + 3O<sub>3</sub> &rarr; 2H<sub>2</sub> + 6H<sub>2</sub>O</code><br>
        - Oxygen would have also formed ozone (O<sub>3</sub>) in the upper atmosphere ~500 million years ago which
        helped to block harmful ultraviolet (UV) radiation from the Sun, allowing animals to evolve on land.<br>
        - When UV light from the Sun strikes oxygen molecules (O₂), it splits them into individual oxygen atoms.<br>
        - These free oxygen atoms can then react with unbroken O₂ molecules to form ozone (O₃). 
    </p>
    <br>
    <h2>9.1.4 How carbon dioxide decreased</h2>
    <p>
        - Algae and plants decreased the percentage of carbon dioxide in the atmosphere by photosynthesis.<br>
        - Some of the carbon from the carbon dioxide in the atmosphere became locked up in fossil fuels (coal, crude 
        oil, gas) and sedimentary rocks such as limestone.<br>
        - Coal, a sedimentary rock, formed from thick plant deposits (mostly trees) that were buried and heated over millions of years.<br>
        - Coal cannot be formed in this manner today as decomposers and detritivores would break down the plant material before it could be buried.<br>
        - Crude oil and gas formed from the remains of plankton that were buried under sediments on the seabed, compressed over millions of years.<br>
        - Limestone is made mainly from calcium carbonate, CaCO<sub>3</sub>. The calcium carbonate is formed when marine animals
        use calcium ions and carbonate ions to form their shells and skeletons. When these animals die, their shells and skeletons
        get buried on the seabed and over millions of years form limestone.
    </p>
</Layout>