---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
const workspacePath = "src/pages/gcse/aqa/ch/9/2.astro";
---

<Layout title="9.2 Carbon dioxide and methane as greenhouse gases" path={workspacePath}>
    <h1>9.2 Carbon dioxide and methane as greenhouse gases</h1>
    <h2>9.2.1 Greenhouse Gases</h2>
    <p>
        - Greenhouse gases in the atmosphere maintain temperatures high enough on Earth to support life.<br>
        - These include carbon dioxide, water vapour, and methane.<br>
        - Methane is sigificantly more potent than methane, but carbon dioxide lasts longer in the atmosphere (methane 
        will slowly react with oxygen).<br>
        - Shorter-wavelength radiation (e.g. UV) can pass through the atmosphere, and is absorbed by the Earth, warming the surface.<br>
        - The warm surface re-emits longer wavelength radiation (infrared).<br>
        - Longer-wavelength radiation (e.g. infrared) is absorbed and re-radiated in all directions by greenhouse gases, trapping the heat.
    </p>
    <br>
    <h2>9.2.2 Human activities which contribute to an increase in greenhouse gases in the atmosphere</h2>
    <p>
        - Some human activities increase the amount of greenhouse gases in the atmosphere, enhancing the greenhouse effect and contributing to global warming.<br>
        - The main human activities which contribute to an increase in greenhouse gases in the atmosphere are:<br>
        &emsp;• Burning fossil fuels (e.g. coal, oil, natural gas) for energy releases carbon dioxide.<br>
        &emsp;• Deforestation reduces the number of trees that can absorb carbon dioxide for photosynthesis.<br>
        &emsp;• Agriculture, particularly livestock farming, produces methane through enteric fermentation in ruminant animals.<br>
        &emsp;• Landfill sites produce methane as organic waste decomposes anaerobically.<br>
        - Based on peer-reviewed evidence, many scientists believe that human activities will cause the temperature of the Earth’s
        atmosphere to increase at the surface and that this will result in global climate change. (idk why aqa words it like this,
        climate change is clear and present).<br>
        - However, it is difficult to model such complex systems as global climate change.<br>
        - This leads to simplified models, speculation and opinions presented in the media that may be based on only parts of the evidence and which may be biased.<br>
        - For example, Nigel Farage has said "I haven’t got a clue whether climate change is being driven by carbon-dioxide emissions" even though the scientific consensus is that it is.
    </p>
    <br>
    <h2>9.2.3 Global climate change & 9.2.4 The carbon footprint and its reduction</h2>
    <p>
        - <b>Climate change</b>: Caused by global warming; it is the change in global weather patterns caused by increased greenhouse gases in the Earth’s atmosphere.<br>
        - <b>Greenhouse effect</b>: The absorbing of energy by gases in the atmosphere, such as carbon dioxide and methane, which keeps the Earth warmer than it would be otherwise..<br>
        - <b>Global warming</b>: The gradual increase in the Earth’s mean air temperature at the surface of the Earth; it happens as a result of the enhanced greenhouse effect when extra carbon dioxide and methane are added to the Earth’s atmosphere.<br>
    </p>
    <br>
    <h3>Effects of climate change</h3>
    <Table>
        <thead>
            <th>Effect</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>Rising sea levels</td>
                <td>This is caused by melting ice caps and the expansion of warmer oceans. The arctic ice
                    cap appears to be shrinking, for example, by 2.2 million km<sup>2</sup> since 1974. As water
                    gets warmer, it expands.</td>
            </tr>
            <tr>
                <td>Extreme weather events</td>
                <td>Increased frequency and intensity (e.g. more frequent and severe storms). For example,
                    tropical storms now have more energy due to warmer oceans.</td>
            </tr>
            <tr>
                <td>Changes in temperature and rainfall</td>
                <td>This could have impacts on the food-producing capacity of different regions.
                    People have speculated that dry areas will get drier and wet areas will get wetter 
                    (especially rainforests during monsoon season).</td>
            </tr>
            <tr>
                <td>Changes to wildlife distribution</td>
                <td>Climate change leads to some species becoming extinct. Rapid changes in the global 
                    climate will put ecosystems around the world under stress. Animals will be moving further
                    north if possible to chase correct temperatures.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>A Carbon Footprint</h3>
    <p>
        - A carbon footprint is the total amount of carbon dixoide and other greenhouse gasess emitted over the full life cycle of a product, service or event.<br>
        - It includes emissions from the production, transportation, use and disposal of the product or service.<br>
        - The carbon footprint can be reduced by reducing emissions of carbon dioxide and methane.<br>
        - This can be achieved by:<br>
        <ul>
            <li>Reducing meat and animal product intake</li>
            <li>Using energy-efficient appliances</li>
            <li>Buying less stuff (seriously, just buy less)</li>
            <li>Using public transport and walking / cycling whereever possible</li>
            <li>Switching to a renewable energy provider</li>
            <li>Installing solar panels (and battery!)</li>
        </ul>
    </p>
</Layout>