---
import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="9.2 Carbon dioxide and methane as greenhouse gases">
    <h1>9.2 Carbon dioxide and methane as greenhouse gases</h1>
    <h2>9.2.1 Greenhouse Gases</h2>
</Layout>