---
import Layout from '../../../../../layouts/Layout.astro';
const workspacePath = "src/pages/gcse/aqa/ch/9/3.astro";
---

<Layout title="9.3 Common atmospheric pollutants and their sources" path={workspacePath}>
    <h1>9.3 Common atmospheric pollutants and their sources</h1>
    <h2>9.3.1 Atmospheric pollutants from fuels & 9.3.2 Properties and effects of atmospheric pollutants</h2>
    <p>
        <b>Fuel</b>: A substance that is burned to release a large amount of heat.<br>
        <b>Complete combustion</b>: When a hydrocarbon reacts with excess oxygen to produce carbon dioxide and water only.<br>
        <b>Incomplete combustion</b>: When a hydrocarbon reacts with limited oxygen to produce carbon monoxide, carbon (soot) and water.
    </p>
    <p>
        - The combustion of fuels is a major source of atmospheric pollutants.<br>
        - Most fuels (coal, petrol, gas, etc) contain carbon and/or hydrogen and may also contain some sulphur.<br>
        - The gases released into the atmosphere when fuels are burned include:<br>
        &emsp;• Carbon dioxide (CO<sub>2</sub>) - causes global warming; produced by complete combustion of hydrocarbons.<br>
        &emsp;• Water vapour (H<sub>2</sub>O) - produced by complete combustion of hydrocarbons.<br>
        &emsp;• Carbon monoxide (CO) - a toxic, colourless, odourless gas produced by incomplete combustion of hydrocarbons.<br>
        &emsp;• Carbon (soot) - causes health problems and global dimming; produced by incomplete combustion of hydrocarbons.<br>
        &emsp;• Sulphur dioxide (SO<sub>2</sub>) - causes acid rain and respiratory problems; produced by the combustion of fuels containing sulphur impurities.<br>
        &emsp;• Nitrogen oxides (NO<sub>x</sub>) - causes acid rain and respiratory problems; produced by the reaction of nitrogen and oxygen in the air at the high temperatures inside engines.
    </p>
    <p>
        - Sulphur and nitrogen oxides can dissolve in water to form dilute acids, which fall to the ground as acid rain.<br>
        - Acid rain can damage buildings, statues and harm trees and aquatic life in lakes.<br>
        - Catalytic converters in car exhausts help to reduce nitrogen oxide emissions by converting them into nitrogen and oxygen.<br>
        - The Large Combustion Plant Directive (LCPD) requring flue-gas desulphurisation (where the exhaust gas from coal power stations
        has sulphur removed) and the use of alternative energy sources help to reduce sulphur dioxide emissions from power stations.<br>
        - Carbon monoxide is dangerous because it binds to haemoglobin in red blood cells, reducing the blood's ability 
        to carry oxygen around the body, which can lead to fainting, coma or death.<br>
        - Catalytic converters also help to reduce carbon monoxide emissions by converting it into carbon dioxide.<br>
        - Soot can cause respiratory problems and global dimming by reducing the amount of sunlight reaching the Earth's surface.
    </p>
</Layout>