---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="AIC quotes">
    <h1>AIC quotes</h1>
    <h2>Act 1</h2>
    <Table>
        <thead>
            <tr>
                <th>Quote</th>
                <th>Significance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>“Eric is in his early twenties, not quite at ease, half shy, half assertive.”</td>
                <td>trying out different identities, discovery. doesn't really know what he wants to do with his life.</td>
            </tr>
            <tr>
                <td>“[The Titanic is] unsinkable, absolutely unsinkable [...] facts like that, progress like that.”</td>
                <td>Birling is shown to be overconfident, arrogant, and defensive. This creates dramatic irony with the audience 
                    as the play is set two weeks before the Titanic sinks and the audience know this.</td>
            </tr>
            <tr>
                <td>“I might find my way onto the next Honours List. Just a knighthood of course.”</td>
                <td>Shows what Mr Birling really cares about, more than people’s lives. He only cares about his status and 
                    perception &ndash; he wants to rub shoulders with the upper class/old money.</td>
            </tr>
            <tr>
                <td>“Community and all that nonsense. [...] A man has to mind his own business and look 
                    after himself and his own - and -”... “We hear a sharp ring of a front door bell.”</td>
                <td>Dramatic irony, timing. Birling is using his classic lines of argument right as the Inspector arrives.</td>
            </tr>
            <tr>
                <td>“Have a glass of port - or a little whisky?”...“No, thank you, Mr Birling. I’m on duty.”</td>
                <td>Breaks the rule of agreement. The Inspector shows himself to be very different from the other "police".</td>
            </tr>
            <tr>
                <td>“They could go and work somewhere else.”...“It isn’t if you can’t go and work somewhere else.”</td>
                <td>Eric chimes in with this statement, challenging Mr Birling and by extension capitalist ideals.</td>
            </tr>
            <tr>
                <td>“Well, don’t tell me that’s because I discharged her from my employment nearly two years ago.”</td>
                <td>Mr Birling does not care at all, and cannot see what he did wrong. He thinks the Inspector is spouting 
                    nonsense.</td>
            </tr>
            <tr>
                <td>“But these girls aren’t cheap labour - they’re people.”</td>
                <td>Sheila is agreeing with the Inspector, showing that she has not yet been indoctrinated with capitalism 
                    and actually cares about the working class.</td>
            </tr>
            <tr>
                <td>“So I’m really responsible? [...] It was my own fault.”</td>
                <td>Sheila, in contrast with Mr Birling, accepts total responsibility quickly.</td>
            </tr>
            <tr>
                <td>“Now listen, darling…” </td>
                <td>Gerald is leaning towards the older generation.</td>
            </tr>
        </tbody>
</Layout>