---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="GCSE AQA English">
    <h1>English Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        - Just an AIC summary atm, this will _not_ be completed with everything, kinda ever. Just what I 
        need to revise.
    </p>
    <h2>Quotations</h2>
    <p>
        <a href="aic/">AIC</a><br>
        <a href="poetry/">Poetry (power and conflict)</a>
    </p>
</Layout>