---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="Jekyll and Hyde">
    <h1>Jekyll and Hyde</h1>
    <h2>Summary</h2>
    <p>
        <ol>
            <li>Mr Utterson, a London lawyer, learns that Dr. Jekyll has created a strange will leaving everything to
                Mr. Hyde.</li>
            <li>Utterson becomes curious about Hyde’s connection to Jekyll and asks Jekyll’s servants about him.</li>
            <li>Poole, Jekyll’s butler, describes Hyde as a repulsive, violent man and recounts a case of a maid being
                trampled.</li>
            <li>Utterson confronts Hyde after a witness identifies him, and Hyde urgently pays off a cheque to avoid
                scandal.</li>
            <li>Sir Danvers Carew is murdered by Hyde, shocking London and prompting a manhunt.</li>
            <li>Hyde vanishes; evidence suggests he used Jekyll’s laboratory and might have access to Jekyll’s wealth.
            </li>
            <li>Jekyll reassures Utterson that Hyde will disappear, but he grows reclusive and frequently secludes
                himself in the lab.</li>
            <li>Poole becomes alarmed by the sounds from Jekyll’s lab and enlists Utterson to investigate.</li>
            <li>They discover Hyde dead from suicide, dressed in Jekyll’s clothes, clutching a letter addressed to
                Utterson.</li>
            <li>The letter reveals Jekyll’s experiments with a potion that transformed him into Hyde, freeing him from
                conscience.</li>
            <li>Jekyll writes that Hyde’s personality grew stronger, forcing him to transform involuntarily.</li>
            <li>The narrative ends with Jekyll’s confession that he could not control the shifts and is forced into
                being Hyde for the final time as he cannot transform back.</li>
        </ol>
    </p>
    <br>
    <h2>Chapter 1</h2>
    <p>
        Chapter 1 of "Dr. Jekyll and Mr. Hyde," titled "The Story of the Door," introduces Mr. Utterson and Mr. Enfield as 
        they discuss a mysterious incident involving a man named Hyde who trampled a young girl. This chapter sets the tone 
        for the novella, highlighting themes of duality and the nature of evil.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Though he enjoyed the theatre, had not crossed the doors of one for 20 years"</td>
                <td>Utterson does not indulge in leisures / passions / frivolty. This shows him upholding Victorian Repression and 
                    social expectations. He does not suffer the hypocrisy of the Victorian gentleman who indulges in secret vices.</td>
                <td>Repression, Uprightness</td>
            </tr>
            <tr>
                <td>"I let my brother go to the devil in his own day [...] last good influence"</td>
                <td>This is foreshadowing - Utterson is a moral compass, representing the last good influence in Jekyll's life. This highlights Utterson's role 
                    as a guardian of morality and societal norms. Utterson will not stop you if you do something wrong and will take a 
                    blind eye, giving you privacy - he does not, <i>usually</i>, want to find out more.</td>
                <td>Friendship, Morality, Reputation</td>
            </tr>
            <tr>
                <td>"A certain sinister block of building thrust forward its gable on the street [...] prolonged and sordid negligence"</td>
                <td>This is Hyde's house - it shows how he is evil, mysterious, and careless. This is the opposite of Jekyll’s front entrance, 
                    showing the duality of Jekyll and Hyde. Jekyll's presentation is civilised and respectable. Hyde's house is the back of 
                Jekyll's house, representing his hidden, darker side.</td>
                <td>Duality of Human Nature, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"I had taken a loathing to him at first sight. [...] I saw that Sawbones turn sick and white with desire to kill him"</td>
                <td>Hyde is immediately repulsive to anyone who looks at him, as his pure evil shows itself. The "Sawbones" (doctor) who is 
                    "as emotional as a bagpipe" is affected by Hyde's evil presence, indicating that Hyde's malevolence is palpable and can influence even the most
                    purely rational individuals.</td>
                </td>
                <td>Appearance vs Reality, Evil</td>
            </tr>
            <tr>
                <td>"trampled calmly"</td>
                <td>The oxymoron "trampled calmly" highlights Hyde's complete lack of empathy and his capacity for violence without remorse.</td>
                <td>Violence, Duality of Human Nature</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 2</h2>
    <p>
        Chapter 2, titled "Search for Mr. Hyde,", is where Utterson stakes out Hyde's house and confronts him. Hyde is unhelpful.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"If he be Mr. Hyde, I shall be Mr. Seek"</td>
                <td>This is the opposite of how Utterson usually behaves - he is usually reserved and cautious, but here he is determined to uncover the truth about Hyde.</td>
                <td>Investigation, Duty vs Curiosity</td>
            </tr>
            <tr>
                <td>"He began to go wrong, wrong in mind [...] unscientific balderdash"</td>
                <td>Hyde is incompatible with Victorian society. He is magical and supernatural rather than scientific and rational, which Victorian society valued.</td>
                <td>Science vs Supernatural, Alienation</td>
            </tr>
            <tr>
                <td>"there would stand by his side a figure to whom power was given, and [...] he must rise and do its bidding"</td>
                <td>Hyde is a fiend that has power of Jekyll, foreshadowing the eventual involuntary transformations.</td>
                <td>Loss of Control, Inner Duality</td>
            </tr>
            <tr>
                <td>"Satan's signature"</td>
                <td>Moral state changes upon the appearance of Hyde; visible characteristics can reflect inner moral state, in this case evil.</td>
                <td>Good vs Evil, Moral Integrity</td>
            </tr>
            <tr>
                <td>"Decayed from their high estate [...] map engravers, architects, shady lawyers"</td>
                <td>This shows disdain towards the middle class and how they are looked down upon, even if they're working decent jobs. Utterson is distinguished from "shady" lawyers, showing his uprightness and morality.</td>
                <td>Class, Social Respectability</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 3</h2>
    <p>
        In Chapter 3, titled "Dr. Jekyll Was Quite at Ease," Dr. Jekyll hosts a dinner and Utterson confronts Jekyll while they are alone.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Dr Jekyll was quite at ease"</td>
                <td>Until now Jekyll was in absentium; described but not present. He has so far been presented as a victim, friend, respectable doctor, and a scientist. 
                    However, he has been described by Lanyon as "wrong in mind", which contrasts with this description of him being "at ease". This foreshadows the revelation of his dual nature.</td>
                <td>Duality of Human Nature, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"a large, well-made, smooth-faced man of fifty"</td>
                <td>This is the opposite of Hyde, as Jekyll is mostly good compared to evil and the good site has been more nutured though the years.</td>
                <td>Duality of Human Nature, Good vs Evil</td>
            </tr>
            <tr>
                <td>"slyish cast perhaps, but every mark of capacity and kindness"</td>
                <td>Jekyll is hiding something; he has a mischevious look on his face. No one is entirely good or evil, but Jekyll is more good than evil.</td>
                <td>Good vs Evil, Duality, Appearance vs Reality, idk the other ones that seem to be this whole chapter</td>
            </tr>
            <tr>
                <td>"hide-bound pedant [...] ignorant, blatant pedant"</td>
                <td>Repetition of pedant - Lanyon follows the rules too strongly. To Jekyll, breaking the rules a small amount does not matter. Jekyll thinks he is restricted,
                    Lanyon thinks that Jekyll is reckless. Jekyll wants to progress, but with risk.</td>
                <td>Science vs Supernatural, Progress vs Tradition</td>
            </tr>
            <tr>
                <td>"the moment I choose, I can be rid of Mr Hyde [...] I wish you to promise me that you will bear with him and get his rights for him"</td>
                <td>This is a contradiction by Jekyll - he claims he can rid himself of Hyde at any moment, yet asks Utterson to be patient and tolerant 
                    towards Hyde, suggesting he is worried that he may lose control of the transformations and wants a backup anyway. "I'm in control. But if I'm 
                    <i>not</i> in control, do this."</td>
                <td>Control vs Chaos, Duality of Human Nature</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 4</h2>
    <p>
        In Chapter 4, "The Carew Murder Case", Hyde murders Carew and Utterson takes the police to Hyde's house.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"ape-like fury [...] bones were audibly shattered"</td>
                <td>This description emphasizes the brutal and animalistic nature of Hyde's attack on Carew, highlighting the theme of savagery and loss of humanity. 
                    Hyde is portrayed as less than quite human - evil is more primitive than good.</td>
                <td>Violence, Savagery, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"[the cane] had broken under the stress of this insensate cruelty"</td>
                <td>This shows the extreme violence of Hyde's attack, as even the cane, a well-made and sturdy object, could not withstand the force of his brutality.
                    The cane breaking symbolises the breaking of societal norms and the unleashing of primal instincts.</td>
                <td>Violence, Savagery, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"the first fog of the season"</td>
                <td>Fog during mysterious and important moments is a bit of a theme in Jekyll and Hyde. This is using pathetic fallacy to reflect the unclear and ominous events.</td>
                <td>Mystery, Uncertainty, Atmosphere</td>
            </tr>
            <tr>
                <td>"an evil face, smoothed by hypocrisy"</td>
                <td>The use of "smoothed" is a nod to Jekyll. There is a lie covering up evil with evil.</td>
                <td>Appearance vs Reality, Deception, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"Recently and hurriedly ransacked"</td>
                <td>This shows Hyde's desperation to escape capture, indicating his awareness of the consequences of his actions and his desire to avoid justice. This also shows 
                    his sheer recklessness - more extreme than Jekyll's, but this shows how evil is a side of Jekyll.</td>
                <td>Desperation, Fear, Consequences</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Chapter 5</h2>
    <p>
        In Chapter 5, "Incident of the Letter," Jekyll has turned into Hyde in public and hides in a hotle. Hyde mesages for the medicine to be given 
        to him via Poole and Lanyon. Utterson and Guest discover that the handwriting on the letter from Hyde is identical to Jekyll's.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Incident of the Letter"</td>
                <td>Epistolary - a story written in letters. This links to bias and the unreliable narrator - questioning authenticity and accuacy.</td>
                <td>Perspective, Reliability, Truth vs Perception</td>
            </tr>
            <tr>
                <td>"The fog began to lie thickly"</td>
                <td>Oh look, more fog! What a surprise! Anyway yeah pathetic fallacy yadda yadda im tired qwq</td>
                <td>Mystery, Uncertainty, Atmosphere</td>
            </tr>
            <tr>
                <td>"I swear to God I will never set eyes on him again"</td>
                <td>"God" - moral dimension; determination. Jekyll wants to get rid of Hyde - "deliver us from evil". Jekyll is no longer in control and is 
                    badly deterioritating. The good in him is deterioritating to the evil.</td>
                <td>Good vs Evil, Inner Conflict, Desperation</td>
            </tr>
            <tr>
                <td>"murderer's autograph"</td>
                <td>Calling the handwriting a "murderer's autograph" turns a neutral forensic detail into moral condemnationL: treating the signature as 
                    incontrovertible proof of guilt. The phrase both sensationalises and dehumanises Hyde, links a physical trace to inner 
                    corruption, and foreshadows the novel’s revelation about identity and culpability, reinforcing themes of duality and the collapse of outward respectability.</td>
                <td>Identity, Guilt, Duality, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"Henry Jekyll forge for a murderer! And his blood ran cold in his veins."</td>
                <td>Especially combining this with "murderer's autograph" highlights the shock and horror of Jekyll's transformation and the moral implications of his actions.
                    Utterson discovers that Jekyll's connection to Hyde is not over yet - Jekyll has to be hiding more.</td>
            </tr>
        </thead>
    </Table>
</Layout>