---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="Jekyll and Hyde">
    <h1>Jekyll and Hyde</h1>
    <h2>Summary</h2>
    <p>
        <ol>
            <li>Mr Utterson, a London lawyer, learns that Dr. Jekyll has created a strange will leaving everything to
                Mr. Hyde.</li>
            <li>Utterson becomes curious about Hyde’s connection to Jekyll and asks Jekyll’s servants about him.</li>
            <li>Poole, Jekyll’s butler, describes Hyde as a repulsive, violent man and recounts a case of a maid being
                trampled.</li>
            <li>Utterson confronts Hyde after a witness identifies him, and Hyde urgently pays off a cheque to avoid
                scandal.</li>
            <li>Sir Danvers Carew is murdered by Hyde, shocking London and prompting a manhunt.</li>
            <li>Hyde vanishes; evidence suggests he used Jekyll’s laboratory and might have access to Jekyll’s wealth.
            </li>
            <li>Jekyll reassures Utterson that Hyde will disappear, but he grows reclusive and frequently secludes
                himself in the lab.</li>
            <li>Poole becomes alarmed by the sounds from Jekyll’s lab and enlists Utterson to investigate.</li>
            <li>They discover Hyde dead from suicide, dressed in Jekyll’s clothes, clutching a letter addressed to
                Utterson.</li>
            <li>The letter reveals Jekyll’s experiments with a potion that transformed him into Hyde, freeing him from
                conscience.</li>
            <li>Jekyll writes that Hyde’s personality grew stronger, forcing him to transform involuntarily.</li>
            <li>The narrative ends with Jekyll’s confession that he could not control the shifts and is forced into
                being Hyde for the final time as he cannot transform back.</li>
        </ol>
    </p>
    <br>
    <h2>Chapter 1</h2>
    <p>
        Chapter 1 of "Dr. Jekyll and Mr. Hyde," titled "The Story of the Door," introduces Mr. Utterson and Mr. Enfield as 
        they discuss a mysterious incident involving a man named Hyde who trampled a young girl. This chapter sets the tone 
        for the novella, highlighting themes of duality and the nature of evil.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Though he enjoyed the theatre, had not crossed the doors of one for 20 years"</td>
                <td>Utterson does not indulge in leisures / passions / frivolty. This shows him upholding Victorian Repression and 
                    social expectations. He does not suffer the hypocrisy of the Victorian gentleman who indulges in secret vices.</td>
                <td>Repression, Uprightness</td>
            </tr>
            <tr>
                <td>"I let my brother go to the devil in his own day [...] last good influence"</td>
                <td>This is foreshadowing - Utterson is a moral compass, representing the last good influence in Jekyll's life. This highlights Utterson's role 
                    as a guardian of morality and societal norms. Utterson will not stop you if you do something wrong and will take a 
                    blind eye, giving you privacy - he does not, <i>usually</i>, want to find out more.</td>
                <td>Friendship, Morality, Reputation</td>
            </tr>
            <tr>
                <td>"A certain sinister block of building thrust forward its gable on the street [...] prolonged and sordid negligence"</td>
                <td>This is Hyde's house - it shows how he is evil, mysterious, and careless. This is the opposite of Jekyll’s front entrance, 
                    showing the duality of Jekyll and Hyde. Jekyll's presentation is civilised and respectable. Hyde's house is the back of 
                Jekyll's house, representing his hidden, darker side.</td>
            </tr>
            <tr>
                <td>"I had taken a loathing to him at first sight. [...] I saw that Sawbones turn sick and white with desire to kill him"</td>
                <td>Hyde is immediately repulsive to anyone who looks at him, as his pure evil shows itself. The "Sawbones" (doctor) who is 
                    "as emotional as a bagpipe" is affected by Hyde's evil presence, indicating that Hyde's malevolence is palpable and can influence even the most
                    purely rational individuals.</td>
                </td>
                <td>Appearance vs Reality, Evil</td>
            </tr>
            <tr>
                <td>"trampled calmly"</td>
                <td>The oxymoron "trampled calmly" highlights Hyde's complete lack of empathy and his capacity for violence without remorse.</td>
                <td>Violence, Duality of Human Nature</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 2</h2>
    <p>
        Chapter 2, titled "Search for Mr. Hyde,", is where Utterson stakes out Hyde's house and confronts him. Hyde is unhelpful.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"If he be Mr. Hyde, I shall be Mr. Seek"</td>
                <td>This is the opposite of how Utterson usually behaves - he is usually reserved and cautious, but here he is determined to uncover the truth about Hyde.</td>
                <td>Investigation, Duty vs Curiosity</td>
            </tr>
            <tr>
                <td>"He began to go wrong, wrong in mind [...] unscientific balderdash"</td>
                <td>Hyde is incompatible with Victorian society. He is magical and supernatural rather than scientific and rational, which Victorian society valued.</td>
                <td>Science vs Supernatural, Alienation</td>
            </tr>
            <tr>
                <td>"there would stand by his side a figure to whom power was given, and [...] he must rise and do its bidding"</td>
                <td>Hyde is a fiend that has power of Jekyll, foreshadowing the eventual involuntary transformations.</td>
                <td>Loss of Control, Inner Duality</td>
            </tr>
            <tr>
                <td>"Satan's signature"</td>
                <td>Moral state changes upon the appearance of Hyde; visible characteristics can reflect inner moral state, in this case evil.</td>
                <td>Good vs Evil, Moral Integrity</td>
            </tr>
            <tr>
                <td>"Decayed from their high estate [...] map engravers, architects, shady lawyers"</td>
                <td>This shows disdain towards the middle class and how they are looked down upon, even if they're working decent jobs. Utterson is distinguished from "shady" lawyers, showing his uprightness and morality.</td>
                <td>Class, Social Respectability</td>
            </tr>
        </thead>
    </Table>
</Layout>