---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="Jekyll and Hyde">
    <h1>Jekyll and Hyde</h1>
    <h2>Summary</h2>
    <p>
        <ol>
            <li>Mr Utterson, a London lawyer, learns that Dr. Jekyll has created a strange will leaving everything to
                Mr. Hyde.</li>
            <li>Utterson becomes curious about Hyde’s connection to Jekyll and asks Jekyll’s servants about him.</li>
            <li>Poole, Jekyll’s butler, describes Hyde as a repulsive, violent man and recounts a case of a maid being
                trampled.</li>
            <li>Utterson confronts Hyde after a witness identifies him, and Hyde urgently pays off a cheque to avoid
                scandal.</li>
            <li>Sir Danvers Carew is murdered by Hyde, shocking London and prompting a manhunt.</li>
            <li>Hyde vanishes; evidence suggests he used Jekyll’s laboratory and might have access to Jekyll’s wealth.
            </li>
            <li>Jekyll reassures Utterson that Hyde will disappear, but he grows reclusive and frequently secludes
                himself in the lab.</li>
            <li>Poole becomes alarmed by the sounds from Jekyll’s lab and enlists Utterson to investigate.</li>
            <li>They discover Hyde dead from suicide, dressed in Jekyll’s clothes, clutching a letter addressed to
                Utterson.</li>
            <li>The letter reveals Jekyll’s experiments with a potion that transformed him into Hyde, freeing him from
                conscience.</li>
            <li>Jekyll writes that Hyde’s personality grew stronger, forcing him to transform involuntarily.</li>
            <li>The narrative ends with Jekyll’s confession that he could not control the shifts and is forced into
                being Hyde for the final time as he cannot transform back.</li>
        </ol>
    </p>
    <br>
    <h2>Chapter 1</h2>
    <p>
        Chapter 1 of "Dr. Jekyll and Mr. Hyde," titled "The Story of the Door," introduces Mr. Utterson and Mr. Enfield as 
        they discuss a mysterious incident involving a man named Hyde who trampled a young girl. This chapter sets the tone 
        for the novella, highlighting themes of duality and the nature of evil.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Though he enjoyed the theatre, had not crossed the doors of one for 20 years"</td>
                <td>Utterson does not indulge in leisures / passions / frivolty. This shows him upholding Victorian Repression and 
                    social expectations. He does not suffer the hypocrisy of the Victorian gentleman who indulges in secret vices.</td>
                <td>Repression, Uprightness</td>
            </tr>
            <tr>
                <td>"I let my brother go to the devil in his own day [...] last good influence"</td>
                <td>This is foreshadowing - Utterson is a moral compass, representing the last good influence in Jekyll's life. This highlights Utterson's role 
                    as a guardian of morality and societal norms. Utterson will not stop you if you do something wrong and will take a 
                    blind eye, giving you privacy - he does not, <i>usually</i>, want to find out more.</td>
                <td>Friendship, Morality, Reputation</td>
            </tr>
            <tr>
                <td>"A certain sinister block of building thrust forward its gable on the street [...] prolonged and sordid negligence"</td>
                <td>This is Hyde's house - it shows how he is evil, mysterious, and careless. This is the opposite of Jekyll’s front entrance, 
                    showing the duality of Jekyll and Hyde. Jekyll's presentation is civilised and respectable. Hyde's house is the back of 
                Jekyll's house, representing his hidden, darker side.</td>
                <td>Duality of Human Nature, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"I had taken a loathing to him at first sight. [...] I saw that Sawbones turn sick and white with desire to kill him"</td>
                <td>Hyde is immediately repulsive to anyone who looks at him, as his pure evil shows itself. The "Sawbones" (doctor) who is 
                    "as emotional as a bagpipe" is affected by Hyde's evil presence, indicating that Hyde's malevolence is palpable and can influence even the most
                    purely rational individuals.</td>
                </td>
                <td>Appearance vs Reality, Evil</td>
            </tr>
            <tr>
                <td>"trampled calmly"</td>
                <td>The oxymoron "trampled calmly" highlights Hyde's complete lack of empathy and his capacity for violence without remorse.</td>
                <td>Violence, Duality of Human Nature</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 2</h2>
    <p>
        Chapter 2, titled "Search for Mr. Hyde,", is where Utterson stakes out Hyde's house and confronts him. Hyde is unhelpful.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"If he be Mr. Hyde, I shall be Mr. Seek"</td>
                <td>This is the opposite of how Utterson usually behaves - he is usually reserved and cautious, but here he is determined to uncover the truth about Hyde.</td>
                <td>Investigation, Duty vs Curiosity</td>
            </tr>
            <tr>
                <td>"He began to go wrong, wrong in mind [...] unscientific balderdash"</td>
                <td>Hyde is incompatible with Victorian society. He is magical and supernatural rather than scientific and rational, which Victorian society valued.</td>
                <td>Science vs Supernatural, Alienation</td>
            </tr>
            <tr>
                <td>"there would stand by his side a figure to whom power was given, and [...] he must rise and do its bidding"</td>
                <td>Hyde is a fiend that has power of Jekyll, foreshadowing the eventual involuntary transformations.</td>
                <td>Loss of Control, Inner Duality</td>
            </tr>
            <tr>
                <td>"Satan's signature"</td>
                <td>Moral state changes upon the appearance of Hyde; visible characteristics can reflect inner moral state, in this case evil.</td>
                <td>Good vs Evil, Moral Integrity</td>
            </tr>
            <tr>
                <td>"Decayed from their high estate [...] map engravers, architects, shady lawyers"</td>
                <td>This shows disdain towards the middle class and how they are looked down upon, even if they're working decent jobs. Utterson is distinguished from "shady" lawyers, showing his uprightness and morality.</td>
                <td>Class, Social Respectability</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 3</h2>
    <p>
        In Chapter 3, titled "Dr. Jekyll Was Quite at Ease," Dr. Jekyll hosts a dinner and Utterson confronts Jekyll while they are alone.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Dr Jekyll was quite at ease"</td>
                <td>Until now Jekyll was in absentium; described but not present. He has so far been presented as a victim, friend, respectable doctor, and a scientist. 
                    However, he has been described by Lanyon as "wrong in mind", which contrasts with this description of him being "at ease". This foreshadows the revelation of his dual nature.</td>
                <td>Duality of Human Nature, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"a large, well-made, smooth-faced man of fifty"</td>
                <td>This is the opposite of Hyde, as Jekyll is mostly good compared to evil and the good site has been more nutured though the years.</td>
                <td>Duality of Human Nature, Good vs Evil</td>
            </tr>
            <tr>
                <td>"slyish cast perhaps, but every mark of capacity and kindness"</td>
                <td>Jekyll is hiding something; he has a mischevious look on his face. No one is entirely good or evil, but Jekyll is more good than evil.</td>
                <td>Good vs Evil, Duality, Appearance vs Reality, idk the other ones that seem to be this whole chapter</td>
            </tr>
            <tr>
                <td>"hide-bound pedant [...] ignorant, blatant pedant"</td>
                <td>Repetition of pedant - Lanyon follows the rules too strongly. To Jekyll, breaking the rules a small amount does not matter. Jekyll thinks he is restricted,
                    Lanyon thinks that Jekyll is reckless. Jekyll wants to progress, but with risk.</td>
                <td>Science vs Supernatural, Progress vs Tradition</td>
            </tr>
            <tr>
                <td>"the moment I choose, I can be rid of Mr Hyde [...] I wish you to promise me that you will bear with him and get his rights for him"</td>
                <td>This is a contradiction by Jekyll - he claims he can rid himself of Hyde at any moment, yet asks Utterson to be patient and tolerant 
                    towards Hyde, suggesting he is worried that he may lose control of the transformations and wants a backup anyway. "I'm in control. But if I'm 
                    <i>not</i> in control, do this."</td>
                <td>Control vs Chaos, Duality of Human Nature</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 4</h2>
    <p>
        In Chapter 4, "The Carew Murder Case", Hyde murders Carew and Utterson takes the police to Hyde's house.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"ape-like fury [...] bones were audibly shattered"</td>
                <td>This description emphasizes the brutal and animalistic nature of Hyde's attack on Carew, highlighting the theme of savagery and loss of humanity. 
                    Hyde is portrayed as less than quite human - evil is more primitive than good.</td>
                <td>Violence, Savagery, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"[the cane] had broken under the stress of this insensate cruelty"</td>
                <td>This shows the extreme violence of Hyde's attack, as even the cane, a well-made and sturdy object, could not withstand the force of his brutality.
                    The cane breaking symbolises the breaking of societal norms and the unleashing of primal instincts.</td>
                <td>Violence, Savagery, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"the first fog of the season"</td>
                <td>Fog during mysterious and important moments is a bit of a theme in Jekyll and Hyde. This is using pathetic fallacy to reflect the unclear and ominous events.</td>
                <td>Mystery, Uncertainty, Atmosphere</td>
            </tr>
            <tr>
                <td>"an evil face, smoothed by hypocrisy"</td>
                <td>The use of "smoothed" is a nod to Jekyll. There is a lie covering up evil with evil.</td>
                <td>Appearance vs Reality, Deception, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"Recently and hurriedly ransacked"</td>
                <td>This shows Hyde's desperation to escape capture, indicating his awareness of the consequences of his actions and his desire to avoid justice. This also shows 
                    his sheer recklessness - more extreme than Jekyll's, but this shows how evil is a side of Jekyll.</td>
                <td>Desperation, Fear, Consequences</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Chapter 5</h2>
    <p>
        In Chapter 5, "Incident of the Letter," Jekyll has turned into Hyde in public and hides in a hotle. Hyde mesages for the medicine to be given 
        to him via Poole and Lanyon. Utterson and Guest discover that the handwriting on the letter from Hyde is identical to Jekyll's.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"Incident of the Letter"</td>
                <td>Epistolary - a story written in letters. This links to bias and the unreliable narrator - questioning authenticity and accuacy.</td>
                <td>Perspective, Reliability, Truth vs Perception</td>
            </tr>
            <tr>
                <td>"The fog began to lie thickly"</td>
                <td>Oh look, more fog! What a surprise! Anyway yeah pathetic fallacy yadda yadda im tired qwq</td>
                <td>Mystery, Uncertainty, Atmosphere</td>
            </tr>
            <tr>
                <td>"I swear to God I will never set eyes on him again"</td>
                <td>"God" - moral dimension; determination. Jekyll wants to get rid of Hyde - "deliver us from evil". Jekyll is no longer in control and is 
                    badly deterioritating. The good in him is deterioritating to the evil.</td>
                <td>Good vs Evil, Inner Conflict, Desperation</td>
            </tr>
            <tr>
                <td>"murderer's autograph"</td>
                <td>Calling the handwriting a "murderer's autograph" turns a neutral forensic detail into moral condemnationL: treating the signature as 
                    incontrovertible proof of guilt. The phrase both sensationalises and dehumanises Hyde, links a physical trace to inner 
                    corruption, and foreshadows the novel’s revelation about identity and culpability, reinforcing themes of duality and the collapse of outward respectability.</td>
                <td>Identity, Guilt, Duality, Appearance vs Reality</td>
            </tr>
            <tr>
                <td>"Henry Jekyll forge for a murderer! And his blood ran cold in his veins."</td>
                <td>Especially combining this with "murderer's autograph" highlights the shock and horror of Jekyll's transformation and the moral implications of his actions.
                    Utterson discovers that Jekyll's connection to Hyde is not over yet - Jekyll has to be hiding more.</td>
                <td>Identity, Duality, Victorian Repression (and how Utterson isn't following it for once)</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 6</h2>
    <p>
        In Chapter 6, "Remarkable Incident of Dr Lanyon", Utterson goes to see Lanyon who asks to cut ties with Jekyll. He is sick, almost dead, after recieving a "shock".
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"disreputable [...] not a whisper"</td>
                <td>Utterson has gone back to his repression and is perverting the course of justice. He has information that could lead to the mystery being solved, but he 
                    is choosing to ignore it to preserve Jekyll.</td>
                <td>Repression, Friendship vs Duty, Morality</td>
            </tr>
            <tr>
                <td>"he did good; his face seemed to open and brighten"</td>
                <td>This further shows how good and evil is shown through faces in the novel. Good is associated with openness and brightness, reflecting inner virtue and moral clarity.</td>
                <td>Good vs Evil, Appearance vs Reality, Morality</td>
            </tr>
            <tr>
                <td>"He had his death-warrant written legibly upon his face."</td>
                <td>This quotation suggests that Lanyon's fate is inevitable and visible, reflecting the theme of mortality and the consequences of forbidden knowledge. By making 
                    Lanyon die from what he saw, Stevenson highlights the dangers of delving too deeply into the unknown and giving in to evil.</td>
                <td>Mortality, Consequences, Forbidden Knowledge</td>
            </tr>
            <tr>
                <td>"I wish to see or hear no more of Dr Jekyll [...] I regard as dead."</td>
                <td>Lanyon completely severs ties with Jekyll, indicating the depth of his shock and disapproval. This reflects the theme of alienation and the consequences of 
                    Jekyll's actions on those around him.</td>
                <td>Alienation, Friendship vs Duty, Morality</td>
            </tr>
            <tr>
                <td>"If I am the chief of sinners, I am the chief of sufferers also"</td>
                <td>Jekyll knows becoming Hyde is both a moral failing and a source of personal torment, highlighting the duality of his existence and the internal 
                    conflict he experiences. Evil has consequences - and suffering (as well as eventual death) is part of the price he pays.</td>
                <td>Duality of Human Nature, Good vs Evil, Inner Conflict</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Chapter 7</h2>
    <p>
        In Chapter 7, "Incident at the Window", Utterson and Enfield see Jekyll at a window looking very ill and distressed. Jekyll quickly shuts the window when he starts 
        transforming into Hyde - Utterson and Enfield witness this but refuse to process it.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"premature twilight"</td>
                <td>Oh look! It's the fallacy de patheticness again! It's all liminal and gothic ooooohh</td>
                <td>Mystery, Uncertainty, Atmosphere</td>
            </tr>
            <tr>
                <td>"disconsolate prisoner"</td>
                <td>This is something for the reader to pity - but still foreshadowing as he will eventually be trapped as Hyde with no way back.</td>
                <td>Imprisonment, Despair, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"It will not last long"</td>
                <td>Jekyll is still in denial about the permanence of his conditions, like he is overcoming it. He has not realised yet that evil is 
                    consequential and uncontrollable.</td>
                <td>Denial, Control vs Chaos, Inner Conflict</td>
            </tr>
            <tr>
                <td>"Terror and despair, as froze the very blood"</td>
                <td>This is a metaphor; a reaction to the presence of evil. Enfield and Utterson have seen Hyde, but refuse to admit it.</td>
                <td>Terror, Denial, Presence of Evil, Willfull Ignorance</td>
            </tr>
            <tr>
                <td>"God forgive us, God forgive us"</td>
                <td>This repetition emphasizes the gravity of the situation and the moral panic caused by the events unfolding. It reflects the theme of 
                    guilt and the need for divine forgiveness in the face of evil. Jekyll has already crossed the line and will not be saved.</td>
                <td>Guilt, Religion, Moral Panic</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 8</h2>
    <p>
        In Chapter 8, "The Last Night," Poole and Utterson break into Jekyll's laboratory and discover Hyde dead, having committed suicide. They find a letter from 
        Jekyll explaining everything.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"pale moon, lying on her back as though the wind had tilted her"</td>
                <td>Y'know I'm really hoping the exam question will be focused on the weather and the liminal because if so I have a lot of great points.</td>
                <td>Pathetic Fallacy, Atmosphere, Liminality</td>
            </tr>
            <tr>
                <td>"strangling anguish; for his face was white"</td>
                <td>motif of pale / white in face description - evil makes us ill</td>
                <td>Illness, Evil</td>
            </tr>
            <tr>
                <td>"red baize of the cabinet door"</td>
                <td>the deep red heart of the operation - symbolising evil and the devil; the gateway to hell. Deep within Jekyll is Hyde.</td>
                <td>Duality of Human Nature, Good vs Evil, Inner Conflict</td>
            </tr>
            <tr>
                <td>"how do you come to have it open"</td>
                <td>This is not a letter for Poole however it is open - even during this situation Utterson still cares this much about privacy and repression - 
                    Utterson is austere to a fault.</td>
                <td>Repression, Privacy, Morality</td>
            </tr>
            <tr>
                <td>"deform the sufferer"</td>
                <td>Hyde's deformations - Utterson thinks there is just a disease and doesn't want to believe that Jekyll has done something wrong.</td>
                <td>Illness, Denial, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"your marrow kind of cold and thin"</td>
                <td>Idea of being drained - the physical and spiritual toll of Jekyll's transformation into Hyde affecting others.</td>
                <td>Exhaustion, Duality, Inner Conflict</td>
            </tr>
            <tr>
                <td>"London hummed solemnly"</td>
                <td>the fallacy really is pathetic, huh? this time, it's reflecting the sombre and eerie atmosphere of the city in response to the tragic events.</td>
                <td>Atmosphere, Pathetic Fallacy, Mood</td>
            </tr>
            <tr>
                <td>"If not by fair means, then by foul - if not of your consent, then by brute force!"</td>
                <td>This is a complete shift in Utterson from the start to the end - definitely not allowing Jekyll to "go to the devil in his own way".</td>
                <td>Friendship vs Duty, Morality, Justice</td>
            </tr>
            <tr>
                <td>"when we shall send for the police"</td>
                <td>I just want to highlight that that's a bit late there innit</td>
                <td>Justice, Duty, Morality</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Chapter 9</h2>
    <p>
        In Chapter 9, "Dr Lanyon's Narrative," Lanyon recounts the horrifying experience of witnessing Jekyll's transformation into Hyde, which ultimately leads to his death, and 
        everything that led up to it (letter etc).
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
            <tr>
                <td>"you might have charged your conscience with my death or the shipwreck of my reason"</td>
                <td>Dr. Jekyll's suggests that failing to follow his instructions could lead to dire consequences, not only for himself but also for those around him - 
                    the consequence being that he will be trapped as Hyde.</td>
                <td>Conscience, Responsibility, Consequences</td>
            </tr>
            <tr>
                <td>"double"</td>
                <td>Double quantities were needed to transform Hyde into Jekyll - this shows how it is like a drug where more and more is needed for the same effect. 
                    "Double" is also a reference to the duality of Jekyll and Hyde.</td>
                <td>Addiction, Duality of Human Nature, Inner Conflict</td>
            </tr>
            <tr>
                <td>"the cause to lie much deeper in the nature of man, and to turn on some nobler hinge than the principle of hatred"</td>
                <td>Stevenson suggests the source of Jekyll/Hyde’s tragedy is rooted in human nature itself - not mere hatred but a complex moral hinge: conscience, 
                    suppressed desire, and inner conflict that allow vice to emerge from within.</td>
                <td>Duality of human nature, Inner conflict, Repression, Moral ambiguity, Responsibility</td>
            </tr>
            <tr>
                <td>"has the greed of curiosity too much command of you? [...] prodigy to stagger the unbelief of Satan?"</td>
                <td>Hyde is speaking in riddles - like a witch - invoking dark and mysterious forces to challenge Lanyon's skepticism. Lanyon is tempted by wanting 
                    to know what happens, but it is dangerous knowledge that leads to his downfall.</td>
                <td>Curiosity, Forbidden Knowledge, Temptation</td>
            </tr> 
            <tr>
                <td>"under the seal of our profession [...] transcendental medicine"</td>
                <td>Satan tried to transcend his position like Jekyll's experiments with transcendental medicine. The "seal" is the oath to do no harm - the Hippocratic Oath.</td>
                <td>Science vs Supernatural, Morality, Hubris</td>
            </tr>
            <tr>
                <td>"tears of pentinence"</td>
                <td>He has witnessed unforgivable evil and Lanyon is punished for his curiosity.</td>
                <td>Guilt, Punishment, Consequences</td>
            </tr>
        </thead>
    </Table>
    <br>
    <h2>Chapter 10</h2>
    <p>
        In Chapter 10, "Henry Jekyll's Full Statement of the Case," Jekyll provides a detailed account of his experiments, motivations, and the consequences of his dual existence as 
        Jekyll and Hyde.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Key Quotations</th>
                <th>Analysis</th>
                <th>Themes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"impatient gaiety of disposition"</td>
                <td>Jekyll has a light-hearted, active, pleasure-seeking side that he wants to express without restraint.</td>
                <td>Duality of Human Nature, Repression vs Expression</td>
            </tr>
            <tr>
                <td>"i found it hard to reconcile with my imperious desire to carry my head high"</td>
                <td>However, Jekyll fights with his desire to be serious - he is not as good at this as Utterson and has hid his pleasures - his "profound duplicity".</td>
                <td>Duality of Human Nature, Inner Conflict, Repression vs Expression</td>
            </tr>
            <tr>
                <td>"thought of the separation of these elements [...] live would be relieved of all that was unbearable [...] agonized womb of consciousness"</td>
                <td>Hyde, not Jekyll, carries out crimes - Jekyll is trying to absolve himself of guilt. He is trying to get rid of his responsibility and consciousness - 
                    wants to break free from his public imgae, while mainatining it; he wants both, not either/or.</td>
                <td>Duality of Human Nature, Guilt, Responsibility, Repression vs Expression</td>
            </tr>
            <tr>
                <td>"the doom and burthen of our life is bound for ever on man's shoulders [...] returns upon us with more unfamiliar and more awful pressure"</td>
                <td>It is impossible to fully absolve yourself of guilt - it simply returns upon you with greater force.</td>
                <td>Guilt, Consequences, Responsibility</td>
            </tr>
            <tr>
                <td>"nine tenths a life of effort, virtue, and control, it had been much less exercised and much less exhausted"</td>
                <td>Hyde is one tenth of Jekyll - good will grow and be greater than evil, but evil can grow too.</td>
                <td>Duality of Human Nature, Good vs Evil, Consequences</td>
            </tr>
            <tr>
                <td>"Henry Jekyll, that incongruous compound [...] the movement was thus wholly towards the worse"</td>
                <td>Jekyll never brings out wholly good in a potion, he only brings out wholly evil, as he knows that a potion making him wholly good would make him 
                    never drink the potion to return to Jekyll again. The movement towards the worse shows how evil is stronger than good.</td>
                <td>Duality of Human Nature, Good vs Evil, Inner Conflict</td>
            </tr>
            <tr>
                <td>"pass away like the stain of breath upon a mirror"</td>
                <td>Hyde, at first, could simply just vanish and Jekyll could return to his normal self without consequences.</td>
                <td>Duality of Human Nature, Consequences, Inner Conflict</td>
            </tr>
            <tr>
                <td>"Hyde had grown in stature [...] the balance of my nature might be permanently overthrown"</td>
                <td>Hyde grows stronger and more dominant, threatening to permanently overpower Jekyll's original personality. Evil grows more quickly than good.</td>
                <td>Duality of Human Nature, Good vs Evil, Inner Conflict</td>
            </tr>
            <tr>
                <td>"began to be tortured with throes and longings, as of Hyde struggling after freedom"</td>
                <td>Jekyll is experiencing a kind of withdrawal and gives in to the Hyde inside him - who comes "out roaring".</td>
                <td>Addiction, Inner Conflict, Loss of Control</td>
            </tr>
            <tr>
                <td>"the problem of my conduct was solved. Hyde was thenceforth impossible"</td>
                <td>Being Hyde was no longer safe - he was confined to being Jekyll. This is a reason to not transform into Hyde, because pure morals weren't enough 
                    to stop this before.</td>
                <td>Consequences, Control vs Chaos, Inner Conflict</td>
            </tr>
            <tr>
                <td>"it was the horror of being Hyde that racked me"</td>
                <td>Jekyll, once the transformations became involuntary, was tormented by the fear and revulsion of becoming Hyde. Jekyll initially wanted freedom from 
                    control of Victorian society, but pushes this too far.</td>
                <td>Fear, Inner Conflict, Loss of Control</td>
            </tr>
            <tr>
                <td>"if I slept, it was always as Hyde that I awakened"</td>
                <td>Sublime - If any weakness is within Jekyll, Hyde takes control.</td>
                <td>Loss of Control, Inner Conflict, Duality of Human Nature</td>
            </tr>
            <tr>
                <td>"this is the last time that Henry Jekyll can think this own thoughts"</td>
                <td>Jekyll and Hyde have been battling for their soul: Hyde, and therefore evil, have won. The balance of the inner sanctum of their being has been tipped.</td>
                <td>Inner Conflict, Duality of Human Nature, Good vs Evil</td>
            </tr>
            <tr>
                <td>"this is my true hour of death [...] I bring the life of that unhappy Henry Jekyll to an end."</td>
                <td>Jekyll just fades away - cowardly death, not heroic.</td>
                <td>Death, Cowardice, Consequences</td>
            </tr>
        </tbody>
    </Table>
</Layout>