---
import Layout from "../../../../layouts/Layout.astro";
import Table from "../../../../components/Table.astro";
const workspacePath = "src/pages/gcse/aqa/eng/poetry.astro";
---

<Layout title="Poetry (Power and Conflict)" path={workspacePath}>
    <h1>Poetry (Power and Conflict)</h1>
    <h2>Ozymandias</h2>
    <h3>Key Themes</h3>
        The Transience of Power:
        <ul>
            <li>The poem illustrates how power is temporary. Ozymandias, once a mighty king, is now reduced to ruins.</li>
            <li>The inscription on the pedestal, "Look on my Works, ye Mighty, and despair!" is ironic, as it contrasts his past glory with his current state of decay.</li>
        </ul>
        Hubris and Arrogance:
        <ul>
            <li>Ozymandias embodies the arrogance of rulers who believe they can achieve immortality through their deeds.</li>
            <li>His boastful claims highlight the folly of assuming that human achievements can withstand the test of time.</li>
        </ul>
        Nature vs. Human Ambition:
        <ul>
            <li>The vast desert surrounding the statue symbolizes nature's dominance over human endeavors.</li>
            <li>The poem suggests that nature ultimately outlasts human creations, emphasising the futility of trying to control or defy it.</li>
        </ul>
        The Inevitable Decline of Civilisations:
        <ul>
            <li>The remnants of the statue serve as a reminder that all civilisations, no matter how powerful, will eventually fall.</li>
            <li>Shelley's depiction of the shattered visage reflects the decline of Ozymandias's empire and the impermanence of human legacy.</li>
        </ul>
        Artistic Interpretation and Legacy:
        <ul>
            <li>The sculptor's ability to capture Ozymandias's "sneer of cold command" suggests that art can convey deeper truths about power and character.</li>
        </ul>
        The poem raises questions about how history remembers leaders and the legacies they leave behind.
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I met a traveller from an antique land"</td>
                <td>This creates ambiguity, mystery, and intrigue. It also uses unreliable narration, as the story is told through the traveller's perspective, not the writer.</td>
            </tr>
            <tr>
                <td>"A shattered visage lies"</td>
                <td>This imagery evokes a sense of decay and ruin, highlighting the inevitable decline of all leaders and empires. This contrasts with the fact that 
                    Ozymandias was one of the greatest pharaohs of his time.</td>
            </tr>
            <tr>
                <td>"The hand that mocked them and the heart that fed"</td>
                <td>The sculptor captured Ramesses's cruel facial expression: cruelty is what remains of his legacy.</td>
            </tr>
            <tr>
                <td>"My name is Ozymandias, King of Kings: Look on my Works, ye Mighty, and despair!"</td>
                <td>This proclamation emphasizes the theme of hubris, as Ozymandias believes his achievements are unparalleled. 
                    The irony lies in the fact that all that remains of his empire is a ruined statue in the desert. 
                    The reference to 'Mighty' is referring to god: he is challenging the divine authority.</td>
            </tr>
            <tr>
                <td>"Colossal Wreck [...] lone and level sands stretch far away."</td>
                <td>The kingdom has returned to sand. This emphasises the transience of power and the inevitable decline of all leaders and empires: nature will prevail and 
                    human empires are insignificant.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "My Last Duchess" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and My Last Duchess on the abuse of power in personal relationships.<br>
        "Tissue" - both poems examine the fragility of human constructs, with Ozymandias highlighting the impermanence of empires and rulers,
        while Tissue explores the delicate nature of human life and the constructs we create to give it meaning. Both are about transience.<br>
        "Extract from The Prelude" - both poems examine human ambition and its consequences, with Ozymandias illustrating the futility of seeking 
        immortality through power, while The Prelude reflects on the impact of human actions on nature and personal growth.
    </p>
    <br>
    <h2>London</h2>
    <h3>Key Themes</h3>
    <p>
        The Oppressive Nature of Authority:
        <ul>
            <li>The poem critiques the institutions of power, such as the monarchy, the church, and the government, highlighting their role in perpetuating suffering and inequality.</li>
        </ul>
        Social Injustice and Inequality:
        <ul>
            <li>Blake exposes the stark contrast between the wealthy and the poor in London, emphasising the exploitation and neglect of the lower classes.</li>
        </ul>
        Disillusionment with Society:
        <ul>
            <li>The poem conveys a sense of despair and hopelessness about the state of society, reflecting Blake's disillusionment with the social and political conditions of his time.</li>
        </ul>
        The Impact of Industrialisation:
        <ul>
            <li>Blake critiques the dehumanising effects of industrialisation, which contributes to environmental degradation and social alienation.</li>
        </ul>
        The Role of Religion:
        <ul>
            <li>The poem questions the moral authority of religious institutions, suggesting that they contribute to societal oppression rather than offering salvation.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I wander thro' each charter'd street"</td>
                <td>The use of "chartered" suggests that the streets are "organised" and supposedly "civilised". This represents the government (authority)'s oppression and control - 
                    an organised map represents a predetermined life path.</td>
            </tr>
            <tr>
                <td>"In every cry of every man, in every infant's cry of fear, in every voice, in every ban, the mind-forg'd manacles I hear"</td>
                <td>The repetition of "every" emphasises the universality of suffering and oppression in society. 
                    The phrase "mind-forg'd manacles" suggests that the constraints on individuals are not just physical but also mental - the mind has forged its own traps 
                    due to brainwashing by authority. This also links to hopelessness and alienation: the cries are not being answered.</td>
            </tr>
            <tr>
                <td>"The chimney-sweepers cry, every black'ning church appalls"</td>
                <td>Reflects the use of child labour and the exploitation of vulnerable individuals in society. 
                    The "black'ning church" suggests that the religious institution is complicit in the suffering of the poor, and even the church itself is sinning.</td>
            </tr>
            <tr>
                <td>"The hapless soldier's sigh runs in blood down Palace walls"</td>
                <td>The monarchy are to blame - they are hypocritical and protected by the system. When the rich wage war, it is the poor who die.</td>
            </tr>
            <tr>
                <td>"Plagues the marriage hearse"</td>
                <td>Juxtaposition - marriage is a symbol of love and union, yet it is plagued by death and decay. Society is disorganised and uncontrolled - 
                    disease is still prevalent despite chartered streets, symbolising that the civilisedness of the streets are a facade. In addition to this, marriage is often seen as the 
                    precursor to starting a family - this creates the sense that any babies born are simply born to die or have their lives stripped away by the system.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Ozymandias" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and London portraying the oppressive nature of urban life under tyrannical rule.<br>
        "My Last Duchess" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and My Last Duchess on the abuse of power in personal relationships.<br>
    </p>
    <br>
    <h2>Extract from The Prelude</h2>
    <h3>Key Themes</h3>
    <p>
        Bildungsroman and Personal Growth:
        <ul>
            <li>The poem explores the narrator's journey from childhood to adulthood, highlighting the experiences that shape his identity and worldview.</li>
        </ul>
        The Power of Nature:
        <ul>
            <li>Nature is depicted as a powerful and awe-inspiring force that influences the narrator's emotions and thoughts.</li>
        </ul>
        The Sublime:
        <ul>
            <li>The poem captures moments of sublime beauty and terror in nature, evoking a sense of wonder and reverence.</li>
        </ul>
        Formative Experiences:
        <ul>
            <li>"When it all changed", the movement from childhood to adulthood. The poem exposes how thinking and understanding evolve as you grow up.</li>
        </ul>
        The Relationship between Humans and Nature:
        <ul>
            <li>The poem explores the interconnectedness of humans and the natural environment, suggesting that nature has a profound impact on human experience.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"one track of sparkling light"</td>
                <td>Mystical - foreshadows the narrator's journey into the unknown and the transformative power of nature.</td>
            </tr>
            <tr>
                <td>"a chosen point with an unswerving line, I fixed my view upon the summit"</td>
                <td>Contrasts with the mystical "sparkling light", suggesting that the narrator thinks that he is about to triumph over nature and doesn't realise what
                    is ahead of him.</td>
            </tr>
            <tr>
                <td>"silent lake [...] stroke [...] water like a swan"</td>
                <td>The simile compares the water's surface to a swan, evoking a sense of grace and tranquility in the natural scene, just before the mountain.</td>
            </tr>
            <tr>
                <td>"a huge peak, black and huge, as if with voluntary power instinct"</td>
                <td>The personification of the mountain suggests that it has a will of its own, emphasising its dominance over the narrator. It made itself known - because 
                    it's time for the narrator to grow up.</td>
            </tr>
            <tr>
                <td>"in grave and serious mood [...] undetermined sense of unknown modes of being"</td>
                <td>The phrase captures the narrator's introspective state, suggesting a deep contemplation of existence and the complexities of life. They have
                    left their childhood behind, and are now going through adolescence - their perception on the world has been changed drastically. This is a 
                    <b>formative event</b>.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Exposure" - both poems explore the relationship between humans and nature, with The Prelude highlighting the awe-inspiring power of the natural world,
        while Exposure delves into the harsh realities of nature's indifference to human suffering during war.<br>
        "Storm on the Island" - both poems depict the formidable force of nature, with The Prelude capturing moments of sublime beauty and terror,
        while Storm on the Island focuses on the relentless power of a storm and its impact on human life.
    </p>
    <br>
    <h2>My Last Duchess</h2>
    <h3>Key Themes</h3>
    <p>
        Power and Control:
        <ul>
            <li>The Duke exerts control over his late wife, the Duchess, even after her death. His possessive nature is evident in his description of her portrait and his recounting of her behavior.</li>
        </ul>
        Jealousy and Envy:
        <ul>
            <li>The Duke's jealousy is a central theme, as he resents the Duchess's friendly and appreciative nature towards others, which he perceives as a threat to his authority.</li>
        </ul>
        The Objectification of Women:
        <ul>
            <li>The poem highlights the objectification of women, as the Duke views the Duchess as a possession rather than an equal partner. This is evident in his desire to control her image and legacy.</li>
        </ul>
        The Abuse of Power:
        <ul>
            <li>The Duke's actions reflect the abuse of power, as he uses his social status to manipulate and dominate those around him, including the Duchess.</li>
        </ul>
        Slightly Psychopathic Behaviour:
        <ul>
            <li>The Duke's casual mention of the Duchess's death suggests a lack of empathy and a possible involvement in her demise, highlighting his psychopathic tendencies. Furthermore, he quickly moves past this by the end.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"'twas not her husband's presence only, called that spot of joy into the Duchess's cheek"</td>
                <td>This quotation highlights the Duke's possessive nature, as he believes that only his presence should bring joy to the Duchess. 
                    It reflects his need for control and his inability to see her as an independent individual. He gets jealous when anyone else
                    made her happy - he thinks it is flirting.</td>
            </tr>
            <tr>
                <td>"Half-flush that dies along her throat: such stuff was courtesy, she thought"</td>
                <td>This quotation suggests the Duchess's beauty and the fleeting nature of life. The "half-flush" implies a sense of vulnerability and fragility, 
                    as if her beauty is only temporary. In addition, the flush "dies", hinting that due to the blushing, death is her fate. "Such stuff was courtesy,
                    she thought" indicates that the Duchess was happy, cheerful, and appreciative, which displeased the Duke.</td>
            </tr>
            <tr>
                <td>"as if she ranked my gift of a nine-hundred-years-old name with anybody's gift"</td>
                <td>This quotation highlights the Duke's arrogance and sense of superiority. He believes that his noble lineage and status should be valued above all else,
                    and he resents the Duchess for not recognising this. It reflects his possessive nature and his desire to control how others perceive him and his family.</td>
            </tr>
            <tr>
                <td>"I gave commands; Then all smiles stopped together."</td>
                <td>This quotation reveals the Duke's authoritarian nature and his willingness to use power to control others. 
                    The phrase "I gave commands" suggests that he sees himself as a ruler, while "all smiles stopped together" implies that 
                    he has the ability to extinguish joy and happiness at will. This further emphasizes the theme of power and control in the poem.</td>
            </tr>
            <tr>
                <td>"Will't please you rise?"</td>
                <td>After explaining that he killed the Duchess, the Duke asks the visitor to rise and starts talking about what comes next, unfazed by 
                    what he just described. This shows his psychopathic tendencies and lack of empathy.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Ozymandias" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and human arrogance, and My Last Duchess on the abuse of power in personal relationships.<br>
        "London" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and My Last Duchess portraying the oppressive nature of aristocratic control.
    </p>
    <br>
    <h2>The Charge of the Light Brigade</h2>
    <h3>Key Themes</h3>
    <p>
        The Horrors of War:
        <ul>
            <li>The poem vividly depicts the chaos and brutality of battle, highlighting the physical and emotional toll on soldiers.</li>
        </ul>
        Heroism and Sacrifice:
        <ul>
            <li>Despite the futility of their mission, the soldiers are portrayed as heroic figures who bravely face overwhelming odds.</li>
        </ul>
        Duty and Obedience:
        <ul>
            <li>The poem explores the theme of duty, as the soldiers follow orders without question, even when it leads to their demise.</li>
        </ul>
        The Futility of War:
        <ul>
            <li>The poem critiques the senselessness of war, emphasising the tragic loss of life resulting from miscommunication and poor leadership.</li>
        </ul>
        The Power of Memory and Commemoration:
        <ul>
            <li>The poem serves as a tribute to the fallen soldiers, ensuring that their bravery and sacrifice are remembered.</li>
        </ul>
    </p>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Theirs not to make reply, Theirs not to reason why, Theirs but to do and die."</td>
                <td>This quotation emphasizes the theme of duty and obedience, highlighting the soldiers' unquestioning acceptance of their orders, 
                    even in the face of certain death. Many would contest the orders given to the soldiers, viewing them as misguided and ultimately fatal, 
                    but the Light Brigade, noble and brave, accepted their fate without question.</td>
            </tr>
            <tr>
                <td>"Into the mouth of Hell, rode the six hundred."</td>
                <td>This vivid imagery portrays the battlefield as a hellish landscape, showing their bravery and strength despite the overwhelming danger they face, as they 
                    ride on in anyway.</td>
            </tr>
            <tr>
                <td>"Cannon to right of them, Cannon to left of them, Cannon in front of them."</td>
                <td>This repetition emphasizes the overwhelming odds faced by the soldiers, highlighting the chaos and brutality of war.</td>
            </tr>
            <tr>
                <td>"Not the six hundred."</td>
                <td>This phrase serves as a reminder of the individual lives lost in the battle, emphasising the poem's critique of the futility of war.</td>
            </tr>
            <tr>
                <td>"When can their glory fade?"</td>
                <td>This rhetorical question underscores the theme of memory and commemoration, suggesting that the bravery of the fallen soldiers will always be remembered.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Exposure" - both poems explore the horrors of war, with The Charge of the Light Brigade highlighting the bravery and sacrifice of soldiers in battle,
        while Exposure delves into the harsh realities of war and its devastating effects on those involved.<br>
        "Bayonet Charge" - both poems depict the chaos and brutality of war, with The Charge of the Light Brigade focusing on a specific military action,
        while Bayonet Charge explores the psychological and physical experiences of a soldier in combat.
    </p>
    <br>
    <h2>Exposure</h2>
    <h3>Key Themes</h3>
    <p>
        The Horrors of War:
        <ul>
            <li>The poem vividly depicts the physical and emotional suffering of soldiers during wartime, highlighting the brutal conditions they endure.</li>
        </ul>
        Religious Imagery and Loss of Faith:
        <ul>
            <li>The poem uses religious imagery to convey the soldiers' sense of abandonment and loss of faith in the face of overwhelming adversity.</li>
        </ul>
        Nature's Indifference:
        <ul>
            <li>The poem portrays nature as an indifferent force that exacerbates the soldiers' suffering, highlighting the harsh realities of their environment.</li>
        </ul>
        Psychological Trauma:
        <ul>
            <li>The poem explores the mental anguish experienced by soldiers, including fear, despair, and hopelessness.</li>
        </ul>
        The Passage of Time:
        <ul>
            <li>The poem reflects on the slow passage of time during wartime, emphasising the monotony and endurance required to survive.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Our brains ache, in the merciless iced east winds that knive us..."</td>
                <td>This opening line uses personification to show the soldier's exposure, vulnerability, and hurt.</td>
            </tr>
            <tr>
                <td>"But nothing happens."</td>
                <td>This repeated phrase emphasizes the monotony and futility of the soldiers' experience, highlighting their sense of helplessness and despair.</td>
            </tr>
            <tr>
                <td>"We turn back to our dying."</td>
                <td>This line suggests a sense of resignation and acceptance of their fate, as the soldiers confront the reality of their suffering and impending death.</td>
            </tr>
            <tr>
                <td>"Since we believe not otherwise can kind fires burn; nor ever suns smile true on child, or field, or fruit"</td>
                <td>Home will not be protected if we do not fight for it - and the warmth of suns and fire represent hope. This juxtaposes their current situation.</td>
            </tr>
            <tr>
                <td>"Therefore, not loath, we lite out here [...] For love of God seems dying."</td>
                <td>Faith in God is waning - why did he put us here? We don't loath our fate. Given up on God and themselves: not angry or bitter, death is 
                    expected; our only purpose is to die in war.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Kamikaze" - both poems explore the psychological trauma experienced by individuals in wartime, with Exposure highlighting the mental anguish of soldiers enduring harsh conditions,
        while Kamikaze delves into the internal conflict of a pilot facing a life-changing decision.<br>
        "Remains" - both poems depict the lasting impact of war on individuals, with Exposure focusing on the physical and emotional suffering of soldiers,
        while Remains explores the psychological aftermath of combat and its effects on a soldier's mental state.
    </p>
    <br>
    <h2>Storm on the Island</h2>
    <h3>Key Themes</h3>
    <p>
        The Troubles:
        <ul>
            <li>The poem reflects the political and social conflict in Northern Ireland, using the storm as a metaphor for the turmoil experienced by the people.</li>
        </ul>
        The Power of Nature (seriously why does everything have the power of nature this is getting old really fast):
        <ul>
            <li>The poem portrays nature as a formidable and uncontrollable force, highlighting its ability to disrupt human life and challenge human resilience.</li>
        </ul>
        Arrogance and Hubris (yet again):
        <ul>
            <li>The poem critiques human arrogance in believing that we can control or withstand the forces of nature, emphasising the limitations of human power.</li>     
        </ul>
        Isolation and Vulnerability:
        <ul>
            <li>The poem explores the theme of isolation, as the inhabitants of the island are cut off from the mainland and must confront the storm alone. This reflects 
                the sense of isolation in Northern Ireland compared to the rest of the UK.</li>
        </ul>   
        The Sublime:
        <ul>
            <li>The poem captures moments of sublime beauty and terror in nature, evoking a sense of awe and reverence.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"We are prepared: we build our houses squat"</td>
                <td>This opening line suggests a sense of readiness and resilience in the face of adversity, highlighting the inhabitants' determination to withstand the storm. This 
                    is also arrogance and foreshadowing - they are actually talking about a larger group - man vs nature; speaking on behalf of many.
                </td>
            </tr>
            <tr>
                <td>"The wizened earth has never troubled us with hay"</td>
                <td>This personification of the earth suggests a long-standing relationship between the inhabitants and their environment,
                    emphasising their familiarity with the natural world. Despite this, the description of the earth as "wizened" 
                    implies a sense of age and weariness, showing their remoteness, lack of progress, and vulnerability.</td>
            </tr>
            <tr>
                <td>"Spits like a tame cat turned savage"</td>
                <td>This simile compares the storm to a domesticated cat that has become wild, highlighting humanity's lack of control over nature. The 
                    government thought that the IRA was tamed, but they were wrong - the troubles erupted again.</td>
            </tr>
            <tr>
                <td>"Not are there trees [...] you might think that the sea is company, exploding comfortably down on the cliffs"</td>
                <td>This shows their vulnerability and remoteness. There are no trees for company, and the sea is not company either, further emphasising their isolation.
                    "Exploding comfortably" is an oxymoron, showing how nature is both beautiful and deadly at the same time.</td>
            </tr>
            <tr>
                <td>"Strange, it is a huge nothing that we fear"</td>
                <td>This oxymoron suggests that the true source of fear is not a tangible entity but rather an abstract concept,
                    a metaphor for the religious tensions and political turmoil in NI. These are abstract, man-made problems, rather than anything natural.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "The Emigrée" - both poems explore themes of isolation and vulnerability, with Storm on the Island depicting the physical isolation of the island's inhabitants,
        while The Emigrée delves into the emotional isolation experienced by individuals displaced from their homeland. They are both displaced by war to do with religion.<br>
        "Bayonet Charge" - both poems depict the chaos and brutality of war, with Storm on the Island focusing on the impact of nature on human life,
        while Bayonet Charge explores the experience of a soldier in battle.
    </p>
    <br>
    <h2>Bayonet Charge</h2>
    <h3>Key Themes</h3>
    <p>
        Waning Patriotism:
        <ul>
            <li>The poem explores the diminishing sense of patriotism and national pride among soldiers, highlighting the disillusionment with the ideals of war.</li>
        </ul>
        The Horrors of War:
        <ul>
            <li>The poem vividly depicts the chaos and brutality of battle, emphasising the physical and emotional toll on soldiers.</li>
        </ul>
        The Instinct for Survival:
        <ul>
            <li>The poem delves into the primal instincts that drive soldiers to survive in the face of danger, highlighting the tension between duty and self-preservation.</li>
        </ul>
        The Dehumanising Effects of War:
        <ul>
            <li>The poem critiques the way war strips individuals of their humanity, reducing them to mere instruments of violence.</li>
        </ul>
        Terror and Confusion:
        <ul>
            <li>The poem captures the intense fear and disorientation experienced by soldiers in combat, conveying the psychological impact of warfare.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Suddenly he awoke and was running - raw"</td>
                <td>This opening line captures the suddenness and intensity of the soldier's experience, highlighting the abrupt transition from sleep to the chaos of battle.
                    "Raw" suggests vulnerability and exposure, describing the soldier's physical and emotional state. Being put directly in the action leads to a sense of immediacy and urgency.</td>
            </tr>
            <tr>
                <td>"The patriotic tear that had brimmed in his eye sweating like molten iron from the centre of his chest"</td>
                <td>The thought of dying for his country clouds his judgement and, slowly, he is losing patriotism. The imagery of "molten iron" suggests a
                    painful and intense emotional struggle, as the soldier realises the harsh realities of war.</td>
            </tr>
            <tr>
                <td>"In what cold clockwork of the stars and the nations was he the hand pointing that second?"</td>
                <td>This rhetorical question reflects the soldier's sense of confusion and disorientation, as he grapples with the larger forces at play in the war.
                    The metaphor of "cold clockwork" suggests a mechanistic and impersonal view of war, highlighting the soldier's lack of agency.</td>
            </tr>
            <tr>
                <td>"King, honour, human dignity, etcetera"</td>
                <td>This phrase highlights the soldier's disillusionment with the ideals of war, suggesting that these lofty concepts are ultimately meaningless in the face of 
                    violence and death. The use of "etcetera" implies a sense of cynicism and detachment.</td>
            </tr>
            <tr>
                <td>"His terror's touchy dynamite."</td>
                <td>This metaphor conveys the intensity of the soldier's fear, likening it to a volatile explosive. It highlights the psychological impact of warfare,
                    emphasising the soldier's heightened state of anxiety.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "War Photographer" - both poems explore the horrors of war, with Bayonet Charge depicting the experience of a soldier in battle,
        while War Photographer delves into the emotional and psychological impact of war on those who document it. Both talk about whether what the
        soldier/photographer is doing is worth it and whether their work actually matters.<br>
        "Exposure" - both poems deal with losing faith due to war, with Bayonet Charge highlighting the soldier's disillusionment with patriotism and national pride,
        while Exposure explores the loss of religious faith in the face of overwhelming adversity during wartime.
    </p>
    <br>
    <h2>Remains</h2>
    <h3>Key Themes</h3>
    <p>
        Guilt and Responsibility:
        <ul>
            <li>The poem explores the theme of guilt, as the soldier grapples with his role in the death of a looter and the moral implications of his actions.</li>
        </ul>
        The Dehumanising Effects of War:
        <ul>
            <li>The poem critiques the way crime strips individuals of their humanity, reducing them to mere instruments of violence to be dealt with.</li>
        </ul>
        Memory and Trauma:
        <ul>
            <li>The poem captures the haunting nature of traumatic memories, emphasising the difficulty of escaping the past.</li>
        </ul>
        The Blurred Line between Right and Wrong:
        <ul>
            <li>The poem questions the moral ambiguity of war, highlighting the complexities of ethical decision-making in combat situations.</li>
        </ul>
        The Psychological Impact of Violence:
        <ul>
            <li>The poem delves into the mental anguish experienced by soldiers, including PTSD and flashbacks.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"possibly not"</td>
                <td>This phrase creates a motif of uncertainty - the soldier doesn't know whether it's actually an armed robbery or not. He assumes it is, but 
                    can't be fully sure, and has to deal with it anyway. This uncertainty contributes to his guilt and trauma later on.</td>
            </tr>
            <tr>
                <td>"One of my mates goes by and tosses his guts back into his body"</td>
                <td>This graphic imagery conveys the brutal reality of violence, highlighting the physical and emotional toll on soldiers.
                    The casual tone of "tosses" contrasts with the gruesome nature of the act, emphasising the desensitisation to violence experienced by soldiers.</td>
            </tr>
            <tr>
                <td>"His blood-shadow stays on the street, and out on patrol [...] his bloody life in my bloody hands"</td>
                <td>This metaphor captures the lingering impact of trauma, as the soldier grapples with guilt and responsibility for his actions.
                    The repetition of "bloody" emphasises the intensity of his emotions, highlighting the psychological burden he carries.</td>
            </tr>
            <tr>
                <td>"I see every round as it rips through his life"</td>
                <td>This line conveys the soldier's vivid and haunting memories of the event, highlighting the lasting impact of trauma.
                    The use of "rips" suggests a violent and sudden disruption, emphasising the brutality of war.</td>
            </tr>
            <tr>
                <td>"not left for dead in some distant, sun-stunned, sand-smothered land or six-feet-under in desert sand"</td>
                <td>This uses sibilance to give a sense of just how far away the action <i>isn't</i>. This is immediately followed up with 
                    "his bloody life in my bloody hands", showing that the soldier is stuck with the guilt - he can't escape it, it's with him, it's not far away.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Bayonet Charge" - both poems explore the psychological impact of violence on soldiers, with Remains delving into the guilt and trauma experienced by a soldier after a violent encounter,
        while Bayonet Charge focuses on the fear and confusion experienced during battle.<br>
        "War Photographer" - both poems deal with the theme of guilt and responsibility, with Remains highlighting the moral complexities faced by soldiers in combat,
        while War Photographer explores the ethical dilemmas faced by those who document war and its aftermath.
    </p>
    <br>
    <h2>Poppies</h2>
    <h3>Key Themes</h3>
    <p>
        Leaving and Separation:
        <ul>
            <li>The poem explores the emotional experience of a mother as she watches her son leave for war, highlighting the pain of separation and the uncertainty of his return.</li> 
        </ul>
        Memory and Remembrance:
        <ul>
            <li>The poem delves into the theme of memory, as the mother reflects on her son's childhood and the significance of the poppy as a symbol of remembrance.</li>
        </ul>
        How propaganda displayed war compared to reality:
        <ul>
            <li>The poem critiques the glorification of war in propaganda, contrasting it with the harsh realities faced by soldiers and their families.</li>
        </ul>
        Extended Metaphor of Fabric:
        <ul>
            <li>The poem uses fabric as an extended metaphor to convey the emotional and physical connections between the mother and her son, highlighting the fragility of life and relationships.</li>
        </ul>
        Growing Up:
        <ul>
            <li>The poem captures the transition from childhood to adulthood, as the son leaves home to face the challenges of war. This contrasts with the mother
                "hoping to hear your playground voice catching on the wind".</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I pinned one onto your lapel, crimped petals, spasms of paper red, disrupting a blockade of yellow bias binding around your blazer"</td>
                <td>The detailed imagery of the poppy being pinned onto the son's lapel highlights the mother's care and attention to detail, symbolising her love and concern for him as he prepares to leave for war.
                    The "blockade of yellow bias binding" represents the protective barrier she tries to create around him, emphasising her desire to shield him from harm.</td>
            </tr>
            <tr>
                <td>"I wanted to graze my nose across the tip of your nose, play at being Eskimos like we did when you were little"</td>
                <td>This nostalgic imagery captures the mother's longing for the innocence and closeness of their past relationship, highlighting the emotional distance created by her son's departure.
                    The reference to "Eskimos" evokes a sense of playfulness and intimacy, contrasting with the serious and somber reality of war. This may also be relatable for
                    the reader - reminding them of their own memories of childhood innocence and the impact of growing up.</td>
            </tr>
            <tr>
                <td>"I resisted the impulse to run my fingers through the gelled blackthorns of your hair. All my words flattened, rolled, turned into felt"</td>
                <td>This uses the extended metaphor of fabric to convey the intertwinedness of the mother and son's relationship,
                    showing how difficult it is for her to let go. The "gelled blackthorns" further suggest both the son's maturity and the emotional pain of separation.</td>
            </tr>
            <tr>
                <td>"A split second and you were away, intoxicated"</td>
                <td>This line captures the fleeting nature of the moment as the son departs, highlighting the mother's sense of loss and the suddenness of his departure.
                    The word "intoxicated" suggests a sense of excitement and eagerness on the part of the son, contrasting with the mother's more sombre emotions.</td>
            </tr>
            <tr>
                <td>"I listened, hoping to hear your playground voice catching on the wind"</td>
                <td>This auditory imagery captures the mother's yearning for a connection with her son, as she listens for any sign of his presence or return.
                    The reference to his "playground voice" evokes memories of his childhood innocence, contrasting with the harsh realities of war he is about to face.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Kamikaze" - both poems explore the emotional impact of war on families, with Poppies focusing on a mother's perspective as she watches her son leave for war,
        while Kamikaze delves into the internal conflict of a pilot facing a life-changing decision. They view the effects of death in war from different angles.<br>
        "Extract from The Prelude" - both poems deal with the theme of growing up and leaving childhood behind, with Poppies capturing the transition from 
        innocence to adulthood as the son departs for war, while Extract from The Prelude explores the narrator's formative experience of confronting the 
        power of nature and the loss of childhood innocence.
    </p>
    <br>
    <h2>War Photographer</h2>
    <h3>Key Themes</h3>
    <p>
        People in Power not listening:
        <ul>
            <li>The poem critiques the indifference of those in power towards the suffering of others, highlighting the disconnect between the experiences of war and the perceptions of those who are removed from it.</li>
        </ul>
        Horrors of War on a more personal level:
        <ul>
            <li>The poem delves into the emotional and psychological impact of war on individuals, showing the perspectives of both the photographer but also the subjects 
                of the photographs.</li>
        </ul>
        Contrast between War Zones and Home:
        <ul>
            <li>The poem explores the stark contrast between the chaotic and violent environments of war zones and the peaceful, detached world of home, emphasising the disconnect between the two.</li>
        </ul>
        The Power (or lack thereof) of Photography:
        <ul>
            <li>The poem examines the role of photography in documenting and conveying the realities of war, showing how it is powerful yet
                questioning its effectiveness in eliciting empathy and action from viewers.</li>
        </ul>
        Guilt and Responsibility:
        <ul>
            <li>The poem captures the photographer's sense of guilt and responsibility for the images he captures, highlighting the ethical dilemmas faced by those who document war.</li>  
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"In his darkroom he is finally alone with spools of suffering set out in ordered rows"</td>
                <td>This imagery captures the photographer's isolation and detachment from the subjects of his photographs,
                    highlighting the contrast between the chaotic realities of war and the controlled environment of the darkroom. "spools of suffering" 
                    is a sibilant metaphor that helps ilustrate this. In addition, the ordered rows are a bit like a graveyard, suggesting the death and 
                    destruction that the photographer has witnessed. In addition addition, this could also represent a mass for the dead, like a ritual - 
                    the photographer is taking developing seriously, as if it is a reverential ceremony.</td>
            </tr>
            <tr>
                <td>"Solutions slop in trays"</td>
                <td>Solutions to war "slop" as if discarded: this is unceremonious, in contrast to the first stanza. Furthermore, this line is relevant more generally - 
                    often, the people in power do not listen and cause <a href="https://youtu.be/rG_Ue3t17l0?t=168" target="_blank">unjust suffering.</a></td>
            </tr>
            <tr>
                <td>"how he sought approval without words to do what someone must"</td>
                <td>Looking at the photos of the dead body, he remembers who is not in the photo. This highlights just how much is not important to most people, 
                    and how the photographer feels a duty to show the reality of war, even if it is uncomfortable.</td>
            </tr>
            <tr>
                <td>"A hundred agonies [...] from which his editor will pick out five or six"</td>
                <td>This shows the loss in humanity of these situations - the reduction of individual suffering to mere statistics or images for consumption. 
                    95 out of the 100 agonies will be completely lost, never even shown to most people.</td>
            </tr>
            <tr>
                <td>"The reader's eyeballs prick with tears between the bath and pre-lunch beers [...] and they do not care."</td>
                <td>This line highlights the fleeting nature of empathy in a world desensitised to suffering. The contrast between the mundane 
                    activities of the reader and the profound pain captured in the photographs underscores a societal apathy towards the realities of war. 
                    The newspaper will be read by middle-class people in England, and describing it as "between the bath and the pre-lunch beers" contrasts 
                    the luxuries of their lives with those of people who live in war zones. Most people will only be sad for a bit, eventually forgetting about 
                    the suffering depicted in the photographs.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        Kamikaze - both are questioning their job and what the point of it is. The war photographer questions whether his photos actually make a difference,
        while the kamikaze pilot questions whether his mission is worth sacrificing his life for. Both poems explore the psychological impact of their roles in war.<br>
        Remains - both poems deal with the theme of guilt and responsibility, with War Photographer highlighting the ethical dilemmas faced by those who document war,
        while Remains focuses on the moral complexities faced by soldiers in combat.
    </p>
    <br>
    <h2>Tissue</h2>
    <h3>Key Themes</h3>
    <p>
        Paper is Life:
        <ul>
            <li>The poem uses paper as a metaphor for life: it is fragile, easily torn, and yet it holds immense power in its ability to 
                convey thoughts, emotions, and experiences.</li>
        </ul>
        Light:
        <ul>
            <li>The poem uses the extended metaphor of light, using it as a symbol of hope, enlightenment, and the potential for transformation.</li>
        </ul>
        Control and Power:
        <ul>
            <li>The poem critiques the ways in which humans seek to control and dominate the world around them, highlighting the limitations of such efforts and 
                how they can create division.</li>
        </ul>
        Religion and Spirituality:
        <ul>
            <li>The poem explores themes of faith and spirituality, using religious imagery to convey a sense of transcendence and connection to something greater than oneself.</li>
        </ul>
        The Transience of Life:
        <ul>
            <li>The poem reflects on the fleeting nature of life, emphasising the importance of embracing the present moment and finding beauty in impermanence.</li>   
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Paper that lets the light shine through [...] Paper thinned by age or touching, the kind you find in well-used-books, like the back of the Koran"</td>
                <td>Paper is thinned by age or touching - like skin wrinkles. The Koran (according to Islam) is a revelation from God, therefore the poem is suggesting 
                    that light is a divine symbol.</td>
            </tr>
            <tr>
                <td>"where a hand has written in the names and histories, who was born, who died, who was born to whom"</td>
                <td>This is a sudden new topic that uses enjambment to show the lack of true control that paper truly has - it records events but cannot change them.</td>
            </tr>
            <tr>
                <td>(the repetition of) "if" and "could"</td>
                <td>This represents that the world is transient. We can let the light - the more important reality - shine through.</td>
            </tr>
            <tr>
                <td>"never wish to build again with brick"</td>
                <td>You can write on paper: you can write your thoughts, feelings, and emotions. This quote suggests that these are more important than materials and utility.</td>
            </tr>
            <tr>
                <td>"the daylight break through capitals and monoliths"</td>
                <td>This suggests that governments are made out of paper - records, laws, etc are recorded on paper. Letting the "light shine through" these means that we can 
                    see what they are actually about. This could also be suggesting that these structures are temporary and fragile, just like paper.</td>
            </tr>
            <tr>
                <td>"never meant to last [...] thinned to be transparent, turned into your skin."</td>
                <td>"turned into your skin" illustrates that paper represents humanity - if it was "never meant to last" and "thinned to be transparent", 
                    then humanity will fade over time. In addition, the idea of "transparen[cy]" is an honest and clear extended metaphor throughout the poem
                     - those in power should be clear and honest with the people they govern. 
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
       "London" - both poems critique the control and power exerted by those in authority, with Tissue highlighting the limitations of human efforts to dominate the world,
       while London explores the oppressive nature of societal structures and institutions.<br>
       "Ozymandias" - both poems explore the transience of life and human achievements, with Tissue using paper as a metaphor for the fleeting nature of existence,
       while Ozymandias reflects on the impermanence of power and legacy through the imagery of a ruined statue. 
    </p>
    <br>
    <h2>The Emigrée</h2>
    <h3>Key Themes</h3>
    <p>
        Political Conflict and War:
        <ul>
            <li>The poem explores the impact of political turmoil and war on individuals, highlighting the emotional and psychological effects of displacement.</li>
        </ul>
        Memory and Nostalgia:
        <ul>
            <li>The poem delves into the theme of memory, as the narrator reflects on their homeland with a sense of longing and nostalgia.</li>
        </ul>
        Identity and Belonging:
        <ul>
            <li>The poem examines the complexities of identity and belonging for individuals who have been displaced from their homeland, highlighting the tension between past and present.</li>
        </ul>
        The Power of Imagination:
        <ul>
            <li>The poem emphasises the role of imagination in shaping one's perception of home and identity, allowing the narrator to create a personal and idealised vision of their homeland.</li>
        </ul>
        Passage of Time:
        <ul>
            <li>The poem reflects on the passage of time and its impact on memory and identity, highlighting the ways in which the past continues to shape the present.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"There once was a country..."</td>
                <td>This makes the country seem mythical and in the past, suggesting a sense of loss and longing for a place that may no longer exist.</td>
            </tr>
            <tr>
                <td>"For it seems I never saw it in that November"</td>
                <td>It is as if she never saw the events of "that November" - that is likely to be what caused her to have to leave her country for safety. Instead, 
                    her parents dealt with it - she never saw the war, just the aftermath. This suggests a sense of detachment from the traumatic events that led to her displacement.</td>
            </tr>
            <tr>
                <td>"branded by an impression of sunlight"</td>
                <td>This suggests that the speaker's memories of their homeland are vivid and infused with warmth, highlighting the emotional connection to their past. 
                    Their memory is likely to be far more positive than what they've been told about the place and what the reality is like in the present day.</td>
            </tr>
            <tr>
                <td>"That child's vocabulary I carried here like a hollow doll, opens and spills a grammar. [...] It may now be a lie, banned by the state"</td>
                <td>This metaphor suggests that the speaker's language and identity have been shaped by their childhood experiences, 
                    but now feel empty and constrained by the political situation. The idea of a "hollow doll" implies a loss of authenticity 
                    and depth in their expression. Language links to identity - culture spills out.</td>
            </tr>
            <tr>
                <td>"They accuse me of being dark in their free city."</td>
                <td>Some residents of the safer city are unhappy with the speaker's presence. This is racism - the speaker is seen as an outsider, 
                    and their identity is questioned. This makes the speaker feel that they do not belong in the new city, and further</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Storm on the Island" - both poems explore themes of isolation and vulnerability, with The Emigrée delving into the emotional isolation experienced by individuals displaced from their homeland,
        while Storm on the Island depicts the physical isolation of the island's inhabitants. They both highlight the futility of political conflict.<br>
        "War Photographer" - both poems deal with the theme of political conflict and war, with The Emigrée highlighting the emotional and psychological effects of displacement,
        while War Photographer explores the ethical dilemmas faced by those who document war and its aftermath.
    </p>
    <br>
    <h2>Checking Out Me History</h2>
    <h3>Key Themes</h3>
    <p>
        Discovery of Identity:
        <ul>
            <li>The poem explores the journey of self-discovery and the search for identity, highlighting the importance of understanding one's heritage and history.</li>
        </ul>
        Cultural Heritage:
        <ul>
            <li>The poem delves into the significance of cultural heritage and the ways in which it shapes individual and collective identity.</li>        
        </ul>
        Oppression and Marginalisation:
        <ul>
            <li>The poem critiques the ways in which dominant cultures suppress and marginalise minority histories and perspectives, highlighting the impact of colonialism and racism.</li>
        </ul>
        The Power of Education:
        <ul>
            <li>The poem emphasises the role of education in shaping one's understanding of history and identity, highlighting the need for a more inclusive and diverse curriculum.</li>
        </ul>
        Resistance and Empowerment:
        <ul>
            <li>The poem celebrates the resilience and strength of marginalized communities, highlighting the importance of reclaiming and celebrating one's history and identity.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Dem tell me"</td>
                <td>This repetition throughout the poem emphasises the authoritative voice of those in power who dictate the history that is taught. 
                    It highlights the speaker's frustration with being told what to believe and the lack of agency in shaping their own understanding of history.</td>
            </tr>
            <tr>
                <td>"Bandage up me eye with me own history / Blind me to me own identity"</td>
                <td>This metaphor suggests that the speaker's understanding of their own history and identity has been obscured and suppressed by the dominant culture.
                    The use of "bandage" implies a sense of injury and restriction, highlighting the impact of colonialism and racism on the speaker's sense of self.</td>
            </tr>
            <tr>
                <td>"Dick Whittington and he cat [...] de cow who jump over the moon"</td>
                <td>He is making fun of Western childhood stories and nursery rhymes to highlight the absurdity of the dominant culture's narratives and 
                    the need to reclaim and celebrate alternative histories. He never got to see a lot of his own culture as a child and was robbed of this.</td>
            </tr>
            <tr>
                <td>"1066 and all dat [...] Columbus and 1492"</td>
                <td>This line critiques the Eurocentric focus of history education, highlighting the selective nature of the narratives that are taught. These events
                    are all colonial, empire, or invasion - this was the colonisers justifying colonisation to the colonised - telling them it's good, even when
                    it was often not.</td>
            </tr>
            <tr>
                <td>"But now I checking out me own history / I carving out me identity"</td>
                <td>Trying to shape himself by checking out new information that he chooses - not information that his oppressors choose.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "The Emigrée" - both poems explore themes of identity and cultural heritage, with Checking Out Me History delving into the journey of self-discovery and the reclamation of marginalized histories,
        while The Emigrée reflects on the emotional connection to one's homeland and the impact of displacement.<br>
        "Kamikaze" - both poems deal with the theme of resistance against dominant narratives, with Checking Out Me History critiquing the suppression of minority histories,
        while Kamikaze explores the internal conflict of a pilot resisting societal expectations and norms.
    </p>
    <br>
    <h2>Kamikaze</h2>
    <h3>Key Themes</h3>
    <p>
        Duty and Honour:
        <ul>
            <li>The poem explores the concept of duty and honour in the context of war, highlighting the cultural expectations placed on individuals to sacrifice themselves for their country.</li>
        </ul>
        Individual vs Society:
        <ul>
            <li>The poem delves into the tension between individual desires and societal expectations, highlighting the conflict faced by the kamikaze pilot as he grapples with his mission.</li>
        </ul>
        The Power of Nature:
        <ul>
            <li>The poem emphasises the beauty and power of nature, using vivid imagery to contrast with the destructive nature of war.</li>
        </ul>
        Family and Relationships:
        <ul>
            <li>The poem explores the impact of war on family dynamics and relationships, highlighting the emotional toll of separation and loss.</li>
        </ul>
        The Consequences of War:
        <ul>
            <li>The poem reflects on the broader consequences of war, including the psychological impact on individuals and the lasting effects on communities.</li>   
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"a one-way journey into history"</td>
                <td>This quotation reflects the irreversible nature of the kamikaze pilot's decision, emphasising the finality of his choice and the weight of history on individual lives.</td>
            </tr>
            <tr>
                <td>"remembered how he and his brothers" (and enjambment in that stanza)</td>
                <td>This is emotional and reminds the pilot of all the memories he is leaving behind, highlighting the personal cost of his decision. This shows the
                    natural (instinctive) human desires, versus the societal expectations placed upon him that go against these desires. In the end, he chooses the 
                    natural desires, and turns back. Nature reveals truth - truth that he should protect his innocence.</td>
            </tr>
            <tr>
                <td>"they treated him as though he no longer existed"</td>
                <td>This shows the sheer disappointment that his family had - Japan had a "never surrender" warrior culture. By turning back, he is not noble, a coward, 
                    and shames his family. This highlights the societal pressure to conform to expectations, and the consequences of deviating from them, even when 
                    the alternative is death.</td>
            </tr>
            <tr>
                <td>"till gradually we too learned to be silent"</td>
                <td>This shows the innocence of childhood being supressed by learned, cultural behaviours. This is unnatural - external forces are stifling the natural 
                    human instinct to express oneself. Family should not be the ones enforcing silence, but rather encouraging open communication and emotional expression.</td>
            </tr>
            <tr>
                <td>"Which has been the better way to die"</td>
                <td>This highlights how being shunned and forced to be silent is in many ways similar to death. Communication, a fundamental part of human connection, 
                    has been taken away from him.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "The Emigrée" - both poems explore themes of individual identity and the impact of societal expectations. Home is sunlight - a place of warmth and safety, 
        contrasting with the harsh realities faced by the protagonists in both poems.<br>
        "Extract from The Prelude" - both poems deal with innocence being lost due to an experience - in Kamikaze, the pilot loses his innocence through his exposure to the realities of war,
        while in Extract from The Prelude, the narrator's innocence is shattered by his encounter with the power of nature.
    </p>
</Layout>