---
import Layout from "../../../../layouts/Layout.astro";
import Table from "../../../../components/Table.astro";
---

<Layout title="Poetry (Power and Conflict)">
    <h1>Poetry (Power and Conflict)</h1>
    <h2>Ozymandias</h2>
    <h3>Key Themes</h3>
        The Transience of Power:
        <ul>
            <li>The poem illustrates how power is temporary. Ozymandias, once a mighty king, is now reduced to ruins.</li>
            <li>The inscription on the pedestal, "Look on my Works, ye Mighty, and despair!" is ironic, as it contrasts his past glory with his current state of decay.</li>
        </ul>
        Hubris and Arrogance:
        <ul>
            <li>Ozymandias embodies the arrogance of rulers who believe they can achieve immortality through their deeds.</li>
            <li>His boastful claims highlight the folly of assuming that human achievements can withstand the test of time.</li>
        </ul>
        Nature vs. Human Ambition:
        <ul>
            <li>The vast desert surrounding the statue symbolizes nature's dominance over human endeavors.</li>
            <li>The poem suggests that nature ultimately outlasts human creations, emphasizing the futility of trying to control or defy it.</li>
        </ul>
        The Inevitable Decline of Civilisations:
        <ul>
            <li>The remnants of the statue serve as a reminder that all civilisations, no matter how powerful, will eventually fall.</li>
            <li>Shelley's depiction of the shattered visage reflects the decline of Ozymandias's empire and the impermanence of human legacy.</li>
        </ul>
        Artistic Interpretation and Legacy:
        <ul>
            <li>The sculptor's ability to capture Ozymandias's "sneer of cold command" suggests that art can convey deeper truths about power and character.</li>
        </ul>
        The poem raises questions about how history remembers leaders and the legacies they leave behind.
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I met a traveller from an antique land"</td>
                <td>This creates ambiguity, mystery, and intrigue. It also uses unreliable narration, as the story is told through the traveller's perspective, not the writer.</td>
            </tr>
            <tr>
                <td>"A shattered visage lies"</td>
                <td>This imagery evokes a sense of decay and ruin, highlighting the inevitable decline of all leaders and empires. This contrasts with the fact that 
                    Ozymandias was one of the greatest pharaohs of his time.</td>
            </tr>
            <tr>
                <td>"The hand that mocked them and the heart that fed"</td>
                <td>The sculptor captured Ramesses's cruel facial expression: cruelty is what remains of his legacy.</td>
            </tr>
            <tr>
                <td>"My name is Ozymandias, King of Kings: Look on my Works, ye Mighty, and despair!"</td>
                <td>This proclamation emphasizes the theme of hubris, as Ozymandias believes his achievements are unparalleled. 
                    The irony lies in the fact that all that remains of his empire is a ruined statue in the desert. 
                    The reference to 'Mighty' is referring to god: he is challenging the divine authority.</td>
            </tr>
            <tr>
                <td>"Colossal Wreck [...] lone and level sands stretch far away."</td>
                <td>The kingdom has returned to sand. This emphasises the transience of power and the inevitable decline of all leaders and empires: nature will prevail and 
                    human empires are insignificant.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "My Last Duchess" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and My Last Duchess on the abuse of power in personal relationships.<br>
        "London" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and London portraying the oppressive nature of urban life under tyrannical rule.<br>
        "Extract from The Prelude" - both poems examine human ambition and its consequences, with Ozymandias illustrating the futility of seeking 
        immortality through power, while The Prelude reflects on the impact of human actions on nature and personal growth.
    </p>
    <br>
    <h2>London</h2>
    <h3>Key Themes</h3>
    <p>
        The Oppressive Nature of Authority:
        <ul>
            <li>The poem critiques the institutions of power, such as the monarchy, the church, and the government, highlighting their role in perpetuating suffering and inequality.</li>
        </ul>
        Social Injustice and Inequality:
        <ul>
            <li>Blake exposes the stark contrast between the wealthy and the poor in London, emphasizing the exploitation and neglect of the lower classes.</li>
        </ul>
        Disillusionment with Society:
        <ul>
            <li>The poem conveys a sense of despair and hopelessness about the state of society, reflecting Blake's disillusionment with the social and political conditions of his time.</li>
        </ul>
        The Impact of Industrialisation:
        <ul>
            <li>Blake critiques the dehumanizing effects of industrialisation, which contributes to environmental degradation and social alienation.</li>
        </ul>
        The Role of Religion:
        <ul>
            <li>The poem questions the moral authority of religious institutions, suggesting that they contribute to societal oppression rather than offering salvation.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I wander thro' each charter'd street"</td>
                <td>The use of "chartered" suggests that the streets are "organised" and supposedly "civilised". This represents the government (authority)'s oppression and control - 
                    an organised map represents a predetermined life path.</td>
            </tr>
            <tr>
                <td>"In every cry of every man, in every infant's cry of fear, in every voice, in every ban, the mind-forg'd manacles I hear"</td>
                <td>The repetition of "every" emphasises the universality of suffering and oppression in society. 
                    The phrase "mind-forg'd manacles" suggests that the constraints on individuals are not just physical but also mental - the mind has forged its own traps 
                    due to brainwashing by authority. This also links to hopelessness and alienation: the cries are not being answered.</td>
            </tr>
            <tr>
                <td>"The chimney-sweepers cry, every black'ning church appalls"</td>
                <td>Reflects the use of child labour and the exploitation of vulnerable individuals in society. 
                    The "black'ning church" suggests that the religious institution is complicit in the suffering of the poor, and even the church itself is sinning.</td>
            </tr>
            <tr>
                <td>"The hapless soldier's sigh runs in blood down Palace walls"</td>
                <td>The monarchy are to blame - they are hypocritical and protected by the system. When the rich wage war, it is the poor who die.</td>
            </tr>
            <tr>
                <td>"Plagues the marriage hearse"</td>
                <td>Juxtaposition - marriage is a symbol of love and union, yet it is plagued by death and decay. Society is disorganised and uncontrolled - 
                    disease is still prevalent despite chartered streets, symbolising that the civilisedness of the streets are a facade. In addition to this, marriage is often seen as the 
                    precursor to starting a family - this creates the sense that any babies born are simply born to die or have their lives stripped away by the system.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Ozymandias" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and London portraying the oppressive nature of urban life under tyrannical rule.<br>
        "Exposure" - both poems explore the harsh realities of human suffering, with London focusing on the social injustices faced by the urban poor,
        while Exposure delves into the physical and psychological hardships endured by soldiers in war.<br>
        "The Charge of the Light Brigade" - both poems examine the consequences of war and the impact of authority on individuals,
        with London highlighting the suffering caused by societal structures, while The Charge of the Light Brigade focuses on the
        futility of war and the sacrifices made by soldiers.
    </p>
</Layout>