---
import Layout from "../../../../layouts/Layout.astro";
import Table from "../../../../components/Table.astro";
---

<Layout title="Poetry (Power and Conflict)">
    <h1>Poetry (Power and Conflict)</h1>
    <h2>Ozymandias</h2>
    <h3>Key Themes</h3>
        The Transience of Power:
        <ul>
            <li>The poem illustrates how power is temporary. Ozymandias, once a mighty king, is now reduced to ruins.</li>
            <li>The inscription on the pedestal, "Look on my Works, ye Mighty, and despair!" is ironic, as it contrasts his past glory with his current state of decay.</li>
        </ul>
        Hubris and Arrogance:
        <ul>
            <li>Ozymandias embodies the arrogance of rulers who believe they can achieve immortality through their deeds.</li>
            <li>His boastful claims highlight the folly of assuming that human achievements can withstand the test of time.</li>
        </ul>
        Nature vs. Human Ambition:
        <ul>
            <li>The vast desert surrounding the statue symbolizes nature's dominance over human endeavors.</li>
            <li>The poem suggests that nature ultimately outlasts human creations, emphasising the futility of trying to control or defy it.</li>
        </ul>
        The Inevitable Decline of Civilisations:
        <ul>
            <li>The remnants of the statue serve as a reminder that all civilisations, no matter how powerful, will eventually fall.</li>
            <li>Shelley's depiction of the shattered visage reflects the decline of Ozymandias's empire and the impermanence of human legacy.</li>
        </ul>
        Artistic Interpretation and Legacy:
        <ul>
            <li>The sculptor's ability to capture Ozymandias's "sneer of cold command" suggests that art can convey deeper truths about power and character.</li>
        </ul>
        The poem raises questions about how history remembers leaders and the legacies they leave behind.
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I met a traveller from an antique land"</td>
                <td>This creates ambiguity, mystery, and intrigue. It also uses unreliable narration, as the story is told through the traveller's perspective, not the writer.</td>
            </tr>
            <tr>
                <td>"A shattered visage lies"</td>
                <td>This imagery evokes a sense of decay and ruin, highlighting the inevitable decline of all leaders and empires. This contrasts with the fact that 
                    Ozymandias was one of the greatest pharaohs of his time.</td>
            </tr>
            <tr>
                <td>"The hand that mocked them and the heart that fed"</td>
                <td>The sculptor captured Ramesses's cruel facial expression: cruelty is what remains of his legacy.</td>
            </tr>
            <tr>
                <td>"My name is Ozymandias, King of Kings: Look on my Works, ye Mighty, and despair!"</td>
                <td>This proclamation emphasizes the theme of hubris, as Ozymandias believes his achievements are unparalleled. 
                    The irony lies in the fact that all that remains of his empire is a ruined statue in the desert. 
                    The reference to 'Mighty' is referring to god: he is challenging the divine authority.</td>
            </tr>
            <tr>
                <td>"Colossal Wreck [...] lone and level sands stretch far away."</td>
                <td>The kingdom has returned to sand. This emphasises the transience of power and the inevitable decline of all leaders and empires: nature will prevail and 
                    human empires are insignificant.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "My Last Duchess" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and My Last Duchess on the abuse of power in personal relationships.<br>
        "Tissue" - both poems examine the fragility of human constructs, with Ozymandias highlighting the impermanence of empires and rulers,
        while Tissue explores the delicate nature of human life and the constructs we create to give it meaning. Both are about transience.<br>
        "Extract from The Prelude" - both poems examine human ambition and its consequences, with Ozymandias illustrating the futility of seeking 
        immortality through power, while The Prelude reflects on the impact of human actions on nature and personal growth.
    </p>
    <br>
    <h2>London</h2>
    <h3>Key Themes</h3>
    <p>
        The Oppressive Nature of Authority:
        <ul>
            <li>The poem critiques the institutions of power, such as the monarchy, the church, and the government, highlighting their role in perpetuating suffering and inequality.</li>
        </ul>
        Social Injustice and Inequality:
        <ul>
            <li>Blake exposes the stark contrast between the wealthy and the poor in London, emphasising the exploitation and neglect of the lower classes.</li>
        </ul>
        Disillusionment with Society:
        <ul>
            <li>The poem conveys a sense of despair and hopelessness about the state of society, reflecting Blake's disillusionment with the social and political conditions of his time.</li>
        </ul>
        The Impact of Industrialisation:
        <ul>
            <li>Blake critiques the dehumanising effects of industrialisation, which contributes to environmental degradation and social alienation.</li>
        </ul>
        The Role of Religion:
        <ul>
            <li>The poem questions the moral authority of religious institutions, suggesting that they contribute to societal oppression rather than offering salvation.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"I wander thro' each charter'd street"</td>
                <td>The use of "chartered" suggests that the streets are "organised" and supposedly "civilised". This represents the government (authority)'s oppression and control - 
                    an organised map represents a predetermined life path.</td>
            </tr>
            <tr>
                <td>"In every cry of every man, in every infant's cry of fear, in every voice, in every ban, the mind-forg'd manacles I hear"</td>
                <td>The repetition of "every" emphasises the universality of suffering and oppression in society. 
                    The phrase "mind-forg'd manacles" suggests that the constraints on individuals are not just physical but also mental - the mind has forged its own traps 
                    due to brainwashing by authority. This also links to hopelessness and alienation: the cries are not being answered.</td>
            </tr>
            <tr>
                <td>"The chimney-sweepers cry, every black'ning church appalls"</td>
                <td>Reflects the use of child labour and the exploitation of vulnerable individuals in society. 
                    The "black'ning church" suggests that the religious institution is complicit in the suffering of the poor, and even the church itself is sinning.</td>
            </tr>
            <tr>
                <td>"The hapless soldier's sigh runs in blood down Palace walls"</td>
                <td>The monarchy are to blame - they are hypocritical and protected by the system. When the rich wage war, it is the poor who die.</td>
            </tr>
            <tr>
                <td>"Plagues the marriage hearse"</td>
                <td>Juxtaposition - marriage is a symbol of love and union, yet it is plagued by death and decay. Society is disorganised and uncontrolled - 
                    disease is still prevalent despite chartered streets, symbolising that the civilisedness of the streets are a facade. In addition to this, marriage is often seen as the 
                    precursor to starting a family - this creates the sense that any babies born are simply born to die or have their lives stripped away by the system.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Ozymandias" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and London portraying the oppressive nature of urban life under tyrannical rule.<br>
        "My Last Duchess" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and My Last Duchess on the abuse of power in personal relationships.<br>
    </p>
    <br>
    <h2>Extract from The Prelude</h2>
    <h3>Key Themes</h3>
    <p>
        Bildungsroman and Personal Growth:
        <ul>
            <li>The poem explores the narrator's journey from childhood to adulthood, highlighting the experiences that shape his identity and worldview.</li>
        </ul>
        The Power of Nature:
        <ul>
            <li>Nature is depicted as a powerful and awe-inspiring force that influences the narrator's emotions and thoughts.</li>
        </ul>
        The Sublime:
        <ul>
            <li>The poem captures moments of sublime beauty and terror in nature, evoking a sense of wonder and reverence.</li>
        </ul>
        Formative Experiences:
        <ul>
            <li>"When it all changed", the movement from childhood to adulthood. The poem exposes how thinking and understanding evolve as you grow up.</li>
        </ul>
        The Relationship between Humans and Nature:
        <ul>
            <li>The poem explores the interconnectedness of humans and the natural environment, suggesting that nature has a profound impact on human experience.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"one track of sparkling light"</td>
                <td>Mystical - foreshadows the narrator's journey into the unknown and the transformative power of nature.</td>
            </tr>
            <tr>
                <td>"a chosen point with an unswerving line, I fixed my view upon the summit"</td>
                <td>Contrasts with the mystical "sparkling light", suggesting that the narrator thinks that he is about to triumph over nature and doesn't realise what
                    is ahead of him.</td>
            </tr>
            <tr>
                <td>"silent lake [...] stroke [...] water like a swan"</td>
                <td>The simile compares the water's surface to a swan, evoking a sense of grace and tranquility in the natural scene, just before the mountain.</td>
            </tr>
            <tr>
                <td>"a huge peak, black and huge, as if with voluntary power instinct"</td>
                <td>The personification of the mountain suggests that it has a will of its own, emphasising its dominance over the narrator. It made itself known - because 
                    it's time for the narrator to grow up.</td>
            </tr>
            <tr>
                <td>"in grave and serious mood [...] undetermined sense of unknown modes of being"</td>
                <td>The phrase captures the narrator's introspective state, suggesting a deep contemplation of existence and the complexities of life. They have
                    left their childhood behind, and are now going through adolescence - their perception on the world has been changed drastically. This is a 
                    <b>formative event</b>.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Exposure" - both poems explore the relationship between humans and nature, with The Prelude highlighting the awe-inspiring power of the natural world,
        while Exposure delves into the harsh realities of nature's indifference to human suffering during war.<br>
        "Storm on the Island" - both poems depict the formidable force of nature, with The Prelude capturing moments of sublime beauty and terror,
        while Storm on the Island focuses on the relentless power of a storm and its impact on human life.
    </p>
    <br>
    <h2>My Last Duchess</h2>
    <h3>Key Themes</h3>
    <p>
        Power and Control:
        <ul>
            <li>The Duke exerts control over his late wife, the Duchess, even after her death. His possessive nature is evident in his description of her portrait and his recounting of her behavior.</li>
        </ul>
        Jealousy and Envy:
        <ul>
            <li>The Duke's jealousy is a central theme, as he resents the Duchess's friendly and appreciative nature towards others, which he perceives as a threat to his authority.</li>
        </ul>
        The Objectification of Women:
        <ul>
            <li>The poem highlights the objectification of women, as the Duke views the Duchess as a possession rather than an equal partner. This is evident in his desire to control her image and legacy.</li>
        </ul>
        The Abuse of Power:
        <ul>
            <li>The Duke's actions reflect the abuse of power, as he uses his social status to manipulate and dominate those around him, including the Duchess.</li>
        </ul>
        Slightly Psychopathic Behaviour:
        <ul>
            <li>The Duke's casual mention of the Duchess's death suggests a lack of empathy and a possible involvement in her demise, highlighting his psychopathic tendencies. Furthermore, he quickly moves past this by the end.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"'twas not her husband's presence only, called that spot of joy into the Duchess's cheek"</td>
                <td>This quotation highlights the Duke's possessive nature, as he believes that only his presence should bring joy to the Duchess. 
                    It reflects his need for control and his inability to see her as an independent individual. He gets jealous when anyone else
                    made her happy - he thinks it is flirting.</td>
            </tr>
            <tr>
                <td>"Half-flush that dies along her throat: such stuff was courtesy, she thought"</td>
                <td>This quotation suggests the Duchess's beauty and the fleeting nature of life. The "half-flush" implies a sense of vulnerability and fragility, 
                    as if her beauty is only temporary. In addition, the flush "dies", hinting that due to the blushing, death is her fate. "Such stuff was courtesy,
                    she thought" indicates that the Duchess was happy, cheerful, and appreciative, which displeased the Duke.</td>
            </tr>
            <tr>
                <td>"as if she ranked my gift of a nine-hundred-years-old name with anybody's gift"</td>
                <td>This quotation highlights the Duke's arrogance and sense of superiority. He believes that his noble lineage and status should be valued above all else,
                    and he resents the Duchess for not recognising this. It reflects his possessive nature and his desire to control how others perceive him and his family.</td>
            </tr>
            <tr>
                <td>"I gave commands; Then all smiles stopped together."</td>
                <td>This quotation reveals the Duke's authoritarian nature and his willingness to use power to control others. 
                    The phrase "I gave commands" suggests that he sees himself as a ruler, while "all smiles stopped together" implies that 
                    he has the ability to extinguish joy and happiness at will. This further emphasizes the theme of power and control in the poem.</td>
            </tr>
            <tr>
                <td>"Will't please you rise?"</td>
                <td>After explaining that he killed the Duchess, the Duke asks the visitor to rise and starts talking about what comes next, unfazed by 
                    what he just described. This shows his psychopathic tendencies and lack of empathy.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Ozymandias" - both poems explore themes of power and control, with 
        Ozymandias focusing on the transience of power and human arrogance, and My Last Duchess on the abuse of power in personal relationships.<br>
        "London" - both poems critique authority and highlight the suffering caused by those in power, with Ozymandias depicting the 
        fall of a once-great ruler and My Last Duchess portraying the oppressive nature of aristocratic control.
    </p>
    <br>
    <h2>The Charge of the Light Brigade</h2>
    <h3>Key Themes</h3>
    <p>
        The Horrors of War:
        <ul>
            <li>The poem vividly depicts the chaos and brutality of battle, highlighting the physical and emotional toll on soldiers.</li>
        </ul>
        Heroism and Sacrifice:
        <ul>
            <li>Despite the futility of their mission, the soldiers are portrayed as heroic figures who bravely face overwhelming odds.</li>
        </ul>
        Duty and Obedience:
        <ul>
            <li>The poem explores the theme of duty, as the soldiers follow orders without question, even when it leads to their demise.</li>
        </ul>
        The Futility of War:
        <ul>
            <li>The poem critiques the senselessness of war, emphasising the tragic loss of life resulting from miscommunication and poor leadership.</li>
        </ul>
        The Power of Memory and Commemoration:
        <ul>
            <li>The poem serves as a tribute to the fallen soldiers, ensuring that their bravery and sacrifice are remembered.</li>
        </ul>
    </p>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Theirs not to make reply, Theirs not to reason why, Theirs but to do and die."</td>
                <td>This quotation emphasizes the theme of duty and obedience, highlighting the soldiers' unquestioning acceptance of their orders, 
                    even in the face of certain death. Many would contest the orders given to the soldiers, viewing them as misguided and ultimately fatal, 
                    but the Light Brigade, noble and brave, accepted their fate without question.</td>
            </tr>
            <tr>
                <td>"Into the mouth of Hell, rode the six hundred."</td>
                <td>This vivid imagery portrays the battlefield as a hellish landscape, showing their bravery and strength despite the overwhelming danger they face, as they 
                    ride on in anyway.</td>
            </tr>
            <tr>
                <td>"Cannon to right of them, Cannon to left of them, Cannon in front of them."</td>
                <td>This repetition emphasizes the overwhelming odds faced by the soldiers, highlighting the chaos and brutality of war.</td>
            </tr>
            <tr>
                <td>"Not the six hundred."</td>
                <td>This phrase serves as a reminder of the individual lives lost in the battle, emphasising the poem's critique of the futility of war.</td>
            </tr>
            <tr>
                <td>"When can their glory fade?"</td>
                <td>This rhetorical question underscores the theme of memory and commemoration, suggesting that the bravery of the fallen soldiers will always be remembered.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Exposure" - both poems explore the horrors of war, with The Charge of the Light Brigade highlighting the bravery and sacrifice of soldiers in battle,
        while Exposure delves into the harsh realities of war and its devastating effects on those involved.<br>
        "Bayonet Charge" - both poems depict the chaos and brutality of war, with The Charge of the Light Brigade focusing on a specific military action,
        while Bayonet Charge explores the psychological and physical experiences of a soldier in combat.
    </p>
    <br>
    <h2>Exposure</h2>
    <h3>Key Themes</h3>
    <p>
        The Horrors of War:
        <ul>
            <li>The poem vividly depicts the physical and emotional suffering of soldiers during wartime, highlighting the brutal conditions they endure.</li>
        </ul>
        Religious Imagery and Loss of Faith:
        <ul>
            <li>The poem uses religious imagery to convey the soldiers' sense of abandonment and loss of faith in the face of overwhelming adversity.</li>
        </ul>
        Nature's Indifference:
        <ul>
            <li>The poem portrays nature as an indifferent force that exacerbates the soldiers' suffering, highlighting the harsh realities of their environment.</li>
        </ul>
        Psychological Trauma:
        <ul>
            <li>The poem explores the mental anguish experienced by soldiers, including fear, despair, and hopelessness.</li>
        </ul>
        The Passage of Time:
        <ul>
            <li>The poem reflects on the slow passage of time during wartime, emphasising the monotony and endurance required to survive.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Our brains ache, in the merciless iced east winds that knive us..."</td>
                <td>This opening line uses personification to show the soldier's exposure, vulnerability, and hurt.</td>
            </tr>
            <tr>
                <td>"But nothing happens."</td>
                <td>This repeated phrase emphasizes the monotony and futility of the soldiers' experience, highlighting their sense of helplessness and despair.</td>
            </tr>
            <tr>
                <td>"We turn back to our dying."</td>
                <td>This line suggests a sense of resignation and acceptance of their fate, as the soldiers confront the reality of their suffering and impending death.</td>
            </tr>
            <tr>
                <td>"Since we believe not otherwise can kind fires burn; nor ever suns smile true on child, or field, or fruit"</td>
                <td>Home will not be protected if we do not fight for it - and the warmth of suns and fire represent hope. This juxtaposes their current situation.</td>
            </tr>
            <tr>
                <td>"Therefore, not loath, we lite out here [...] For love of God seems dying."</td>
                <td>Faith in God is waning - why did he put us here? We don't loath our fate. Given up on God and themselves: not angry or bitter, death is 
                    expected; our only purpose is to die in war.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "Kamikaze" - both poems explore the psychological trauma experienced by individuals in wartime, with Exposure highlighting the mental anguish of soldiers enduring harsh conditions,
        while Kamikaze delves into the internal conflict of a pilot facing a life-changing decision.<br>
        "Remains" - both poems depict the lasting impact of war on individuals, with Exposure focusing on the physical and emotional suffering of soldiers,
        while Remains explores the psychological aftermath of combat and its effects on a soldier's mental state.
    </p>
    <br>
    <h2>Storm on the Island</h2>
    <h3>Key Themes</h3>
    <p>
        The Troubles:
        <ul>
            <li>The poem reflects the political and social conflict in Northern Ireland, using the storm as a metaphor for the turmoil experienced by the people.</li>
        </ul>
        The Power of Nature (seriously why does everything have the power of nature this is getting old really fast):
        <ul>
            <li>The poem portrays nature as a formidable and uncontrollable force, highlighting its ability to disrupt human life and challenge human resilience.</li>
        </ul>
        Arrogance and Hubris (yet again):
        <ul>
            <li>The poem critiques human arrogance in believing that we can control or withstand the forces of nature, emphasising the limitations of human power.</li>     
        </ul>
        Isolation and Vulnerability:
        <ul>
            <li>The poem explores the theme of isolation, as the inhabitants of the island are cut off from the mainland and must confront the storm alone. This reflects 
                the sense of isolation in Northern Ireland compared to the rest of the UK.</li>
        </ul>   
        The Sublime:
        <ul>
            <li>The poem captures moments of sublime beauty and terror in nature, evoking a sense of awe and reverence.</li>
        </ul>
    </p>
    <br>
    <h3>Top 5 Quotations</h3>
    <Table>
        <thead>
            <tr>
                <th>Quotation</th>
                <th>Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"We are prepared: we build our houses squat"</td>
                <td>This opening line suggests a sense of readiness and resilience in the face of adversity, highlighting the inhabitants' determination to withstand the storm. This 
                    is also arrogance and foreshadowing - they are actually talking about a larger group - man vs nature; speaking on behalf of many.
                </td>
            </tr>
            <tr>
                <td>"The wizened earth has never troubled us with hay"</td>
                <td>This personification of the earth suggests a long-standing relationship between the inhabitants and their environment,
                    emphasising their familiarity with the natural world. Despite this, the description of the earth as "wizened" 
                    implies a sense of age and weariness, showing their remoteness, lack of progress, and vulnerability.</td>
            </tr>
            <tr>
                <td>"Spits like a tame cat turned savage"</td>
                <td>This simile compares the storm to a domesticated cat that has become wild, highlighting humanity's lack of control over nature. The 
                    government thought that the IRA was tamed, but they were wrong - the troubles erupted again.</td>
            </tr>
            <tr>
                <td>"Not are there trees [...] you might think that the sea is company, exploding comfortably down on the cliffs"</td>
                <td>This shows their vulnerability and remoteness. There are no trees for company, and the sea is not company either, further emphasising their isolation.
                    "Exploding comfortably" is an oxymoron, showing how nature is both beautiful and deadly at the same time.</td>
            </tr>
            <tr>
                <td>"Strange, it is a huge nothing that we fear"</td>
                <td>This oxymoron suggests that the true source of fear is not a tangible entity but rather an abstract concept,
                    a metaphor for the religious tensions and political turmoil in NI. These are abstract, man-made problems, rather than anything natural.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Poems to compare to</h3>
    <p>
        "The Emigrée" - both poems explore themes of isolation and vulnerability, with Storm on the Island depicting the physical isolation of the island's inhabitants,
        while The Emigrée delves into the emotional isolation experienced by individuals displaced from their homeland. They are both displaced by war to do with religion.<br>
        "Bayonet Charge" - both poems depict the chaos and brutality of war, with Storm on the Island focusing on the impact of nature on human life,
        while Bayonet Charge explores the experience of a soldier in battle.
    </p>
</Layout>