---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Edexcel">
    <h1>Edexcel</h1>
    <p>"Choose" your weapon!:<br><sub>(there's also only one weapon)</sub></p>
    <a href="music/">Music</a>
</Layout>