---
import Layout from '../../../../../layouts/Layout.astro';
const workspacePath = 'src/pages/gcse/aqa/bio/5/1.astro';
---

<Layout title="5.1 Homeostasis" path={workspacePath}>
    <h1>5.1 Homeostasis</h1>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=S45_3wWL-Xk">GCSE Biology Revision "Homeostasis"</a>
    </p>
    <p>
        <sub>(stolen from spec)</sub><br>
        - <b>Homeostasis</b> is the regulation of the internal conditions of a cell 
        or organism to maintain optimum conditions for function in response to internal 
        and external changes.<br>
        - Homeostasis maintains optimal conditions for enzyme action and all cell functions.<br>
        - In humans, this includes control of:
        <ul>
            <li>Blood glucose concentration</li>
            <li>Body temperature</li>
            <li>Water levels</li>
        </ul>
        - These automatic control systems may involve nervous responses or chemical responses.<br>
        - All control systems include:
        <ul>
            <li>Cells called receptors, which detect stimuli (changes in the environment)</li>
            <li>Coordination centres (e.g. brain, spinal cord, and pancreas) that recieve and 
                process information from the receptors</li>
            <li>Effectors, muscles, or glands, which bring about responses which restore optimum levels.</li>
        </ul>
    </p>
</Layout>