---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="5.2 The human nervous system">
    <h1>5.2 The human nervous system</h1>
    <h2>5.2.1 Structure and function of the nervous system</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=oDS1hAqWp2M">GCSE Biology Revision "The nervous system"</a>
    </p>
    <p>
        - There are multiple receptors in the human nervous system that detect changes in the environment.
        <ul>
            <li><b>Eyes</b> detect light</li>
            <li><b>Skin</b> detects touch, pressure, pain, and changes in temperature</li>
            <li><b>Ears</b> detect sound and changes in body position for balance</li>
            <li><b>Nose and tongue</b> are sensitive to chemicals for smell and taste</li>
        </ul>
    </p>
    <h3>How the nervous system works</h3>
    <p>
        <ol>
            <li>A noticeable change in the environment happens (<b>stimulus</b>)</li>
            <li>The stimulus is detected by <b>receptors</b></li>
            <li>The <b>coordinator</b> (central nervous system [brain and spinal cord]) receives the impulse, 
                starting in a <b>sensory neurone</b>, travelling through <b>relay neurons</b> (which are also in the 
                brain) and makes a decision</li>
            <li>The CNS coordinates <b>Effectors</b>: Skeletal muscles contract or 
                glands secrete hormones to cause a response, and this impulse is recieved from a <b>motor neurone</b>.</li>
        </ol>
    </p>
    <h3>Types of neurons</h3>
    <img class="centreimage" src="/images/bio/nerves.jpg" alt="Neurons">
    <sub><a href="http://thealevelbiologist.co.uk/genetics-control-homestasis/the-nervous-system-and-the-identification-and-consequences-of-damage/">source</a></sub>
    <p>
        - The terminals on a motor neurone would usually connect to a muscle or gland.
    </p>
    <h3>Exam Question</h3>
    <p>
        Explain what happens in your nervous system when you see a piece of fruit and pick it up. [6 marks]<br>
        - The piece of fruit is a stimulus.<br>
        - Sensory receptors in the eyes detect the reflection of light off of the piece of fruit.<br>
        - An electrical impulse travels along the sensory neurone through 
        relay neurons to the CNS.<br>
        - The CNS processes the impulse and decides to move muscles to 
        picks up the fruit.<br>
        - To do this, the CNS sends signals through relay neurons, which eventually 
        reach the muscles' motor neurones, which send signals to the muscles.<br>
        - The muscles contract to pick up the fruit.<br>
        - The effector is the skeletal muscle.
    </p>
    <h2>5.2.1 (Part 2) Reflexes</h2>
    <p>
        - Reflex actions are automatic and rapid &ndash; they do not involve the conscious part of the brain
        (are involuntary).<br><br>
        - <b>Synapses</b> are a gap in between neurons. Chemicals diffuse across the synapses. This allows 
        neurons to communicate between each other.<br>
        <img class="centreimage" src="/images/bio/synapse.jpg" alt="Synapse diagram">
        <sub><a href="https://courses.lumenlearning.com/suny-ap1/chapter/communication-between-neurons/">source</a></sub>
        <br>
        <ol>
            <li>Electrical impulse travels to the synapse.</li>
            <li>Triggers chemicals to be released into the synapse.</li>
            <li>Chemicals diffuse across the synapse to the next neurone.</li>
            <li>Causes the electrical impulse to travel through the next neurone.</li>
        </ol>
    </p>
    <br>
    <h3>Voluntary vs Reflex response</h3>
    <Table>
        <thead>
            <tr>
                <th>Voluntary</th>
                <th>Reflex</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ol>
                        <li>Receptors detects stimulus</li>
                        <li>Sensory neurone sends impulse, to relay neurone through synapse</li>
                        <li>The relay neurone sends impulse to the CNS (brain)</li>
                        <li>The CNS processes the input</li>
                        <li>The CNS sends impulse to the motor neurone</li>
                        <li>The motor neurone sends impulse to the effector</li>
                        <li>The effector carries out the action</li>
                    </ol>
                </td>
                <td>
                    <ol>
                        <li>The stimulus is detected by receptors</li>
                        <li>Sensory neurone sends impulse, to relay neurone through synapse</li>
                        <li>The relay neurone sends impulse to the CNS (spinal cord)</li>
                        <li>The CNS processes the input, but subconsciously</li>
                        <li>The CNS sends impulse to the motor neurone</li>
                        <li>The motor neurone sends impulse to the effector</li>
                        <li>The effector carries out the action</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </Table>
</Layout>