---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
const workspacePath = "src/pages/gcse/aqa/bio/5/2.astro";
---

<Layout title="5.2 The human nervous system" path={workspacePath}>
    <h1>5.2 The human nervous system</h1>
    <h2>5.2.1 Structure and function of the nervous system</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=oDS1hAqWp2M">GCSE Biology Revision "The nervous system"</a>
    </p>
    <p>
        - There are multiple receptors in the human nervous system that detect changes in the environment.
        <ul>
            <li><b>Eyes</b> detect light</li>
            <li><b>Skin</b> detects touch, pressure, pain, and changes in temperature</li>
            <li><b>Ears</b> detect sound and changes in body position for balance</li>
            <li><b>Nose and tongue</b> are sensitive to chemicals for smell and taste</li>
        </ul>
    </p>
    <h3>How the nervous system works</h3>
    <p>
        <ol>
            <li>A noticeable change in the environment happens (<b>stimulus</b>)</li>
            <li>The stimulus is detected by <b>receptors</b></li>
            <li>The <b>coordinator</b> (central nervous system [brain and spinal cord]) receives the impulse, 
                starting in a <b>sensory neurone</b>, travelling through <b>relay neurons</b> (which are also in the 
                brain) and makes a decision</li>
            <li>The CNS coordinates <b>Effectors</b>: Skeletal muscles contract or 
                glands secrete hormones to cause a response, and this impulse is recieved from a <b>motor neurone</b>.</li>
        </ol>
    </p>
    <h3>Types of neurons</h3>
    <img class="centreimage" src="/images/bio/nerves.jpg" alt="Neurons">
    <sub><a href="http://thealevelbiologist.co.uk/genetics-control-homestasis/the-nervous-system-and-the-identification-and-consequences-of-damage/">source</a></sub>
    <p>
        - The terminals on a motor neurone would usually connect to a muscle or gland.
    </p>
    <h3>Exam Question</h3>
    <p>
        Explain what happens in your nervous system when you see a piece of fruit and pick it up. [6 marks]<br>
        - The piece of fruit is a stimulus.<br>
        - Sensory receptors in the eyes detect the reflection of light off of the piece of fruit.<br>
        - An electrical impulse travels along the sensory neurone through 
        relay neurons to the CNS.<br>
        - The CNS processes the impulse and decides to move muscles to 
        picks up the fruit.<br>
        - To do this, the CNS sends signals through relay neurons, which eventually 
        reach the muscles' motor neurones, which send signals to the muscles.<br>
        - The muscles contract to pick up the fruit.<br>
        - The effector is the skeletal muscle.
    </p>
    <h2>5.2.1 (Part 2) Reflexes</h2>
    <p>
        - Reflex actions are automatic and rapid &ndash; they do not involve the conscious part of the brain
        (are involuntary).<br><br>
        - <b>Synapses</b> are a gap in between neurons. Chemicals diffuse across the synapses. This allows 
        neurons to communicate between each other.<br>
        <img class="centreimage" src="/images/bio/synapse.jpg" alt="Synapse diagram">
        <sub><a href="https://courses.lumenlearning.com/suny-ap1/chapter/communication-between-neurons/">source</a></sub>
        <br>
        <ol>
            <li>Electrical impulse travels to the synapse.</li>
            <li>Triggers chemicals to be released into the synapse.</li>
            <li>Chemicals diffuse across the synapse to the next neurone.</li>
            <li>Causes the electrical impulse to travel through the next neurone.</li>
        </ol>
    </p>
    <br>
    <h3>Voluntary vs Reflex response</h3>
    <Table>
        <thead>
            <tr>
                <th>Voluntary</th>
                <th>Reflex</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ol>
                        <li>Receptors detects stimulus</li>
                        <li>Sensory neurone sends impulse, to relay neurone through synapse</li>
                        <li>The relay neurone sends impulse to the CNS (brain)</li>
                        <li>The CNS processes the input</li>
                        <li>The CNS sends impulse to the motor neurone</li>
                        <li>The motor neurone sends impulse to the effector</li>
                        <li>The effector carries out the action</li>
                    </ol>
                </td>
                <td>
                    <ol>
                        <li>The stimulus is detected by receptors</li>
                        <li>Sensory neurone sends impulse, to relay neurone through synapse</li>
                        <li>The relay neurone sends impulse to the CNS (spinal cord)</li>
                        <li>The CNS processes the input, but subconsciously</li>
                        <li>The CNS sends impulse to the motor neurone</li>
                        <li>The motor neurone sends impulse to the effector</li>
                        <li>The effector carries out the action</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>Required Practical (RP 7): Does practice improve reaction time?</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Fm02i4vEi5Q">GCSE Biology Reqiured Practical 7 "Reaction time"</a>
    </p>
    <h3>Method</h3>
    <p>
        <ol>
            <li>One person sits with their arm resting on a table so that their hand hangs over the edge.</li>
            <li>Another person holds a ruler vertically between the thumb and forefinger of the seated person, with the 0 cm mark level with the top of the thumb.</li>
            <li>Without warning, the ruler is released.</li>
            <li>The seated person catches the ruler as quickly as possible.</li>
            <li>Record the measurement on the ruler at the point where it was caught.</li>
            <li>Repeat the test several times.</li>
            <li>Use the results to figure out whether practice improves reaction time.</li>
        </ol>
    </p>
    <br>
    <h3>Variables</h3>
    <p>
        - The independent variable is the drop number.<br>
        - The dependent variable is the reaction time.<br>
        - The control variables are: length of ruler, distance ruler held above hand, 
        background noise, and the people dropping and catching.<br>
    </p>
    <br>
    <h3>Results Table</h3>
    <Table>
        <thead>
            <tr>
                <th>Drop Number</th>
                <th>Length of ruler caught (cm)</th>
                <th>Conversion to reaction time (s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>14.5</td>
                <td>0.17</td>
            </tr>
            <tr>
                <td>2</td>
                <td>24</td>
                <td>0.22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>9</td>
                <td>0.14</td>
            </tr>
            <tr>
                <td>4</td>
                <td>12.5</td>
                <td>0.16</td>
            </tr>
            <tr>
                <td>5</td>
                <td>8</td>
                <td>0.13</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Exam Question</h3>
    <p>
        <b>Plan an investigation to find out whether females or males have a faster reaction 
        time.</b><br>
        - Use a random sample of an even number of males and females.<br>
        - Record the drop number, length of ruler caught, and convert the length caught 
        in a reaction time times table.<br>
        - Repeat the experiment 5 times per participant.<br>
        - Take the mean per participant.<br>
        - Take the mean of the means per group.<br>
        - Compare the results.<br>
        - Make sure to use as many controls as possible:
        <ul>
            <li>Age</li>
            <li>Caffeine intake</li>
            <li>Sleep</li>
            <li>No alcohol</li>
            <li>No drowsy medication</li>
            <li>No practice beforehand</li>
        </ul>
    </p>
    <br>
    <h2>5.2.2 The brain</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Fuv76dJKBkE">GCSE Biology Revision "The brain" (triple)</a>
    </p>
    <p>
        - The brain controls complex behaviour. It is made of billions of interconnected neurones and has 
        different regions that carry out different functions.
    </p>
    <img class="centreimage" src="/images/bio/braindiagram.png" alt="Brain diagram">
    <sub><a href="https://humanbiology.pressbooks.tru.ca/chapter/10-5-central-nervous-system/">source</a></sub>
    <p>
        - The <b>cerebral cortex</b> is the outer layer of the brain, highly folded to increase surface area. 
        It is responsible for higher brain functions, such as:
        <ul>
            <li>Sensory perception (e.g., vision, hearing, touch)</li>
            <li>Voluntary motor control (movement initiation)</li>
            <li>Language</li>
            <li>Thinking and problem-solving</li>
            <li>Memory and learning</li>
            <li>Consciousness and decision-making</li>
        </ul><br>
        - The <b>cerebellum</b> coordinates voluntary movement and balance; it doesn't initiate movement but ensures it’s smooth and precise.
        Its roles are:
        <ul>
            <li>Fine-tuning motor activity</li>
            <li>Maintaining posture (bet this made you sit up straight)</li>
            <li>Ensuring balance and coordination</li>
            <li>Helping with motor learning (e.g., learning to ride a bike)</li>
        </ul><br>
        - The <b>medulla</b> (or medulla oblongata) controls vital involuntary functions and connects to the brain to the 
        spinal cord. Its functions are:
        <ul>
            <li>Regulating heart rate and blood pressure</li>
            <li>Controlling breathing</li>
            <li>Managing reflexes such as swallowing, coughing, sneezing, and vomiting</li>
        </ul><br>
        - The Hyprothamalmus is found at the base of the brain and is responsible for regulating body temperature.<br>
        - The Pituitary Gland is found below the hyprothamamus and is responsible for producing hormones for growth,
        blood pressure, and reproduction.
    </p>
    <h3>Difficulties in investigating brain function</h3>
    <p>
        - The brain is extremely complex with billions of interconnected neurons.<br>
        - Individual differences make diagnosis and treatment difficult.<br>
        - The brain is hard to access physically and protected by the skull and blood-brain barrier.<br>
        - Ethical limits restrict human brain research.<br>
        - Brain diseases are often progressive and currently incurable.<br>
        - Recovery from damage is unpredictable and varies between individuals.<br>
        - This means that many brain functions are still not fully understood.
    </p>
    <h3>Mapping regions of the brain</h3>
    <p>
        - Neuroscientists have learned a lot about how the brain works by using different methods.<br>
        - One way they do this is by examining patients with brain damage. By observing which abilities are lost or changed after 
        a certain part of the brain is injured, they can link that area to specific functions, like speech, movement, or memory.<br><br>
        - Another method is electrical stimulation. Scientists apply small electrical currents to parts of the brain during 
        surgery to see how the body reacts. This helps them understand what each part of the brain controls.<br><br>
        - They also use advanced scanning techniques like MRI (Magnetic Resonance Imaging). MRI scans produce detailed images 
        of the brain and allow scientists to see which parts are active during different tasks, such as thinking, speaking, or seeing.<br><br>
        - However, the brain is very delicate and complicated, which makes investigating it extremely difficult. 
        Even a small mistake in surgery or treatment can cause serious problems. Because of this, treating brain disorders is challenging, 
        and scientists must be very careful when studying or operating on the brain.
    </p>
    <br>
    <h2>5.2.3 The Eye</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=G_clJP1VGtk">GCSE Biology Revision "The Eye"</a>
    </p>
    <p>
        - The eye is a sense organ containing receptors sensitive to light intensity and colour.
    </p>
    <h3>Diagram of the eye</h3>
    <img class="centreimage" src="/images/bio/eyediagram.jpg" alt="Eye diagram">
    <sub><a href="https://scioly.org/wiki/index.php?title=Anatomy/Nervous_System">source</a></sub>
    <Table>
        <thead>
            <tr>
                <th>Structure</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Retina</td>
                <td>The light-sensitive cells around the inside of the eye</td>
            </tr>
            <tr>
                <td>Ciliary muscles</td>
                <td>Can change the thickness of the eye lens</td>
            </tr>
            <tr>
                <td>Eye Lens</td>
                <td>Focuses light on the retina</td>
            </tr>
            <tr>
                <td>Iris</td>
                <td>Coloured ring of muscle controlling how much light enters. In bright light iris 
                    muscles contract and the pupil becomes smaller/constricts. In dark light, iris 
                    muscles relax (pupil becomes larger/dilates).</td>
            </tr>
            <tr>
                <td>Cornea</td>
                <td>The transparent protective layer and focus light on the retina</td>
            </tr>
            <tr>
                <td>Suspensory ligaments</td>
                <td>Attatch the clilary muscles to the eye lens</td>
            </tr>
            <tr>
                <td>Sclera</td>
                <td>The back of the eye</td>
            </tr>
            <tr>
                <td>Optic nerve</td>
                <td>Carries the nerve impulses from the retina to the brain</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <p>
        - Light that enters the cornea has to be focused using refraction.<br>
        - If the light is focused in front or behind the retina, the image will be blurred.<br>
        - The retina is composed of cones that allow us to see in colour, and rods that allows us 
        to monitor depth perception.<br>
        - The shape of the lens can be changed by the contraction and relaxation of ciliary muscles. This changes the amount 
        the lens refracts the light and this is important for seeing close and distant objects in focus.<br>
        - The amount of light entering the eye is controlled by a ring of muscle called the iris by controlling
        the size of the pupil.<br>
        - Circular muscles contract to make the pupil smaller, whereas radial muscles contract to make the pupil larger.
    </p>
    <br>
    <h3>Accommodation</h3>
    <p>
        - The process of changing the shape of the lens to focus on near or distant objects.<br>
        To focus on a near object:
        <ol><b>
            <li>the ciliary muscles contract</li>
            <li>the suspensory ligaments loosen</li>
            <li>the lens is then thicker and refracts light rays strongly</li>
        </b></ol>
        To focus on a distant object:
        <ol><b>
            <li>the ciliary muscles relax</li>
            <li>the suspensory ligaments are pulled tight</li>
            <li>the lens is then pulled thin and only slightly refracts light rays</li>
        </b></ol>
    </p>
    <br>
    <h3>Common Problems with the Eye</h3>
    <p>
        - The two most common defects of the eyes are myopia 
        (short sightedness) and hyperopia (long sightedness), where
        rays of light do not focus on the retina.<br>
        <ul>
            <li>In myopia, close objects can be seen clearly, but not far away.</li>
            <li>Light is focused in front of the retina.</li>
            <li>This is because the eyeball is <b>too long</b> or the lens is <b>too curved</b>.</li>
            <li>The ciliary muscles cannot make the lens thin enough to focus.</li>
            <li><b>Treatment</b>: a concave lens (diverging lens) to spread the light out from 
                distant objects before it reaches the eye.</li>
        </ul>
        <ul>
            <li>In hyperopia, far away objects can be seen clearly, but not close ones.</li>
            <li>Light is focused behind the retina.</li>
            <li>This is because the eyeball is <b>too short</b> or the lens is <b>too straight</b>.</li>
            <li>The ciliary muscles cannot make the lens thick enough to focus.</li>
            <li><b>Treatment</b>: a convex lens (converging lens) to bring the light rays from 
                close objects closer together before it reaches the eye.</li>
        </ul>
        - These defects are generally treated with "spectacle lenses" 
        (glasses) which refract light rays to focus on the retina.<br>
        - New technologies now include hard and soft contact lenses, and laser
        surgery to change the shape of the cornea and a replacement lens in
        the eye.
    </p>
    <h4>Advantages and disadvantages of methods of treatment</h4>
    <Table>
        <thead>
            <tr>
                <th>Method</th>
                <th>Advantages</th>
                <th>Disadvantages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Glasses</td>
                <td>
                    <ul>
                        <li>Glasses do not damage the eyes</li>
                        <li>Last a very long time</li>
                        <li>Relatively cheap</li>
                        <li>Problems easier to sort out</li>
                        <li>Very effective</li>
                        <li>Able to function straight away</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Glasses need changing from time to time</li>
                        <li>Cost if several vision changes occur</li>
                        <li>Restricting in sports</li>
                        <li>Some people do not like the look of them</li>
                        <li>Glasses could get lost or broken</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Contact lenses</td>
                <td>
                    <ul>
                        <li>Soft lenses can be worn every day for a month</li>
                        <li>Cannot be seen</li>
                        <li>Modern soft, flexible lenses are available and more comfortable</li>
                        <li>Easier for playing sports or watching 3D movies</li>
                        <li>Disposable options are available</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Need to be kept sterile to prevent eye infections</li>
                        <li>Hard lenses must be kept in sterile solutions overnight</li>
                        <li>Must be removed overnight.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Laser eye surgery</td>
                <td>
                    <ul>
                        <li>Vision permanently corrected</li>
                        <li>Improved appearance</li>
                        <li>Good for playing sports and general activities</li>
                        <li>Myopia: reduces thickness of cornea to refract light 
                            less strongly</li>
                        <li>Hyperopia: changes curve of the cornea so it refracts light 
                            from close objects more effectively</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Large cost</li>
                        <li>Only for adults once their eyes have stopped growing</li>
                        <li>May not be able to drive straight away</li>
                        <li>May still need glasses for reading</li>
                        <li>Risk of errors and infections during surgery</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Artifical replacement lens</td>
                <td>
                    <ul>
                        <li>Permanent replacement for an eye defect</li>
                        <li>Faulty lens is replaced by an artificial lens</li>
                        <li>Permanent contact lens inserted and natural lens left in place</li>
                        <li>Corrects vision</li> 
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Potential damage to the retina</li>
                        <li>Cataracts could develop if natural lens remains in place</li> 
                        <li>Infections could result from the procedure</li> 
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>5.2.4 Control of Body Temperature in Humans</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=WoMPARSQPZw">GCSE Biology Revision "Thermoregulation"</a>
    </p>
    <p>
        - The average human body temperature is 36.6°C (36.4°C for around our age, and it has been going down uniformily across the planet from 37.2°C).<br>
        - It has to be maintained to keep enzymes in the optimum environment.<br>
        - Hyp<b>er</b>thermia is when the body temperature is too high, and hyp<b>o</b>thermia is when the body temperature is too low.<br>
        - Internal core body temperature is controlled by the thermoregulatory centre in the hypothalamus. Receptors detect 
        change as blood flows through.<br>
        - The skin contains temperature receptors and sends nervous impulses to the thermoregulatory centre to detect external changes in temperature.
    </p>
    <p>
        - If the body temperature is too high, blood vessels dilate (vasodilation) and sweat is produced from the sweat glands.<br>
        - Muscles in blood vessels <u>supplying the skin</u> either dilate or constrict to change the size of the lumen.<br>
        - Both these mechanisms cause a transfer of (thermal) energy from the skin to the environment. These are physiolocical responses.<br>
        - You may also catch a breeze or move to a cooler place (behavioural responses).<br><br>
        - If the body temperature is too low, blood vessels constrict (vasoconstriction), sweating stops and skeletal muscles contract (shiver).<br>
        - You may also put a jacket on or move to a warmer place (or turn heating on) (behavioural responses).<br>
    </p>
</Layout>