---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="5.3 Hormonal coordination in humans">
    <h1>5.3 Hormonal coordination in humans</h1>
    <h2>5.3.1 Human endocrine system</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=c6olhi88KZs">GCSE Biology Revision "Human endocrine system"</a>
    </p>
    <p>
        <b>Hormone:</b> a chemical messenger that is released into the bloodstream via a gland.<br>
        <b>Gland:</b> tissue or organ that produces hormones.<br>
        <Table>
            <thead>
                <tr>
                    <th>Nervous system</th>
                    <th>Endocrine system</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rapid response</td>
                    <td>Slow response</td>
                </tr>
                <tr>
                    <td>Uses electrical impulses</td>
                    <td>Uses chemical messages</td>
                </tr>
                <tr>
                    <td>Response is short-lived</td>
                    <td>Response is long-lived</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <h3>The endocrine system</h3>
    <p>
        - The endocrine system is made up of glands that secrete hormones directly into the bloodstream.<br>
        - The bloodstream carries the hormone.<br>
        - <b>The hormone</b> binds to receptors on the cell membrane of its target organ (like how a virus binds to a receptor on a cell).<br>
        - This produces an <b>effect</b>.
    </p>
    <h3>Glands</h3>
    <p>
        The glands you need to know for GCSE are;
        <ul>
            <li>Pituitary gland (located in the brain)</li>
            <li>Adrenal glands (on top of the kidneys)</li>
            <li>Pancreas (behind the stomach)</li>
            <li>Thyroid gland (in the neck)</li>
            <li>Gonads (ovaries in females and testes in males)</li>
        </ul>
        Each of these glands secretes specific hormones that regulate various bodily functions.<br>
        The pituitary gland in the brain is a 'master gland' which secretes hormones in response to
        body conditions. These hormones act on other glands to stimulate other hormones to be
        released to bring about effects.
    </p>
    <h3>Sexual characteristics</h3>
    <p>
        - There are primary and secondary sexual characteristics.<br>
        <Table>
            <thead>
                <tr>
                    <th>Primary</th>
                    <th>Secondary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>What a person is born with</li>
                            <li>Ovaries for females, testes for males</li>
                            <li>Produces the sex hormones</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Triggered by sex hormones</li>
                            <li>Breast/penis growth</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </Table>
    </p>
    <h2>5.3.2 Control of blood glucose concentration</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=77oyUdNZ054">GCSE Biology Revision "Control of blood glucose concentration"</a>
    </p>
    <p>
        - <b>Glucose</b>: The sugar used in respiration<br>
        - <b>Glycogen</b>: A storage carbohydrate found in the liver in muscles.<br>
        - <b>Glucagon</b>: A hormone that stimulates the liver to break down glycogen to glucose.
    </p>
    <h3>The Pancreas</h3>
    <p>
        - Blood glucose concentration is monitored and controlled by the pancreas.<br>
        - It is an organ and a gland (secrets hormones into the bloodstream).<br>
        - It is a coordinator as it makes descisions (whether to secrete insulin or glucagon).<br>
        - When blood sugar levels rise it releases insulin:
        <ol>
            <li>Receptors on the pancreas detect rise in glucose in the bloodstream.</li>
            <li>Pancreas produces <b>and releases</b> insulin into the bloodstream.</li>
            <li>Insulin makes cell membranes more permeable by glucose, so <b>more</b> glucose is taken 
            up by cells.</li>
            <li>Liver converts and stores the excess glucose into glycogen.</li>
            <li>Blood glucose will decrease.</li>
        </ol>
        - When blood sugar levels fall it releases glucagon:
        <ol>
            <li>Receptors on the pancreas detect <b>fall</b> in glucose in the bloodstream.</li>
            <li>Pancreas produces and releases glucagon into the bloodstream.</li>
            <li>Glucagon causes glycogen stored in the liver and muscles to be broken down into glucose.</li>
            <li>Fats and amino acid are broken down.</li>
            <li>Blood glucose increases.</li>
        </ol>
    </p>
    <h3>Diabetes</h3>
    <p>
        - Diabetes is a disease where the body cannot effectively control blood glucose concentration.<br>
        - There are two main types:
    </p>
    <h4>Type 1 Diabetes</h4>
    <p>
        - Usually starts in childhood/teenage years.<br>
        - Caused by the pancreas failing to produce enough insulin (immune system destroys insulin-producing cells).<br>
        - Blood glucose levels can rise to dangerous levels after eating.<br>
        - Treated by:
        <ul>
            <li>Regular insulin injections.</li>
            <li>Careful diet (avoiding large sugar intakes).</li>
            <li>Regular exercise to lower blood sugar.</li>
        </ul>
    </p>
    <h4>Type 2 Diabetes</h4>
    <p>
        - Usually develops later in life (often linked to obesity, lack of exercise, and genetic risk).<br>
        - Body cells stop responding properly to insulin (insulin resistance).<br>
        - Blood glucose levels remain high after meals.<br>
        - Treated by:
        <ul>
            <li>Careful diet (low sugar, controlled carbohydrate intake).</li>
            <li>Regular exercise.</li>
            <li>Drugs that help the body respond to insulin / reduce blood glucose.</li>
        </ul>
    </p>
    <br>
    <h2>5.3.3 Maintaining water and nitrogen balance in the body</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=kmRh_yRbAR4">GCSE Biology Revision "Maintaining the body's water balance"</a><br>
        & <a href="https://www.youtube.com/watch?v=DbLVB_EDnRs">GCSE Biology Revision "The Kidneys"</a>
    </p>
    <h3>Removing Waste</h3>
    <p>
        - If your cells are metabolically active they are always producing metabolic waste.<br>
        - The body must remove it to maintain homeostasis.<br>
        - The main waste products are:
        <ul>
            <li>Carbon dioxide (from respiration). This is removed because it combines with water in plasma to make carbonic acid, 
                which makes the blood acidic. If this gets too acidic, enzymes will denature. It is expelled through diffusion 
                from capillaries to alveoli and then exhalation.</li>
            <li>Urea (from the breakdown of excess amino acids in the liver). This is removed because 
                it is toxic in high concentrations. High concentrations in the blood is called uraemia. It can cause cell 
                death, interfere with some cell signalling, and damage nerves, as well as water retention.</li>
            <li>Water. Excess water causes fluid around cells to become hypotonic. This is removed through urine.</li>
        </ul>
    </p>
    <Table>
        <thead>
            <tr>
                <th>Control</th>
                <th>No control</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Formation of Urine</li>
                        <li>Urea and excess mineral ions being removed by the kidneys</li>
                        <li>Excess water removed by the kidneys</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Carbon dioxide removal by the lungs</li>
                        <li>Excess water removal by the skin (sweat)</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>5.3.4 Hormones in human reproduction</h2>
    <p>
        - <a href="https://www.youtube.com/watch?v=iXswGsfeHJg">GCSE Biology Revision "The Menstrual Cycle"</a>
    </p>
    <p>
        - The menstrual cycle is regulated by four main hormones:
        <ul>
            <li>FSH: follicle-stimulating hormone; produced by the pituitary gland</li>
            <li>LH: luteinizing hormone; produced by the pituitary gland</li>
            <li>Oestrogen: the main female reproductive hormone. Produced by the ovaries</li>
            <li>Progesterone: Produced by the ovaries; maintains uterus lining.</li>
        </ul>
    </p>
    <h3>Stages of the menstrual cycle</h3>
    <p>
        - Day <b>1</b>: FSH is secreted, this leads to the egg maturing in the ovary.<br>
        - Day <b>1</b>-6: Menstruation - uterus lining breaks down.<br>
        - Day <b>5</b>-7: FSH stimulates ovaries to produce oestrogen. As levels rises, this inhibits FSH production.
        Oestrogen stimulates repair of uterus lining.<br>
        - Day <b>7</b>-13: Profliteration - repair of the uterus lining.<br>
        - Day <b>14</b>: Oestrogen stimulates LH release. Oestrogen levels drop. 
        LH causes ovulation - mature egg released from the ovary.<br>
        - Day <b>15</b>+: The empty egg follicle stimulates the release of Progesterone.
        Progesterone maintains uterus lining. Potential pregnancy.<br>
        - Day <b>28</b> (well, 26-32): Menstruation starts again if no pregnancy.
    </p>
    <br>
    <h2>5.3.5 Contraception</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=5rsdXadNj-E">GCSE Biology Revision "Contraception"</a>
    </p>
    <p>
        - Fertility can be controlled by a variety of hormonal and non-hormonal methods of contraception.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Contraceptive method</th>
                <th>How it works</th>
                <th>Side effects / does it prevent STIs?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Condom</td>
                <td>Creates a barrier to prevent sperm from reaching the egg</td>
                <td>No side effects; protects against STIs</td>
            </tr>
            <tr>
                <td>The Oral pill</td>
                <td>Contains hormones to inhibit FSH production, preventing egg maturation</td>
                <td>Can cause side effects like nausea; does not protect against STIs</td>
            </tr>
            <tr>
                <td>longer term methods: (Hormonal)</td>
                <td>Includes implants, injections, and IUDs that release hormones to prevent ovulation</td>
                <td>Can cause irregular bleeding; does not protect against STIs</td>
            </tr>
            <tr>
                <td>Spermicides</td>
                <td>Kills or disables sperm</td>
                <td>Can cause irritation; does not protect against STIs</td>
            </tr>
            <tr>
                <td>Abstinence</td>
                <td>Avoiding intercourse during fertile periods</td>
                <td>No side effects; protects against STIs</td>
            </tr>
            <tr>
                <td>Surgical sterilisation</td>
                <td>Permanent method involving cutting or blocking the fallopian tubes or vas deferens</td>
                <td>Permanent (can sometimes be reversed though); does not protect against STIs</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>5.3.6 The use of hormones to treat infertility</h2>
    <p>
        People may have difficulty conceiving (getting pregnant) for various reasons, including:
        <ul>
            <li>Lack of female hormones (FSH, LH)</li>
            <li>Damage to oviducts</li>
            <li>Lack of sperm</li>
            <li>Eating disorders</li>
            <li>Age</li>
            <li>pretty much no reason!</li>
        </ul>
    </p>
    <h3>Lack of ovulation</h3>
    <p>
        - Some females do not release FSH, so eggs do not mature.<br>
        - Treatment is FSH injections to stimulate the egg to mature, then LH injections to 
        simulate the egg's release.
    </p>
    <h3>IVF</h3>
    <p>
        - There are four main steps to IVF:
        <ol>
            <li>Mother is given FSH and LH to stimulate the maturation and release of multiple eggs.</li>
            <li>Eggs are collected from the mother.</li>
            <li>Father provides a sperm sample, and the eggs are fertilised in the lab by ICSI (intracytoplasmic sperm injection).</li>
            <li>Fertilised eggs (embryos) are grown in the lab for a 2-5 days, then one or two are implanted into the mother's uterus.</li>
            <li>After 12 to 14 days a pregnancy test is given to see if successful.</li>
        </ol>
        - IVF can be expensive and emotionally stressful, and it does not always result in a successful pregnancy.<br>
        - There are also ethical issues surrounding the use of IVF, such as the fate of unused embryos.<br>
        - It also has the risk of multiple births if more than one embryo is implanted.
    </p>
    <h2>5.3.7 Negative feedback</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=_Mts354VC7A">GCSE Biology Revision "Negative Feedback"</a>
    </p>
    <p>
        - Negative feedback is a control system that maintains conditions of the internal environment of the body.<br>
        - It keeps them within an optimal (narrow) range, any movement away from this range is detected and reversed.<br>
        - Blood glucose levels and body temperature are controlled by negative feedback.<br>
        - When the level of a substance gets too high or too low, negative feedback brings it back to normal.
    </p>
    <h3>Thyroxine</h3>
    <p>
        - The thyroid gland produces thyroxine which regulates the basal metabolic rate, development of the brain, 
        growth, oxygen use in tissues, and protein synthesis.<br>
        - The release of thyroxine is controlled by a negative feedback system involving the pituitary gland.<br>
        - When thyroxine levels are low, the pituitary gland releases thyroid-stimulating hormone (TSH) 
        which stimulates the thyroid gland to produce more thyroxine.<br>
        - When thyroxine levels are high, the pituitary gland reduces the release of TSH, which decreases the production of thyroxine.<br>
        - Iodine, found in food, is required to produce thyroxine.<br>
        <img class="centreimage" src="/images/bio/thyroxineloop.png" alt="Thyroxine negative feedback diagram">
    </p>
    <h3>Adrenaline</h3>
    <p>
        - NOT negative feedback: no feedback loop.<br>
        - The adrenal glands produce adrenaline which is used to prepare the body for 'fight or flight' in times of stress or danger.<br>
        - Adrenaline increases heart rate, breathing rate, and blood flow to muscles, and it also increases blood glucose levels by 
        stimulating the breakdown of glycogen to glucose in the liver.<br>
        - The release of adrenaline is controlled by the sympathetic nervous system, which is activated in response to stress or danger.
    </p>
    <h3>Worked exam questions</h3>
    <h4>Compare the role of thyroxine in the body and the way it is controlled with the role
        and control system for adrenaline. (4 marks)</h4>
    <p>
        <ul>
            <li>Thyroxinie controls the body's metabolic rate and growth and development.</li>
            <li>It is controlled in a negative feedback loop.</li>
            <li>Adrenaline, by contrast, increases heart rates and breathing rates, triggers pupil dilation, 
                and triggers the conversion of glycogen to glucose in the liver.</li>
            <li>Adrenaline is not controlled by a negative feedback loop; it is released in response to stress or danger.</li>
        </ul>
    </p>
    <h4>Describe how a negative feedback system works. (4 marks)</h4>
    <p>
        <ul>
            <li>If a factor in the internal environment increases, this is detected by receptors.</li>
            <li>Changes take place to decrease it back to its original devel.</li>
            <li>Conversely, if a factor in the internal environment decreases, changes take place to increase it
                back to its original level.</li>
            <li>For example, if blood glucose levels rise, insulin is released to lower it; 
                if blood glucose levels fall, glucagon is released to raise it.</li>
        </ul>
    </p>
</Layout>