---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="5.3 Hormonal coordination in humans">
    <h1>5.3 Hormonal coordination in humans</h1>
    <h2>5.3.1 Human endocrine system</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=c6olhi88KZs">GCSE Biology Revision "Human endocrine system"</a>
    </p>
    <p>
        <b>Hormone:</b> a chemical messenger that is released into the bloodstream via a gland.<br>
        <b>Gland:</b> tissue or organ that produces hormones.<br>
        <Table>
            <thead>
                <tr>
                    <th>Nervous system</th>
                    <th>Endocrine system</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rapid response</td>
                    <td>Slow response</td>
                </tr>
                <tr>
                    <td>Uses electrical impulses</td>
                    <td>Uses chemical messages</td>
                </tr>
                <tr>
                    <td>Response is short-lived</td>
                    <td>Response is long-lived</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <h3>The endocrine system</h3>
    <p>
        - The endocrine system is made up of glands that secrete hormones directly into the bloodstream.<br>
        - The bloodstream carries the hormone.<br>
        - <b>The hormone</b> binds to receptors on the cell membrane of its target organ (like how a virus binds to a receptor on a cell).<br>
        - This produces an <b>effect</b>.
    </p>
    <h3>Glands</h3>
    <p>
        The glands you need to know for GCSE are;
        <ul>
            <li>Pituitary gland (located in the brain)</li>
            <li>Adrenal glands (on top of the kidneys)</li>
            <li>Pancreas (behind the stomach)</li>
            <li>Thyroid gland (in the neck)</li>
            <li>Gonads (ovaries in females and testes in males)</li>
        </ul>
        Each of these glands secretes specific hormones that regulate various bodily functions.<br>
        The pituitary gland in the brain is a 'master gland' which secretes hormones in response to
        body conditions. These hormones act on other glands to stimulate other hormones to be
        released to bring about effects.
    </p>
    <h3>Sexual characteristics</h3>
    <p>
        - There are primary and secondary sexual characteristics.<br>
        <Table>
            <thead>
                <tr>
                    <th>Primary</th>
                    <th>Secondary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>What a person is born with</li>
                            <li>Ovaries for females, testes for males</li>
                            <li>Produces the sex hormones</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Triggered by sex hormones</li>
                            <li>Breast/penis growth</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </Table>
    </p>
</Layout>