---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="5.4 Plant hormones">
    <h1>5.4 Plant hormones</h1>
    <h2>5.4.1 Control and coordination</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=_Bf5WKEMB5o">GCSE Biology Revision "Plant hormones"</a>
    </p>
    <p>
        - Plants produce hormones to coordinate and control growth and
        responses.<br>
        - Phototropism is response to light.<br>
        - Gravitropism or geotropism is response to gravity.<br>
        - Hydrotropism is response to water.<br>
        - Shoots are positively phototropic and negatively gravitropic (grow
        towards light and away from gravity).<br>
        - Roots are negatively phototropic, positively hydrotrophic, and positively gravitropic (grow
        away from light and towards water and gravity).<br>
        - Ethene controls cell division and ripening of fruits.
    </p>
    <h3>Auxin</h3>
    <p>
        - Auxin is a plant hormone that controls growth near the tips of shoots
        and roots.<br>
        - They are made in the meristem.<br>
        - Auxin stimulates growth in shoots and inhibits growth in roots.<br>
        - In shoots, more auxin accumulates on the shaded side, causing the
        cells there to elongate faster. This makes the shoot bend towards the
        light.<br>
        - In roots, more auxin accumulates on the lower side, inhibiting cell
        elongation there. This makes the root bend downwards.
    </p>
    <h3>Phototropism</h3>
    <p>
        <ol>
            <li>The light hits the plant shoot</li>
            <li>Auxin will diffuse form the tip</li>
            <li>It will acculumate on the dark side</li>
            <li>Cells on the dark side elongate faster</li>
            <li>The shoot grows and bends towards the light</li>
        </ol>
    </p>
    <img class="centreimage" src="/images/bio/phototropism.jpg" alt="phototropism">
    <sub><a href="https://courses.lumenlearning.com/boundless-biology/chapter/plant-sensory-systems-and-responses/">source</a></sub>
    <h3>Germination</h3>
    <p>
        - In roots the side with LESS auxins grow more, causing the root to grow downwards.<br>
        - In shoots the side with MORE auxins grow more, causing the shoot to grow upwards.<br>
        - This is important for seed germination, as the shoot needs to grow
        upwards to reach the light for photosynthesis, and the root needs to
        grow downwards to reach the water and minerals in the soil.<br>
        - It knows which direction to grow in because of gravity.<br>
        - Gibberellins are important in initiating seed germination.<br>
        - They stimulate the seed to break dormancy and start germination.
    </p>
</Layout>