---
import Layout from '../../../../layouts/Layout.astro';
---
<Layout title="GCSE AQA Biology">
    <h1>Biology Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        <button><a href="https://filestore.aqa.org.uk/resources/biology/specifications/AQA-8461-SP-2016.PDF">Specification</a></button>
        <button><a href="https://www.savemyexams.com/gcse/biology/aqa/18/">SaveMyExams</a></button>
        <button><a href="https://www.bbc.co.uk/bitesize/examspecs/zpgcbk7">BBC Bitesize</a></button>
    </p>
    <h2>Revision notes</h2>
    <div class="lotsofnotes">
        <div>
            <h3>Part 1</h3>
            <a href="1/1/">1.1 Cell structure</a>
            <br>
            <a href="1/2/">1.2 Cell Division</a>
            <br>
            <a href="1/3/">1.3 Transport in cells</a>
            <br>
        </div>
        <div>
            <h3>Part 2</h3>
            <a href="2/1/">2.1 Principles of organisation</a>
            <br>
            <a href="2/2/">2.2 Animal tissues, organs and organ systems</a>
            <br>
            <a href="2/3/">2.3 Plants: tissues, organs and systems</a>
        </div>
        <div>
            <h3>Part 3</h3>
            <a href="3/1/">3.1 Communicable Diseases</a>
            <br>
            <a href="3/2/">3.2 Monoclonal antibodies</a>
            <br>
            <a href="3/3/">3.3 Plant disease</a>
        </div>
        <div>
            <h3>Part 4</h3>
            <a href="4/1/">4.1 Photosynthesis</a>
            <br>
        </div>
        <div>
            <h3>Part 7</h3>
            <a href="7/1/">7.1 Adaptations, interdependence and competition</a>
            <br>
            <a href="7/2/">7.2 Organisation of an ecosystem</a>
            <br>
            <a href="7/3/">7.3 Biodiversity and the effect of human interaction on ecosystems</a>
            <br>
            <a href="7/4/">7.4 Trophic levels in an ecosystem</a>
            <br>
            <a href="7/5/">7.5 Food production</a>
        </div>
    </div>
</Layout>