---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="2.2 How bonding and structure are related to the properties of substances">
    <BackButton />
    <h1>2.2 How bonding and structure are related to the properties of substances</h1>
    <h2>2.2.1 The three states of matter</h2>
    <p>
        - There are three states of matter: solid, liquid, and gas.<br>
        <sub>yes i know there's more but not for GCSE</sub><br>
        - Melting and freezing take place at the melting point (melting if temperature is rising above it, freezing if falling below).<br>
        - Boiling and condensing take place at the boiling point (boiling if temperature is rising above it, condensing if falling below).
    </p>
    <h3>Model to represent the three states of matter</h3>
    <p>
        - In the model used at GCSE, particles are represented by small solid spheres.<br>
        - Particle theory can help to explain melting, boiling, freezing and condensing.<br>
        - It is also useful for explaining sublimation (solid → gas) and deposition (gas → solid), though these are less commonly seen.
    </p>
    <img class="centreimage restrictimage" src="/images/ch/stateparticles.png" alt="state particles">
    <p>
        - In the solid, the particles are in a regular arrangement. They vibrate about a fixed position, 
        and they are very close together.<br>
        - In the liquid, the particles are in a random arrangement. They move around each other, and are close
        together, but not as close together as in the solid.<br>
        - In the gas, the particles are in a random arrangement. They move quickly in all directions and are
        far apart.
    </p>
    <p>
        - Limitations of this model:
        <ul>
            <li>There are no forces represented</li>
            <li>All particles are represented as spheres</li>
            <li>The spheres are solid (atoms aren't actually solid)</li>
            <li>No difference in particle size or mass is shown</li>
        </ul>
    </p>
    <br>
    <h3>Energy</h3>
    <p>
        <sub>(from spec)</sub><br>
        - The amount of energy needed to change state from solid to liquid and liquid to gas depends on 
        the strength of the forces between the particles.<br>
        - The nature of the particles involved depends on the type of bonding and the structure of the substance.<br>
        - The stronger the forces between the particles, the higher the melting and boiling points.
    </p>
    <h3>Names of changes of state</h3>
    <p>
        - Melting: solid → liquid<br>
        - Freezing: liquid → solid<br>
        - Boiling (or evaporation): liquid → gas<br>
        - Condensing: gas → liquid<br>
        - Sublimation: solid → gas (bypasses liquid state)<br>
        - Deposition (or desublimation): gas → solid (bypasses liquid state)<br>
        <sub>These names are important to remember, especially melting/boiling vs freezing/condensing, 
            as they depend on whether temperature is going up or down. Also they still somehow confuse me sometimes.</sub>
    </p>
    <br>
    <h2>2.2.2 State symbols</h2>
    <p>
        - In chemical equations, there three states of matter are shown as <sub>(s)</sub> for solid, <sub>(l)</sub> for 
        liquid and <sub>(g)</sub> for gas.<br>
        - The symbol <sub>(aq)</sub> is used for substances that are aqueous, which means dissolved in water.<br>
        - For example, the production of glucose is 6CO₂<sub>(g)</sub> + 6H₂O<sub>(l)</sub> → C₆H₁₂O₆<sub>(s)</sub> + 6O₂<sub>(g)</sub>.
    </p>
    <br>
    <h2>2.2.3 Properties of ionic compounds</h2>
    <p>
        - Ionic compounds have regular structures called giant ionic lattices:
        <img class="centreimagesmall" src="/images/ch/justthelattice.png" alt="ionic lattice">
        - In these, there are strong electrostatic forces of attraction in all
        directions between oppositely charged ions.<br>
        - These compounds have high melting points and high boiling points, due to the large 
        amount of energy required to break their plentiful strong bonds.<br>
        - They conduct electricity when dissolved in water due to the ions being free to move, which means
        charge can flow.
    </p>
    <br>
    <h2>2.2.4 Properties of small molecules</h2>
    <p>
        - Substances that consist of small molecules are usually gases or liquids that 
        have relatively low melting and boiling points.<br>
        - Despite their strong covelant bonds between the <i>atoms</i> (known as intramolecular forces),
        there are only <b>weak forces</b> between the <i>molecules</i> (known as intramolecular forces).<br>
        - It is these intermolecular forces that are overcome, <i>not the covalent bonds</i>, 
        when the substance melts or boils (and this results in the low melting and boiling points).<br>
        - However, the intermolecular forces increase with the size of the molecules,
        so larger molecules have higher melting and boiling points.<br>
        - For example, Neon's boiling point is -246.1°C, while Xenon's is -108.0°C as it is lower down 
        in the group and has more mass.
    </p>
    <h3>Electricity Conduction</h3>
    <p>
        - These substances do not conduct electricity because the molecules do not have an overall electric charge.<br>
        - This is because there are no free ions that can move around.
    </p>
</Layout>