---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="2.3 Structure and bonding of carbon">
    <BackButton />
    <h1>2.3 Structure and bonding of carbon</h1>
    <h2>2.3.1 Diamond</h2>
    <p>
        - Diamond and carbon are <abbr title="(one of the different forms of a chemical element that can exist in the same physical state)">allotropes</abbr> of carbon.<br>
        - In diamond, each carbon atom forms four covalent bonds with other carbon atoms in a giant covalent structure, called a tetrahedron.<br>
        - Diamond is very hard due to its covalent bonds.<br>
        - It also has a very high melting point and does not conduct electricity.
    </p>
</Layout>