---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="4.1 Reactivity of metals">
    <BackButton />
    <h1>4.1 Reactivity of metals</h1>
    <h2>4.1.1 Metal oxides</h2>
    <p>
        - Metals react with oxygen to produce metal oxides. The reactions
        are oxidation reactions because the metals gain oxygen.<br>
        - <b>Oxidation</b> is the gain of oxygen by a substance.<br>
        - <b>Reduction</b> is the loss of oxygen from a substance.
    </p>
    <h3>Iron Example</h3>
    <p>
        - When iron reacts with oxygen, it forms iron oxide (rust).<br>
        - The reaction is: <br>
        4Fe + 3O<sub>2</sub> → 2Fe<sub>2</sub>O<sub>3</sub><br>
        - In this reaction, iron is oxidised (gains oxygen).<br>
        - In the opposite reaction: <br>
        2Fe<sub>2</sub>O<sub>3</sub> → 4Fe + 3O<sub>2</sub><br>
        iron oxide is reduced (loses oxygen).
    </p>
</Layout>