---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="4.2 Reactions of acids">
    <h1>4.2 Reactions of acids</h1>
    <h2>4.2.1 Reactions of acids with metals</h2>
    <p>
        - Acids react with some metals to produce salts and hydrogen.<br>
        - acid + metal → salt + hydrogen<br>
        - e.g. hydrochloric acid + magnesium → magnesium chloride + hydrogen<br>
        - These are <b>redox</b> reactions, as the metal is oxidised and acid is reduced.<br>
        - Magnesium, Iron, and Zinc all react with hydrochloric and sulphuric acids.
    </p>
    <br>
    <h2>4.2.2 Neutralisation of acids and salt production</h2>
    <p>
        - Acids react with bases (e.g. insoluble metal hydroxides and metal oxides) to produce salts and water.<br>
        - acid + base → salt + water<br>
        - e.g. hydrochloric acid + sodium hydroxide → sodium chloride + water<br><br>
        - Acids also react with alkalis (e.g. soluble metal hydroxides) to produce salts and water.<br>
        - acid + alkali → salt + water<br>
        - e.g. sulphuric acid + potassium hydroxide → potassium sulphate + water<br><br>
        - Acids also react with metal carbonates to produce salts, water, and carbon dioxide.<br>
        - acid + metal carbonate → salt + water + carbon dioxide<br>
        - e.g. sulphuric acid + calcium carbonate → calcium sulphate + water + carbon dioxide<br><br>
        - All of these reactions are examples of <b>neutralisation</b>, as the acid is neutralised by the base, alkali, metal oxide, or metal carbonate.
    </p>
    <p>
        The particular salt produced in any reaction between an acid and a base or alkali depends on:
        <ul>
            <li>the acid used (hydrochloric acid produces chlorides, nitric acid produces nitrates, sulfuric acid produces sulfates)</li>
            <li>the positive ions in the base, alkali or carbonate.</li>
        </ul>
    </p>
    <h3>More examples</h3>
    <p>
        - hydrochloric acid + copper oxide → copper chloride + water<br>
        - nitric acid + potassium hydroxide → potassium nitrate + water<br>
        - sulfuric acid + sodium <b>carbonate</b> → sodium sulfate + water + <b>carbon dioxide</b>
    </p>
</Layout>