---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="4.2 Reactions of acids">
    <h1>4.2 Reactions of acids</h1>
    <h2>4.2.1 Reactions of acids with metals</h2>
    <p>
        - Acids react with some metals to produce salts and hydrogen.<br>
        - acid + metal → salt + hydrogen<br>
        - e.g. hydrochloric acid + magnesium → magnesium chloride + hydrogen<br>
        - These are <b>redox</b> reactions, as the metal is oxidised and acid is reduced.<br>
        - Magnesium, Iron, and Zinc all react with hydrochloric and sulphuric acids.
    </p>
</Layout>