@import url("https://assets.c48.uk/reddit-sans.css");

:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: aqua;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --inverted-text: var(--crust);
    --selection-color: var(--mauve);
}

.rainbow {
    background: linear-gradient(
        to right,
        var(--rosewater),
        var(--flamingo),
        var(--pink),
        var(--mauve),
        var(--red),
        var(--maroon),
        var(--peach),
        var(--yellow),
        var(--green),
        var(--teal),
        var(--sky),
        var(--sapphire),
        var(--blue),
        var(--lavender)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

body {
    color: var(--text);
    font-family: 'Reddit Sans', sans-serif;
    background-color: var(--base);
    line-height: 1.45;
}

a {
    color: rgb(0, 217, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    font-size: 16px;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

button {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    background: linear-gradient(
        to right,
        var(--rosewater),
        var(--flamingo),
        var(--pink),
        var(--mauve),
        var(--red),
        var(--maroon),
        var(--peach),
        var(--yellow),
        var(--green),
        var(--teal),
        var(--sky),
        var(--sapphire),
        var(--blue),
        var(--lavender)
    );
}

button a {
    color: navy;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't double up */
    overflow-x: scroll;
}

th, td {
    border: 1px solid white; /* Sets the border color to white */
    padding: 8px; /* Adds padding for better readability */
    text-align: left; /* Aligns text to the left */
}

h2 {
    padding-top: 15px;
}

h3 {
    padding-top: 12px;
    margin: 0;
}

h4 {
    margin-bottom: 0;
    margin: 0;
    padding-top: 10px;
}

p {
    margin-top: 10px;
}

tr:nth-child(even) {
    background-color: var(--mantle);
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling */
}

#header {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

#header div h1 {
    font-size: 40px;
    margin: 0;
}

#headercontent {
    justify-content: space-between;
    display: flex;
    overflow: hidden;
}

#headmsg {
    transition: transform 1s;
}

.scroll-out {
    transform: translateY(-50%);
}

.scroll-in {
    transform: translateY(0%);
}

.inlineplease {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Aligns items horizontally */
}

#main {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#footer {
    text-align: center;
    padding: 10px; /* Optional: for spacing */
}

#footer p {
    text-align: center;
    margin: 0; /* Remove default margins */
}

.centreimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.centreimagefullwidth {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centreimagebutdontstretch {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centreplease {
    display: flex;
    justify-content: center; /* Horizontally center the inner divs */
}

.classiccentreplease { /* Also known as maindivdiv */
    display: flex;
    justify-content: space-between; /* Horizontally center the inner divs */
    max-width: 350px;
}

#jasperimg {
    max-width: 700px;
}

.strike {
    text-decoration: line-through;
}

.lotsofnotes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lotsofnotes > div {
    flex: 1 1 auto;
}

@media screen and (max-width: 800px) {
    #main {
        margin-left: 0;
        margin-right: 0;
    }

    #header {
        margin-left: 0;
        margin-right: 0;
    }

    #jasperimg {
        max-width: 350px;
    }

    .centreimage {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #header {
        display: block;
    }
}