---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="Chemistry 6.1 Rate of reaction">
    <h1>Chemistry 6.1 Rate of reaction</h1>
    <h2>6.1.1 Calculating rates of reactions</h2>
    <p>
        The rate of a chemical reaction can be found by measuring the
        quantity of a reactant used or the quantity of product formed over
        time:
    </p>
    <img class="centreimage" src="/images/ch/rateofreaction.png" alt="Rate of reaction equations">
    <p>
        - The quantity of reactant or product can be measured by the mass in
        grams, moles, or by a volume in cm<sup>3</sup>.<br>
        - The unites of rate of reaction maybe given as g/s, mol/s, or cm<sup>3</sup>/s.
    </p>
</Layout>