---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
const workspacePath = "src/pages/gcse/aqa/ch/6/2.astro";
---

<Layout title="Chem 6.2 Reversible reactions and dynamic equilibrium" path={workspacePath}>
    <h1>6.2 Reversible reactions and dynamic equilibrium</h1>
    <BackButton />
    <h2>6.2.1 Reversible reactions</h2>
    <p>
        In some chemical reactions, the products of the reaction can react
        to produce the original reactants.<br>
        Such reactions are called reversible reactions.<br>
        They can be represented by:
        <img class="centreimagebutdontstretch" src="/images/ch/reversible_reaction.png" alt="Reversible reaction">
    </p>
    <p>
        <b>Equilibrium:</b> When the rate of the forwards reaction is equal to the rate of 
        the reverse reaction.<br>
        This can only happen in a <b>closed system</b>, meaning that
        no matter can enter or leave the system.
    </p>
    <p>
        - The direction of reversible reactions can be changed by changing
        the conditions. For example:
        <img class="centreimage" src="/images/ch/reversible_example_1.png" alt="Ammounium reaction">
        - Other examples include litmus, phenolphlatein, and pretty much any other indicator.
    </p>
    <br>
    <h2>6.2.2 Energy changes and reversible reactions</h2>
    <p>
        - If a reversible reaction is exothermic in one direction, it is endothermic in the opposite direction.<br>
        - As energy cannot be created or destroyed, the same amount of energy is transferred in each case.<br>
        - For example:
        <img class="centreimage" src="/images/ch/reversible_example_2.png" alt="Reversible reaction example 2"><br>
        - On an energy profile diagram, this results in a "mirror image", like this one:
        <img class="centreimage" src="/images/ch/copper_sulphate_energy.webp" alt="Mirror energy profile diagrams">
        <sub><a href="https://bioclimate.commons.gc.cuny.edu/quantitative-determination/enzymes/">source</a>, modified</sub>
    </p>
    <br>
    <h2>6.2.3 Equilibrium</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        When a reversible reaction occurs in apparatus which prevents the
        escape of reactants and products, <b>equilibrium</b> is reached when the
        forward and reverse reactions occur at exactly the same rate.
    </p>
    <br>
    <h2>6.2.4 The effect of changing conditions on equilibrium</h2>
    <p>
        The relative amounts of all the reactants and products at equilibrium
        depend on the conditions of the reaction.<br> 
        The effects of changing conditions on a system at equilibrium can
        be predicted using Le Chatelier's Principle.
    </p>
    <h3>Le Chatelier's Principle</h3>
    <p>
        <b>Le Chatelier's Principle:</b> if a change in conditions is applied 
        to a system in dynamic equilibrium, the system will respond to counteract
        that change.<br>
        Therefore, we can predict what might happens when we change the conditions
        of a system.<br>
        This is a bit like Newton's Third Law, but in chemistry.<br>
    </p>
    <br>
    <h2>6.2.5/6/7 The effect of changing concentration, temperature, and equilibrium</h2>
    <h3>Concentration</h3>
    <p>
        - If the concentration of one of the reactants or products is changed, the system is <b>no longer at equilibrium</b>.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- The concentrations of all the substances will change until <b>equilibrium is reached again</b>.<br>
        - If the concentration of a reactant is increased, more <b>products</b> will be formed until equilibrium is reached again.<br>
        - If the concentration of a product is decreased, more <b>reactants</b> will react until equilibrium is reached again.
    </p>
    <h3>Temperature</h3>
    <p>
        - Temperature is a measure of average (mean) thermal energy of the particles in a system.<br>
        - Increasing temperature increases the thermal energy of the system.<br>
        - The equilibrium will shift to reduce the temperature.<br>
        - This works the other way around too.<br>
        - If the temperature of a system at equilibrium is increased, the relative amount of products 
        at equilibrium increases for an endothermic reaction and decreases for an exothermic reaction.<br>
        - The reverse is true for a lower temperature.
    </p>
    <h3>Pressure</h3>
    <p>
        - If a reversible reaction involves changing the number of gas molecules, 
        altering the pressure can affect the equilibrium mixture.<br>
        - An <b>increase</b> in pressure favours the reaction that forms fewer molecules, while a
        <b>decrease</b> in pressure favours the reaction that forms more molecules.        
    </p>
</Layout>