---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="8.1 Purity, formulations and chromatography">
    <BackButton />
    <h1>8.1 Purity, formulations and chromatography</h1>
    <h2>8.1.1 Pure Substances</h2>
    <p>
        - In chemistry, a pure substance is a single element or compound 
        not mixed with any other substance.<br>
        - In science we would not refer to a substance such as milk as pure because 
        it is a mixture of a number of different substances. This is different from everyday 
        language, where a pure substance can mean a substance that has had nothing added to it, 
        so it is unadulterated and in its natural state, eg pure milk.
    </p>
    <h3>Identifying Pure/Impure Substances</h3>
    <p>
        - Pure substances have specific melting and boiling points. These can be 
        used to distinguish pure substances from impure substances.<br>
        <img src="/images/ch/pureimpuregraph.png" alt="Pure and impure substances">
        <Table>
            <thead>
                <tr>
                    <th>Substance</th>
                    <th>Melting point (°C)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>104</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>76-82</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>35</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <br>
    <h2>8.1.2 Formulations</h2>
    <p>
        - A formulation is a mixture that has been designed as a useful product. Many products are complex mixtures in which each
        chemical has a particular purpose<br>
        - Formulations are made by mixing the components in carefully measured quantities to ensure 
        that the product has the required properties.<br>
        - Formulations include fuels, cleaning agents, paints, medicines, alloys, fertilisers, and foods.
    </p>
</Layout>