---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="8.1 Purity, formulations and chromatography">
    <BackButton />
    <h1>8.1 Purity, formulations and chromatography</h1>
    <h2>8.1.1 Pure Substances</h2>
    <p>
        - In chemistry, a pure substance is a single element or compound 
        not mixed with any other substance.<br>
        - In science we would not refer to a substance such as milk as pure because 
        it is a mixture of a number of different substances. This is different from everyday 
        language, where a pure substance can mean a substance that has had nothing added to it, 
        so it is unadulterated and in its natural state, eg pure milk.
    </p>
    <h3>Identifying Pure/Impure Substances</h3>
    <p>
        - Pure substances have specific melting and boiling points. These can be 
        used to distinguish pure substances from impure substances.<br>
        <img src="/images/ch/pureimpuregraph.png" alt="Pure and impure substances">
        <Table>
            <thead>
                <tr>
                    <th>Substance</th>
                    <th>Melting point (°C)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>104</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>76-82</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>35</td>
                </tr>
            </tbody>
        </Table>
    </p>
    <br>
    <h2>8.1.2 Formulations</h2>
    <p>
        - A formulation is a mixture that has been designed as a useful product. Many products are complex mixtures in which each
        chemical has a particular purpose<br>
        - Formulations are made by mixing the components in carefully measured quantities to ensure 
        that the product has the required properties.<br>
        - Formulations include fuels, cleaning agents, paints, medicines, alloys, fertilisers, and foods.
    </p>
    <br>
    <h2>8.1.3 Chromatography</h2>
    <p>
        - Chromatography can be used to separate mixtures and can give information to help identify substances.<br>
        - It involves a stationary phase and a mobile phase.<br>
        <ul>
            <li>The stationary phase is the paper</li>
            <li>The mobile phase is the solvent (water)</li>
        </ul>
        - The ratio of the distance moved by a compound (centre of spot from origin) can be expressed as its 
        R<sub>f</sub> value (retention factor).<br>
        <img class="centreimage" src="/images/ch/chromatography_rf.png" alt="Chromatography Rf Equation">
        - If a pigment does not travel very fast, it will <b>not</b> travel far up the paper and have a 
        lower R<sub>f</sub> value.<br>
        - The pigment could have a strong attraction to the stationary phase (with strong intermolecular forces)
        and/or a weak attraction to the mobile phase.<br>
        - If a pigment <i>does</i> travel quite fast, it will travel further up the paper and have a higher 
        R<sub>f</sub> value.<br>
        - The pigment could have a weak attraction to the stationary phase (with weak intermolecular forces)
        and/or a strong attraction to the mobile phase.<br>
        - This means that different compounds have different R<sub>f</sub> values in different solvents, which 
        can be used to help identify the compounds.
    </p>
    <h3>Chromatography Experiment</h3>
    <p>
        <img class="centreimagesmall" src="/images/ch/chromatogram.png" alt="Chromatography Experiment">
        - The black dot is a mixture, because it separates out into multiple colours.<br>
        - Yellow is likely to have the strongest attraction to the stationary phase, as it travelled the least.<br>
        - Blue is likely to have the strongest attraction to the mobile phase, as it travelled the most.<br>
    </p>
    <h4>R<sub>f</sub> Calculation</h4>
    <p>
        - The solvent front is 10.5cm from the starting line.<br>
        - Yellow is 2cm from the starting line.<br>
        - Purple is 6.5cm from the starting line.<br>
        - Blue is 9cm from the starting line.<br>
        - <b>Using the R<sub>f</sub> equation:</b>
        <ul>
            <li>Yellow: R<sub>f</sub> = 2/10.5 = 0.19</li>
            <li>Purple: R<sub>f</sub> = 6.5/10.5 = 0.62</li>
            <li>Blue: R<sub>f</sub> = 9/10.5 = 0.86</li>
        </ul>
    </p>
</Layout>