---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="8.3 Identification of ions by chemical and spectroscopic means">
    <BackButton />
    <h1>8.3 Identification of ions by chemical and spectroscopic means</h1>
    <h2 id="flametests">8.3.1 Flame Tests</h2>
    <p>
        - Flame tests can be used to identify some metal ions (cations).<br>
        - If a sample containing a mixture of ions is used, some flame colours 
        can be masked.
    </p>
    <Table>
        <thead>
            <tr>
                <th>Metal ion</th>
                <th>Flame colour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Calcium</td>
                <td style="color: orangered;">Orange-red</td>
            </tr>
            <tr>
                <td>Potassium</td>
                <td style="color: #bf80bf;">Lilac</td>
            </tr>
            <tr>
                <td>Sodium</td>
                <td style="color: yellow;">Yellow</td>
            </tr>
            <tr>
                <td>Copper</td>
                <td style="color: green;">Green</td>
            </tr>
            <tr>
                <td>Lithium</td>
                <td style="color: crimson;">Crimson</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2 id="metalhydroxides">8.3.2 Metal Hydroxides</h2>
    <p>
        - Sodium hydroxide solution can be used to identify some cations.
    </p>
    <Table>
        <tr>
            <th>Metal Cation</th>
            <th>Effect of adding NaOH</th>
            <th>Ionic equation</th>
        </tr>
        <tr>
            <td>Al<sup>3+</sup></td>
            <td><span style="color: white">White</span> precipitate formed, but when adding more<br> 
                NaOH it dissolves (we found this out the hard way lmao)</td>
            <td>Al<sup>3+</sup><sub>(aq)</sub> + 3OH<sup>-</sup><sub>(aq)</sub> {"->"} Al(OH)<sub>3(s)</sub></td>
        </tr>
        <tr>
            <td>Ca<sup>2+</sup></td>
            <td><span style="color: white">White</span> precipitate formed</td>
            <td>Ca<sup>2+</sup><sub>(aq)</sub> + 2OH<sup>-</sup><sub>(aq)</sub> {"->"} Ca(OH)<sub>2(s)</sub></td>
        </tr>
        <tr>
            <td>Mg<sup>2+</sup></td>
            <td><span style="color: white">White</span> precipitate formed</td>
            <td>Mg<sup>2+</sup><sub>(aq)</sub> + 2OH<sup>-</sup><sub>(aq)</sub> {"->"} Mg(OH)<sub>2(s)</sub></td>
        </tr>
        <tr>
            <td>Cu<sup>2+</sup></td>
            <td><span style="color: lightblue">Light blue</span> precipitate formed</td>
            <td>Cu<sup>2+</sup><sub>(aq)</sub> + 2OH<sup>-</sup><sub>(aq)</sub> {"->"} Cu(OH)<sub>2(s)</sub></td>
        </tr>
        <tr>
            <td>Fe<sup>2+</sup></td>
            <td><span style="color: green;">Green</span> precipitate formed</td>
            <td>Fe<sup>2+</sup><sub>(aq)</sub> + 2OH<sup>-</sup><sub>(aq)</sub> {"->"} Fe(OH)<sub>2(s)</sub></td>
        </tr>
        <tr>
            <td>Fe<sup>3+</sup></td>
            <td><span style="color: #741212;">Red-brown</span> precipitate formed</td>
            <td>Fe<sup>3+</sup><sub>(aq)</sub> + 3OH<sup>-</sup><sub>(aq)</sub> {"->"} Fe(OH)<sub>3(s)</sub></td>
        </tr>
    </Table>
    <br>
    <h2 id="chs">8.3.3 Carbonates & 8.3.4 Halides & 8.3.5 Sulfates</h2>
    <Table>
        <tr>
            <th>Test</th>
            <th>Anion</th>
            <th>Observations</th>
        </tr>
        <tr>
            <td>Add acid e.g. HCl, HNO<sub>3</sub>, or H<sub>2</sub>SO<sub>4</sub></td>
            <td>Carbonate (CO<sub>3</sub><sup>2-</sup>)</td>
            <td>Fizzing, gas turns limewater cloudy</td>
        </tr>
        <tr>
            <td rowspan="3">Add HNO<sub>3</sub>, then AgNO<sub>3</sub></td>
            <td>Chloride (Cl<sup>-</sup>)</td>
            <td><span style="color: white">White</span> precipitate formed</td>
        </tr>
        <tr>
            <td>Bromide (Br<sup>-</sup>)</td>
            <td><span style="color: #FFFDD0">Cream</span> precipitate formed</td>
        </tr>
        <tr>
            <td>Iodide (I<sup>-</sup>)</td>
            <td><span style="color: yellow">Yellow</span> precipitate formed</td>
        </tr>
        <tr>
            <td>Add Hcl then BaCl<sub>2</sub></td>
            <td>Sulfate (SO<sub>4</sub><sup>2-</sup>)</td>
            <td><span style="color: white">White</span>  precipitate formed</td>
        </tr>
    </Table>
    <br>
    <h2>Required Practical 7 Analysis of Ionic Compounds</h2>
    <p>
        - To use chemical tests to identify the ions in unknown single ionic compounds.<br>
        - The salt can be identified by analysis of the ions, which can be tested for using
        the chemical tests above.
    </p>
    <h3>Required Equipment/Materials</h3>
    <h4>For Flame Tests</h4>
    <p>
        <ul>
            <li>Nichrome wire loop</li>
            <li>Bunsen burner</li>
            <li>Hydrochloric acid (dilute)</li>
            <li>Test compounds (e.g. lithium, sodium, potassium, calcium, copper salts)</li>
        </ul>
    </p>
    <h4>For Sodium Hydroxide Tests (Cations)</h4>
    <p>
        <ul>
            <li>Sodium hydroxide solution</li>
            <li>Test tubes</li>
            <li>Pipettes</li>
            <li>Solutions of:</li>
                <ul>
                    <li>Copper(II) sulfate</li>
                    <li>Iron(II) sulfate</li>
                    <li>Iron(III) chloride</li>
                    <li>Calcium nitrate</li>
                    <li>Aluminium nitrate</li>
                    <li>Magnesium nitrate</li>
                </ul>
        </ul>
    </p>
    <h4>For Anion Tests</h4>
    <p>
        <ul>
            <li>
                <b>Carbonates:</b>:<br>
                Dilute hydrochloric acid<br>
                Limewater
            </li>
            <li>
                <b>Halides:</b><br>
                Nitric acid (dilute)<br>
                Silver nitrate solution
            </li>
            <li>
                <b>Sulfates:</b><br>
                Hydrochloric acid (dilute)<br>
                Barium chloride solution
            </li>
        </ul>
    </p>
    <h4>General Equipment</h4>
    <p>
        <ul>
            <li>Test tube rack</li>
            <li>Beakers</li>
            <li>Stirring rod</li>
            <li>Safety goggles</li>
            <li>Lab coat</li>
            <li>Dropper bottles</li>
        </ul>
    </p>
    <h3>Methods</h3>
    <h4>Flame Tests (for metal ions)</h4>
    <p>
        - Clean a nichrome wire loop by dipping it in HCl and holding it in a flame until no colour shows.<br>
        - Dip the loop into the sample and place it in the edge of a blue Bunsen flame.<br>
        - Identify the colour of the flame.<br>
        - See <a href="#flametests">table above</a> to identify the ion.
    </p>
    <h4>Sodium Hydroxide Precipitation Tests (for cations)</h4>
    <p>
        - Add a few drops of metal ion solution to a test tube.<br>
        - Add sodium hydroxide solution dropwise.<br>
        - Once precipitate starts to form, check the colour against <a href="#metalhydroxides">this table</a>.
    </p>
    <h4>Carbonate Test</h4>
    <p>
        - Add dilute HCl to the sample.<br>
        - If fizzing occurs, bubble the gas through limewater.<br>
        - If limewater turns cloudy, CO₂ is present → carbonate confirmed.
    </p>
    <h4>Halide Test</h4>
    <p>
        - Add dilute nitric acid to the sample.<br>
        - Add silver nitrate solution.<br>
        - Observe precipitate:
        <ul>
            <li>Chloride: white</li>
            <li>Bromide: cream</li>
            <li>Iodide: yellow</li>
        </ul>
    <h4>Sulfate Test</h4>
    <p>
        - Add dilute HCl to the sample.<br>
        - Add barium chloride solution.<br>
        - A white precipitate indicates a sulfate ion.
    </p>
    <h4>Identifying the Unknown Salts</h4> 
    <p> 
        - To identify an unknown ionic salt, follow these steps in order: 
        <ol> 
            <li><b>Perform a Flame Test:</b> If the salt contains a metal 
                cation that gives a flame colour, identify it using the 
                flame test first. This provides a quick clue about possible metal 
                ions (e.g., lithium, sodium, potassium, calcium, copper).</li> 
            <li><b>Carry Out Sodium Hydroxide Precipitation Tests:</b> If no 
                clear flame colour is observed or to confirm the metal ion, 
                add sodium hydroxide dropwise to a solution of the salt. Note 
                the colour of any precipitate formed and compare with known results.</li>
            <li><b>Test for Carbonates:</b> Add dilute HCl to the salt. Effervescence 
                (fizzing) indicates the presence of carbonate ions. Confirm by bubbling 
                the gas into limewater; cloudiness confirms CO₂.</li>
            <li><b>Test for Halides:</b> If no carbonate is detected, add dilute 
                nitric acid followed by silver nitrate solution. Observe the colour 
                of any precipitate to identify chloride, bromide, or iodide ions.</li>
            <li><b>Test for Sulfates:</b> If halide tests are negative, add dilute HCl 
                followed by barium chloride solution. A white precipitate indicates the 
                presence of sulfate ions.</li>
        </ol>
    </p>
    <br>
    <h2>8.3.6 Instrumental Methods</h2>
    <p>
        - Elements and compounds can be identified by using instrumental methods as well 
        as chemical ones.<br>
        - Instrumental methods are accurate, sensitive, and rapid.
    </p>
    <br>
    <h2>8.3.7 Flame emission spectroscopy</h2>
    <p>
        - Flame emission spectroscopy is an instrumental method used to analyse metal ions
        in solutions.<br>
        - The sample is put into a flame and the light given out is passed
        through a spectroscope.<br>
        - The output is a line spectrum that can be analysed to identify the metal ions 
        in the solution and measure their concentration.
        <img class="centreimage" src="/images/ch/spectroscopy.png" alt="Spectroscopy">
        <sub><a href="http://www.mrpalermo.com/firework-spectra.html">source</a></sub>
    </p>
</Layout>