---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="2.1 - Bonding, structure, and the properties of matter (Part 1)">
    <h1>2.1 - Bonding, structure, and the properties of matter (Part 1)</h1>
    <p>
        <button><a href="../">Back</a></button>
    </p>
    <h2>Chemical bonds</h2>
    <p>
        - There are three types of strong chemical bonds: ionic, covalent and
        metallic.<br>
        - In Ionic bonds, the positive and negative charges are attracted to each
        other. It can only occur in compounds where metals are combined with non-metals.<br>
        - In Covalent bonds, the electrons are shared between the atoms. It happens 
        in most non-metallic elements and in most non-metal compounds.<br>
        - In Metallic bonds, the electrons are shared between the atoms, but the
        atoms are held together by a network of metal ions. It occurs in metals.
    </p>
</Layout>