---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
const workspacePath = "src/pages/gcse/aqa/ch/1/3.astro";
---

<Layout title="1.3 Properties of transition metals" path={workspacePath}>
    <BackButton />
    <h1>1.3 Properties of transition metals</h1>
    <h2>1.3.1 Comparison with Group 1 elements</h2>
    <p>
        - The transition elements are metals with similar properties, but they are 
        different from the metals in Group 1.<br>
        - Differences include higher melting points, greater densities, 
        increased strength, hardness, and lower reactivity with oxygen, water, and halogens.<br>
        - Examples of transition metals that illustrate these general properties include: chromium (Cr),
        manganese (Mn), iron (Fe), cobalt (Co), nickel (Ni), and copper (Cu).
    </p>
    <br>
    <h2>1.3.2 Typical properties</h2>
    <p>
        - Transition metals can form different ions (oxidation states) e.g. Fe (II) forms FeO but Fe (III) forms Fe<sub>2</sub>O<sub>3</sub>.<br>
        - They often form coloured compounds.<br>
        - They can be used as catalysts (speeds up chemical reactions by reducing the <a href="../../5/1/">activation energy</a>).
    </p>
</Layout>