---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="Chemistry 5.2 Chemical cells and fuel cells">
    <h1>5.2 Chemical cells and fuel cells</h1>
    <h2>5.2.1 Cells and batteries</h2>
    <p>
        - Cells are the basic units of chemical energy storage.<br>
        - Chemicals inside them react to produce electrical energy.<br>
        - The voltage produced by a cell is dependent upon a number of
        factors including the type of electrode and electrolyte.<br>
        - A simple cell can be made by connecting two different metals in
        contact with an electrolyte.<br>
        - Batteries consist of two or more cells connected in series, 
        which produces a greater voltage.<br>
        - In non-rechargable cells, the chemical reactions stop when one of 
        the reactants is depleted. An example of this is a standard household 
        alkaline battery (like your basic Duracell or Energizer non-rechargable).<br>
        - In rechargable cells, the chemical reactions also stop when one of the 
        reactants is depleted, but the cell can be recharged by passing an electric 
        current in the opposite direction to the output (batteries produce DC).
    </p>
    <h3>Cell Diagram</h3>
    <img class="centreimagebutdontstretch" src="/images/ch/cell-diagram.png" alt="Cell Diagram">
    <a href="https://chem.libretexts.org/Bookshelves/Analytical_Chemistry/Supplemental_Modules_(Analytical_Chemistry)/Electrochemistry/Exemplars/Rechargeable_Batteries">source</a>
    <p>
        If, in this diagram, the cathode was Zinc and the anode was Copper, then, <b>in discharging</b>, the Zinc 
        would be oxidised in the half-equation <code>Zn -> Zn<sub>2</sub> + 2e<sup>-</sup></code>
        and the Copper would be reduced in the half-equation <code>Cu<sub>2</sub> + 2e<sup>-</sup> -> Cu</code>.
        <br>
        Shown in the diagram is <b>charging</b>, therefore this is reversed.
    </p>
</Layout>