---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="GCSE AQA Big Maths">
    <h1>Maths (for louis)</h1>
    <h2> AQA GCSE </h2>
    <h2> Revision Notes </h2>
    <div class="lotsofnotes">
        <h3>Algebra</h3>
        <div>
            <h3>Stuff</h3>
            <a href="algebra/1/">Algebra</a>
        </div>
    </div>
</Layout>