---
import Layout from '../../../../layouts/Layout.astro';
import Table from '../../../../components/Table.astro';
---

<Layout title="AQA Big Maths">
    <h1>Maths (for louis)</h1>
    <h2> AQA GCSE </h2>
    <h2> Revision Notes </h2>
    <div class="lotsofnotes">
        <h3>Algebra</h3>
        <div>
            <a href="algebra/2">Expanding Brackets</a>
            <br>
            <a href="algebra/1/">Solving Equations</a>
            <br>
            <a href="algebra/3/">Simulanious Equations </a>
            <br>
        </div>
    </div>
</Layout>