---
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="GCSE AQA Physics">
    <h1>Physics Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        <button
            ><a
                href="https://filestore.aqa.org.uk/resources/physics/specifications/AQA-8463-SP-2016.PDF"
                >Specification</a
            ></button
        >
        <button
            ><a href="https://www.savemyexams.com/gcse/physics/aqa/18/"
                >SaveMyExams</a
            ></button
        >
    </p>
    <h2>Revision notes</h2>
    <div class="lotsofnotes">
        <div>
            <h3>Part 1</h3>
            <p>(none yet)</p>
            <br />
        </div>
        <div>
            <h3>Part 2</h3>
            <a href="2/1/">2.1</a>
            <br />
        </div>
        <div>
            <h3>Part 5</h3>
            <a href="5/1/">5.1 Forces and their interactions</a>
            <br />
            <a href="5/6.1/">5.6.1</a>
            <br />
        </div>
        <div>
            <h3>Part 8</h3>
            <a href="8/1/"
                >8.1 - Solar system; stability of orbital motions; satellites</a
            >
            <br />
            <a href="8/2">8.2 - Red Shift</a>
            <br />
        </div>
    </div>
</Layout>
