---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="GCSE AQA Physics">
    <h1>Physics Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        <button><a href="https://cdn.sanity.io/files/p28bar15/green/e96b2cef624c0970b0f90d9678a438580aed0f65.pdf">Specification</a></button>
        <button><a href="https://www.savemyexams.com/gcse/physics/aqa/18/">SaveMyExams</a></button>
    </p>
    <h2>Revision notes</h2>
    <div class="classiccentreplease">
        <div>
            <h3>Part 1</h3>
            <p>(none yet)</p>
            <br>
        </div>
        <div>
            <h3>Part 2</h3>
            <p>(none yet)</p>
        </div>
    </div>
</Layout>