---
import Layout from '../layouts/Layout.astro';
---
<Layout title="404">
    <img id="jasperimg" class="centreimagefullwidth" src="/images/404.png">
    <h1 class="rainbow" style="text-align: center;">AQA's Basement 404. Enjoy the very shocked looking form of Jasper :)</h1>
    <br>
    <a href="https://jasperweb.uk"><img class="centreimagebutdontstretch" src="https://assets.c48.uk/buttons/jasper.webp"></a>
</Layout>