---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <h1 class="rainbow">Welcome to the AQA's Basement website!</h1>
    <p>AQA's basement is a community of GCSE and A-Level students revolving around a discord server 
    who help each other revise and discuss their exams.</p>
    <br>
    <h2 class="rainbow">Revision notes</h2>
    <p>I (Wilbur) am currently working on revision notes:</p>
    <a href="gcse/ocr/cs/">GCSE/OCR/CS</a> (complete!)<br>
    <a href="gcse/aqa/ph/">GCSE/AQA/PH</a> (WIP)<br>
    <a href="gcse/aqa/ch/">GCSE/AQA/CH</a> (WIP)<br>
    <a href="gcse/aqa/bio/">GCSE/AQA/BIO</a> (WIP)<br>
    <a href="gcse/aqa/eng/">GCSE/AQA/ENG</a> (WIP; will only contain quotes and basic analysis for each)<br>
    <br><br>
</Layout>