---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <h1 class="rainbow">Welcome to the AQA's Basement website!</h1>
    <p>AQA's basement is a community of GCSE and A-Level students revolving around a discord server 
    who help each other revise and discuss their exams.</p>
    <p>This website is very much a basic layout/in-development website at the moment, so feel free to contribute!
    It has a long way to go and any help is appreciated.</p>
    <br><br>
    <h2 class="rainbow">WIP notes</h2>
    <p>I (Wilbur) am currently working on revision notes:</p>
    <a href="gcse/ocr/cs/">GCSE/OCR/CS</a> (complete!)<br>
    <a href="gcse/aqa/ch/">GCSE/AQA/CH</a> (WIP)<br>
    <a href="gcse/aqa/bio/">GCSE/AQA/BIO</a> (WIP, completing it as I do the lessons so don't expect it to be quick)<br>
    <br><br>
</Layout>