---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="Bio 4.1 Photosynthesis">
	<h1>Biology 4.1 Photosynthesis</h1>
    <h2>4.1.1 Photosynthetic reaction</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=rAJGnS_ktk4">GCSE Biology Revision "Photosynthesis"</a>
    </p>
    <p>
        - Plants are autotrophs, meaning they produce their own food through photosynthesis. (we are heterotrophs)<br>
        - Photosynthesis is an <b>endothermic</b> reaction (energy is transferred from the environment to 
        the chloroplasts by light to make glucose and oxygen).<br>
        - Leaves are where most photosynthesis takes place, in specialised mesophyll cells that contain chlorophyll.<br>
        - There is a large surface area to absorb light, and leaves are thin for a short diffusion distance.<br>
        - There are many chloroplasts, veins to carry water from the xylem and glucose to the phloem, and 
        guard cells which open and close the stomata and regulate gas exchange.<br>
        - Photosynthesis is represented by the following reaction:
        <img class="centreimage" src="/images/bio/photosynthesis_equation.png" alt="Photosynthesis equation">
        <sub>stolen from spec</sub><br>
        - This can also be written as:
        <code>6CO<sub>2</sub> + 6H<sub>2</sub>O → C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6O<sub>2</sub></code>.<br>
        - This is the opposite of the respiration reaction.
    </p>
    <br>
    <h2>4.1.2 Rate of photosynthesis</h2>
    <p>
        - <b>The law of limiting factors:</b> The rate of that process is limited by the factor which 
        is in shortest supply.<br>
        - Factors that affect the rate of photosynthesis are:
        <ul>
            <li>Light intensity: Higher light intensity = faster photosynthesis, to a point</li>
            <li>Temperature: Most plants have an optimum temperature for photosynthesis, when enzymes work best
                (usually 25°C to 35°C)</li>
            <li>Carbon dioxide concentration: More carbon dioxide = faster photosynthesis, to a point</li>
            <li>Amount of chlorophyll*: More chlorophyll = more photosynthesis (obviously)</li>
        </ul>
        <sub>* only works as a factor if you are testing different types of plants</sub><br>
        - <b>Water is NOT a limiting factor.</b><br>
        - These factors interact and any one of them may be the factor that limits photosynthesis.
    </p>
    <h3>The inverse square law</h3>
    <sub>i hope you've done inverse proportion in maths by now</sub>
    <p>
        - <b>As light intensity increases, the rate of photosynthesis increases.</b><br>
        - Increasing distance = decreases light intensity.<br>
        - Light twice as far away has to cover four times as much area to be the same intensity.<br>
        - Light three times away has to cover nine times as much area to be the same intensity.<br>
        - <code>light intensity ∝ 1 ÷ distance<sup>2</sup></code><br>
    </p>
</Layout>