---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="Bio 4.1 Photosynthesis">
	<h1>Biology 4.1 Photosynthesis</h1>
    <h2>4.1.1 Photosynthetic reaction</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=rAJGnS_ktk4">GCSE Biology Revision "Photosynthesis"</a>
    </p>
    <p>
        - Plants are autotrophs, meaning they produce their own food through photosynthesis. (we are heterotrophs)<br>
        - Photosynthesis is an <b>endothermic</b> reaction (energy is transferred from the environment to 
        the chloroplasts by light to make glucose and oxygen).<br>
        - Leaves are where most photosynthesis takes place, in specialised mesophyll cells that contain chlorophyll.<br>
        - There is a large surface area to absorb light, and leaves are thin for a short diffusion distance.<br>
        - There are many chloroplasts, veins to carry water from the xylem and glucose to the phloem, and 
        guard cells which open and close the stomata and regulate gas exchange.<br>
        - Photosynthesis is represented by the following reaction:
        <img class="centreimage" src="/images/bio/photosynthesis_equation.png" alt="Photosynthesis equation">
        <sub>stolen from spec</sub><br>
        - This can also be written as:
        <code>6CO<sub>2</sub> + 6H<sub>2</sub>O → C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6O<sub>2</sub></code>.<br>
        - This is the opposite of the respiration reaction.
    </p>
    <br>
    <h2>4.1.2 Rate of photosynthesis</h2>
    <p>
        - <b>The law of limiting factors:</b> The rate of that process is limited by the factor which 
        is in shortest supply.<br>
        - Factors that affect the rate of photosynthesis are:
        <ul>
            <li>Light intensity: Higher light intensity = faster photosynthesis, to a point</li>
            <li>Temperature: Most plants have an optimum temperature for photosynthesis, when enzymes work best
                (usually 25°C to 35°C)</li>
            <li>Carbon dioxide concentration: More carbon dioxide = faster photosynthesis, to a point</li>
            <li>Amount of chlorophyll*: More chlorophyll = more photosynthesis (obviously)</li>
        </ul>
        <sub>* only works as a factor if you are testing different types of plants</sub><br>
        - <b>Water is NOT a limiting factor.</b><br>
        - These factors interact and any one of them may be the factor that limits photosynthesis.
    </p>
    <h3>The inverse square law</h3>
    <sub>i hope you've done inverse proportion in maths by now</sub>
    <p>
        - <b>As light intensity increases, the rate of photosynthesis increases.</b><br>
        - Increasing distance = decreases light intensity.<br>
        - Light twice as far away has to cover four times as much area to be the same intensity.<br>
        - Light three times away has to cover nine times as much area to be the same intensity.<br>
        - <code>light intensity ∝ 1 ÷ distance<sup>2</sup></code><br>
    </p>
    <br>
    <h2>Required practical</h2>
    <p>
        - Investigate the effect of light intensity on the rate of photosynthesis
        using an aquatic organism such as pondweed.
    </p>
    <h3>Method</h3>
    <p>
        <ul>
            <li>Place a piece of pondweed in a beaker of water</li>
            <li>Shine a lamp, at a set distance away from the pondweed, at the pondweed</li>
            <li>Record the number of bubbles observed in three minutes</li>
            <li>Repeat for different lamp distances</li>
        </ul>
    </p>
    <h3>Results table</h3>
    <Table>
        <thead>
            <tr>
                <th>Distance between the lamp and the pondweed (cm)</th>
                <th>Light intensity (1/d<sup>2</sup> * 1000)</th>
                <th>Bubbles collected 1</th>
                <th>Bubbles collected 2</th>
                <th>Bubbles collected 3</th>
                <th>Bubbles collected mean</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td>40</td>
                <td>49</td>
                <td>50</td>
                <td>52</td>
                <td>50.3</td>
            </tr>
            <tr>
                <td>10</td>
                <td>10</td>
                <td>40</td>
                <td>35</td>
                <td>39</td>
                <td>38</td>
            </tr>
            <tr>
                <td>20</td>
                <td>2.5</td>
                <td>21</td>
                <td>19</td>
                <td>20</td>
                <td>20</td>
            </tr>
            <tr>
                <td>30</td>
                <td>1</td>
                <td>10</td>
                <td>26</td>
                <td>11</td>
                <td>15.7</td>
            </tr>
            <tr>
                <td>40</td>
                <td>0.6</td>
                <td>2</td>
                <td>4</td>
                <td>5</td>
                <td>3.7</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>4.1.3 Uses of glucose from photosynthesis</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Q5rsuwMDCXY">GCSE Biology Revision "Uses of glucose from photosynthesis"</a>
    </p>
    <p>
        Glucose is used in the following ways:
        <ul>
            <li>Respiration</li>
            <li>Conversion into insoluble starch for storage (stored in leaves, tubers, and blubs)</li>
            <li>Conversion into fat or oil for storage (especially useful in seeds)</li>
            <li>Production of cellulose, which strengthens the cell wall</li>
            <li>Production of amino acids (along with nitrate ions absorbed from the soil), 
                for protein synthesis</li>
        </ul>
    </p>
    <br>
    <h2>Testing leaves for starch</h2>
    <h3>Method</h3>
    <p>
        <ol>
            <li>Heat leaf in boiling ethanol (to remove waxy cuticle)</li>
            <li>Wash with water and spread onto a white tile (rehydrate sample and remove excess ethanol)</li>
            <li>Add iodine solution from a dropping pipette</li>
            <li>Blue-black if starch is present</li>
        </ol>
    </p>
    <h3>Safety</h3>
    <p>
        Ethanol is flammable: use a beaker of hot water not a bunsen burner.
    </p>
    <h3>Exam Question</h3>
    <p>
        <i>Without damaging the plant, suggest how starch can be removed from the leaf, and 
            how the method allows this to happen. [5 marks]</i><br>
        - Place in the dark<br>
        - For a minimum of 48 hours<br>
        - No photosynthesis to produce glucose<br>
        - Existing starch stores broken down into glucose<br>
        - Used in aerobic respiration<br>
        - To <u>release</u> energy
    </p>
    <h2>Maximising Photosynthesis</h2>
    <p>
        - Greenhouses and labs allow growing conditions to be controlled.<br>
        - This guarantees optimum quality and yield.<br>
        - Waste CO<sub>2</sub> is directed into greenhouses.<br>
        - Lighting is controlled and temperature is controlled via vents and heaters.<br>
        - Blinds (for shade) [or tinted solar panels but no the point].<br>
        - Paraffin heater for carbon dioxide.<br>
        - Hydroponic systems.
    </p>
    <h3>Advantages and disadvantages of greenhouses</h3>
    <Table>
        <thead>
            <tr>
                <th>Advantages</th>
                <th>Disadvantages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Control of light and temperature</li>
                        <li>Control of CO<sub>2</sub> levels</li>
                        <li>Control of water levels</li>
                        <li>Control of mineral content of soil</li>
                        <li>Control of air quality</li>
                        <li>No need to plough or prepare land</li>
                        <li>Turnover is fast so profits are high</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Costs of electricty and gas</li>
                        <li>Increased maintenance</li>
                        <li>Increased energy consumption</li>
                        <li>COst of expensive monitoring equipment</li>
                        <li>Limited availability of space</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Hydroponics</h3>
    <p>
        - Hydroponics is a method of growing plants in mineral water.<br>
        - The water should have a perfect balance of mineral ions instead of soil.<br>
        - It happens in the lab.<br>
        - Produces clean soil free plants away from disease and pests.<br>
        - However, it is expensive.
    </p>
</Layout>