---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="4.2 Respiration">
    <h1>4.2 Respiration</h1>
    <h2>4.2.1 Aerobic and anaerobic respiration</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=ZKAaDbTP6Dc">GCSE Biology Revision "Respiration"</a>
    </p>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Cellular respiration is an exothermic reaction which is continuously occurring in living cells.<br>
        - The energy transferred supplies all the energy needed for living processes.<br>
        - Respiration in cells can take place aerobically (using oxygen) or anaerobically (without oxygen), 
        to transfer energy.<br>
        - Organisms need energy for:
        <ul>
            <li>Chemical reactions to build larger molecules (ex. amino acids building proteins, glucosde building 
                glycogen, in animals and plants)</li>
            <li>Movement (ex. skeletal muscle contration in animals)</li>
            <li>Keeping warm (ex. mammals and birds [warm-blooded])</li>
            <li>Plants taking up mineral ions (ex. active transport, nirated for amino acids, magnesium to make cholophyll)</li>
        </ul>
    </p>
    <h3>Respiration equation</h3>
    <p>
        <code>C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6O<sub>2</sub> → 
            C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6H<sub>2</sub>O + energy</code><br>
        - Energy is <b>released</b>, not produced.
    </p>
    <h3>Mitochondria</h3>
    <p>
        - Mitochondria are found in almost all plant, animal, fungal, and algal cells.<br>
        - Folded inner membrane provides a large surface area for the enzumes involved in 
        aerobic respiration.
    </p>
    <h3>Exam question</h3>
    <p>
        Explain why aeroic respiration is an exothermic reaction, whereas photosynthesis is not. [4 marks]<br>
        Aerobic respiration is an exothermic reaction because:
        <ul>
            <li>aerobic respiration transfers energy to the environment</li>
            <li>photosythesis takes in energy from the environment</li>
            <li>exothermic reaction products have less energy than reactants</li>
            <li>endothermic reaction products have more energy than reactants</li>
        </ul>
    </p>
    <h2>4.2.2 Response to Exercise</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=xO2XlIMnLuM">GCSE Biology Revision "Exercise"</a>
    </p>
    <p>
        <sub>(partly from spec)</sub><br>
        - During exercise the human body reacts to the increased demand for energy.<br>
        - Glucose is stored as insoluble glycogen stored in the muscles and the liver.<br>
        - Glycogen is broken down into glucose, used as a 
        rapid energy source, to release energy during aerobic respiration.<br>
        - The heart rate, breathing rate and breath volume increase during
        exercise to supply the muscles with more oxygenated blood.<br>
        - Your skin goes red because the body attemps to radiate excess heat into the air, 
        so blood is diverted to the surface.<br>
        - If there is not as much oxygen, than anaerobic respiration will occur in muscles.<br>
        - The incomplete oxidation of glucose causes a build up of lactic acid and creates 
        an oxygen debt.<br>
        - During long, vigorous periods of activity muscles get fatigued and stop contracting efficiently.<br>
        - Blood flowing through the muscles transports the lactic acid to the liver where it is converted back into glucose.<br>
        - Oxygen debt is the amount of extra oxygen the body needs after exercise to react with the accumulated 
        lactic acid and remove it from the cells.
    </p>
    <br>
    <h2>4.2.3 Metabolism (and the Liver)</h2>
    <p>
        <a href="https://www.youtube.com/watch?v=7ZQQUi2DPMw">GCSE Biology Revision "Metabolism"</a>
    </p>
    <p>
        <sub>(partly stolen from spec)</sub><br>
        - Metabolism is the sum of all the reactions in a cell or the body.<br>
        - The energy transferred by respiration in cells is used by the organism,
        for the enzyme controlled processes in metabolism that synthesise new molecules.<br>
        - Examples of photosynthesis include:
        <ul>
            <li>Converting glucose to starch, glycogen, and cellulose</li>
            <li>Forming lipids (1 glycerol and 3 fatty acids)</li>
            <li>Glucose and nitrate ions form amino acids</li>
            <li>Respiration/photosynthesis</li>
            <li>Deamination (breakdown of excess proteins/amino acids to form urea for excretion)</li>
        </ul>
    </p>
    <h3>Deamination</h3>
    <p>
        <ol>
            <li><u>Excess</u> amino acids are transported via blood to the liver.</li>
            <li>Amine group is removed creating ammonia (toxic).</li>
            <li>Ammonia is converted into urea.</li>
            <li>Urea is filtered by the kidneys forming urine (excess water and salts).</li>
            <li>Then excreted through urethra.</li>
        </ol>
    </p>
    <h3>Role of the Liver: Break down of Lactic Acid</h3>
    <p>
        <ol>
            <li>Blood flowing through the muscles transports the lactic acidd to the liver.</li>
            <li>Oxidised into carbon dioxide and water OR (but less common): converted back to glucose.</li>
            <li>The glucose is either used in respiration or stored as glycogen in muscles.</li>
        </ol>
    </p>
    <h3>Example Exam Question</h3>
    <h4>Compare and contrast aerobic and anaerobic respiration in humans [6 marks]</h4>
    <p>
        - Aerobic respiration releases carbon dioxide and water, while anaerobic respiration
        releases lactic acid.<br>
        - Aerobic respiration releases seven times as much energy per glucose molecule than 
        anaerobic respiration (and is therefore more efficient).<br>
        - Aerobic respiration happens in mitochondria, anaerobic happens in the cytoplasm.<br>
        - Lactic acid needs to be broken down in the liver in anaerobic respiration.<br>
        - Oxygen is required to pay back the oxygen debt in anaerobic respiration.<br>
        - Both release energy and require glucose as a reactant.
    </p>
    <h3>Other roles of the liver</h3>
    <p>
        - Breaking down old worn blood cells.<br>
        - Detoxification - breakdown of ethanol (alcohol).<br>
        - Storing the iron until it is neeed to synthesis more blood cells.
    </p>
</Layout>