---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="4.2 Respiration">
    <h1>4.2 Respiration</h1>
    <h2>4.2.1 Aerobic and anaerobic respiration</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=ZKAaDbTP6Dc">GCSE Biology Revision "Respiration"</a>
    </p>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Cellular respiration is an exothermic reaction which is continuously occurring in living cells.<br>
        - The energy transferred supplies all the energy needed for living processes.<br>
        - Respiration in cells can take place aerobically (using oxygen) or anaerobically (without oxygen), 
        to transfer energy.<br>
        - Organisms need energy for:
        <ul>
            <li>Chemical reactions to build larger molecules (ex. amino acids building proteins, glucosde building 
                glycogen, in animals and plants)</li>
            <li>Movement (ex. skeletal muscle contration in animals)</li>
            <li>Keeping warm (ex. mammals and birds [warm-blooded])</li>
            <li>Plants taking up mineral ions (ex. active transport, nirated for amino acids, magnesium to make cholophyll)</li>
        </ul>
    </p>
    <h3>Respiration equation</h3>
    <p>
        <code>C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6O<sub>2</sub> → 
            C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6H<sub>2</sub>O + energy</code><br>
        - Energy is <b>released</b>, not produced.
    </p>
    <h3>Mitochondria</h3>
    <p>
        - Mitochondria are found in almost all plant, animal, fungal, and algal cells.<br>
        - Folded inner membrane provides a large surface area for the enzumes involved in 
        aerobic respiration.
    </p>
    <h3>Exam question</h3>
    <p>
        Explain why aeroic respiration is an exothermic reaction, whereas photosynthesis is not. [4 marks]<br>
        Aerobic respiration is an exothermic reaction because:
        <ul>
            <li>aerobic respiration transfers energy to the environment</li>
            <li>photosythesis takes in energy from the environment</li>
            <li>exothermic reaction products have less energy than reactants</li>
            <li>endothermic reaction products have more energy than reactants</li>
        </ul>
    </p>
</Layout>