---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="6.1 Reproduction">
    <h1>6.1 Reproduction</h1>
    <h2>6.1.1 Sexual and asexual reproduction & 6.1.3 Advantages and disadvantages of sexual and asexual reproduction</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Fh9b6a-3DLQ">GCSE Biology Revision "Sexual and asexual reproduction"</a>
    </p>
    <h3><span class="ace">Asexual</span> reproduction</h3>
    <p>
        - Involves one individual (parent), no fusion of gametes.<br>
        - No mixing of genetic information, offspring are genetically identical to parent (clones).<br>
        - Only mitosis is involved.<br>
        - Examples: Bacteria (binary fission), some plants (potato tubers grow shoots and roots; strawberry plants produce runners;
        spider plants grow plantlets on the ends of long stems), some animals (hydra by budding).
    </p>
    <br>
    <h3>Sexual reproduction</h3>
    <p>
        - Two parents.<br>
        - Fusion of male and female gametes to form a zygote.<br>
        - Mixing of genetic information, offspring are genetically different to parents.<br>
        - Involves meiosis (to produce gametes) and fertilisation (fusion of gametes).<br>
        - Leads to genetic variation in offspring.<br>
        - Gametes formed by meiosis, zygote divides by mitosis.<br>
        - Examples: Most animals and plants.
    </p>
    <br>
    <h3>Advantages of sexual and asexual reproduction</h3>
    <Table>
        <thead>
            <tr>
                <th>Asexual reproduction</th>
                <th>Sexual reproduction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Only one parent needed</li>
                        <li>More time and energy efficient as no need to find a mate</li>
                        <li>Faster than sexual reproduction</li>
                        <li>Many identical offspring can be produced when conditions are favourable</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Genetic variation in offspring increases chance of survival if environment changes</li>
                        <li>Selective breeding can be used to improve and speed up growth of food plants and animals</li>
                        <li>Some organisms in a species can survive selection pressure</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>6.1.2 Meiosis</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=w5SRMZlYR4w">GCSE Biology Revision "Meiosis and fertilisation"</a>
    </p>
    <p>
        <sub>Images from <a href="http://bio.libretexts.org/TextMaps/Map:_Introductory_Biology_(CK-12)/2:_Cell_Biology/2._37:_Meiosis">here</a> and <a href="https://humanbiology.pressbooks.tru.ca/chapter/5-11-sexual-reproduction-meiosis-and-gametogenesis/">here</a></sub><br>
        - Cells in reproductive organs (testes and ovaries) divide by meiosis to produce gametes (sperm and egg).<br>
        - Each times the cell divides, cytokinesis has to happen.
        <ol>
            <li>Interphase: The DNA of each chromosome is replicated.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis1.png" alt="Meiosis stage 1: Interphase">
            </li>
            <li>Chromosomes pair up and swap alleles. This creates variation.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis2.png" alt="Meiosis stage 2: Pairing up and swapping alleles">
            </li>
            <li>Chromosomes line up in the centre of the cell arranged in their pairs. The way chromosomes line up is random, creating variation.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis3.png" alt="Meiosis stage 3: Lining up in the centre">
            </li>
            <li>One chromosome from each pair are pulled to opposite ends of the cell via spindle fibres. The cell divides into two.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis4.png" alt="Meiosis stage 4: First division">
            </li>
            <li>One chromosome from each pair is pulled to opposite ends of the cell via spindle fibres. The cells divide again to form four gametes, each with a single set of chromosomes (haploid).
                These are genetically unique. Each cell has 23 chromosomes.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis5.png" alt="Meiosis stage 5: Second division">
            </li>
        </ol>
    </p>
    <h3>How sexual reproduction leads to variation</h3>
    <p>
        - Chromosomes line up at the equator.<br>
        - The way they line up is random (independent segregation).<br>
        - During meiosis chromosomes swap alleles (crossing over).<br>
        - Fertilisation is random (any sperm can fertilise any egg).<br>
        - This produces genetic variation in offspring.
    </p>
    <br>
    <Table>
        <thead>
            <th>Mitosis</th>
            <th>Meiosis</th>
        </thead>
        <tbody>
            <tr>
                <td>Chromosomes replicate, which copies the genetic information</td>
                <td>Chromosomes replicate, which copies the genetic information</td>
            </tr>
            <tr>
                <td>Only one cell division occurs</td>
                <td>Two cell divisions occur</td>
            </tr>
            <tr>
                <td>One copy of each chromosome (a chromatid) goes to each of the new daughter cells</td>
                <td>Only half of the chromosomes go to each of the new daughter cells</td>
            </tr>
            <tr>
                <td>Two daughter cells produced</td>
                <td>Four daughter cells produced</td>
            </tr>
            <tr>
                <td>Produces genetically identical cells</td>
                <td>Daughter cells are all genetically different</td>
            </tr>
            <tr>
                <td>Occurs during growth and asexual reproduction</td>
                <td>Occurs during sexual reproduction to produce gametes</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>6.1.3 Advantages and disadvantages of sexual and asexual reproduction part 2</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=4n7Cd7SLEQE">GCSE Biology Revision "Advantages and disadvantages of sexual and asexual reproduction"</a>
    </p>
    <h3>Malaria Life Cycle</h3>
    <p>
        - Malaria is caused by a parasite that is spread by mosquitoes.<br>
        - The infected mosquito bites an infected human.<br>
        - A blood temperature drop int he mosquito triggers sexual reproduction of the parasite.<br>
        - The male and female form of the parasite meet in the mosquito's gut to form a diploid cell (which has variation).<br>
        - The diploid zygote divides by mitosis to make loads of copies.<br>
        - Diploid cells travel to the saliva of the mosquito.<br>
        - <b>In the Human:</b><br>
        - The mosquito bites another human host, and diploid parasites travel to the liver to mature/reproduce asexually.<br>
        - Malaria <u>released</u> from liver cells to invade red blood cells.<br>
        - More asexual reproductions happens in RBCs causing them to burst.<br>
        - This causes symptoms of <u>fevers & fatigue</u>.
    </p>
    <br>
    <h3>Types of reproduction in fungi</h3>
    <p>
        - Fungi usually reproduce asexually.<br>
        - Many fungi are made up of a mass of thin threads called hyphae (these form visible structures called mycelium).<br>
        - The hyphae produce spores by mitosis (asexual reproduction). These spores can then grow into new fungi.<br>
        - Some fungi can also reproduce sexually. During poor conditions (e.g. when it's dry), cells in the hyphae of
        two fungi undergo meiosis to form haploid cells.<br>
        - Two hyphae from different fungi join (haploid).<br>
        - Nuclei from hyphae fuse forming a diploid cell.<br>
        - This allows genetic variation. 
    </p>
    <br>
    <h2>6.1.4 DNA and the Genome & 6.1.5 DNA structure</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=TQ_iCf8mzMA">GCSE Biology Revision "DNA and the Genome"</a>
    </p>
    <p>
        - DNA is a polymer made up of two strands forming a double helix.<br>
        - DNA is made up of lots of monomers called nucleotides.<br>
        - Nucleotides are joined together into polymers, creating two strands, forming a double helix.<br>
        - Each nucleotide consists of a sugar, a phosphate group and a base.<br>
        <img class="centreimage" src="/images/bio/nucleotide.png" alt="Nucleotide structure">
        <sub><a href="https://www.mrgscience.com/gr-9-topic-3-macro-molecules.html">source</a></sub><br>
        - The sugar and phosphate groups form the backbone of the DNA strands.<br>
        - The bases stick out from the backbone.<br>
        - There are four different bases: Adenine (A), Thymine (T), Cytosine (C) and Guanine (G).<br>
        - The bases pair up in specific ways: A with T, C with G (complementary base pairing).<br>
        <img class="centreimage" src="/images/bio/dna.jpg" alt="DNA structure with AT and CG base pairs">
        <sub><a href="https://courses.lumenlearning.com/os-conceptsofbio/chapter/dna-replication/">source</a></sub>
    </p>
    <br>
    <h3>Chromosomes</h3>
    <p>
        - DNA forms structures in the nucleus called chromosomes.<br>
        - A small section on a chromosome is a gene.<br>
        - A gene codes for a specific sequence of amino acids to make a specific protein.<br>
        - The genome is the entire set of genetic material in an organism.<br>
        - In humans, the genome is made up of 23 pairs of chromosomes (46 total).<br>
        - Humans have about 20,000-25,000 genes.
    </p>
    <br>
    <h3>Organisation of genetic material</h3>
    <p>
        - Smallest to largest:
        <ol>
            <li>Nucleotide</li>
            <li>Gene</li>
            <li>Chromosome</li>
            <li>DNA (Genome)</li>
            <li>Nucleus</li>
            <li>Cell</li>
        </ol>
    </p>
    <br>
    <h3>Genome Sequencing</h3>
    <p>
        - The Human Genome Project was an international project to sequence the entire human genome.<br>
        - It was completed in 2003 after 12 years and US$3 billion.<br>
        - Knowing the human genome has allowed scientists to identify genes linked to different diseases.<br>
        - It has helped in the development of effective treatments (e.g. cancer, repair of faulty genes, personalised medicine).<br>
        - It also allows us to understand and study inherited disorders.<br>
        - It has also helped us understand human evolution and migration patterns.<br>
        - It could also be used to help people make informed choices e.g. how much alcohol is safe to drink.<br>
        - However, it could potentially be used by insurance companies or employers to discriminate against 
        people with certain genetic disorders, for example by charging more money for health/life insurance.<br>
        - This could also make people decide to not have children if they know they might inherit a disorder, or to 
        have 'designer babies' where embryos are selected based on preferred characteristics.<br>
        - Some sequences we do not understand the function of yet.
    </p>
    <br>
    <h3>Protein Synthesis</h3>
    <p>
        - Protein synthesis is the process of producing proteins at the ribosome using genetic information from the nucleus.<br>
        - In the complementary strands a C is always linked to a G on the opposite strand and a T to an A.<br>
        - mRNA is made in the nucleus during transcription and sent to the ribosome.<br>
        - The DNA splits and is used as a template to make a complementary strand of mRNA (messenger RNA).<br>
        - The mRNA leaves the nucleus and goes to the ribosome.<br>
        - The mRNA is small enough to fit through the nuclear pores.<br>
        - The DNS then zips back up again.<br>
        <img class="centreimagebutdontstretch" src="/images/bio/shittymrna.png" alt="Transcription process">
        - When the mRNA reaches the ribosome, the mRNA attaches to it and translation begins.<br>
        - The ribosome reads the mRNA in sets of three bases because three bases code for one amino acid (a codon).<br>
        - tRNA (transfer RNA) molecules bring the correct amino acids to the ribosome in the correct order.<br>
        - The amino acids are joined together by the ribosome and fold to form a polypeptide chain (protein).<br>   
        - This could be a hormone, enzyme, or a structural protein (collagen/keratin).
    </p>
    <br>
    <h3>How the structure of DNA is related to its function</h3>
    <p>
        - Long molecule, can store lots of information.<br>
        - The base sequence allows information to be stored to build specific proteins.<br>
        - Hydrogen bonds are easy to break for replication.<br>
        - Double helix is more stable (won't break apart).
    </p>
</Layout>