---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="6.1 Reproduction">
    <h1>6.1 Reproduction</h1>
    <h2>6.1.1 Sexual and asexual reproduction & 6.1.3 Advantages and disadvantages of sexual and asexual reproduction</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Fh9b6a-3DLQ">GCSE Biology Revision "Sexual and asexual reproduction"</a>
    </p>
    <h3><span class="ace">Asexual</span> reproduction</h3>
    <p>
        - Involves one individual (parent), no fusion of gametes.<br>
        - No mixing of genetic information, offspring are genetically identical to parent (clones).<br>
        - Only mitosis is involved.<br>
        - Examples: Bacteria (binary fission), some plants (potato tubers grow shoots and roots; strawberry plants produce runners;
        spider plants grow plantlets on the ends of long stems), some animals (hydra by budding).
    </p>
    <br>
    <h3>Sexual reproduction</h3>
    <p>
        - Two parents.<br>
        - Fusion of male and female gametes to form a zygote.<br>
        - Mixing of genetic information, offspring are genetically different to parents.<br>
        - Involves meiosis (to produce gametes) and fertilisation (fusion of gametes).<br>
        - Leads to genetic variation in offspring.<br>
        - Gametes formed by meiosis, zygote divides by mitosis.<br>
        - Examples: Most animals and plants.
    </p>
    <br>
    <h3>Advantages of sexual and asexual reproduction</h3>
    <Table>
        <thead>
            <tr>
                <th>Asexual reproduction</th>
                <th>Sexual reproduction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Only one parent needed</li>
                        <li>More time and energy efficient as no need to find a mate</li>
                        <li>Faster than sexual reproduction</li>
                        <li>Many identical offspring can be produced when conditions are favourable</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Genetic variation in offspring increases chance of survival if environment changes</li>
                        <li>Selective breeding can be used to improve and speed up growth of food plants and animals</li>
                        <li>Some organisms in a species can survive selection pressure</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
</Layout>