---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="6.1 Reproduction">
    <h1>6.1 Reproduction</h1>
    <h2>6.1.1 Sexual and asexual reproduction & 6.1.3 Advantages and disadvantages of sexual and asexual reproduction</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=Fh9b6a-3DLQ">GCSE Biology Revision "Sexual and asexual reproduction"</a>
    </p>
    <h3><span class="ace">Asexual</span> reproduction</h3>
    <p>
        - Involves one individual (parent), no fusion of gametes.<br>
        - No mixing of genetic information, offspring are genetically identical to parent (clones).<br>
        - Only mitosis is involved.<br>
        - Examples: Bacteria (binary fission), some plants (potato tubers grow shoots and roots; strawberry plants produce runners;
        spider plants grow plantlets on the ends of long stems), some animals (hydra by budding).
    </p>
    <br>
    <h3>Sexual reproduction</h3>
    <p>
        - Two parents.<br>
        - Fusion of male and female gametes to form a zygote.<br>
        - Mixing of genetic information, offspring are genetically different to parents.<br>
        - Involves meiosis (to produce gametes) and fertilisation (fusion of gametes).<br>
        - Leads to genetic variation in offspring.<br>
        - Gametes formed by meiosis, zygote divides by mitosis.<br>
        - Examples: Most animals and plants.
    </p>
    <br>
    <h3>Advantages of sexual and asexual reproduction</h3>
    <Table>
        <thead>
            <tr>
                <th>Asexual reproduction</th>
                <th>Sexual reproduction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Only one parent needed</li>
                        <li>More time and energy efficient as no need to find a mate</li>
                        <li>Faster than sexual reproduction</li>
                        <li>Many identical offspring can be produced when conditions are favourable</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Genetic variation in offspring increases chance of survival if environment changes</li>
                        <li>Selective breeding can be used to improve and speed up growth of food plants and animals</li>
                        <li>Some organisms in a species can survive selection pressure</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>6.1.2 Meiosis</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=w5SRMZlYR4w">GCSE Biology Revision "Meiosis and fertilisation"</a>
    </p>
    <p>
        <sub>Images from <a href="http://bio.libretexts.org/TextMaps/Map:_Introductory_Biology_(CK-12)/2:_Cell_Biology/2._37:_Meiosis">here</a> and <a href="https://humanbiology.pressbooks.tru.ca/chapter/5-11-sexual-reproduction-meiosis-and-gametogenesis/">here</a></sub><br>
        - Cells in reproductive organs (testes and ovaries) divide by meiosis to produce gametes (sperm and egg).<br>
        - Each times the cell divides, cytokinesis has to happen.
        <ol>
            <li>Interphase: The DNA of each chromosome is replicated.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis1.png" alt="Meiosis stage 1: Interphase">
            </li>
            <li>Chromosomes pair up and swap alleles. This creates variation.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis2.png" alt="Meiosis stage 2: Pairing up and swapping alleles">
            </li>
            <li>Chromosomes line up in the centre of the cell arranged in their pairs. The way chromosomes line up is random, creating variation.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis3.png" alt="Meiosis stage 3: Lining up in the centre">
            </li>
            <li>One chromosome from each pair are pulled to opposite ends of the cell via spindle fibres. The cell divides into two.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis4.png" alt="Meiosis stage 4: First division">
            </li>
            <li>One chromosome from each pair is pulled to opposite ends of the cell via spindle fibres. The cells divide again to form four gametes, each with a single set of chromosomes (haploid).
                These are genetically unique. Each cell has 23 chromosomes.<br>
                <img class="centreimagebutdontstretch" src="/images/bio/meiosis5.png" alt="Meiosis stage 5: Second division">
            </li>
        </ol>
    </p>
    <h3>How sexual reproduction leads to variation</h3>
    <p>
        - Chromosomes line up at the equator.<br>
        - The way they line up is random (independent segregation).<br>
        - During meiosis chromosomes swap alleles (crossing over).<br>
        - Fertilisation is random (any sperm can fertilise any egg).<br>
        - This produces genetic variation in offspring.
    </p>
    <br>
    <Table>
        <thead>
            <th>Mitosis</th>
            <th>Meiosis</th>
        </thead>
        <tbody>
            <tr>
                <td>Chromosomes replicate, which copies the genetic information</td>
                <td>Chromosomes replicate, which copies the genetic information</td>
            </tr>
            <tr>
                <td>Only one cell division occurs</td>
                <td>Two cell divisions occur</td>
            </tr>
            <tr>
                <td>One copy of each chromosome (a chromatid) goes to each of the new daughter cells</td>
                <td>Only half of the chromosomes go to each of the new daughter cells</td>
            </tr>
            <tr>
                <td>Two daughter cells produced</td>
                <td>Four daughter cells produced</td>
            </tr>
            <tr>
                <td>Produces genetically identical cells</td>
                <td>Daughter cells are all genetically different</td>
            </tr>
            <tr>
                <td>Occurs during growth and asexual reproduction</td>
                <td>Occurs during sexual reproduction to produce gametes</td>
            </tr>
        </tbody>
    </Table>
</Layout>