---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="6.2 Variation and Evolution">
    <h1>6.2 Variation and Evolution</h1>
    <h2>6.2.1 Variation</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=_LoPYfhTgeI">GCSE Biology Revision "Variation"</a>
    </p>
    <p>
        - Variation is a difference in characteristics between individuals of the same species caused by 
        <u>random mutations</u>.<br>
        - Genetic variation is caused by different <u>alleles</u> and mutations.<br>
        - Environmental variation is caused by the environment / surroundings.<br>
        <ul>
            <li>the genes they have inherited (genetic causes)</li>
            <li>the conditions in which they have developed (environmental causes)</li>
            <li>a combination of genes and the environment.</li>
        </ul>
    </p>
    <br>
    <h3>Natural Selection</h3>
    <p>
        - Natural selection is a <u><b>mechanism</b></u> of evolution that explains how organisms better suited 
        to their environment are more likely to survive and reproduce.
    </p>
    <br>
    <h3>Discrete Variation</h3>
    <p>
        - The data can only be a limited set of value e.g. blood group, eye colour, hair colour.<br>
        - Represented by a bar or pie chart.
    </p>
    <br>
    <h3>Continuous Variation</h3>
    <p>
        - The data can be any value in a range e.g. height, mass.<br>
        - Represented by a scatter graph or histogram.
    </p>
    <br>
    <h3>6 mark answer structure example</h3>
    <p>
        <sub>Explain why male red deer have large antlers</sub><br>
        <ol>
            <li>There is a variation of alleles in the population of deer</li>
            <li>Random mutations give rise to deer with large antlers</li>
            <li>The environment changes which is a selection pressure</li>
            <li>Deer with smaller antlers lose more fights so get poorer land / fewer mates so they are 
                more likely to <u>die</u></li>
            <li>Deer with bigger antlers are more likely to <u>survive, reproduce, and pass on their large antler 
                <b>alleles</b></u></li>
            <li>Frequency of deer with alleles for larger antlers increases over generations</li>
        </ol>
    </p>
</Layout>