---
import Layout from '../../../../../layouts/Layout.astro';
const workspacePath = "src/pages/gcse/aqa/bio/6/2.astro";
---

<Layout title="6.2 Variation and Evolution" path={workspacePath}>
    <h1>6.2 Variation and Evolution</h1>
    <h2>6.2.1 Variation</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=_LoPYfhTgeI">GCSE Biology Revision "Variation"</a>
    </p>
    <p>
        - Variation is a difference in characteristics between individuals of the same species caused by 
        <u>random mutations</u>.<br>
        - Genetic variation is caused by different <u>alleles</u> and mutations.<br>
        - Environmental variation is caused by the environment / surroundings.<br>
        <ul>
            <li>the genes they have inherited (genetic causes)</li>
            <li>the conditions in which they have developed (environmental causes)</li>
            <li>a combination of genes and the environment.</li>
        </ul>
    </p>
    <br>
    <h3>Natural Selection</h3>
    <p>
        - Natural selection is a <u><b>mechanism</b></u> of evolution that explains how organisms better suited 
        to their environment are more likely to survive and reproduce.
    </p>
    <br>
    <h3>Discrete Variation</h3>
    <p>
        - The data can only be a limited set of value e.g. blood group, eye colour, hair colour.<br>
        - Represented by a bar or pie chart.
    </p>
    <br>
    <h3>Continuous Variation</h3>
    <p>
        - The data can be any value in a range e.g. height, mass.<br>
        - Represented by a scatter graph or histogram.
    </p>
    <br>
    <h3>6 mark answer structure example</h3>
    <p>
        <sub>Explain why male red deer have large antlers</sub><br>
        <ol>
            <li>There is a variation of alleles in the population of deer</li>
            <li>Random mutations give rise to deer with large antlers</li>
            <li>The environment changes which is a selection pressure</li>
            <li>Deer with smaller antlers lose more fights so get poorer land / fewer mates so they are 
                more likely to <u>die</u></li>
            <li>Deer with bigger antlers are more likely to <u>survive, reproduce, and pass on their large antler 
                <b>alleles</b></u></li>
            <li>Frequency of deer with alleles for larger antlers increases over generations</li>
        </ol>
    </p>
    <br>
    <h2>6.2.4 Genetic Engineering</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=gu9T91GJXDo">GCSE Biology Revision "Genetic Engineering"</a>
    </p>
    <p>
        <b>Genetic Engineering</b> is a process by which changes the genome of an organism by inserting a gene from another organism to give it a desired characteristic.<br>
        - To produce human insulin, bacteria are genetically modified to contain the human insulin gene. The bacteria can then produce insulin which is extracted and used to treat diabetes.
    </p>
    <h3>Steps of Genetic Engineering</h3>
    <p>
        <ol>
            <li>Identify the gene we want to transfer</li>
            <li>Use enzymes to cut out the gene</li>
            <li>Transfer the gene into a small circle of DNA called a plasmid</li>
            <li>The desired gene is transferred to the cells of the target organism (at an early stage in their development so that they
            develop with desired characteristics)</li>
        </ol>
    </p>
    <img class="centreimage" src="/images/bio/geneticinsulin.jpg" alt="Genetic Engineering of Insulin diagram">
    <sub><a href="https://philschatz.com/microbiology-book/contents/m58848.html">source</a></sub>
    <h3>Advantages and Disadvantages of Genetic Engineering</h3>
    <p>
        Benefits:
        <ul>
            <li>Can produce large amounts of proteins like insulin and other drugs very fast</li>
            <li>Human insulin made this way will not be rejected by the body</li>
            <li>It could allow treatment for some human genetic disorders in the future</li>
        </ul>
        Drawbacks:
        <ul>
            <li>Genetic engineering is expensive</li>
            <li>It can lead to unintended consequences in the environment or health of organisms</li>
        </ul>
    </p>
    <h3>Benefits and Drawbacks of GM Crops</h3>
    <p>
        Advantages:
        <ul>
            <li>Genetically modifying crops to be resistant to pests or diseases increases yield and allows better grwoth</li>
            <li>GM plants can be used to produce more food or more nutritious food in places where they cannot grow lots</li>
            <li>It can reduce the use of chemical pesticides</li>
        </ul>
        Disadvantages:
        <ul>
            <li>Inserted genes could be transferred to wild populations of plants which could affect biodiversity of plants and 
                insects that feed on them, especially resistance genes.</li>
            <li>Some people feel that the health implications of GM crops have not been fully explored, and there are 
                ethical concerns about the use of genetic engineering in agriculture</li>
        </ul>
    </p>
    <h3>Examples</h3>
    <p>
        - Golden rice is a GM crop that has been modified to produce beta-carotene, which the body can convert into vitamin A. 
        This is important for people in developing countries who may not get enough vitamin A from their diet, as it can help 
        prevent blindness and other health problems. Ethical concerns include widening access divides in late-stage capitalist
        society and treating a symptom rather than addressing root causes of malnutrition.<br>
        - Herbicide-resistant soy is a GM crop that has been modified to be resistant to herbicides, allowing farmers to use 
        herbicides to control weeds without harming the crop. This can increase yield and reduce the need for manual weeding.
        Ethical concerns include agriculture corporations gaining more control and mess with biodiversity of wild plants and insects.<br>
        - Gene therapy for cystic fibrosis is a potential application of genetic engineering in medicine, where the faulty gene 
        responsible for cystic fibrosis could be replaced with a healthy copy to treat the disease. Ethical concerns include 
        the safety and long-term effects of gene therapy, as well as issues of access and equality in healthcare.
    </p>
</Layout>