---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="6.3 The development of understanding of genetics and evolution">
    <h1>6.3 The development of understanding of genetics and evolution</h1>
    <h2>6.3.1 Theory of evolution</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=7RraYCKvTXc">GCSE Biology Revision "Evolution by Natural Selection"</a>
    </p>
    <p>
        - Lamarck observed was that giraffes for the longest necks could survive, reproduce, etc.<br>
        - What Lamarck got wrong was that he thought the necks developed over a lifetime and passed onto offspring if it was useful.<br>
        - Experiments were conducted where the tails were chopped off mice but offspring were born with tails, disproving Lamarck's theory.<br>
        - Charles Darwin, as a result of observations on a round the world expedition, backed by years of experimentation and discussion and
        linked to developing knowledge of geology and fossils, proposed the theory of evolution by natural selection.<br>
        - His ideas were not quickly accepted because his theory challenged the idea that God made all living organisms on Earth.<br>
        - There was little evidence at the time to support his theory.<br>
        - The mechanism of inheritance and variation was not known until 50 years after the theory was published.
    </p>
    <br>
    <h2>6.3.2 Speciation</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=sqBZRQirPM4">GCSE Biology Revision "Speciation"</a>
    </p>
    <p>
        Alfred Russell Wallace:<br>
        <ul>
            <li>Same ideas as Darwin</li>
            <li>Darwin's ideas were backed up by research, unlike Wallace's</li>
            <li>Darwin is more famous</li>
            <li>Darwin published the "origin of species" first</li>
            <li>Darwin and Wallace worked closely together after</li>
        </ul>
    </p>
    <p>
        - <b>Speciation</b> is when individuals in a population are separated, and evolve separately into different species.<br>
        <ol>
            <li>Two populations of the same species are in an area</li>
            <li>Physical barriers (e.g. new mountain ranges) separate the populations</li>
            <li>Populations adapt to new environments due to different <u>selection pressures</u> (conditions have to be different on either side)</li>
            <li>Development of a new species as <u>different</u> allels are beneficial</li>
        </ol>
    </p>
</Layout>