---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="6.3 The development of understanding of genetics and evolution">
    <h1>6.3 The development of understanding of genetics and evolution</h1>
    <h2>6.3.1 Theory of evolution</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=7RraYCKvTXc">GCSE Biology Revision "Evolution by Natural Selection"</a>
    </p>
    <p>
        - Lamarck observed was that giraffes for the longest necks could survive, reproduce, etc.<br>
        - What Lamarck got wrong was that he thought the necks developed over a lifetime and passed onto offspring if it was useful.<br>
        - Experiments were conducted where the tails were chopped off mice but offspring were born with tails, disproving Lamarck's theory.<br>
        - Charles Darwin, as a result of observations on a round the world expedition, backed by years of experimentation and discussion and
        linked to developing knowledge of geology and fossils, proposed the theory of evolution by natural selection.<br>
        - His ideas were not quickly accepted because his theory challenged the idea that God made all living organisms on Earth.<br>
        - There was little evidence at the time to support his theory.<br>
        - The mechanism of inheritance and variation was not known until 50 years after the theory was published.
    </p>
    <br>
    <h2>6.3.2 Speciation</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=sqBZRQirPM4">GCSE Biology Revision "Speciation"</a>
    </p>
    <p>
        Alfred Russell Wallace:<br>
        <ul>
            <li>Same ideas as Darwin</li>
            <li>Darwin's ideas were backed up by research, unlike Wallace's</li>
            <li>Darwin is more famous</li>
            <li>Darwin published the "origin of species" first</li>
            <li>Darwin and Wallace worked closely together after</li>
        </ul>
    </p>
    <p>
        - <b>Speciation</b> is when individuals in a population are separated, and evolve separately into different species.<br>
        <ol>
            <li>Two populations of the same species are in an area</li>
            <li>Physical barriers (e.g. new mountain ranges) separate the populations</li>
            <li>Populations adapt to new environments due to different <u>selection pressures</u> (conditions have to be different on either side)</li>
            <li>Development of a new species as <u>different</u> alleles are beneficial</li>
        </ol>
    </p>
    <br>
    <h2>6.3.5 Fossils</h2>
    <p>
        - It is difficult to determine how and when life began because no one was there.<br>
        - Life™ is estimated to have begun around 3.5 billion years ago, but the earliest fossils
        are only around 2.5 billion years old because many early forms of life were soft-bodied, 
        which means that they have left few traces behind. What traces there were have been mainly
        destroyed by geological activity.<br>
        - A <b>fossil</b> is the preserved remains of an organism that lived millions of years ago.<br>
        - Fossils can be formed in several ways, including:
        <ul>
            <li>hard parts of the organism that do not decay easily (bones, shells, teeth)</li>
            <li>from parts of organisms that have not decayed because one or more
                of the conditions needed for decay are absent (e.g. encased in ice or amber)</li>
            <li>when parts of the organism are replaced by minerals as they decay (mineralisation):
                <ol>
                    <li>
                        dead body buried by layers of silt
                    </li>
                    <li>
                        decay leaves bones and teeth behind
                    </li>
                    <li>
                        layers of silt become rock
                    </li>
                    <li>
                        the bone is dissolved by water and in the space left behind, minerals from the
                        water enter and form a rock-like substance shaped like the original bone
                    </li>
                    <li>
                        the rocks become pushed up and as the softer rocks erode the harder fossil is exposed
                    </li>
                    <li>
                        EA sports. It's in the game.
                    </li>
                </ol>
            </li>
            <li>as preserved traces of organisms, such as footprints, burrows and
                rootlet traces</li>
        </ul>
        - Fossil evidence: changes to organisms over time.
    </p>
    <br>
    <h2>6.3.6 Extinction</h2>
    <p>
        - Extinctions occur when there are no remaining individuals of a species still alive.<br>
        - Extinction can be caused by:
        <ul>
            <li>changes in the environment that are too fast (e.g. climate change, habitat destruction)</li>
            <li>the extinction of a species' food source</li>
            <li>the introduction of a new predator or competitor</li>
            <li>new diseases</li>
            <li>invasive species that outcompete</li>
            <li>overpopulation</li>
            <li>over-hunting / over-fishing</li>
            <li>lack of genetic diversity</li>
            <li>natural disasters</li>
        </ul>
    </p>
    
</Layout>