---
import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="6.4 Classification of Living Organisms">
    <h1>6.4 Classification of Living Organisms</h1>
    <p>Classification is the process of grouping organisms based on their shared characteristics.</p>
    <p>Why classify:
        <ul>
            <li>Easier to find or add new species</li>
            <li>Shows evolutionary relationships</li>
            <li>Makes studying them easier</li>
            <li>Hierarchies - smaller groups within later groups</li>
        </ul>
    </p>
    <h3>Linnaeian System</h3>
    <p>
        Traditionally, living things have been classified into groups depending
        on their structure and characteristics in a system developed by Carl Linnaeus.<br>
        Linnaeus was a racist. He tried to classify via race because of course.
        <ul>
            <li>Kingdom (Animalia, Plantae, Fungi, Protista, Prokaryota)</li>
            <li>Phylum</li>
            <li>Class</li>
            <li>Order</li>
            <li>Family</li>
            <li>Genus (e.g., <i>Homo</i>, always capitalised and in <i>italics</i>, <u>underline</u> in exams)</li>
            <li>Species (e.g., <i>Homo <b>sapiens</b></i>)</li>
        </ul>
        This is a binomial classification (two names).
    </p>
    <h3>Woeseian System</h3>
    <p>
        The Woeseian System is a more modern approach to classification based on genetic relationships.<br>
        It was developed by Carl Woese and is based on evidence now available (microscopes and DNA sequencing).<br>
        Everything is categorised into three domains:
        <ul>
            <li>Archaea (primitive bacteria usually living in extreme environments)</li>
            <li>Bacteria (true bacteria)</li>
            <li>Eukaryota (including protists, fungi, plants, and animals)</li>
        </ul>
        Domain is above Kingdom.
    </p>
</Layout>