---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---

<Layout title="GCSE AQA Physics 2.1">
    <h1>Physics 2.1 - Current, potential difference and resistance</h1>
    <h2>2.1.1 Circuit Diagrams</h2>
    <p>
        - There are many circuit symbols you need to know for GCSE:
    </p>
    <img class="centreimage" src="/images/ph/circuit_symbols.jpg" alt="Circuit Symbols">
    <h3>Functions: </h3>
    <Table>
        <thead>

        </thead>
    </Table>
</Layout>