---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
const workspacePath = "src/pages/gcse/aqa/ph/5/1.astro";
---

<Layout title="Physics 5.1 Forces and their interactions" path={workspacePath}>
    <h1>5.1 - Forces and their interactions</h1>
    <h2>5.1.1 Scalar and vector quantities</h2>
    <p>
        - Every quantity is either <b>scalar</b>, or <b>vector</b>.<br />
        - Scalar quantities have magnitude but no direction.<br />
        - Vector quantities have magnitude and direction.<br />
        - A vector quantity may be represented by a vector arrow. The length of the
        arrow represents the magnitude, and the direction of the arrow shows the
        direction of the vector quantity.<br />
    </p>
    <h3>Examples of scalar and vector quantities</h3>
    <Table>
        <thead>
            <tr>
                <th>Scalar</th>
                <th>Vector</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Speed</td>
                <td>Velocity</td>
            </tr>
            <tr>
                <td>Mass</td>
                <td>Force/Weight</td>
            </tr>
            <tr>
                <td>Distance</td>
                <td>Displacement</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>Acceleration</td>
            </tr>
            <tr>
                <td>Energy</td>
                <td>Momentum</td>
            </tr>
        </tbody>
    </Table>
    <br />
    <h2>5.1.2 Contact and non-contact forces</h2>
    <p>
        - A force is a push or pull that acts on an object due to the
        interaction with another object.<br />
        - All forces between objects are either:
        <ul>
            <li>contact forces - the objects are physically touching</li>
            <li>non-contact forces - the objects are physically separated.</li>
        </ul>
    </p>
    <Table>
        <thead>
            <tr>
                <th>Contact</th>
                <th>Non-contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Friction (A force that opposes the motion of an object in
                    contact with a surface)<br />
                    Air resistance (A type of friction that opposes the motion of
                    an object moving in the air)<br />
                    Tension (A force that pulls two objects connected by a length
                    (string or rope) together)<br />
                    Normal contact force (the force exerted by a surface perpendicular
                    (or "normal") to the surface, in response to an object pressing
                    against it)
                </td>
                <td>
                    Gravitational force (The attractive force experienced by two
                    objects with mass, e.g. the force between you and the earth)<br
                    />
                    Electrostatic force (A force experienced by charged objects which
                    can be attractive or repulsive, e.g. proton and electron)<br
                    />
                    Magnetic force (A force experienced between magnetic poles that
                    can be attractive or repulsive, e.g. the force between the north
                    and south poles of a magnet)
                </td>
            </tr>
        </tbody>
    </Table>
    <br />
    <h2>5.1.3 Gravity</h2>
    <p>
        - Weight is the force acting on an object due to gravity. The force of
        gravity close to the Earth is due to the gravitational field around the
        Earth.<br />
        - The weight of an object depends on the gravitational field strength at
        the point where the object is.<br />
        - The weight of an object may be considered to act at a single point referred
        to as the object's "centre of mass".<br />
        - From the spec:
    </p>
    <img
        class="centreimage"
        src="/images/ph/gravity-equation.png"
        alt="Gravity"
    />
</Layout>
