---
import Layout from "../../../../../layouts/Layout.astro";
const workspacePath = "src/pages/gcse/aqa/ph/5/6.1.astro";
---

<Layout title="Physics 5.6.1 Describing motion along a line" path={workspacePath}>
    <h1>5.6.1 - Describing motion along a line</h1>
    <h2>5.6.1.4 The distance-time relationship</h2>
    <p>
        - If an object moves along a straight line, the distance travelled can
        be represented by a distance-time graph.<br />
        - The speed of an object can be calculated from the gradient of its distance-time
        graph.<br />
        - If an object is accelerating, its speed at any particular time can be determined
        by drawing a tangent and measuring the gradient of the distance-time graph
        at that time.
    </p>
    <h3>Distance-Time Graph example</h3>
    <img
        class="centreimage"
        src="/images/ph/distance-time_graph.png"
        alt="Distance-Time Graph"
    />
    <sub
        >from <a
            href="https://commons.wikimedia.org/wiki/File:Distance-time_graph_example.png"
            >wikimedia commons</a
        >, added white background</sub
    >
</Layout>
