---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="GCSE Edexcel Music">
    <h1>Music Resources</h1>
    <h2>Edexcel GCSE</h2>
    <p>
        <button><a href="https://qualifications.pearson.com/content/dam/pdf/GCSE/Music/2016/specification/Pearson_Edexcel_GCSE_9_to_1_in_Music_Specification_issue4.pdf">Specification</a></button>
    </p>
    <h2>Revision notes</h2>
    <p>
        <a href="keywords/">Keywords</a><br>
        <a href="setworks/">Set Works</a>
    </p>
</Layout>
