---
import Layout from '../../../../layouts/Layout.astro';
--- 

<Layout title="Key Words">
    <h1>Key Words</h1>
    <p>
        <ul>
            <li data-line-start="2" data-line-end="3"><b>Ornamentation:</b> Trill
                (down-up-down-up-down-up-down), Mordent (down-up-down), Acciaccatura (grace note which doesn’t delay the
                next note of the melody), Appoggiatura (a grace note which delays the next note of the melody),
                Glissando (continuous slide upwards or downwards between two notes), Turn (down-up-down-moredown-down).
            </li>
            <li data-line-start="3" data-line-end="4"><b>Contrasting textures</b></li>
            <li data-line-start="4" data-line-end="5"><b>Structured forms</b></li>
            <li data-line-start="5" data-line-end="6"><b>Film Score:</b> The complete
                set of original music to accompany a film, forming part of the film’s soundtrack.</li>
            <li data-line-start="6" data-line-end="7"><b>Cue:</b> Each individual piece
                in the score, very precise with the film’s timings.</li>
            <li data-line-start="7" data-line-end="8"><b>Main Title:</b> Heard during
                the opening credits, sets the mood for the film.</li>
            <li data-line-start="8" data-line-end="9"><b>Diegetic Music:</b> Music that
                forms part of the onscreen action (e.g. character turns on the radio).</li>
            <li data-line-start="9" data-line-end="10"><b>Non-diegetic Music:</b>
                Background music/underscoring. Heard only by the audience, used to set a scene, establish mood or
                underline drama of a situation.</li>
            <li data-line-start="10" data-line-end="11"><b>Concerto:</b> A soloist (or
                multiple) accompanied by an orchestra.</li>
            <li data-line-start="11" data-line-end="12"><b>Concertino:</b> Small group
                of solo instruments.</li>
            <li data-line-start="12" data-line-end="13"><b>Ripieno:</b> Larger (usually
                string) ensemble.</li>
            <li data-line-start="13" data-line-end="14"><b>Basso Continuo:</b> A group
                of instruments playing the lower part (bassline).</li>
            <li data-line-start="14" data-line-end="15"><b>Ground Bass:</b> Repeating
                bassline. Used a lot in the baroque era.</li>
            <li data-line-start="15" data-line-end="16"><b>Figured Bass:</b> Harmonic
                instrumentation written under the basso continuo.</li>
            <li data-line-start="16" data-line-end="17"><b>Polyphony:</b> Multiple lines
                with different rhythms happening simultaneously.</li>
            <li data-line-start="17" data-line-end="18"><b>Contrapuntal:</b> Multiple
                lines that interact with each other.</li>
            <li data-line-start="18" data-line-end="19"><b>Fugal style:</b> Where you
                combine a melody with itself.</li>
            <li data-line-start="19" data-line-end="20"><b>Incidental Music:</b> Music
                that is intended to be performed as part of a play.</li>
            <li data-line-start="20" data-line-end="21"><b>Lament:</b> Songs displaying
                sorrowful feelings.</li>
            <li data-line-start="21" data-line-end="22"><b>Ternary Form da Capo
                    Aria:</b> Ternary form but the second A section is extended.</li>
            <li data-line-start="22" data-line-end="23"><b>Bass Viol:</b> A bowed,
                fretted, stringed instrument used during the Renaissance and Baroque periods.</li>
            <li data-line-start="23" data-line-end="24"><b>Melody-dominated
                    Homophony:</b> Melody and accompaniment but the accompaniment very much follows the melody.
            </li>
            <li data-line-start="24" data-line-end="25"><b>Tierce de Picardie:</b> A
                popular Baroque device where the last chord of the piece would be the tonic major.</li>
            <li data-line-start="25" data-line-end="26"><b>Diatonic:</b> Every note used
                comes from the key signature (mostly).</li>
            <li data-line-start="26" data-line-end="27"><b>Functional Harmony:</b> Using
                chords for a purpose.</li>
            <li data-line-start="27" data-line-end="28"><b>Suspension:</b> Preparation →
                Dissonance → Resolution. e.g. F maj 2nd inversion (FCA) → CFG → C maj (CEG). There for tension and
                release.</li>
            <li data-line-start="28" data-line-end="29"><b>EQ (Equaliser):</b> The
                process of adjusting the level or amplitude of specific frequencies to achieve a clean and balanced mix.
            </li>
            <li data-line-start="29" data-line-end="30"><b>Distortion:</b> Forms of
                audio signal processing used to alter the sound of amplified electric musical instruments, usually by
                increasing their gain, producing a “fuzzy”, “growling” or “gritty” tone.</li>
            <li data-line-start="30" data-line-end="31"><b>Flanger:</b> A type of audio
                effect that creates a distinctive “swooshing” or “jet plane” sound. It is created by combining a source
                audio signal with a slightly delayed, modulated version of itself.</li>
            <li data-line-start="31" data-line-end="32"><b>Overdubbing:</b> Audio tracks
                that have been pre-recorded are then played back and monitored, while simultaneously recording new,
                doubled or augmented tracks onto one or more available tracks of a digital audio workstation.</li>
            <li data-line-start="32" data-line-end="33"><b>Panning:</b> The act of
                placing or moving a sound anywhere in the stereo field of a stereo playback system. With panning, sound
                sources can be placed in a way that they are perceived as coming from the left speaker, the right
                speaker, or from anywhere in between.</li>
            <li data-line-start="33" data-line-end="34"><b>Reverb:</b> Dictating the
                space of a room in which the audio was recorded.</li>
            <li data-line-start="34" data-line-end="35"><b>Wah-Wah</b>: On electric
                guitar by controlling the output from the amplifier with a pedal.</li>
            <li data-line-start="35" data-line-end="36"><b>Low-Pass Filter:</b> A filter
                that passes signals with a frequency lower than a selected cutoff frequency and attenuates signals with
                frequencies higher than the cutoff frequency.</li>
            <li data-line-start="36" data-line-end="37"><b>Honky-tonk:</b> A type of
                modified or deliberately detuned piano often associated with the lively, slightly raw sound of old
                saloons, bars, and dance halls.</li>
            <li data-line-start="37" data-line-end="38"><b>Vibrato:</b> A musical
                technique involving the slight, rapid variation of pitch in a sound. This oscillation creates a richer,
                more dynamic tone, making the music feel more emotive and alive.</li>
            <li data-line-start="38" data-line-end="39"><b>Double stops:</b> Two notes
                or more at once.</li>
        </ul>
    </p>
</Layout>