---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Edexcel GCSE Music Set Works">
    <h1>Set Works</h1>
    <h2>Brandenburg Concerto No. 5 in D major, movement III</h2>
    <h3>Context</h3>
    <p>
        - Bach was a major composer of the Baroque period (and ever).<br>
        - Innovator in forms and structures still used and developed today.<br>
        - Brandenburg Concerto No.5 is part of a set of six concertos, dedicated to the Margrave of Brandenburg. It is an example of the concerto grosso form.
    </p>
    <br>
    <h3>Sonority</h3>
    <p>
        - Harpsichord, violin, flute, cello, double bass, orchestra.<br>
        - Solo (concertino) - violino principale, flauto, cembalo concertato.<br>
        - Ripieno - Violono di ripieno, viola da ripieno, violoncello, contrabasso.
    </p>
    <br>
    <h3>Structure</h3>
    <p>
        - ABA (ternary form).<br>
        - A section has two main ideas (first and second subject).<br>
        - B section is a development of the first subject.
    </p>
    <br>
    <h3>Texture</h3>
    <p>
        - Polyphonic + contrapuntal.<br>
        - The movement begins in a fugal style.<br>
        - The subject in the solo violin is followed by an answer in the flute at a distance of two bars. We now have two-part imitation.<br>
        - There are then four additional bars before the harpsichord left hand enters with the subject, which is then answered two bars later by the right hand.<br>
        - The harpsichord plays in two-part counterpoint.<br>
        - Once both hands are playing the music is in four-part counterpoint.<br>
        - Occasionally the flute and violin sometimes double each other in unison (e.g. bar 33).<br>
        - The bassline for the new middle section theme has a tonic pedal on B.
    </p>
    <br>
    <h3>Melody</h3>
    <p>
        - Much of the music is in conjunct style, though there are leaps (e.g. fourths in bar 1).<br>
        - Often the conjunct music is extended to scalic runs, especially in the harpsichord part.<br>
        - Rising sequence at bar 137.<br>
        - Occasional ornaments, with trills in the harpsichord part.
    </p>
    <br>
    <h3>Harmony and Tonality</h3>
    <p>
        - The music is in D major.<br>
        - This key is used for most of the two A sections.<br>
        - The B section modules to the dominant (A major) and relative minor (B minor).<br>
        - The music is diatonic.<br>
        - The harmony uses the standard chords of the time (I, IV and V, with occasional use of ii vi) including dominant sevenths in various inversions.<br>
        - The harmony is functional: it uses mainly root position and first inversion chords.<br>
        - Perfect cadences announce the end of sections.<br>
        - Suspensions are used occasionally (i.e. 9-8 suspension at bar 130).
    </p>
    <br>
    <h3>TRaM</h3>
    <p>
        - The metre is 2/4 (duple time) but could also be in 6/8. It is essentially a Baroque gigue.<br>
        - The harpsichord part in particular has many semiquaver runs.<br>
        - It uses triplets and dotted rhythms throughout.
    </p>
    <br>
    <h2>Beethoven Pathétique 1st Movement</h2>
    <h3>Context</h3>
    <p>
        - In the classical period, the harpsichord was replaced by the piano.<br>
        - The decline in use of the continuo as the middle-range instruments such as clarinets and horns were used in the orchestra to fill out the harmonies.<br>
        - More instruments were added to the standard orchestra. The symphony rose to prominence as the main type of concert music played by 
        these increasingly large orchestras.<br>
        - Ludwig van Beethoven was born in 1770 in Bonn (west Germany). As a young man he moved to Vienna, where he became a virtuoso pianist. 
        ‘Virtuoso’ means displaying skill and agility in difficult music.<br>
        - Beethoven was a crucial figure in the transition between the Classical and Romantic periods of music history. His music is often seen as
        embodying the ideals of the Romantic period, such as emotional expression and individualism.
    </p>
</Layout>