---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Edexcel GCSE Music Set Works">
    <h1>Set Works</h1>
    <h2>Brandenburg Concerto No. 5 in D major, movement III</h2>
    <h3>Context</h3>
    <p>
        - Bach was a major composer of the Baroque period (and ever).<br>
        - Innovator in forms and structures still used and developed today.<br>
        - Brandenburg Concerto No.5 is part of a set of six concertos, dedicated to the Margrave of Brandenburg. It is an example of the concerto grosso form.
    </p>
    <br>
    <h3>Sonority</h3>
    <p>
        - Harpsichord, violin, flute, cello, double bass, orchestra.<br>
        - Solo (concertino) - violino principale, flauto, cembalo concertato.<br>
        - Ripieno - Violono di ripieno, viola da ripieno, violoncello, contrabasso.
    </p>
    <br>
    <h3>Structure</h3>
    <p>
        - ABA (ternary form).<br>
        - A section has two main ideas (first and second subject).<br>
        - B section is a development of the first subject.
    </p>
    <br>
    <h3>Texture</h3>
    <p>
        - Polyphonic + contrapuntal.<br>
        - The movement begins in a fugal style.<br>
        - The subject in the solo violin is followed by an answer in the flute at a distance of two bars. We now have two-part imitation.<br>
        - There are then four additional bars before the harpsichord left hand enters with the subject, which is then answered two bars later by the right hand.<br>
        - The harpsichord plays in two-part counterpoint.<br>
        - Once both hands are playing the music is in four-part counterpoint.<br>
        - Occasionally the flute and violin sometimes double each other in unison (e.g. bar 33).<br>
        - The bassline for the new middle section theme has a tonic pedal on B.
    </p>
    <br>
    <h3>Melody</h3>
    <p>
        - Much of the music is in conjunct style, though there are leaps (e.g. fourths in bar 1).<br>
        - Often the conjunct music is extended to scalic runs, especially in the harpsichord part.<br>
        - Rising sequence at bar 137.<br>
        - Occasional ornaments, with trills in the harpsichord part.
    </p>
    <br>
    <h3>Harmony and Tonality</h3>
    <p>
        - The music is in D major.<br>
        - This key is used for most of the two A sections.<br>
        - The B section modules to the dominant (A major) and relative minor (B minor).<br>
        - The music is diatonic.<br>
        - The harmony uses the standard chords of the time (I, IV and V, with occasional use of ii vi) including dominant sevenths in various inversions.<br>
        - The harmony is functional: it uses mainly root position and first inversion chords.<br>
        - Perfect cadences announce the end of sections.<br>
        - Suspensions are used occasionally (i.e. 9-8 suspension at bar 130).
    </p>
    <br>
    <h3>TRaM</h3>
    <p>
        - The metre is 2/4 (duple time) but could also be in 6/8. It is essentially a Baroque gigue.<br>
        - The harpsichord part in particular has many semiquaver runs.<br>
        - It uses triplets and dotted rhythms throughout.
    </p>
    <br>
    <h2>Beethoven Pathétique 1st Movement</h2>
    <h3>Context</h3>
    <p>
        - In the classical period, the harpsichord was replaced by the piano.<br>
        - The decline in use of the continuo as the middle-range instruments such as clarinets and horns were used in the orchestra to fill out the harmonies.<br>
        - More instruments were added to the standard orchestra. The symphony rose to prominence as the main type of concert music played by 
        these increasingly large orchestras.<br>
        - Ludwig van Beethoven was born in 1770 in Bonn (west Germany). As a young man he moved to Vienna, where he became a virtuoso pianist. 
        ‘Virtuoso’ means displaying skill and agility in difficult music.<br>
        - Beethoven was a crucial figure in the transition between the Classical and Romantic periods of music history. His music is often seen as
        embodying the ideals of the Romantic period, such as emotional expression and individualism.
    </p>
    <br>
    <h3>Structure</h3>
    <p>
        - The first movement is sonata form, a structure used in the first and sometimes last movements of sonatas, symphonies and other Classical works.<br>
        - Sonata form is intro → exposition (1st (tonic key) and 2nd, (dominant key) subject) → development (builds on exposition) → 
        recapitulation (1st, tonic and 2nd, also tonic subject) → coda.<br>
        - The movement begins with a slow introduction, which is not typical of sonata form.<br>
        - When the exposition is entered a chromatic scale is played.
        <ul>
            <li>Slow intro (bars 1-10).</li>
            <li>Exposition 1<sup>st</sup> subject, fast (bars 11-50).</li>
            <li>Exposition 2<sup>nd</sup> subject - Long High Notes (bars 51-132).</li>
            <li>Repeat exposition, end is alternating high-low chords and a pause.</li>
            <li>Development (bars 133-194): slow intro repeats at the start, but in a different key.</li>
            <li>Recapitulation (bars 195-294).</li>
            <li>Coda (bars 295-end): goes to intro again, ends with basically slamming the piano.</li>
        </ul>
    </p>
    <br>
    <h3>Sonority</h3>
    <p>
        - When Beethoven wrote this piece at the end of the 18th century, the piano had almost completely replaced the harpsichord as the 
        keyboard instrument of choice for the home and concert hall.<br>
        - It was known as the fortepiano. ‘Piano’ is the Italian term for ‘soft’. ‘Forte’: ‘loud’. It was now possible to play using all kinds 
        of dynamic levels just by altering the pressure of the fingers on the keys. This was not possible on the harpsichord.<br>
        - Mozart and Haydn had started to use dynamic markings, but Beethoven was one of the first to make extensive use of all kinds of dynamic possibilities.<br>
        - This sonata has frequent crescendos, diminuendos and numerous other performance markings.<br>
        - The sustaining pedal was coming into use at the time and was sometimes worked by the knees instead of by the foot. This was not notated 
        but Beethoven would have followed some kind of system in his performances.<br>
        - The piano part is virtuosic, with wide leaps, fast scales and arpeggios, and dramatic dynamic contrasts.
    </p>
    <br>
    <h3>Melody</h3>
    <p>
        - The music of the slow intro is based on a six note motif. It’s used as a base for most of the intro, sometimes reduced to five notes, 
        and sometimes with the second to last note rising instead of falling.<br>
        - There are a number of scalic passages, such as the descending chromatic scale at the end of the intro. The first subject theme from bar 11 
        of the allegro is built on an ascending scale of the tonic key C minor, but with a major third (E). There is a distinctive augmented second from Ab to B#.<br>
        - Arpeggios and broken chords (bars 29-30).<br>
        - Ornaments are an important feature of the 2nd subject in particular. These include acciaccaturas at bar 53, mordents shortly after, and trills just before the recap.
    </p>
    <br>
    <h3>TRaM</h3>
    <p>
        - The introduction is marked grave (very slow). The time signature is common time.<br>
        - Dotted rhythm is an important feature of the piece (e.g. bar 1).<br>
        - There are some very rapid notes, including septuplets and 1/128th notes in bar 10.<br>
        - The main allegro di molto e con brio (very fast with vigour) section is in cut time – a fast two in the bar.<br>
        - Continuous quavers are a distinctive feature of the accompaniment of the first subject.<br>
        - Staccato crotchets are important in the right hand of the first subject.
    </p>
    <br>
    <h3>Texture</h3>
    <p>
        - The slow introduction includes many passages of homophonic (chordal) writing (e.g. bar 1).<br>
        - The right hand plays in octaves later in the introduction (e.g. bar 5).<br>
        - There is a long descending monophonic passage in the right hand leading into the recapitulation (187-194).<br>
        - The second subject material features melody and accompaniment style – you can also call this homophony (or melody-dominated homophony [deja vu]).<br>
        - There are examples of two-part music with broken chords in the second idea of the second subject (e.g. bar 93).<br>
        - There is a brief passage in thirds where the trills are (e.g. bars 181–187).
    </p>
    <br>
    <h3>Harmony</h3>
    <p>
        - The music features many chromatic chords, especially diminished sevenths (e.g. half way through bar 1).<br>
        - Perfect cadences at the end of the movement.<br>
        - Interrupted cadence in the introduction at bar 9.<br>
        - Circle of fifths bars 244 - 249.<br>
        - Augmented 6th chords, e.g. bars 30 and 34.
    </p>
    <br>
    <h3>Tonality</h3>
    <p>
        - C minor tonality.<br>
        - Modulates to a number of related keys, including E♭ major (the relative major key) and the subdominant (F minor).<br>
        - Modulates to unrelated keys such as E minor at the beginning of the development section.
    </p>
</Layout>