---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.1 Chemical measurements, conservation of mass and the quantitative interpretation of chemical equations">
    <BackButton />
    <h1>3.1 Chemical measurements, conservation of mass and the quantitative interpretation of chemical equations</h1>
</Layout>