---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.2 Use of amount of substance in relation to masses of pure substances">
    <BackButton />
    <h1>3.2 Use of amount of substance in relation to masses of pure substances</h1>
</Layout>