---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.2 Use of amount of substance in relation to masses of pure substances">
    <BackButton />
    <h1>3.2 Use of amount of substance in relation to masses of pure substances</h1>
    <h2>3.2.1 Moles</h2>
    <p>
        - Chemical amounts are measured in moles. The symbol for the unit mole is mol.<br>
        - Moles are 6.022 × 10^23 particles (this is known as Avogadro's number).<br>
        - The mass of one mole of a substance in grams is numerically equal
        to its relative formula mass, and one mole of a substance contains the same 
        number of the stated particles, atoms, molecules or ions as one mole of any other
        substance.<br>
        - For example, one mole of Oxygen contains 6.022 × 10^23 atoms, and oxygen has a 
        relative atomic mass of 16, one mole of oxygen weighs 16g.<br>
        - <b>mass = moles * molar mass</b>
    </p>
</Layout>