---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
const workspacePath = "src/pages/gcse/aqa/ch/3/3.astro";
---

<Layout title="3.3 Yield and atom economy of chemical reactions" path={workspacePath}>
    <BackButton />
    <h1>3.3 Yield and atom economy of chemical reactions</h1>
    <h2>3.3.1 Percentage yield</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Even though no atoms are gained or lost in a chemical reaction, it is
        not always possible to obtain the calculated amount of a product
        because:<br>
        <ul>
            <li>the reaction may not go to completion because it is reversible</li>
            <li>some of the product may be lost when it is separated from the reaction mixture</li>
            <li>some of the reactants may react in ways different to the expected reaction.</li>
        </ul>
        - The amount of a product obtained is known as the yield. When
        compared with the maximum theoretical amount as a percentage, it
        is called the percentage yield.
    </p>
    <h3>Calculating Yield</h3>
    <p>
        The percentage yield can be calculated using the formula:<br>
        <b>Percentage Yield = (Actual Yield / Theoretical Yield) × 100%</b><br>
        <ul>
            <li>
                You can calculate the percentage yield of a product using the actual yield 
                (the amount you actually get from the experiment) and the theoretical yield 
                (the maximum possible amount predicted by the balanced equation).
            </li>
            <li>
                <b>Example:</b> If the actual yield of a product is 8g and the theoretical yield is 10g:<br>
                Percentage Yield = (8g / 10g) × 100% = 80%
            </li>
            <li>
                To calculate the theoretical mass of a product:
                <ol>
                    <li>Write the balanced chemical equation.</li>
                    <li>Calculate the number of moles of reactant using its mass and molar mass.</li>
                    <li>Use the mole ratio from the equation to find the moles of product.</li>
                    <li>Calculate the mass of product using its molar mass.</li>
                </ol>
                <b>Example:</b> If 5g of reactant A (molar mass = 50 g/mol) reacts to produce product B (molar mass = 20 g/mol) in a 1:2 ratio:<br>
                Moles of A = 5g / 50g/mol = 0.1 mol<br>
                Moles of B = 0.1 mol × 2 = 0.2 mol<br>
                Mass of B = 0.2 mol × 20g/mol = 4g
            </li>
            <li>
                You can then compare the theoretical yield with the actual yield to find the percentage yield.<br>
                For example, if you actually obtained 3g of product B:<br>
                Percentage Yield = (3g / 4g) × 100% = 75%
            </li>
        </ul>
    </p>
    <br>
    <h2>3.3.2 Atom economy</h2>
    <p>
        - The atom economy (atom utilisation) is a measure of the amount of starting materials that end up as useful products.<br>
        - It is similar to percentage yield, just operates on different variables.<br>
        - It is important for sustainable development and for economic reasons to use reactions with high atom economy.<br>
        - The formula for atom economy is:<br>
        <b>Atom Economy = (Relative formula mass of desired product / Sum of relative formula masses of all reactants) × 100%</b>
    </p>
    <h3>Calculating Atom Economy</h3>
    <p>
        To calculate the atom economy of a reaction:<br>
        <ol>
            <li>Write the balanced chemical equation.</li>
            <li>Determine the relative formula mass of the desired product.</li>
            <li>Determine the sum of the relative formula masses of all reactants.</li>
            <li>Use the formula to calculate the atom economy.</li>
        </ol>
        <b>Example:</b> For the reaction:<br>
        A + 2B → C + D<br>
        If the relative formula mass of C is 30 and the sum of the relative formula masses of A and B is 70:<br>
        Atom Economy = (30 / 70) × 100% = 42.9%
    </p>
</Layout>