---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.3 Yield and atom economy of chemical reactions">
    <BackButton />
    <h1>3.3 Yield and atom economy of chemical reactions</h1>
</Layout>