---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.4 Using concentrations of solutions in mol/dm³">
    <BackButton />
    <h1>3.4 Using concentrations of solutions in mol/dm³</h1>
    <p>
        - The concentration of a solution can be measured in mol/dm³.<br>
        - The amount in moles of solute or the mass in grams of solute in a 
        given volume of solution can be calculated from its concentration in mol/dm³.<br>
        - If the volumes of two solutions that react completely are known and
        the concentration of one solution is known, the concentration of the
        other solution can be calculated.
    </p>
    <h3>Calculating concentration</h3>
    <p>
        The concentration of a solution in mol/dm³ is calculated using the formula:<br>
        <b>Concentration (mol/dm³) = Amount of solute (moles) / Volume of solution (dm³)</b><br>
        To relate this to mass, first calculate the number of moles using:<br>
        <b>Moles = Mass of solute (g) / Molar mass (g/mol)</b><br>
        So, the concentration can also be found by:<br>
        <b>Concentration (mol/dm³) = [Mass of solute (g) / Molar mass (g/mol)] / Volume of solution (dm³)</b><br>
        This shows that the concentration depends on both the mass of the solute dissolved and the total volume of the solution.
    </p>
    <h4>Worked example</h4>
    <p>
        <b>A student dissolves 5.8 g of sodium chloride (NaCl) in enough water to make 0.5 dm³ 
        of solution. Calculate the concentration of the solution in mol/dm³.</b><br>
        <b>Step 1: Calculate the number of moles of NaCl.</b><br>
        Molar mass of NaCl = 23 (Na) + 35.5 (Cl) = 58.5 g/mol<br>
        Moles of NaCl = Mass / Molar mass = 5.8 g / 58.5 g/mol = 0.099 mol<br>
        <b>Step 2: Calculate the concentration.</b><br>
        Concentration (mol/dm³) = Moles / Volume = 0.099 mol / 0.5 dm³ = 0.198 mol/dm³<br>
        <b>Answer:</b> The concentration of the solution is 0.198 mol/dm³.
    </p>
</Layout>