---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
const workspacePath = "src/pages/gcse/aqa/ch/3/5.astro";
---

<Layout title="3.5 Use of amount of substance in relation to volumes of gases" path={workspacePath}>
    <BackButton />
    <h1>3.5 Use of amount of substance in relation to volumes of gases</h1>
    <p>
        - Avogadro's law states that equal amounts in moles of gases occupy the same volume under
        the same conditions of temperature and pressure.<br>
        - The volume of one mole of any gas at room temperature and
        pressure (20&deg;C and 1 atmosphere pressure) is 24 dm<sup>3</sup>.<br>
        - This means, for example, 2 moles of oxygen will occupy 48 dm<sup>3</sup>,
        and 3 moles of hydrogen will occupy 72 dm<sup>3</sup>.<br>
        - The volumes of gaseous reactants and products can be calculated
        from the balanced equation for the reaction.
    </p>
    <h3>Calculating Volumes</h3>
    <p>
        <ul>
            <li>
                Calculate the volume of a gas at room temperature and pressure from its mass and relative formula mass using:
                <br>
                <code>Volume (dm<sup>3</sup>) = (mass (g) / relative formula mass) × 24</code>
            </li>
            <li>
                Calculate volumes of gaseous reactants and products from a balanced equation and a given volume of a gaseous reactant or product by:
                <br>
                - Finding the mole ratio from the equation.<br>
                - Using the ratio to determine the volume of other gases (since 1 mole = 24 dm<sup>3</sup> at RTP).
            </li>
            <li>
                You may need to rearrange the equation. For example, to make mass the subject in the equation above:
                <br>
                <code>mass (g) = (Volume (dm<sup>3</sup>) × relative formula mass) / 24</code>
            </li>
        </ul>
    </p>
    <h4>Worked example</h4>
    <p>
        <b>Suppose you have 48 g of oxygen gas (O₂) at room temperature and pressure. Calculate the volume it will occupy.</b><br>
        1. Find the relative formula mass (Mr) of O₂:<br>
        &nbsp&nbsp&nbsp;&nbsp- O₂: 16 × 2 = 32<br><br>

        2. Calculate the number of moles:<br>
        &nbsp&nbsp&nbsp;&nbsp- Moles = mass / Mr = 48 g / 32 = 1.5 mol<br><br>

        3. Calculate the volume using the molar volume at RTP (24 dm³ per mole):<br>
        &nbsp&nbsp&nbsp;&nbsp- Volume = moles × 24 = 1.5 × 24 = 36 dm³<br><br>

        <b>Answer:</b><br>
        48 g of oxygen gas will occupy 36 dm³ at room temperature and pressure.
    </p>
</Layout>