---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="3.5 Use of amount of substance in relation to volumes of gases">
    <BackButton />
    <h1>3.5 Use of amount of substance in relation to volumes of gases</h1>
</Layout>