---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
import Table from '../../../../../components/Table.astro';
const workspacePath = "src/pages/gcse/aqa/ch/7/1.astro";
---

<Layout title="7.1 Carbon compounds as fuels and feedstock" path={workspacePath}>
    <BackButton />
    <h1>7.1 Carbon compounds as fuels and feedstock</h1>
    <h2>7.1.1 Crude oil, hydrocarbons and alkanes & 7.1.2 Fractional distillation and petrochemicals 
        & 7.1.3 Properties of hydrocarbons & 7.1.4 Cracking and alkenes</h2>
    <p>
        - Properties of hydrocarbons depend on the size of their molecules.<br>
        <ul>
            <li><b>Boiling Point</b>: Temperature at which the liquid boils 
                or the gas condenses. Bigger size = higher boiling point.</li>
            <li><b>Volatility</b>: The tendency to turn into a gas. Bigger size = lower volatility.</li>
            <li><b>Viscosity</b>: How easily it flows. Bigger size = higher viscosity (thicker).</li>
            <li><b>Flammability</b>: How easily it burns. Bigger size = lower flammability.</li>
        </ul>
        - (dont memorise the boiling points, just for illustration)<br>
    </p>
    <Table>
        <thead>
            <tr>
                <th>Molecular formula</th>
                <th>Boiling point</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CH<sub>4</sub></td>
                <td>-161°C</td>
            </tr>
            <tr>
                <td>C<sub>2</sub>H<sub>6</sub></td>
                <td>-89°C</td>
            </tr>
            <tr>
                <td>C<sub>3</sub>H<sub>8</sub></td>
                <td>-44°C</td>
            </tr>
            <tr>
                <td>C<sub>4</sub>H<sub>10</sub></td>
                <td>-0.5°C</td>
            </tr>
            <tr>
                <td>C<sub>5</sub>H<sub>12</sub></td>
                <td>36°C</td>
            </tr>
            <tr>
                <td>(and so on...)</td>
                <td>(and so on...)</td>
            </tr>
        </tbody>
    </Table>
    <p>
        - All hydrocarbons have strong covalent bonds between the carbon atoms, 
        but very weak intermolecular forces between the molecules.<br>
        - The more atoms the molecule is made out of, the higher the 
        strength of the intermolecular forces.
    </p>
    <h3>Crude oil</h3>
    <p>
        - Crude oil is a finite resource found in rocks. Crude oil is the remains
        of an ancient biomass consisting mainly of plankton that was buried
        in mud.<br>
        - Crude oil is a mixture of a very large number of compounds. Most of
        the compounds in crude oil are hydrocarbons, which are molecules
        made up of hydrogen and carbon atoms only.<br>
        - Crude oil is mostly made up of alkanes.
    </p>
    <h3>Fractional Distillation</h3>
    <p>
        - Crude oil is separated into hydrocarbons with similar boiling points called fractions.<br>
        - Fractions are mixtures of hydrocarbons with similar physical properties.<br>
        - This process is called fractional distillation.<br>
        - Crude oil is fed into the oven (bottom left of the image) and vapourised to produce a gas, 
        which is then fed into the fractionaiting column.<br>
        - The gas enters the tower that is hot at the bottom and cool at the top.<br>
        - Molecules cool and condense at different heights, as molecules have different boiling points.<br>
        - Smaller molecules are collected higher up the tower.
    </p>
    <img class="centreimage" src="/images/ch/fractionaldistillation.gif" alt="Fractional distillation">
    <sub><a href="http://theoildrum.com/node/4038">source</a></sub>
    <br>
    <h3>Complete vs Incomplete combustion</h3>
    <p>
        - <b>Complete Combustion</b> is where all the hydrocarbons are burnt in excess oxygen.<br>
        - <code>{"Methane + oxygen -> carbon dioxide + water"}</code><br>
        - <b>Incomplete Combustion</b> is where the hydrocarbons are burnt in limited oxygen.<br>
        - This produces CO (carbon monoxide) instead of CO<sub>2</sub>.<br>
        - Carbon monoxide is a poisonous gas. It binds to haemoglobin irreversibly in red blood cells and 
        prevents oxygen from binding.<br>
        - Carbon particulates can also be produced, some of which will be nanoparticles and some will be 
        coarse particles. This is bad for long-term health and can increase the risk of lung diseases.
    </p>
    <h3>Propane Equations</h3>
    <p>
        <b>Complete combusion:</b> 
        <code>C<sub>3</sub>H<sub>8(g)</sub> + 5O<sub>2(g)</sub> → 3CO<sub>2(g) </sub> + 4H<sub>2</sub>O<sub>(g)</sub></code><br>
        <b>Incomplete combustion (CO):</b>
        <code>C<sub>3</sub>H<sub>8(g)</sub> + 3.5O<sub>2</sub>(g) → 3CO<sub>(g)</sub> + 4H<sub>2</sub>O<sub>(g)</sub></code><br>
        <b>Incomplete combustion (C):</b>
        <code>C<sub>3</sub>H<sub>8(g)</sub> + 2O<sub>2</sub>(g) → 3C<sub>3</sub> + 4H<sub>2</sub>O<sub>(g)</sub></code><br>
    </p>
    <br>
    <h3>Cracking</h3>
    <p>
        - Hydrocarbons can be brown down (cracked) to produce smaller more useful molecules.<br>
        - <code>C<sub>10</sub>H<sub>22</sub> → C<sub>5</sub>H<sub>12</sub> + C<sub>3</sub>H<sub>8</sub> + C<sub>2</sub>H<sub>4</sub></code><br>
        - The products made are more useful than the starting hydrocarbons.
    </p>
    <h4>Types of Cracking</h4>
    <Table>
        <thead>
            <tr>
                <th>Catalytic cracking</th>
                <th>Steam cracking</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Vapourise the alkane</li>
                        <li>Pass over a hot catalyst</li>
                        <li>Of Zeolite OR aluminium oxide OR broken pot</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Vapourise the alkanes</li>
                        <li>Mix with steam</li>
                        <li>Heat</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </Table>
</Layout>