---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="7.2 Reactions of Alkenes and Alchohols">
    <BackButton />
    <h1>7.2 Reactions of Alkenes and Alcohols</h1>
    <h2>7.2.1 Structure and formulae of alkenes</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Alkenes are hydrocarbons with a double carbon-carbon bond.<br>
        - The general formula for the homologous series of alkenes is C<sub>n</sub>H<sub>2n</sub>.<br>
        - Successive members of a homologous series differ by an extra carbon and two extra hydrogen atoms.<br>
        - Alkene molecules are "unsaturated" because they contain two fewer 
        hydrogen atoms than the alkane with the same number of carbon atoms.
    </p>
    <h2>7.2.2 Reactions of alkenes</h2>
    <h3>Addition reactions</h3>
    <p>
        Addition reactions are where we take two reactants and combine them to make one product.<br>
        Alkenes react with hydrogen, water, and halogens by the addition of atoms across the carbon-carbon 
        double bond.
        <ul>
            <li><b>Hydrogenation</b>: Adding hydrogen.</li>
            <li><b>Chlorination</b>: Adding chlorine.</li>
            <li><b>Bromination</b>: Adding bromine.</li>
            <li><b>Hydration</b>: Adding water.</li>
        </ul>
    </p>
    <h4>Hydrogenation</h4>
    <p>
        <sub>nickel catalyst, 150°C</sub><br>
        ethene + hydrogen → ethane<br>
        <img class="centreimage" src="/images/ch/ethenehydrogenation.png" alt="ethene hydrogenation">
        propene + hydrogen → propane<br>
        <img class="centreimage" src="/images/ch/propenehydrogenation.png" alt="propene hydrogenation">
    </p>
    <h4>Halogenation</h4>
    <p>
        ethene + chlorine → 1,2-<b>dichloroethane</b><br>
        <img class="centreimage" src="/images/ch/ethenechlorination.png" alt="ethene chlorination">
        propene + bromine → 1,2-<b>dibromopropane</b><br>
        <img class="centreimage" src="/images/ch/propenebromination.png" alt="propene bromination">
    </p>
    <h4>Hydration</h4>
    <p>
        ethene + water → ethanol<br>
        <img class="centreimage" src="/images/ch/ethenehydration.png" alt="ethene hydration">
        propene + water → propanol<br>
        <img class="centreimage" src="/images/ch/propenehydration.png" alt="propene hydration">
    </p>
</Layout>