---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="7.2 Reactions of Alkenes and Alchohols">
    <BackButton />
    <h1>7.2 Reactions of Alkenes and Alcohols</h1>
    <h2>7.2.1 Structure and formulae of alkenes</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Alkenes are hydrocarbons with a double carbon-carbon bond.<br>
        - The general formula for the homologous series of alkenes is C<sub>n</sub>H<sub>2n</sub>.<br>
        - Successive members of a homologous series differ by an extra carbon and two extra hydrogen atoms.<br>
        - Alkene molecules are "unsaturated" because they contain two fewer 
        hydrogen atoms than the alkane with the same number of carbon atoms.
    </p>
    <h2>7.2.2 Reactions of alkenes</h2>
    <h3>Addition reactions</h3>
    <p>
        Addition reactions are where we take two reactants and combine them to make one product.<br>
        Alkenes react with hydrogen, water, and halogens by the addition of atoms across the carbon-carbon 
        double bond.
        <ul>
            <li><b>Hydrogenation</b>: Adding hydrogen.</li>
            <li><b>Chlorination</b>: Adding chlorine.</li>
            <li><b>Bromination</b>: Adding bromine.</li>
            <li><b>Hydration</b>: Adding water.</li>
        </ul>
    </p>
    <h4>Hydrogenation</h4>
    <p>
        <sub>nickel catalyst, 150°C</sub><br>
        ethene + hydrogen → ethane<br>
        <img class="centreimage" src="/images/ch/ethenehydrogenation.png" alt="ethene hydrogenation">
        propene + hydrogen → propane<br>
        <img class="centreimage" src="/images/ch/propenehydrogenation.png" alt="propene hydrogenation">
    </p>
    <h4>Halogenation</h4>
    <p>
        ethene + chlorine → 1,2-<b>dichloroethane</b><br>
        <img class="centreimage" src="/images/ch/ethenechlorination.png" alt="ethene chlorination">
        propene + bromine → 1,2-<b>dibromopropane</b><br>
        <img class="centreimage" src="/images/ch/propenebromination.png" alt="propene bromination">
    </p>
    <h4>Hydration</h4>
    <p>
        ethene + water → ethanol<br>
        <img class="centreimage" src="/images/ch/ethenehydration.png" alt="ethene hydration">
        propene + water → propanol<br>
        <img class="centreimage" src="/images/ch/propenehydration.png" alt="propene hydration">
    </p>
    <br>
    <h2>7.2.3 Alcohols</h2>
    <p>
        - Keywords: oxidation, anaerobic, fermentation.<br>
        - <b>Oxidation</b>: Adding oxygen atoms; the loss of hydrogen atoms or the loss of electrons.<br>
        - <b>Anaerobic</b>: In the absence of oxygen.<br>
        - <b>Fermentation</b>: A chemical process where microorganisms like yeast break 
        down sugars such as glucose into ethanol and carbon dioxide.<br>
        - Alcohols contain the functional group -OH.<br>
        Methanol, ethanol, propanol and butanol are the first four members
        of a homologous series of alcohols.<br>
        <a target="_blank" href="../intro/#alcohols">These are those alcohols.</a>
    </p>
    <h3>Uses</h3>
    <p>
        - Alcohols are in many everyday products:
        <ul>
            <li>Alcoholic drinks</li>
            <li>Solvents</li>
            <li>Perfumes, aftershaves, mouthwash</li>
            <li>Fuels</li>
        </ul>
        - All alcohols dissolve in water to give colourless solution of pH 7.
    </p>
    <h3>Complete combustion of alcohols</h3>
    <p>
        - 2CH<sub>3</sub>OH (methanol) + 3O<sub>2</sub> → 2CO<sub>2</sub> + 4H<sub>2</sub>O<br>
        - C<sub>2</sub>H<sub>5</sub>OH (ethanol) + 3O<sub>2</sub> → 2CO<sub>2</sub> + 3H<sub>2</sub>O<br>
        - 2C<sub>3</sub>H<sub>7</sub>OH (propanol) + 9O<sub>2</sub> → 6CO<sub>2</sub> + 8H<sub>2</sub>O<br>
    </p>
    <h3>Incomplete combustion of alcohols</h3>
    <p>
        - 2CH<sub>3</sub>OH (methanol) + O<sub>2</sub> → 4H<sub>2</sub>O + 2C<br>
        - C<sub>2</sub>H<sub>5</sub>OH (ethanol) + 2O<sub>2</sub> → 3H<sub>2</sub>O + 2CO<br>
        - C<sub>3</sub>H<sub>7</sub>OH (propanol) + 2O<sub>2</sub> → 4H<sub>2</sub>O + CO + 2C (or other ways, 
        you can balance this quite a few days)<br>
    </p>
    <h3>Oxidation reactions</h3>
    <p>
        - Ethanol + oxygen → ethanoic acid (vinegar) + water<br>
        - C<sub>2</sub>H<sub>5</sub>OH + 2[O] → CH<sub>3</sub>COOH + H<sub>2</sub>O<br>
        - (oxygen is the oxidising agent)<br>
        - Pottassium dichromate (K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) is an oxidising agent
        which can be used to oxidise alcohols.<br>
    </p>
    <br>
    <h2>7.2.4 Carboxylic acids</h2>
    <p>
        - Carboxylic acids have the functional group -COOH.<br>
        - The first four members of a homologous series of carboxylic acids
        are methanoic acid, ethanoic acid, propanoic acid and butanoic acid.<br>
        - As a reminder, a <b>strong acid</b> is fully ionised in water (e.g. HCl).<br>
        - <code>HCl → H<sup>+</sup> + Cl<sup>-</sup></code><br>
        - A <b>weak acid</b> is only partially ionised in water (e.g. ethanoic acid).<br>
        - <code>CH<sub>3</sub>COOH ⇌ H<sup>+</sup> + CH<sub>3</sub>COO<sup>-</sup></code><br>
        - Carboxylic acids are <b>weak acids</b>. They give off relatively few H<sup>+</sup> ions in solution and 
        have a higher pH.<br>
        - Here is the functional group in the context of ethanoic acid:
    </p>
    <img class="centreimage" src="/images/ch/ethanoic_acid_functional.webp" alt="ethanoic acid functional group">
    <h3>Reactions of carboxylic acids with carbonates</h3>
    <p>
        - When we react carboxylici acids with a metal carbonate, it reacts as a typical acid producing salt, 
        carbon dioxide, and water.<br>
        - ethanoic acid + sodium carbonate → sodium ethanoate + carbon dioxide + water<br>
        - 2CH<sub>3</sub>COOH(aq) + Na<sub>2</sub>CO<sub>3</sub>(s)<> → 2CH<sub>3</sub>COONa(aq) + CO<sub>2</sub>(g) + H<sub>2</sub>O(l)<br>
        - Reactions with carboxylic acids have a lower rate of reaction because:
        <ul>
            <li>There is a lower concentration of H<sup>+</sup> ions</li>
            <li>Collisions are less frequent</li>
        </ul>
        - Despite this, they still effervesce and produce carbon dioxide.
    </p>
    <h3>Making esters</h3>
    <p>
        - Carboxylic acids will react with alcohols to produce esters and water.<br>
        - A catalyst is needed (in this case sulphuric acid).<br>
        - Esters are volatile compounds with distinctive smells, often fruity.<br>
        - They are used in perfumes and food flavourings.<br>
        - The one you need to know is ethyl ethanoate, made from ethanol and ethanoic acid.<br>
        - The yield is low because the reaction is reversible.<br>
        - ethanoic acid + ethanol ⇌ ethyl ethanoate + water<br>
        - CH<sub>3</sub>COOH + C<sub>2</sub>5</sub>H<sub>5</sub>OH ⇌ CH<sub>3</sub>COOC<sub>2</sub>H<sub>5</sub> + H<sub>2</sub>O<br>
        <img class="centreimage" src="/images/ch/makingesters.png" alt="making esters">
        <sub>(sorry for how bad this image is, it was really difficult to make :c)</sub>
    </p>
    <h3>Uses of esters and carboxylic acids</h3>
    <p>
        - Esters are used in:
        <ul>
            <li>Perfumes</li>
            <li>Food flavourings</li>
            <li>Solvents for paints and glue</li>
        </ul>
        - Carboxylic acids are used in:
        <ul>
            <li>Food preservatives (e.g. vinegar)</li>
            <li>Manufacture of soaps and detergents</li>
            <li>Manufacture of pharmaceuticals (e.g. aspirin)</li>
        </ul>
    </p>
    <h3>Esterification</h3>
    <p>
        methanol + methanoic acid ⇌ methyl methanoate + water<br>
        CH<sub>3</sub>OH + HCOOH ⇌ HCOOCH<sub>3</sub> + H<sub>2</sub>O<br>
        - This is a <b>condensation reaction</b>.<br>
        propanoic acid + ethanol ⇌ ethyl propanoate + water<br>
        C<sub>2</sub>H<sub>5</sub>COOH + C<sub>2</sub>H<sub>5</sub>OH ⇌ C<sub>2</sub>H<sub>5</sub>COOC<sub>2</sub>H<sub>5</sub> + H<sub>2</sub>O<br>
        (and many others, but you get the idea)
    </p>
</Layout>