---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="7.2 Reactions of Alkenes and Alchohols">
    <BackButton />
    <h1>7.2 Reactions of Alkenes and Alcohols</h1>
    <h2>7.2.1 Structure and formulae of alkenes</h2>
    <p>
        <sub>(stolen from spec)</sub><br>
        - Alkenes are hydrocarbons with a double carbon-carbon bond.<br>
        - The general formula for the homologous series of alkenes is C<sub>n</sub>H<sub>2n</sub>.<br>
        - Successive members of a homologous series differ by an extra carbon and two extra hydrogen atoms.<br>
        - Alkene molecules are "unsaturated" because they contain two fewer 
        hydrogen atoms than the alkane with the same number of carbon atoms.
    </p>
    <h2>7.2.2 Reactions of alkenes</h2>
    <h3>Addition reactions</h3>
    <p>
        Addition reactions are where we take two reactants and combine them to make one product.<br>
        Alkenes react with hydrogen, water, and halogens by the addition of atoms across the carbon-carbon 
        double bond.
        <ul>
            <li><b>Hydrogenation</b>: Adding hydrogen.</li>
            <li><b>Chlorination</b>: Adding chlorine.</li>
            <li><b>Bromination</b>: Adding bromine.</li>
            <li><b>Hydration</b>: Adding water.</li>
        </ul>
    </p>
    <h4>Hydrogenation</h4>
    <p>
        <sub>nickel catalyst, 150°C</sub><br>
        ethene + hydrogen → ethane<br>
        <img class="centreimage" src="/images/ch/ethenehydrogenation.png" alt="ethene hydrogenation">
        propene + hydrogen → propane<br>
        <img class="centreimage" src="/images/ch/propenehydrogenation.png" alt="propene hydrogenation">
    </p>
    <h4>Halogenation</h4>
    <p>
        ethene + chlorine → 1,2-<b>dichloroethane</b><br>
        <img class="centreimage" src="/images/ch/ethenechlorination.png" alt="ethene chlorination">
        propene + bromine → 1,2-<b>dibromopropane</b><br>
        <img class="centreimage" src="/images/ch/propenebromination.png" alt="propene bromination">
    </p>
    <h4>Hydration</h4>
    <p>
        ethene + water → ethanol<br>
        <img class="centreimage" src="/images/ch/ethenehydration.png" alt="ethene hydration">
        propene + water → propanol<br>
        <img class="centreimage" src="/images/ch/propenehydration.png" alt="propene hydration">
    </p>
    <br>
    <h2>7.2.3 Alcohols</h2>
    <p>
        - Keywords: oxidation, anaerobic, fermentation.<br>
        - <b>Oxidation</b>: Adding oxygen atoms; the loss of hydrogen atoms or the loss of electrons.<br>
        - <b>Anaerobic</b>: In the absence of oxygen.<br>
        - <b>Fermentation</b>: A chemical process where microorganisms like yeast break 
        down sugars such as glucose into ethanol and carbon dioxide.<br>
        - Alcohols contain the functional group -OH.<br>
        Methanol, ethanol, propanol and butanol are the first four members
        of a homologous series of alcohols.<br>
        <a target="_blank" href="../intro/#alcohols">These are those alcohols.</a>
    </p>
    <h3>Uses</h3>
    <p>
        - Alcohols are in many everyday products:
        <ul>
            <li>Alcoholic drinks</li>
            <li>Solvents</li>
            <li>Perfumes, aftershaves, mouthwash</li>
            <li>Fuels</li>
        </ul>
        - All alcohols dissolve in water to give colourless solution of pH 7.
    </p>
    <h3>Complete combustion of alcohols</h3>
    <p>
        - 2CH<sub>3</sub>OH (methanol) + 3O<sub>2</sub> → 2CO<sub>2</sub> + 4H<sub>2</sub>O<br>
        - C<sub>2</sub>H<sub>5</sub>OH (ethanol) + 3O<sub>2</sub> → 2CO<sub>2</sub> + 3H<sub>2</sub>O<br>
        - 2C<sub>3</sub>H<sub>7</sub>OH (propanol) + 9O<sub>2</sub> → 6CO<sub>2</sub> + 8H<sub>2</sub>O<br>
    </p>
    <h3>Incomplete combustion of alcohols</h3>
    <p>
        - 2CH<sub>3</sub>OH (methanol) + O<sub>2</sub> → 4H<sub>2</sub>O + 2C<br>
        - C<sub>2</sub>H<sub>5</sub>OH (ethanol) + 2O<sub>2</sub> → 3H<sub>2</sub>O + 2CO<br>
        - C<sub>3</sub>H<sub>7</sub>OH (propanol) + 2O<sub>2</sub> → 4H<sub>2</sub>O + CO + 2C (or other ways, 
        you can balance this quite a few days)<br>
    </p>
    <h3>Oxidation reactions</h3>
    <p>
        - Ethanol + oxygen → ethanoic acid (vinegar) + water<br>
        - C<sub>2</sub>H<sub>5</sub>OH + 2[O] → CH<sub>3</sub>COOH + H<sub>2</sub>O<br>
        - (oxygen is the oxidising agent)<br>
        - Pottassium dichromate (K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) is an oxidising agent
        which can be used to oxidise alcohols.<br>
    </p>
</Layout>