---
import Layout from '../../../../../layouts/Layout.astro';
import BackButton from '../../../../../components/BackButton.astro';
---

<Layout title="7.3 Synthetic and naturally occurring polymers">
    <BackButton />
    <h1>7.3 Synthetic and naturally occurring polymers</h1>
    <h2>7.3.1 Addition polymerisation</h2>
    <p>
        - One of the most important ways that chemicals from crude oil 
        are used is to make polymers.<br>
        - Polymers are substances made from very large molecules made up 
        of many smaller repeating units (monomers).<br>
        - Polymers can be natural (e.g. starch, cellulose, proteins) or
        synthetic (e.g. poly(ethene), poly(propene)).<br>
        - Most synthetic polymers are made from monomers that contain
        carbon-carbon double bonds (alkenes).<br>
        - Alkenes can be used to make polymers such as poly(ethene) and
        poly(propene) by addition polymerisation.<br>
        - In addition polymerisation reactions, many small molecules
        (monomers) join together to form very large molecules (polymers), and nothing else.<br>
        - In addition polymers the repeating unit has the same atoms as the
        monomer because no other molecule is formed in the reaction.
    </p>
    <h3>Equations</h3>
    <p>
        Ethene → Poly(ethene)<br>
        n(CH<sub>2</sub>=CH<sub>2</sub>) → (–CH<sub>2</sub>–CH<sub>2</sub>–)<sub>n</sub>
        <img class="centreimage" src="/images/ch/ethenetopolyethene.png" alt="Ethene to poly(ethene)">
        Propene → Poly(propene)<br>
        n(CH<sub>2</sub>=CHCH<sub>3</sub>) → (–CH<sub>2</sub>–CH(CH<sub>3</sub>)–)<sub>n</sub>
        <img class="centreimage" src="/images/ch/propenetopolypropene.png" alt="Propene to poly(propene)">
    </p>
    <h3>How we use polymers</h3>
    <p>
        - Ethene monomers can be used to make poly(ethene), which is used to make
        plastic bags and bottles.<br>
        - It is cheap, flexible, and strong.<br>
        - Propene monomers can be used to make poly(propene), which is used to make
        ropes, carpets, and crates.<br>
        - It is strong, durable, and has a high melting point.<br>
    </p>
</Layout>