---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/style.css';
---


<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>{title} - AQA's Basement</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="keywords" content="AQA, Basement, GCSE, OCR, Edexcel, revision, notes, discord, server, AQA's Basement, A-Level, A Level">
		<meta name="author" content="Wilbur Williams">
		<meta name="fediverse:creator" content="@wilbur@wetdry.world">
		<meta property="og:title" content=`${title} - AQA's Basement`>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://aqasbasement.uk/">
		<meta property="og:description" content=`A website for notes and resources for GCSEs and A-Levels. This page is: ${title}`>
		<!--<meta property="og:image" content="[insert image URL for sharing here]">-->
		<link rel="dns-prefetch" href="https://assets.c48.uk">
		<link rel="preconnect" href="https://assets.c48.uk" crossorigin>
		<link rel="preload" as="script" href="/script.js">
		<link rel="preload" as="image" href="/images/CC-BY-SA-NC.png">
		<link rel="preload" as="image" href="/images/discord.png">
		<link rel="canonical" href="https://aqasbasement.uk/">
		<link rel="icon" href="/favicon.ico">
		<script is:inline src="/script.js"></script>
	</head>
	
    <body>
        <header id="header">
			<div id="headercontent">
				<div>
					<h1 class="rainbow"><a href="/" id="homelink">AQA's Basement</a></h1>
					<p id="headmsg">Messages Loading... <noscript>(Well, they won't. Unless you enable JavaScript.)</noscript></p>
				</div>
				<div>
					<a href="https://discord.gg/XTvhaHYRBa"><img alt="Discord" src="/images/discord.png"></a>
				</div>
			</div>
		</header>
        <hr>
        <main id="main">
			<noscript><h3 style="text-align: center;">While this website doesn't <i>require</i> JavaScript, it is better to have it enabled.</h3></noscript>
			<slot />
		</main>
        <footer id="footer">
		<p>
			Site by <a href="https://wilburwilliams.uk">Wilbur Williams</a>. 
			This is not endorsed by AQA or any exam boards. 
			<a href="https://github.com/ThisCatLikesCrypto/aqasbasement">Source code</a><br>
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
				<img src="/images/CC-BY-SA-NC.png" title="Site content licensed under CC BY-NC-SA 4.0" alt="CC BY-NC-SA 4.0">
			</a><br>
			<img src="https://wakatime.com/badge/user/018edb3f-18b0-4c2c-8d13-f603c53260cb/project/30b7a0f5-e154-47ad-9cca-8ac73e5cd8fd.svg" alt="wakatime badge">
		</p>
	</footer>
    </body>
</html>
