---
import Layout from '../../../../../layouts/Layout.astro';
---

<Layout title="Bio 7.1 Adaptations, interdependence and competition">
    <h1>7.1 Adaptations, interdependence and competition</h1>
    <h2>7.1.1 Communities</h2>
    <p>
        Keywords: <b>Ecosystem, competition, interdependence</b>
        FSL: <a href="https://www.youtube.com/watch?v=ePsjdKoSA9g">GCSE Biology Revision "Competition and interdependence"</a> (sorta)
    </p>
    <p>
        An <b>ecosystem</b> is the interaction of a community of living organisms (biotic) with the non-living (abiotic) parts of their environment.<br>
        There are four different levels within an ecosystem:
        <ul>
            <li>Organisms: Individual living beings, such as a single bird, a tree, or a bacterium. 
                They are the smallest unit of an ecosystem.</li>
            <li>Populations: Groups of individuals of the same species that live in a specific area 
                and interact with one another, like a flock of pigeons in a park.</li>
            <li>Communities: Multiple populations of different species that live in the same area and interact. 
                For example, in a forest, deer, wolves, and various plants form a community.</li>
            <li>Ecosystem: This includes all the living organisms (biotic components) and the non-living factors 
                (abiotic components, like water, air, and soil) in a specific environment. Together, they form an interconnected system.</li>
        </ul>
    </p>
    <h3>Competition</h3>
    <p>
        From the spec:<br>
        To survive and reproduce, organisms require a supply of materials from
        their surroundings and from the other living organisms there.<br>
        Plants in a community or habitat often compete with each other for light
        and space, and for water and mineral ions from the soil. Animals often
        compete with each other for food, mates and territory.
    </p>
    <h3>Interdependence</h3>
    <p>
        From the spec:<br>
        Within a community each species depends on other species for food,
        shelter, pollination, seed dispersal etc. If one species is removed it can
        affect the whole community. This is called <b>interdependence</b>. A stable
        community is one where all the species and environmental factors are in
        balance so that population sizes remain fairly constant.<br>
        For example, if a predator species is removed from an ecosystem, the 
        population of its prey species will increase, but the population of the 
        species the prey feeds on will decrease.
    </p>
</Layout>
