---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="7.2 Organisation of an Ecosystem">
    <h1>7.2 Organisation of an Ecosystem</h1>
    <h2>7.2.3 Decomposition</h2>
    <p>
        Keywords: <b>Decompose, Detritivore</b>
        <a href="https://www.youtube.com/watch?v=6utMftGxuaI">GCSE Biology Revision "Decomposition"</a>
    </p>
    <p>
        <b>Decomposer:</b> A decomposer is an organism that breaks down other organisms. 
        Examples include fungi and bacteria.<br>
        <b>Detritivore: </b> Detritivores are decomposers that feed on dead organisms.
        Examples include worms and insects.
    </p>
    <h3>Factors Affecting Decomposition</h3>
    <p>
        <b>Moisture: </b> Moisture is required for feeding and reproduction.<br>
        <b>Oxygen: </b> Oxygen is required for aerobic respiration.<br>
        <b>pH/Temperature: </b> The correct pH and temperature is required for enzymes 
        to work at their optimum.
    </p>
    <h3>Decay of Milk</h3>
    <p>
        - Milk is mixed with an indicator (turns pink).<br>
        - When lipase is added, this breaks down the fats in the milk into fatty 
        acids and glycerol.<br>
        - The indicator turns yellow to indicate the end of the reaction.<br>
        - Repeat until <abbr title="results in agreement">concordant</abbr> results 
        are obtained.
    </p>
    <Table>
        <thead>
            <tr>
                <td>Temperature (°C)</td>
                <td>TIme taken for milk to turn yellow</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10</td>
                <td>04:03</td>
            </tr>
            <tr>
                <td>20</td>
                <td>02:36</td>
            </tr>
            <tr>
                <td>30</td>
                <td>02:09</td>
            </tr>
            <tr>
                <td>40</td>
                <td>02:24</td>
            </tr>
            <tr>
                <td>50</td>
                <td>03:07</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h3>Uses of Decomposition</h3>
    <h4>Compost</h4>
    <p>
        - Gardeners and farmers need optimum conditions so their waste material 
        decays more quickly.<br>
        - Compost is a mixture of decomposers and organic 
        matter that is used to improve soil fertility, and is made of this waste.<br>
        - This means that recycling of organic waste is done, as new plants 
        can draw minerals from the compost.
    </p>
    <h4>Biogas Generators</h4>
    <p>
        - Some decomposers can break down material without oxygen (anaerobically).<br>
        - This produces methane gas, which is (pretty much) the same thing 
        as natural gas. Natural gas produced in this way is also known as biogas.<br>
        - The methane can then either be burned to produce electricity, or 
        used in the natural gas industry.
    </p>
</Layout>