---
import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="7.4 Trophic levels in an ecosystem">
    <h1>7.4 Trophic levels in an ecosystem</h1>
    <h2>7.4.1 Trophic levels</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=AFC5LQ3KnvU">GCSE Biology Revision "Trophic Levels"</a>
    </p>
    <p>
        - Trophic levels can be represented by numbers, starting at level 1 with
        plants and algae. Further trophic levels are numbered subsequently
        according to how far the organism is along the food chain.<br>
        - The trophic levels of an ecosystem are:
        <ul>
            <li>Level 1: Plants and algae that make their own food; producers.</li>
            <li>Level 2: Herbivores that eat plants and algae; primary consumers.</li>
            <li>Level 3: Carnivores that eat herbivores; secondary consumers.</li>
            <li>Level 4: Carnivores that eat secondary consumers; tertiary consumers.</li>
        </ul>
    </p>
    <h3>Decomposers</h3>
    <p>
       - <b>Decomposers</b> break down dead plant and animal matter by secreting enzymes into the environment. 
       Small soluble food molecules then diffuse into the microorganism.<br>
       - This process releases nutrients into the environment (as not all of the nutrients are absorbed by the decomposer).<br>
       - This is carried out by bacteria and fungi.
    </p>
</Layout>