---
import Layout from "../../../../../layouts/Layout.astro";
const workspacePath = "src/pages/gcse/aqa/bio/7/4.astro";
---

<Layout title="7.4 Trophic levels in an ecosystem" path={workspacePath}>
    <h1>7.4 Trophic levels in an ecosystem</h1>
    <h2>7.4.1 Trophic levels</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=AFC5LQ3KnvU">GCSE Biology Revision "Trophic Levels"</a>
    </p>
    <p>
        - Trophic levels can be represented by numbers, starting at level 1 with
        plants and algae. Further trophic levels are numbered subsequently
        according to how far the organism is along the food chain.<br>
        - The trophic levels of an ecosystem are:
        <ul>
            <li>Level 1: Plants and algae that make their own food; producers.</li>
            <li>Level 2: Herbivores that eat plants and algae; primary consumers.</li>
            <li>Level 3: Carnivores that eat herbivores; secondary consumers.</li>
            <li>Level 4: Carnivores that eat secondary consumers; tertiary consumers.</li>
        </ul>
    </p>
    <h3>Decomposers</h3>
    <p>
       - <b>Decomposers</b> break down dead plant and animal matter by secreting enzymes into the environment. 
       Small soluble food molecules then diffuse into the microorganism.<br>
       - This process releases nutrients into the environment (as not all of the nutrients are absorbed by the decomposer).<br>
       - This is carried out by bacteria and fungi.
    </p>
    <br>
    <h2>7.4.2 Pyramids of Biomass</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=sgh1OWm0oTQ">GCSE Biology Revision "Pyramids of Biomass"</a>
    </p>
    <p>
        - Pyramids of biomass can be constructed to represent the relative
        amount of biomass in each level of a food chain. Trophic level 1 is at the
        bottom of the pyramid.
        <img class="centreimagebutdontstretch" src="/images/bio/biomass_pyramid.png" alt="Pyramid of biomass">
        <sub>low quality aah image from the spec lol</sub><br>
        - You need to be able to apply organisms to the pyramid and draw them in an exam.<br>
        - For example, "Level 1" might be "grass", "Level 2" might be "zebras", "Level 3" might be "cheetahs", and "Level 4" might be "lions".<br>
        - In an exam, there will be an x-axis for drawing the pyramid. Label this "biomass" and make sure to draw 
        each level of the pyramid corresponding to the amount of biomass in that level.
    </p>
    <br>
    <h2>7.4.3 Transfer of biomass</h2>
    <p>
        - The first energy source for (pretty much, ignoring geothermal here) all life on Earth is the Sun,
        flowing to the first trophic level (producers) as light energy.<br>
        - Producers convert light energy into chemical energy through photosynthesis.<br>
        - Producers then use glucose during respiration to create their own biomass, which is a chemical energy
        store.<br>
        - When primary consumers eat producers, they digest the biomass and use the chemical energy to build or maintain
        their own biomass.<br>
        - Likewise, secondary consumers feed on primary consumers, digesting their biomass and using the chemical energy
        to grow or sustain their own biomass.<br>
        - Thus, as chemical energy passes through each trophic level, biomass is transferred as well.
    </p>
    <p>
        - Producers (mostly plants and algae) transfer about <b>1% of the incident energy</b> from light for photosynthesis.<br>
        - Only approximately <b>10%</b> of the biomass from each trophic level is transferred to the level above it.<br>
        - Biomass is lost because:
        <ul>
            <li>Not all ingested material is absorbed — some is egested (opposite of ingested) as faeces.</li>
            <li>Some absorbed material is lost as waste — e.g. carbon dioxide and water in respiration, and urea in urine.</li>
            <li>Not all material is even ingested in the first place — animals don't eat the _whole_ animal, and some parts of 
                the organism will be inedible (like bones) anyway.</li>
        </ul>
        - Large amounts of glucose are used in respiration.
    </p>
</Layout>