---
import Layout from "../../../../../layouts/Layout.astro";
import Table from "../../../../../components/Table.astro";
---

<Layout title="7.5 Food production">
    <h1>7.5 Food production</h1>
    <h2>7.5.1 Factors affecting food security</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=_ACn3e4qnaM">GCSE Biology Revision "Food security"</a>
    </p>
    <p>
        - <b>Food security</b> is having enough food to feed a population.<br>
        - Sustainable methods must be found to feed all people on Earth.<br>
        - These biological factors affect food security:
    </p>
    <Table>
        <thead>
            <tr>
                <th>Factor</th>
                <th>Effect</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The increasing birth rate</td>
                <td>This has threatened food security in some countries as, obviously, more food 
                    is needed to feed the growing population.</td>
            </tr>
            <tr>
                <td>Changing diets in developed countries</td>
                <td>This means scarce food resources are transported around the world to feed 
                    richer countries, which may lead to food shortages in poorer countries. This 
                    is especially problematic because rich countries eat more meat, which takes 
                    a lot more land and resources to produce.</td>
            </tr>
            <tr>
                <td>New pests and pathogens</td>
                <td>These affect farming, which can lead to food shortages, especially if there 
                    is an outbreak of a disease (like bird flu killing chickens in the US).</td>
            </tr>
            <tr>
                <td>Environmental changes</td>
                <td>Climate change, for example, can cause droughts, floods, and other extreme weather 
                    events that can destroy crops and reduce food production. If rain does not fall 
                    as much as usual, harvests and be significantly reduced.</td>
            </tr>
            <tr>
                <td>The cost of agricultural inputs</td>
                <td>The cost of inputs like fertiliser, pesticides, machinery, and water can increase, 
                    which can make farming too expensive.</td>
            </tr>
            <tr>
                <td>Conflicts</td>
                <td>Conflicts can disrupt food production, especially if there is a shortage of 
                    resources like water, land, and labour.</td>
            </tr>
        </tbody>
    </Table>
    <br>
    <h2>7.5.2 Farming techniques</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=nrbJl3R4YJU">GCSE Biology Revision "Modern Farming Techniques"</a>
    </p>
    <p>
        - The efficiency of food production can be improved by restricting energy transfer from 
        food animals to the environment. This can be done by limiting their movement and by 
        controlling the temperature of their surroundings.<br>
        - As these are the two main energy uses in respiration, reducing them means there is 
        more energy available for growth.<br>
        - Some animals are fed high protein foods to increase growth.
    </p>
    <h3>Ethical concerns</h3>
    <p>
        - Animals are often raised in confined spaces, such as small cages.<br>
        - While this is more efficient, it can lead to stress and disease.<br>
        - 'Free range' farming is a more ethical approach, where animals are raised in large 
        spaces and are allowed to roam free.<br>
        - <i>(sidenote: When buying animal products, I would always go for free-range, not "battery" farmed as it's often called).</i>
    </p>
    <h3>Other techniques</h3>
    <p>
        - Other techniques include:
        <ul>
            <li>Antibiotics in food: This reduces disease, however can cause antibiotic resistance.</li>
            <li>Monocultures: This is when a single crop is grown in a field, to maximise food produced per area. This reduces biodiversity 
                and often sucks nutrients from the soil, so something new should be grown every year in rotation.</li>
            <li>Fertiliser use: This is the use of chemicals to increase the growth of plants. This can be done by adding nitrogen, phosphorus, 
                and potassium to the soil. Runoff can occur from fertiliser use, polluting waterways and harming aquatic life.</li>
            <li>Hedgerow removal: This is the removal of hedgerows, which are trees that grow in the shade of the surrounding land. This 
                makes it easier to farm with machinery, but reduces biodiversity.</li>
        </ul>
    </p>
    <br>
    <h2>7.5.3 Sustainable fisheries</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=u59Eg1uNr5g">GCSE Biology Revision "Sustainable Fisheries"</a>
    </p>
    <p>
        - Fish stocks in the oceans are declining. It is important to maintain fish
        stocks at a level where breeding continues or certain species may
        disappear altogether in some areas.<br>
        - This is due to overfishing.<br>
        - Sustainable fisheries are those that maintain fish stocks so that there are a similar number of fish being 
        born as there are being fished.<br>
        - Control of net size and the introduction of fishing quotas play important roles in conservation of fish 
        stocks at a sustainable level.<br>
        - Larger gaps in fish nets mean that fewer, often just discarded, species will be caught which will help 
        not to deplete populations of these species.<br>
        - Younger fish are more likely to be able to get through these gaps too, so they will survive and be able to 
        reproduce.<br>
        - Fishing quotas are a way of controlling the amount of fish that can be caught in a given area. This is done 
        by setting a limit on the amount of fish that can be caught in a given period of time.<br>
    </p>
    <br>
    <h2>7.5.4 Role of Biotechnology</h2>
    <p>
        FSL: <a href="https://www.youtube.com/watch?v=6C6lPfQbtek">GCSE Biology Revision "Role of Biotechnology"</a>
    </p>
    <p>
        - Modern biotechnology techniques enable large quantities of microorganisms to be cultured for food.<br>
        - It involves altering the make-up of organisms to make them more suitable for food production. 
    </p>
    <h3>Mycroproteins</h3>
    <p>
        - The fungus <i>Fusarium</i> is useful for producing mycoprotein, a protein-rich food suitable for vegetarians. 
        The fungus is grown on glucose syrup, in aerobic conditions, and the biomass is harvested and purified.<br>
        - They are grown in conditions with optimum pH and temperature in large fermenting vats.<br>
        - The fungus grows in the fermenter, is harvested, and finally purified, to produce mycoprotein.<br>
        - Ever had Quorn? no? well, it's that. I eat it all the time because my mum lmao (anyway...).
    </p>
    <h3>Production of Insulin</h3>
    <p>
        - A genetically modified bacterium produces human insulin. When harvested and purified, this is used to 
        treat people with diabetes.<br>
        - The gene for insulin production is extracted from a human cell through the use of restrictive enzymes, which
        leave it with "sticky" ends of unpaired bases in DNA strands.<br>
        - A bacterial plasmid is cut by the same restriction enzyme leaving it with corresponding sticky ends.<br>
        - They are joined together by DNA ligase enzymes.<br>
        - The gene for human insulin is inserted into the DNA of bacteria by using a small circular piece of DNA (the plasmid).<br>
        - These genetically modified bacteria are then cultured in large fermenters where they reproduce rapidly, producing insulin.<br>
        - The insulin is then extracted, purified, and packaged for medical use.
    </p>
    <h3>Genetically modified crops</h3>
    <p>
        - GM (Genetically Modified) crops could provide more food or food with an improved nutritional
        value such as golden rice.<br>
        - Golden rice is a genetically modified rice that has been engineered to contain higher levels of vitamin A, the deficiency 
        of which kills over half a million children each year.<br>
        - Some crops are engineered to be resistant to pests, diseases, and environmental stresses.<br>
        - This can provide greater yields and reduce the need for pesticides and herbicides.<br>
        - Selective breeding can also be used to achieve this, but to a lesser extent, by basically speeding up evolution and choosing 
        exactly the traits that are desired.
    </p>
    <h3>Table I stole from BBC Bitesize</h3>
    <sub>im so done with this topic, sorry</sub><br>
    <Table>
        <thead>
            <tr>
                <th></th>
                <th>Natural selection</th>
                <th>Selective breeding</th>
                <th>Genetic engineering</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Number of generations needed for change</td>
                <td>Very many</td>
                <td>Many</td>
                <td>One</td>
            </tr>
            <tr>
                <td>Human intervention</td>
                <td>Not needed</td>
                <td>Needed</td>
                <td>Needed</td>
            </tr>
            <tr>
                <td>Desired outcome known?</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>New species formed?</td>
                <td>Yes</td>
                <td>Eventually</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>This is the mechanism of change in Darwin's theory of evolution</td>
                <td>This is how new varieties or breeds are usually produced</td>
                <td>Genetic information can come from the same species or from a different one</td>
            </tr>
        </tbody>
    </Table>    
</Layout>