---
import Layout from '../../../../layouts/Layout.astro';
import BackButton from '../../../../components/BackButton.astro';
---

<Layout title="GCSE AQA Chemistry">
    <BackButton />
    <h1>Chemistry Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        <button><a href="https://filestore.aqa.org.uk/resources/chemistry/specifications/AQA-8462-SP-2016.PDF">Specification</a></button>
        <button><a href="https://www.savemyexams.com/gcse/chemistry/aqa/18/">SaveMyExams</a></button>
        <button><a href="https://www.bbc.co.uk/bitesize/examspecs/z8xtmnb">BBC Bitesize</a></button>
    </p>
    <h2>Revision notes</h2>
    <div class="lotsofnotes">
        <div>
            <h3>Part 1</h3>
            <a href="1/1/">1.1 Atoms</a>
            <br>
            <a href="1/2/">1.2 The periodic table</a>
            <br>
        </div>
        <div>
            <h3>Part 2</h3>
            <a href="2/1/">2.1 Bonding, structure, and the properties of matter</a>
            <br>
        </div>
        <div>
            <h3>Part 5</h3>
            <a href="5/1/">5.1 Endothermic and exothermic reactions</a>
            <br>
            <a href="5/2/">5.2 Chemical cells and fuel cells</a>
            <br>
        </div>
        <div>
            <h3>Part 6</h3>
            <a href="6/1/">6.1 Rate of reaction</a>
            <br>
            <a href="6/2/">6.2 Reversible reactions and dynamic equilibrium</a>
            <br>
        </div>
        <div>
            <h3>Part 7</h3>
            <a href="7/intro/">Introduction to organic chemistry</a>
            <br>
            <a href="7/1/">7.1 Carbon compounds as fuels and feedstock</a>
            <br>
        </div>
    </div>
</Layout>