---
import Layout from '../../../../layouts/Layout.astro';
import BackButton from '../../../../components/BackButton.astro';
---

<Layout title="GCSE AQA Chemistry">
    <BackButton />
    <h1>Chemistry Resources</h1>
    <h2>AQA GCSE</h2>
    <p>
        <button><a href="https://filestore.aqa.org.uk/resources/chemistry/specifications/AQA-8462-SP-2016.PDF">Specification</a></button>
        <button><a href="https://www.savemyexams.com/gcse/chemistry/aqa/18/">SaveMyExams</a></button>
        <button><a href="https://www.bbc.co.uk/bitesize/examspecs/z8xtmnb">BBC Bitesize</a></button>
    </p>
    <h2>Revision notes</h2>
    <div class="lotsofnotes">
        <div>
            <h3>Part 1</h3>
            <a href="1/1/">1.1 Atoms</a>
            <br>
            <a href="1/2_1/">1.2 Bonding, structure, and the properties of matter (Part 1)</a>
            <br>
        </div>
        <div>
            <h3>Part 5</h3>
            <a href="5/2/">5.2 Chemical cells and fuel cells</a>
            <br>
        </div>
        <div>
            <h3>Part 6</h3>
            <a href="6/1/">6.1 Rate of reaction</a>
            <br>
        </div>
    </div>
</Layout>