---
import Layout from '../../../../../layouts/Layout.astro';
import Table from '../../../../../components/Table.astro';
---
<Layout title="GCSE AQA Biology 1.1 - Cell Structure">
    <h1>GCSE AQA Biology 1.1 - Cell Structure</h1>
    <h2>Eukaryotes and Prokaryotes</h2>
    <p>
        Keywords: <b>Eukaryotes, Prokaryotes</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=HBZcpzr5B2g">GCSE Biology Revision "Eukaryotes and Prokaryotes"</a>
    </p>
    <p>
        <b>Eukaryotes: </b> are cells that have a nucleus and other organelles, and are distinguished from prokaryotes by the presence of a nucleus.<br>
        <b>Prokaryotes: </b> are cells that lack a nucleus and other organelles, and are distinguished from eukaryotes by the absence of a nucleus.<br>
    </p>
    <p>
        - Plant and animal cells (eukaryotic cells) have a cell membrane,
        cytoplasm and genetic material enclosed in a nucleus.<br>
        - Bacterial cells (prokaryotic cells) are much smaller in comparison. They
        have cytoplasm and a cell membrane surrounded by a cell wall. The
        genetic material is not enclosed in a nucleus. It is a single DNA loop and
        there may be one or more small rings of DNA called plasmids.
    </p>
    <h3>Differences Between Eukaryotes and Prokaryotes</h3>
    <Table>
        <tr>
            <th>Feature</th>
            <th>Eukaryotes</th>
            <th>Prokaryotes</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>5-100 μm</td>
            <td>0.2-2.0 μm</td>
        </tr>
        <tr>
            <td>Nucleus</td>
            <td>Present</td>
            <td>Absent</td>
        </tr>
        <tr>
            <td>DNA</td>
            <td>Linear chromosomes within a nucleus</td>
            <td>Circular DNA in the cytoplasm, called plasmids</td>
        </tr>
        <tr>
            <td>Organelles</td>
            <td>Membrane-bound organelles present (e.g., mitochondria, chloroplasts)</td>
            <td>No membrane-bound organelles</td>
        </tr>
        <tr>
            <td>Cell Division</td>
            <td>Mitosis</td>
            <td>Binary fission</td>
        </tr>
        <tr>
            <td>Examples</td>
            <td>Animals, plants, fungi</td>
            <td>Bacteria, archaea</td>
        </tr>
    </Table>
    <br>
    <h2>Animal and plants cells</h2>
    <p>
        Keywords: <b>Nucleus, Cytoplasm, Cell membrane, Cell wall, Ribosomes, Chloroplasts, Mitochondria, Vacuole</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=GuY0n7-zfds">Animal Cells</a>, <a href="https://www.youtube.com/watch?v=EAoeI2gXBRg">Plant Cells</a>
    </p>
    <p>
        <b>Nucleus:</b> The control center of the cell, containing the cell's DNA and regulating gene expression and cell division.<br>
        <b>Cytoplasm: </b> The jelly-like substance within the cell membrane that contains all organelles and cell parts. It is the site for most cellular activities.<br>
        <b>Cell membrane: </b> A selectively permeable barrier that surrounds the cell, controlling the movement of substances in and out of the cell. In animal cells, 
        this is the outermost layer of the cell.<br>
        <b>Ribosomes: </b> The sites of protein synthesis in the cytoplasm. They are made up of RNA and proteins.<br>
        <b>Mitochondria: </b> The sites of cellular respiration in animal cells. They convert glucose into ATP (energy the cell can use). 
        Cells that require more energy have more of them.<br>
        <b>Chloroplasts: </b> The sites of photosynthesis in plant cells. They contain chloropyll, and  
        they convert light energy into chemical energy.<br>
        <b>Cell wall: </b> The outermost layer of a plant cell. It is made up of many different types of materials, primarily cellulose, 
        and keeps the cell's stucture.<br>
        <b>Vacuole: </b> A large, central organelle in plant cells. It stores nutrients and waste products in 
        the form of cell sap, and maintains turgor pressure against the cell wall.
    </p>
    <br>
    <h2>Cell Specialisation</h2>
    <p>
        Keywords: <b>Specialised Cell, Unspecialised Cell</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=UZwT-Jx8LzY">Animal Cells Specialisation</a>, <a href="https://www.youtube.com/watch?v=yVd9Z3av1Ew">Plant Cells Specialisation</a>
    </p>
    <p>
        <b>Specialised Cell: </b> A cell that has a specific function. For example, a plant cell specialised in photosynthesis.<br>
        <b>Unspecialised Cell: </b> A cell that has no specific function. Also known as a stem cell.<br>
    </p>
    <h3>Animal Cell Examples</h3>
    <h4>Sperm</h4>
    <p>
        Sperm cells are specialised cells that produce and store sperm. They are found in the male reproductive system, 
        and their job is to transport genetic material to an egg cell for fertilisation.<br>
        They have multiple adaptations to their jobs, including a tail to allow them to move quickly, 
        lots of mitochondria to release energy, and the acrosome in the head (which contains digestive enzymes
        which allow it to break down the outer layer of an egg cell so that its head (haploid nucleus) 
        can fuse with the egg cell's nucleus). 
    </p>
    <h4>Nerve</h4>
    <p>
        Nerve cells (or nuerones) are used to conduct electrical impulses (signals) around 
        your body, so your brain can control your muscles and your senses work.<br>
        They have a specialised structure called the axon, which is a long tube that carries the impulse 
        from the cell body to the cell body of another cell. It is covered with a fatty sheath, 
        with gaps at intervals along it, which forces the electrical signal to jump along it for 
        faster speeds. They also have structures called dendrites which surround the head of the cell 
        and allow it to communicate chemically with other nerve cells.
    </p>
    <h4>Muscle</h4>
    <p>
        Muscle cells contract to produce movement.<br>
        They have many mitochondria to allow them to release lots of energy for contraction, 
        and all muscle cells contain layers of fibres (protein filaments) which can slide over 
        each other for contraction.
    </p>
    <h3>Plant Cell Examples</h3>
    <h4>Root Hair</h4>
    <p>
        The 'hair' of a root hair cell is an extension of the cytoplasm, which 
        increases the cell's surface area that is in contact with the soil which maximises
        absorption of water and minerals. Root Hair Cells also have thinner walls than 
        other plants cells so the diffusion distance is shorter.
    </p>
    <h4>Xylem</h4>
    <p>
        Xylem cells are the cells that transport water and minerals from the roots to the leaves. 
        They have no top or bottom wall so they can form a continous tube, and 
        they contain no organelles or cytoplasm. Their walls are thickened with a 
        substance called lignin, strengthening the tubes and providing support for the plant. 
    </p>
    <h4>Pholem</h4>
    <p>
        Pholem cells transport dissolved sugars and amino acids in plants. 
        They are joined together by holes in the end cell walls, known as 
        sieve plates, which allow sugars and amino acids to easily pass through.
        The cells have very few subcellular structures to avoid hindering 
        the flow of sugars and amino acids.
    </p>
</Layout>