---
import Layout from "../../../../../layouts/Layout.astro";
const workspacePath = "src/pages/gcse/aqa/bio/1/2.astro";
---

<Layout title="Bio 1.2 Cell Division" path={workspacePath}>
    <h1>1.2 - Cell Division</h1>
    <h2 id="4-1-2-1-chromosomes">1.2.1 Chromosomes</h2>
    <p>
        Keyword: <b>Chromosome</b><br>FSL: <a
            href="https://www.youtube.com/watch?v=I0VdEiPWkHs">GCSE Biology Revision 
            &quot;Cell division by Mitosis&quot;</a>
    </p>
    <p>
        <b>Chromosome:</b> A thread-like structure composed of DNA and
        proteins found in the nucleus of eukaryotic cells. It carries genetic information
        in the form of genes. Humans have 46 (23 pairs). One of each pair is inherited
        from each parent.
    </p>
    <p>
        Chromosomes are made from highly coiled strands of relatively long DNA.
    </p>
    <p>
        Before a cell divides, its genetic material needs to be doubled, and
        that is why we get X-shaped chromosomes (each side is a replica of each
        other, so they can split).
    </p>
    <h2 id="4-1-2-2-mitosis">1.2.2 Mitosis</h2>
    <p>
        Keywords: <b>Haploid cell, Diploid cell, Interphase, Cytokinesis, Mitosis</b><br>
        FSL: <a href="https://www.youtube.com/watch?v=I0VdEiPWkHs">GCSE Biology Revision 
            &quot;Cell division by Mitosis&quot;</a> (again)
    </p>
    <p>
        <b>Haploid cell:</b> A cell with half the number of chromosomes
        (e.g. egg/sperm cell).<br>
        <b>Diploid cell:</b> A cell with a
        full set of chromosomes (e.g. zygote, which is what the egg is called once
        it merges with the sperm).
    </p>
    <p>
        During the cell cycle the genetic material is doubled and then divided into two identical cells.<br>
        Cell division by mitosis is important in the growth and development of multicellular organisms
        <ol>
            <li>Before a cell can divide it needs to grow and increase the number of
                sub-cellular structures such as ribosomes and mitochondria. The cell grows 
                bigger into an eliptical shape. This is the <b>interphase</b>.</li>
            <li>The DNA replicates to form two copies of each chromosome.
                Chromosomes are replicated in the nucleus. Chromosomes line up in the centre
                of the cell, and one copy of each chromosome are pulled to opposite ends
                of the cell. One cell ends up with the original chromosomes, the other ends
                up with the duplicates. This is called <b>mitosis</b>.</li>
            <li>Finally the cytoplasm and cell membranes divide to form two identical
                cells, to form two genetically identical cells. (<b>cytokinesis</b>)</li>
        </ol>
        (taken from the spec)
    </p>
    <h3 id="the-role-of-mitosis">The role of Mitosis</h3>
    <p>
        Mitosis is used for growth and repair.<br>As reproduction starts with
        just one cell, that cell (and its daughter cells later) has to replicate
        over and over to produce new cells for growth.<br>Cell division is
        used to repair damaged tissue and wounds.
    </p>
    <h2 id="4-1-2-3-stem-cells">1.2.3 Stem Cells</h2>
    <p>
        Keyword: <b>Stem Cells</b><br>FSL: <a
            href="https://www.youtube.com/watch?v=Kh27eyjxvYM"
            >GCSE Biology Revision &quot;Stem Cells&quot;</a>
    </p>
    <p>
        <b>Stem Cells:</b> Stem cells are unspecialised cells, they have
        not undergone (much) differentiation. They can differentiate into other cells.
    </p>
    <h3 id="specialised-cells">Specialised Cells</h3>
    <p>
        Specialised cells in animals cannot change their function
        (differentiate), and when they undergo mitosis the daughter cells will
        have the same function. As some cells cannot undergo mitosis (e.g. red
        blood cell, skin cell) stem cells are needed to replace them.
    </p>
    <h3 id="embryonic-stem-cells">Embryonic Stem Cells</h3>
    <p>
        Embryonic stem cells are cells which are found in embryos. They are
        completely undifferentiated, and can differentiate into all types of
        cells found in the human body.
    </p>
    <h3 id="adult-stem-cells">Adult Stem Cells</h3>
    <p>
        Adult stem cells are cells which can be found in multiple places in
        humans, and are most commonly found in bone marrow and skin. They were
        set aside in the womb while most cells were undergoing differentiation,
        however they may have already gone through a bit of differentiation and
        therefore cannot differentiate into everything.
    </p>
    <p>
        Stem cells from bone marrow are most commonly used for red blood cells
        and cells of the immune system.
    </p>
    <p>
        Stem cells from the skin are most commonly used for different types of
        cells in the skin and hair follicles.
    </p>
    <p>
        The role of adult stem cells is primarily growth during childhood, and
        repair during adulthood.
    </p>
    <h3 id="meristem-cells">Meristem Cells</h3>
    <p>
        Meristem cells are stem cells which are found in plants. They are found
        in the tips of the roots and shoots (the growing regions of plants), and
        are fully undifferentiated. They have the ability to make a whole new
        plant through their own division, and are primarily used in the regions
        of the plant that are growing.
    </p>
    <h3 id="stem-cells-in-plants">Stem Cells in Plants</h3>
    <p>
        Meristem cells can be easily extracted from plants and used to make
        clones of plants cheaply and speedily. This is especially useful for
        preserving rare or endangered plants, and for making more resistant crop
        plants or new plants with special features.
    </p>
    <p>This is how you do it:</p>
    <ol>
        <li>Take a small length of steam from a healthy plant.</li>
        <li>Dip the base in rooting powder.</li>
        <li>Once the cutting has started to grow roots, it can be planted.</li>
        <li>The new plant will be genetically identical to the parent.</li>
    </ol>
    <h3 id="stem-cells-as-treatment">Stem Cells as Treatment</h3>
    <p>
        Treatment with stem cells may be able to help conditions such as
        diabetes and paralysis. They can be extracted from human embryos grown
        in the lab, or as adult stem cells from alive humans (although these can
        be made into less new types of cell).
    </p>
    <p>
        In practice, some people argue that harvesting stem cells from embryos is unethical,
        but some diseases cannot be cured with adult stem cells (due to the fact that they 
        cannot differentiate into some types) and often doesn't work anyway, 
        since the body will reject (and the immune system will fight) 
        cells with different antigens.
    </p>
    <p>
        There is also a third option, umbilical cord stem cells, which are rich in 
        blood cells and can be used to treat a variety of conditions. The problem 
        with this is that they cannot be used on most people due to their age.
    </p>
    <h3 id="therapeutic-cloning">Therapeutic Cloning</h3>
    <p>
        In therapeutic cloning an embryo is produced with the same genes as the
        patient, by extracting the patient's DNA to make new cells.
        Stem cells from the embryo are not rejected by the patient's
        body so they may be used for medical treatment.
    </p>
    <p>
        Therapueutic cloning is done like this:
        <ol>
            <li>Nucelus from the patient's skin cell 
                is removed.</li>
            <li>The nucleus from a patient's cell is put 
                into an empty egg cell (the egg cell's nucleus
                is discarded).</li>
            <li>The egg cell is stimulated to divide 
                and develops into a new embryo.</li>
            <li>Stem cells are taken from the embryo after 
                4-5 days.</li>
            <li>The stem cells are grown in a contianer 
                of warm nutrients.</li>
            <li>Stem cells are treated to develop into 
                required cell types for a patient.</li>
        </ol>
    </p>
    <p>
        This has the risks of passing on diseases or viruses, 
        some stem cells can form cancer like tumours, 
        the cost is very high, and has ethical issues.
    </p>
    <p>
        Despite the risks, therapueutic cloning could 
        be used to create new organs, especially since 
        anti-rejection drugs are not required.
    </p>
    <p>
        Cloning entire animals (like Dolly the Sheep) is often illegal, 
        and the animals have many many developmental problems.
    </p>
</Layout>
